<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@project.description@</description>
    <author>@project.author@</author>
    <website>@project.website@</website>
    <status>@project.status@</status>
    <license>@project.license@</license>
    <copyright>@project.copyright@</copyright>
    <type>@repo.type@</type>
    <target>@repo.target@</target>
    <prepare>@repo.prepare.script@</prepare>
    <finish>@repo.finish.script@</finish>
</meta>