<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:atp="urn:nictiz.atp" atp:dummy-1="" xmlns:hl7="urn:hl7-org:v3" hl7:dummy-2="" xmlns:xis="http://art-decor.org/ns/xis" xis:dummy-3="" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/xis"/>
            <xforms:output ref="$resources/message"/>
        </xhtml:title>
        <xhtml:style type="text/css">
            .CodeMirror { width: 100% !important; height: 100% !important; }
        </xhtml:style>
        <xforms:model id="retrievemessage" xxforms:forward-submission-headers="Orbeon-Client Authorization SM_USER">

         <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
         <!-- Variable with path to xis-eXist for content -->
            <xxforms:variable name="xis-exist" select="xxforms:property('xis.exist.url')"/>
         <!-- Variable with path to xis-external-exist used to pass to client as link for images -->
            <xxforms:variable name="xis-external-exist" select="xxforms:property('xis.external.exist.url')"/>
         <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
         <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=xis" replace="instance" instance="resources-instance"/>
         <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
         
        <!-- instance for selected message -->
            <xforms:instance id="selected-message" xxforms:exclude-result-prefixes="#all">
                <message extension="" root="" tests="false" file="" xpath="" account=""/>
            </xforms:instance>
        <!-- message xml instance -->
            <xforms:instance id="message-instance" xxforms:exclude-result-prefixes="#all">
                <message/>
            </xforms:instance>
        <!-- get message xml -->
            <xforms:submission id="get-message-submission" serialization="none" method="get" resource="{$xis-exist}/RetrieveMessage?account={instance('selected-message')/@account}&amp;tests={instance('selected-message')/@tests}&amp;file={instance('selected-message')/@file}&amp;xpath={instance('selected-message')/@xpath}&amp;serialized=true" replace="instance" instance="message-instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:action ev:event="xforms-submit-error">
                    <xforms:action xxforms:iterate="instance('message-xml')/node()">
                        <xforms:delete nodeset="context()"/>
                    </xforms:action>
                    <xforms:message level="modal" close="true">
                        <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                    </xforms:message>
                </xforms:action>
            </xforms:submission>
         
         <!-- Startup actions -->
            <xforms:action ev:event="xforms-model-construct-done">
                <xxforms:variable name="session-language" select="xxforms:get-session-attribute('language')"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length($session-language)&gt;0)       then $session-language/string() else ('nl-NL')"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <xforms:send submission="get-resources-submission"/>
                <xforms:send submission="get-user-accounts"/>
                <xforms:setvalue ref="instance('selected-message')/@account" value="xxforms:get-request-parameter('account')"/>
                <xforms:setvalue ref="instance('selected-message')/@tests" value="xxforms:get-request-parameter('tests')"/>
                <xforms:setvalue ref="instance('selected-message')/@file" value="xxforms:get-request-parameter('file')"/>
                <xforms:setvalue ref="instance('selected-message')/@xpath" value="xxforms:get-request-parameter('xpath')"/>
                <xforms:send submission="get-message-submission"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready"/>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xhtml:div class="detail">
            <!--<xforms:output mediatype="text/html" value="xxforms:serialize(xxforms:call-xpl('oxf:/ops/utils/formatting/format.xpl', 'data', instance('message-instance'), 'data')/*, 'html')"/>-->
            <fr:code-mirror ref="instance('message-instance')"/>
        </xhtml:div>
    </xhtml:body>
</xhtml:html>