<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:atp="urn:nictiz.atp" atp:dummy-1="" xmlns:hl7="urn:hl7-org:v3" hl7:dummy-2="" xmlns:xis="http://art-decor.org/ns/xis" xis:dummy-3="" xmlns:svrl="http://purl.oclc.org/dsdl/svrl" svrl:dummy-4="" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/validate-instance"/>
        </xhtml:title>
        <xhtml:style type="text/css">
            /* validate result boxes similar to IHE Gazelle */
            .validated   { margin-bottom:0.2em;}
            .val-fatal   { background-color: #ff787a !important; }
            .val-error, .val-Error  { background-color: #ffc4c5 !important;  }
            .val-warning, .val-Warning { background-color: #fff3bb !important;}
            .val-info, .val-hint    { background-color: #c4e2ff !important; }
            td .val {padding: 0px 6px 0px 6px;}
            table .val { margin-bottom:0.5em; *border-collapse: collapse; border-spacing: 0; border: 0 !important;}
            tbody tr.valtop td:first-child {
                border-radius: 6px 0 0 0;
                -moz-border-radius: 6px 0 0 0;
                -webkit-border-radius: 6px 0 0 0;
            }
            tbody tr.valtop td:last-child {
                border-radius: 0 6px 0 0;
                -moz-border-radius: 0 6px 0 0;
                -webkit-border-radius: 0 6px 0 0;
            }
            tbody tr.valbottom td:first-child {
                border-radius: 0 0 0 6px;
                -moz-border-radius: 0 0 0 6px;
                -webkit-border-radius: 0 0 0 6px;
            }
            tbody tr.valbottom td:last-child {
                border-radius: 0 0 6px 0;
                -moz-border-radius: 0 0 6px 0;
                -webkit-border-radius: 0 0 6px 0;
            }
            
        </xhtml:style>
        <xforms:model id="validate-instance">
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to xis-eXist -->
            <xxforms:variable name="xis-exist" select="xxforms:property('xis.exist.url')"/>
            <!-- Variable with path to xis-external-exist used to pass to client as link for images -->
            <xxforms:variable name="xis-external-exist" select="xxforms:property('xis.external.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=xis" replace="instance" instance="resources-instance"/>
            
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            <xforms:submission id="get-language-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-user-language.xquery" replace="instance" instance="language"/>
            
            <!-- instance for general edit status -->
            <xforms:instance id="data-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
            
            <!-- instance for upload XML as binary64 -->
            <xforms:instance id="upload">
                <content mediatype="" filename="" size="" schref="">
                    <data xsi:type="xs:base64Binary"/>
                </content>
            </xforms:instance>
            
            <!-- list of compiled runtimes to be used for validation -->
            <xforms:instance id="compiled-results">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="check-filter">
                <filter>warn warning error</filter>
            </xforms:instance>
            <!-- the validate request -->
            <xforms:instance id="validate-request">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="list-compiled-development-runtime" serialization="none" method="get" resource="{$art-exist}/modules/compile-development-runtime.xquery?prefix={instance('prefix')}" replace="instance" instance="compiled-results" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:setvalue ref="instance('from')" value="if (string-length(xxforms:get-request-parameter('from')) gt 0) then (xxforms:get-request-parameter('from')) else (instance('compiled-results')/compiled/@as)[1]"/>
                    <xforms:setvalue ref="instance('validate-request')" value="(instance('compiled-results')/compiled[@as = instance('from')]/dir/resource/@ref)[1]"/>
                </xforms:action>
            </xforms:submission>
            <xforms:instance id="prefix">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="from">
                <dummy/>
            </xforms:instance>
            
            <!-- instance for instance check -->
            <xforms:instance id="validate-check">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="validate-check-busy">
                <processing processing="true"/>
            </xforms:instance>
            
            <!-- validate the instance -->
            <xforms:submission id="do-validate-instance" method="post" ref="instance('upload')" replace="instance" xxforms:instance="validate-check" action="{$xis-exist}/modules/validate-single-instance.xquery" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:toggle case="validate-case-busy" ev:event="xforms-submit"/>
                <xforms:toggle case="validate-case-error" ev:event="xforms-submit-error"/>
                <xforms:toggle case="validate-case-done" ev:event="xforms-submit-done"/>
                <xforms:action ev:event="xforms-submit-done"/>
            </xforms:submission>
            <!-- Disable the check button when the request is being processed -->
            <xforms:bind nodeset="instance('validate-check')" readonly="instance('validate-check')/@processing"/>
            <!-- Disable the button as long as we do not have sufficient data -->
            <xforms:bind nodeset="instance('validate-check')" readonly="string-length(instance('upload')/@filename) = 0 or string-length(instance('validate-request'))&lt;10"/>
            
            <!-- startup actions -->
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:setvalue ref="instance('language')" if="string-length(xxforms:get-session-attribute('language')) gt 0" value="xxforms:get-session-attribute('language')"/>
                <xforms:send if="instance('language')[string-length()=0]" submission="get-language-submission"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <xforms:setvalue ref="instance('prefix')" value="if (string-length(xxforms:get-request-parameter('prefix')) gt 0) then (xxforms:get-request-parameter('prefix')) else ('')"/>
                <xforms:send submission="list-compiled-development-runtime"/>
                <xforms:send submission="get-resources-submission"/>
            </xforms:action>
            <xxforms:script ev:event="xforms-ready"> window.onbeforeunload = function() { if (ORBEON.xforms.Document.getValue('data-safe-input') != 'true') return ORBEON.xforms.Document.getValue('data-safe-input-warning'); } </xxforms:script>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xhtml:head>
    <!-- Start of XForm body -->
    <xhtml:body>
        <!-- special output used to give warning if user leaves page -->
        <xforms:output ref="instance('data-safe')" id="data-safe-input" style="display: none"/>
        <xforms:output ref="$resources/unsaved-data" id="data-safe-input-warning" style="display: none"/>
        <xhtml:table width="100%" class="detail spaced" style="margin-top:0.5em; border: 1pt #d7b0c6 solid;">
            <!-- instructions -->
            <xhtml:tr>
                <xhtml:td colspan="2" style="padding:1.0em; border-bottom: 1pt #d7b0c6 solid; background: #eafde8;">
                    <xhtml:h2>
                        <xhtml:img src="/img/upload.png" alt=""/>
                        <xhtml:img src="/img/check.png" alt=""/>
                        <xforms:output ref="$resources/validate-instance"/>
                    </xhtml:h2>
                    <xhtml:div style="padding:1.0em;">
                        <xforms:output ref="$resources/validate-instructions"/>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <!-- compilation set -->
            <xhtml:tr>
                <xhtml:td width="20%" class="heading">
                    <xhtml:div class="heading">
                        <xforms:output ref="$resources/compilation-set"/>
                    </xhtml:div>
                </xhtml:td>
                <xhtml:td>
                    <xhtml:div class="buttons" style="float:left;">
                        <xforms:trigger appearance="compact">
                            <xforms:label>
                                <xhtml:img src="/img/arrow_refresh.png" alt=""/>
                            </xforms:label>
                            <xforms:hint ref="$resources/refresh-message-list"/>
                            <xforms:action ev:event="DOMActivate">
                                <xforms:send submission="list-compiled-development-runtime"/>
                            </xforms:action>
                        </xforms:trigger>
                    </xhtml:div>
                    &#160;
                    <xforms:select1 ref="instance('from')" appearance="minimal">
                        <xforms:label ref="$resources/compilation-set" class="hidden"/>
                        <xforms:itemset nodeset="instance('compiled-results')/compiled">
                            <xxforms:variable name="ont" select="@on" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                            <xforms:label ref="concat('-- ', @on, ' -- ', string-join((if (@closed[. = 'true']) then $resources/schematronclosed else (), if (@explicitIncludes[. = 'true']) then $resources/explicitIncludes else ()), ' / '))"/>
                            <xforms:value ref="@as"/>
                        </xforms:itemset>
                    </xforms:select1>
                </xhtml:td>
            </xhtml:tr>
            <!-- upload option -->
            <xhtml:tr>
                <xhtml:td width="20%" class="heading">
                    <xhtml:div class="heading">
                        <xforms:output ref="$resources/upload-message"/>
                    </xhtml:div>
                </xhtml:td>
                <xhtml:td>
                    <xforms:upload ref="instance('upload')/data">
                        <xforms:label ref="$resources/upload-message" class="hidden"/>
                        <xforms:filename ref="../@filename"/>
                        <xforms:mediatype ref="../@mediatype"/>
                        <xxforms:size ref="../@size"/>
                        <xforms:action ev:event="xxforms-upload-done"/>
                    </xforms:upload>
                </xhtml:td>
            </xhtml:tr>
            <!-- select transaction/schematron -->
            <xhtml:tr>
                <xhtml:td width="20%" class="heading">
                    <xhtml:div class="heading">
                        <xforms:output ref="$resources/select"/>
                    </xhtml:div>
                </xhtml:td>
                <xhtml:td>
                    <xhtml:div class="buttons" style="float:left;">
                        <xforms:select1 ref="instance('validate-request')" appearance="minimal" style="height:20px;">
                            <xforms:label ref="$resources/select" class="hidden"/>
                            <xforms:item>
                                <xforms:label ref="$resources/not-set"/>
                                <xforms:value/>
                            </xforms:item>
                            <xforms:itemset nodeset="instance('compiled-results')/compiled[@as = instance('from')]/dir/resource">
                                <xforms:label ref="concat('√ ', @title)"/>
                                <xforms:value ref="@ref"/>
                            </xforms:itemset>
                        </xforms:select1>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <!-- validate button -->
            <xhtml:tr>
                <xhtml:td width="20%" class="heading">
                    <xhtml:div class="heading">
                        <xforms:output ref="$resources/validate"/>
                    </xhtml:div>
                </xhtml:td>
                <xhtml:td>
                    <xhtml:div class="buttons" style="float:left;">
                        <xforms:trigger appearance="compact" id="validate" ref="instance('validate-check')">
                            <xforms:label class="control-label">
                                <xhtml:img src="/img/check.png" width="16" alt=""/>
                            </xforms:label>
                            <xforms:hint ref="$resources/validate"/>
                            <xforms:action ev:event="DOMActivate">
                                <xforms:setvalue ref="instance('upload')/@schref" value="instance('validate-request')"/>
                                <!-- do the validation -->
                                <xforms:toggle case="validate-case-busy"/>
                                <xforms:send submission="do-validate-instance"/>
                            </xforms:action>
                        </xforms:trigger>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <!-- results -->
            <xhtml:tr>
                <xhtml:td width="20%" colspan="2" class="heading">
                    <xhtml:div class="heading">
                        <xforms:output ref="$resources/results"/> &#160; <xforms:output ref="instance('validate-check')/@at" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <xhtml:tr>
                <xhtml:td colspan="2">
                    <xforms:switch>
                        <xforms:case id="validate-ready"/>
                        <xforms:case id="validate-case-busy">
                            <xhtml:img src="/img/loader.gif" class="spinner" alt="Busy"/>
                        </xforms:case>
                        <xforms:case id="validate-case-error">
                            <xhtml:img src="/img/exclamation.gif" class="spinner" alt="{$resources/error}" title="{$resources/error}"/>
                        </xforms:case>
                        <xforms:case id="validate-case-done">
                            <xforms:group ref="instance('validate-check')[error]">
                                <xhtml:img src="/img/exclamation.gif" class="spinner" alt="{$resources/error}" title="{$resources/error}"/>
                                <xforms:output ref="instance('validate-check')/error"/>
                            </xforms:group>
                            <xforms:group ref="instance('validate-check')[schema]">
                                <xxforms:variable name="schemaIssues" select="schema/report/message"/>
                                <xxforms:variable name="schemaErrors" select="schema/report/error"/>
                                <xxforms:variable name="schematronIssues" select="schematron/report/message//svrl:failed-assert|schematron/report/message//svrl:successful-report"/>
                                <xxforms:variable name="schematronErrors" select="schematron/report/error"/>
                                <xxforms:variable name="schematronRuleCount" select="schematron/report/schematron/@rulescnt"/>
                                <fr:accordion class="fr-accordion-lnf">
                                    <fr:case selected="true">
                                        <fr:label ref="concat($resources/results, ' ', count($schemaErrors|$schematronIssues), ' ', $resources/item-s)"/>
                                        <xhtml:div class="detail">
                                            <xhtml:table width="100%" class="detail spaced">
                                                <xhtml:tr class="not-selectable">
                                                    <xhtml:td class="heading" style="width: 16px;">
                                                        <xforms:group ref=".[schema/report/status='invalid']">
                                                            <xhtml:img style="vertical-align:middle;" src="/img/facesad.png" alt=""/>
                                                        </xforms:group>
                                                        <xforms:group ref=".[schema/report/status='valid']">
                                                            <xhtml:img style="vertical-align:middle;" src="/img/facehappy.png" alt=""/>
                                                        </xforms:group>
                                                    </xhtml:td>
                                                    <xhtml:td class="heading">
                                                        <xforms:output ref="concat('Schema Validation: ', count($schemaErrors), ' ', $resources/item-s)"/>
                                                    </xhtml:td>
                                                </xhtml:tr>
                                                <xforms:group ref=".[$schemaIssues]">
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td colspan="2">
                                                            <xhtml:table width="100%" class="detail msgborder val">
                                                                <xforms:repeat nodeset="$schemaIssues" id="checkResultw3cs">
                                                                    <!-- level -->
                                                                    <xhtml:tr class="not-selectable valtop val-{@level}">
                                                                        <xhtml:td width="1%" class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/level, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <xforms:output ref="@level"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <!-- location -->
                                                                    <xhtml:tr class="not-selectable val-{@level}">
                                                                        <xhtml:td class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/location, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <xforms:output ref="concat(@line, ':', @column)"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <!-- description -->
                                                                    <xhtml:tr class="not-selectable valbottom val-{@level}">
                                                                        <xhtml:td class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/description, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <xforms:output ref="."/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <xhtml:tr>
                                                                        <xhtml:td colspan="2"/>
                                                                    </xhtml:tr>
                                                                </xforms:repeat>
                                                            </xhtml:table>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xforms:group>
                                                <xforms:group ref=".[$schemaErrors]">
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td/>
                                                        <xhtml:td>
                                                            <xforms:output ref="$schemaErrors"/>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xforms:group>
                                                <xhtml:tr class="not-selectable">
                                                    <xhtml:td class="heading" style="width: 16px;">
                                                        <xforms:group ref=".[schematron/report/status='invalid']">
                                                            <xhtml:img style="vertical-align:middle;" src="/img/facesad.png" alt=""/>
                                                        </xforms:group>
                                                        <xforms:group ref=".[schematron/report/status='warning']">
                                                            <xhtml:img style="vertical-align:middle;" src="/img/facesolala.png" alt=""/>
                                                        </xforms:group>
                                                        <xforms:group ref=".[schematron/report/status='valid']">
                                                            <xhtml:img style="vertical-align:middle;" src="/img/facehappy.png" alt=""/>
                                                        </xforms:group>
                                                        <xforms:group ref=".[schematron/report/status='info']">
                                                            <xhtml:img style="vertical-align:middle;" src="/img/faceinfo.png" alt=""/>
                                                        </xforms:group>
                                                    </xhtml:td>
                                                    <xhtml:td class="heading">
                                                        <xforms:output ref="concat('Schematron Validation: ', count($schematronIssues),' ', $resources/item-s, ', ', $schematronRuleCount, ' ', $resources/rule-s)"/>
                                                        <xhtml:span style="margin-left: 2em;">
                                                            <xforms:select ref="instance('check-filter')" appearance="full" incremental="true" class="auto-width inline">
                                                                <xforms:label ref="$resources/filter" class="hidden"/>
                                                                <xforms:itemset nodeset="distinct-values($schematronIssues/@role)">
                                                                    <xforms:label ref="."/>
                                                                    <xforms:value ref="."/>
                                                                </xforms:itemset>
                                                            </xforms:select>
                                                        </xhtml:span>
                                                        <xforms:group ref=".[$schematronRuleCount = 0]">
                                                            <xforms:output ref="' '"/>
                                                            <xhtml:img style="vertical-align:middle;" src="/img/exclamation.png" alt=""/>
                                                            <xforms:output ref="' No rules to check against!'"/>
                                                        </xforms:group>
                                                    </xhtml:td>
                                                </xhtml:tr>
                                                <xforms:group ref=".[$schematronIssues]">
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td colspan="2">
                                                            <xhtml:table width="100%" class="detail msgborder val">
                                                                <xforms:repeat nodeset="$schematronIssues[@role = tokenize(instance('check-filter'), '\s+') or string-length(@role)=0]" id="checkResultd">
                                                                    <!-- xxx -->
                                                                    <xxforms:variable name="svrltext" select="svrl:text"/>
                                                                    <xxforms:variable name="svrltest" select="@test"/>
                                                                    <xxforms:variable name="svrlsee" select="@see"/>
                                                                    <xxforms:variable name="svrllocation" select="@location"/>
                                                                    <xxforms:variable name="svrlrole" select="if (string-length(@role)=0) then 'error' else @role"/>
                                                                    <!-- level -->
                                                                    <xhtml:tr class="not-selectable valtop val-{$svrlrole}">
                                                                        <xhtml:td width="1%" class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/level, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <xforms:output ref="$svrlrole"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <!-- location -->
                                                                    <xhtml:tr class="not-selectable val-{$svrlrole}">
                                                                        <xhtml:td class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/location, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <xforms:output ref="$svrllocation"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <!-- see -->
                                                                    <xforms:group ref=".[string-length($svrlsee) gt 0]">
                                                                        <xhtml:tr class="not-selectable val-{$svrlrole}">
                                                                            <xhtml:td class="val">
                                                                                <xhtml:b>
                                                                                    <xforms:output ref="concat($resources/reference, ':')"/>
                                                                                </xhtml:b>
                                                                            </xhtml:td>
                                                                            <xhtml:td class="val">
                                                                                <xforms:output ref="$svrlsee"/>
                                                                            </xhtml:td>
                                                                        </xhtml:tr>
                                                                    </xforms:group>
                                                                    <!-- description -->
                                                                    <xhtml:tr class="not-selectable val-{$svrlrole}">
                                                                        <xhtml:td class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/description, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <!-- fix for crappy svrl generation that concatenates attributes values inside the text node -->
                                                                            <xxforms:variable name="crap1" select="if (starts-with($svrltext, $svrlrole)) then substring-after($svrltext, $svrlrole) else $svrltext"/>
                                                                            <xxforms:variable name="crap2" select="if (contains($crap1, $svrltest)) then substring-after($crap1, $svrltest) else $crap1"/>
                                                                            <xxforms:variable name="clean" select="if (starts-with($crap2, $svrlsee)) then substring-after($crap2, $svrlsee) else $crap2"/>
                                                                            <xforms:output ref="$clean">
                                                                                <!--<xforms:hint ref="$svrltest"/>-->
                                                                            </xforms:output>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <!-- test -->
                                                                    <xhtml:tr class="not-selectable valbottom val-{$svrlrole}">
                                                                        <xhtml:td class="val">
                                                                            <xhtml:b>
                                                                                <xforms:output ref="concat($resources/test, ':')"/>
                                                                            </xhtml:b>
                                                                        </xhtml:td>
                                                                        <xhtml:td class="val">
                                                                            <xforms:output ref="$svrltest"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <!-- empty -->
                                                                    <xhtml:tr>
                                                                        <xhtml:td colspan="2"/>
                                                                    </xhtml:tr>
                                                                </xforms:repeat>
                                                            </xhtml:table>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xforms:group>
                                                <xforms:group ref=".[$schematronErrors]">
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td/>
                                                        <xhtml:td>
                                                            <xforms:output ref="$schematronErrors"/>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xforms:group>
                                            </xhtml:table>
                                        </xhtml:div>
                                    </fr:case>
                                </fr:accordion>
                            </xforms:group>
                        </xforms:case>
                    </xforms:switch>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>