<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:atp="urn:nictiz.atp" atp:dummy-1="" xmlns:hl7="urn:hl7-org:v3" hl7:dummy-2="" xmlns:xis="http://art-decor.org/ns/xis" xis:dummy-3="" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/testsuites"/>
        </xhtml:title>
        <xhtml:style type="text/css">
            span.inline { display: block; }
            span.inline label { display: inline-block; }
        </xhtml:style>
        <xforms:model id="test-suites">
         <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
         <!-- Variable with path to xis-eXist -->
            <xxforms:variable name="xis-exist" select="xxforms:property('xis.exist.url')"/>
         <!-- Variable with path to xis-external-exist used to pass to client as link for images -->
            <xxforms:variable name="xis-external-exist" select="xxforms:property('xis.external.exist.url')"/>
         <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
         <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=xis" replace="instance" instance="resources-instance"/>
         <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            <xforms:submission id="get-language-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-user-language.xquery" replace="instance" instance="language"/>
         <!-- instance for general edit status -->
            <xforms:instance id="data-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
         <!-- instance for navigating testsuites -->
            <xforms:instance id="testsuite-navigation">
                <id/>
            </xforms:instance>
            <xforms:action ev:observer="testsuite-navigation" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <xforms:send submission="get-test-list"/>
            </xforms:action>
         <!-- instance for testsuites -->
            <xforms:instance id="testsuites">
                <dummy/>
            </xforms:instance>
         <!-- submission for retrieving testsuites -->
            <xforms:submission id="get-testsuites" serialization="none" method="get" resource="{$xis-exist}/modules/get-testsuites.xquery" replace="instance" instance="testsuites">
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="instance('testsuites')/testsuite[@id=instance('testsuite-navigation')]">
                        <xforms:dispatch target="testsuite-navigation" name="xxforms-value-changed"/>
                    </xforms:action>
                    <xforms:action if="not(instance('testsuites')/testsuite[@id=instance('testsuite-navigation')])">
                        <xforms:setvalue ref="instance('testsuite-navigation')" value="instance('testsuites')/testsuite[1]/@id"/>
                    </xforms:action>
                    <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                </xforms:action>
            </xforms:submission>
         <!-- event observer for testsuite changes -->
            <xforms:action ev:observer="testsuites" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <xforms:setvalue ref="instance('data-safe')">false</xforms:setvalue>
            </xforms:action>
         <!-- submission for saving testsuites -->
            <xforms:submission id="save-testsuites" method="post" ref="instance('testsuites')" resource="{$xis-exist}/modules/save-testsuites.xquery" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                </xforms:action>
            </xforms:submission>
         <!-- instance for new testsuite -->
            <xforms:instance id="new-testsuite" xxforms:exclude-result-prefixes="#all">
                <testsuite id="" effectiveDate="" statusCode="draft">
                    <name/>
                    <application-role/>
                    <xmlResourcesPath/>
                    <desc/>
                </testsuite>
            </xforms:instance>
         <!-- instance for testsuite select -->
            <xforms:instance id="selected-tests">
                <selected/>
            </xforms:instance>
         <!-- instance for testsuite select -->
            <xforms:instance id="test-list">
                <dummy/>
            </xforms:instance>
         <!-- submission for test list for selected xml resources -->
            <xforms:submission id="get-test-list" serialization="none" method="get" resource="{$xis-exist}/modules/get-test-xslt-list.xquery?resourcesPath={instance('testsuites')//testsuite[@id=instance('testsuite-navigation')]/xmlResourcesPath}" replace="instance" instance="test-list">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>

         <!-- instance for selected xml (HL7) set -->
            <xforms:instance id="xml-set-navigation">
                <uriString/>
            </xforms:instance>
         <!-- instance for xml (HL7) set list -->
            <xforms:instance id="xml-sets-instance">
                <dummy/>
            </xforms:instance>
         <!-- get xml (AORTA) set list -->
            <xforms:submission id="get-xml-set-submission" serialization="none" method="get" resource="{$xis-exist}/modules/get-hl7-package-list.xquery" replace="instance" instance="xml-sets-instance"/>

         <!-- startup actions -->
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:setvalue ref="instance('language')" if="string-length(xxforms:get-session-attribute('language'))&gt;0" value="xxforms:get-session-attribute('language')"/>
                <xforms:send if="instance('language')[string-length()=0]" submission="get-language-submission"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <xforms:send submission="get-resources-submission"/>
                <xforms:send submission="get-xml-set-submission"/>
                <xforms:send submission="get-testsuites"/>
            </xforms:action>
            <xxforms:script ev:event="xforms-ready">
                window.onbeforeunload = function() {
                if (ORBEON.xforms.Document.getValue('data-safe-input') != 'true')
                return ORBEON.xforms.Document.getValue('data-safe-input-warning');
                }
            </xxforms:script>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="editor" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
            <xforms:setfocus ev:event="xforms-ready" control="text-repeat"/>
        </xforms:model>
    </xhtml:head>
   <!-- Start of XForm body -->
    <xhtml:body>
      <!-- special output used to give warning if user leaves page -->
        <xforms:output ref="instance('data-safe')" id="data-safe-input" style="display: none"/>
        <xforms:output ref="$resources/unsaved-data" id="data-safe-input-warning" style="display: none"/>
      <!-- dialog for selecting testinstances -->
        <xxforms:dialog id="test-instances-dialog" appearance="full" level="modal" close="true" draggable="true" visible="false">
            <xforms:action ev:event="xxforms-dialog-open">
                <xforms:send submission="get-test-list"/>
            </xforms:action>
            <xforms:label ref="$resources/select-tests"/>
            <xxforms:variable name="currentTestSuite" select="instance('testsuites')/testsuite[@id=instance('testsuite-navigation')]"/>
            <xhtml:table class="detail spaced zebra-table" style="min-width: 400px;">
                <xhtml:tr>
                    <xhtml:td class="item-label-var" style="min-width: 50px;"/>
                    <!--<xhtml:td class="item-label">
                        <xforms:output ref="$resources/id"/>
                    </xhtml:td>-->
                    <xhtml:td class="item-label-var">
                        <xforms:output ref="$resources/schematron"/>
                    </xhtml:td>
                    <!--<xhtml:td class="item-label">
                        <xforms:output ref="$resources/transaction"/>
                    </xhtml:td>-->
                    <xhtml:td class="item-label-var">
                        <xforms:output ref="$resources/name"/>
                    </xhtml:td>
                    <xhtml:td class="item-label-var">
                        <xforms:output ref="$resources/description"/>
                    </xhtml:td>
                </xhtml:tr>
                <xforms:repeat nodeset="instance('test-list')/test" id="testList-table">
                    <xhtml:tr class="zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                        <xhtml:td>
                            <xxforms:variable name="testId" select="@name"/>
                            <xxforms:variable name="testName" select="if (name) then name[1] else xxforms:element('name','')"/>
                            <xxforms:variable name="testDesc" select="if (desc) then desc[1] else xxforms:element('desc','')"/>
                            <xforms:trigger appearance="minimal" ref=".[$currentTestSuite[not(test[@schematron=$testId])]]">
                                <xforms:label>
                                    <xhtml:img src="/img/itemadd.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/add"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:insert context="$currentTestSuite" nodeset="*" origin="xxforms:element('test',(xxforms:attribute('schematron',$testId),$testName, $testDesc))"/>
                                </xforms:action>
                            </xforms:trigger>
                            <xforms:trigger appearance="minimal" ref=".[$currentTestSuite[test[@schematron=$testId]]]">
                                <xforms:label>
                                    <xhtml:img src="/img/itemdelete.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/remove"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:delete nodeset="$currentTestSuite/test[@schematron=$testId]"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:td>
                        <!--<xhtml:td>
                            <xforms:output ref="@id"/>
                        </xhtml:td>-->
                        <xhtml:td>
                            <xforms:output ref="@name"/>
                        </xhtml:td>
                        <!--<xhtml:td>
                            <xforms:output ref="@transactionRef"/>
                        </xhtml:td>-->
                        <xhtml:td>
                            <xforms:output ref="name[1]"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:output ref="desc[1]" mediatype="text/html"/>
                        </xhtml:td>
                    </xhtml:tr>
                </xforms:repeat>
            </xhtml:table>
            <xhtml:div class="buttons">
                <xforms:trigger appearance="compact">
                    <xforms:label ref="$resources/close"/>
                    <xforms:action ev:event="DOMActivate">
                        <xxforms:hide ev:event="DOMActivate" dialog="test-instances-dialog"/>
                    </xforms:action>
                </xforms:trigger>
            </xhtml:div>
        </xxforms:dialog>
      <!-- Testsuites -->
        <xhtml:table class="spaced" width="100%">
            <xhtml:tr>
            <!-- testsuite navigation	-->
                <xhtml:td width="20%">
                    <xhtml:table class="spaced" width="100%">
                  <!-- row with heading  and edit buttons -->
                        <xhtml:tr class="heading">
                            <xhtml:td class="heading">
                                <xhtml:div class="heading">
                                    <xforms:output ref="$resources/testsuites"/>
                                </xhtml:div>
                                <xhtml:div class="buttons">
                                    <xforms:group ref=".[$editor]">
                                        <xforms:trigger appearance="compact">
                                            <xforms:label>
                                                <xhtml:img src="/img/plus.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint>
                                                <xforms:output ref="$resources/add-testsuite"/>
                                            </xforms:hint>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:action if="instance('testsuites')//testsuite">
                                                    <xforms:setvalue ref="instance('new-testsuite')/@id" value="max(instance('testsuites')//testsuite/@id)+1"/>
                                                </xforms:action>
                                                <xforms:action if="not(instance('testsuites')//testsuite)">
                                                    <xforms:setvalue ref="instance('new-testsuite')/@id" value="1"/>
                                                </xforms:action>
                                                <xforms:setvalue ref="instance('new-testsuite')/@effectiveDate" value="format-dateTime(current-dateTime(), '[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]')"/>
                                                <xforms:insert context="instance('testsuites')" nodeset="testsuite" at="last()" position="after" origin="instance('new-testsuite')"/>
                                                <xforms:setvalue ref="instance('testsuite-navigation')" value="instance('new-testsuite')/@id"/>
                                                <xforms:setfocus control="testsuite-name"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xforms:group>
                                </xhtml:div>
                            </xhtml:td>
                        </xhtml:tr>
                  <!-- row with testsuite list-->
                        <xhtml:tr>
                            <xhtml:td>
                                <xhtml:div class="navigate no-overflow">
                                    <xforms:select1 ref="instance('testsuite-navigation')" appearance="compact" id="testsuiteNavigation" class="navigate">
                                        <xforms:itemset nodeset="instance('testsuites')//testsuite">
                                            <xforms:label ref="name[1]"/>
                                            <xforms:value ref="@id"/>
                                        </xforms:itemset>
                                    </xforms:select1>
                                </xhtml:div>
                            </xhtml:td>
                        </xhtml:tr>
                    </xhtml:table>
                </xhtml:td>
            <!-- testsuite details -->
                <xhtml:td width="80%">
                    <xforms:group ref="instance('testsuites')/testsuite[@id=instance('testsuite-navigation')]">
                        <xhtml:table width="100%" class="detail spaced">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading" colspan="2">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="name[1]"/>
                                    </xhtml:div>
                                    <xforms:group ref=".[instance('data-safe')='false']">
                                        <xhtml:div class="buttons">
                                            <xforms:trigger appearance="compact">
                                                <xforms:label ref="$resources/cancel"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:send submission="get-testsuites"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                            <xforms:trigger appearance="compact">
                                                <xforms:label ref="$resources/save"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:send submission="save-testsuites"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xhtml:div>
                                    </xforms:group>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/version"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@effectiveDate" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                </xhtml:td>
                            </xhtml:tr>
                     <!-- EDITOR -->
                            <xforms:group ref=".[$editor]">
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/name"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:input ref="name[1]" id="testsuite-name" incremental="true">
                                            <xforms:label ref="$resources/name" class="hidden"/>
                                            <xforms:alert ref="$resources/required-field"/>
                                        </xforms:input>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/application-role"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:input ref="application-role" incremental="true"/>
                                    </xhtml:td>
                                </xhtml:tr>
                        <!-- HL7 resources -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/hl7-resources"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:select1 ref="xmlResourcesPath" appearance="minimal" class="auto-width">
                                            <xforms:label ref="$resources/hl7-resources" class="hidden"/>
                                            <xforms:alert ref="$resources/required-field"/>
                                            <xforms:item>
                                                <xforms:label ref="concat('-- ',$resources/not-set,' --')"/>
                                                <xforms:value/>
                                            </xforms:item>
                                            <xforms:itemset nodeset="instance('xml-sets-instance')/version">
                                                <xforms:label ref="@name"/>
                                                <xforms:value ref="@uriString"/>
                                            </xforms:itemset>
                                        </xforms:select1>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/description"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:textarea mediatype="text/html" ref="desc[1]" incremental="true"/>
                                    </xhtml:td>
                                </xhtml:tr>
                        <!-- tests heading -->
                                <xhtml:tr class="heading">
                                    <xhtml:td class="heading" colspan="2">
                                        <xhtml:div class="heading">
                                            <xforms:output ref="$resources/tests"/>
                                        </xhtml:div>
                                        <xhtml:div class="buttons">
                                            <xforms:group ref=".[$editor]">
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label>
                                                        <xhtml:img src="/img/edit.gif" alt=""/>
                                                    </xforms:label>
                                                    <xforms:hint>
                                                        <xforms:output ref="$resources/select"/>
                                                    </xforms:hint>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('selected-tests')" value="string-join(instance('testsuites')/testsuite[@id=instance('testsuite-navigation')]//test/@schematron,'-- --')"/>
                                                        <xxforms:show dialog="test-instances-dialog"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:group>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td colspan="2">
                                        <xhtml:table width="100%" class="detail">
                                            <xhtml:tr>
                                                <xhtml:td width="30%" class="item-label">
                                                    <xforms:output ref="$resources/schematron"/>
                                                </xhtml:td>
                                                <xhtml:td width="30%" class="item-label">
                                                    <xforms:output ref="$resources/name"/>
                                                </xhtml:td>
                                                <xhtml:td width="40%" class="item-label">
                                                    <xforms:output ref="$resources/description"/>
                                                </xhtml:td>
                                            </xhtml:tr>
                                            <xforms:repeat nodeset="test">
                                                <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                                    <xhtml:td width="30%">
                                                        <xforms:output ref="@schematron"/>
                                                    </xhtml:td>
                                                    <xhtml:td width="30%">
                                                        <xforms:textarea ref="name[1]" incremental="true"/>
                                                    </xhtml:td>
                                                    <xhtml:td width="40%">
                                                        <xforms:textarea ref="desc[1]" incremental="true"/>
                                                    </xhtml:td>
                                                </xhtml:tr>
                                            </xforms:repeat>
                                        </xhtml:table>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xforms:group>
                     <!-- READONLY -->
                            <xforms:group ref=".[not($editor)]">
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/name"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:output ref="name[1]"/>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/application-role"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:output ref="application-role"/>
                                    </xhtml:td>
                                </xhtml:tr>
                        <!-- HL7 resources -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/hl7-resources"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xxforms:variable name="hl7Path" select="xmlResourcesPath"/>
                                        <xforms:output ref="instance('xml-sets-instance')/version[@uriString=$hl7Path]/@name"/>
                                    </xhtml:td>
                           <!--                           <xhtml:td>
                              <xforms:select1 ref="xis:xmlResourcesPath" appearance="minimal" class="auto-width">
                                 <xforms:itemset nodeset="instance('xml-sets-instance')/version">
                                    <xforms:label ref="@name"/>
                                    <xforms:value ref="@uriString"/>
                                 </xforms:itemset>
                              </xforms:select1>
                           </xhtml:td>-->
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/description"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:output mediatype="text/html" ref="desc[1]"/>
                                    </xhtml:td>
                                </xhtml:tr>

                        <!-- tests heading -->
                                <xhtml:tr class="heading">
                                    <xhtml:td class="heading" colspan="2">
                                        <xhtml:div class="heading">
                                            <xforms:output ref="$resources/tests"/>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td colspan="2">
                                        <xhtml:table width="100%" class="detail">
                                            <xhtml:tr>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/schematron"/>
                                                </xhtml:td>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/name"/>
                                                </xhtml:td>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/description"/>
                                                </xhtml:td>
                                            </xhtml:tr>
                                            <xforms:repeat nodeset="test">
                                                <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                                    <xhtml:td>
                                                        <xforms:output ref="@schematron"/>
                                                    </xhtml:td>
                                                    <xhtml:td>
                                                        <xforms:output ref="name[1]"/>
                                                    </xhtml:td>
                                                    <xhtml:td>
                                                        <xforms:output ref="desc[1]" mediatype="text/html"/>
                                                    </xhtml:td>
                                                </xhtml:tr>
                                            </xforms:repeat>
                                        </xhtml:table>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xforms:group>
                        </xhtml:table>
                    </xforms:group>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>

      <!-- Test accounts tab -->


      <!--      <fr:xforms-inspector/>-->
    </xhtml:body>
</xhtml:html>