 .cm-string.decor-element-name {
    border-radius: 3px;
    border: 1px solid;
    color: midnightblue;
}
.cm-string.decor-attribute-name {
    border-radius: 3px;
    border: 1px solid;
    color: darkolivegreen;
}
.cm-string.decor-attribute-value {
    border-radius: 3px;
    border: 1px solid;
    color: orangered;
}
.cm-string.decor-template-name {
    border-radius: 3px;
    border: 1px solid;
    color: firebrick;
}
.cm-string.decor-assert-test {
    color: red;
}
.cm-string.decor-ref {
    border-radius: 3px;
    border: 1px solid;
    color: dodgerblue;
}
div.activity {
    display: none;
    float: right;
}
span.readonly .CodeMirror{
    background-color: #f2f2f2;
}
body {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
h1{
    color:#E16E22;
    font-weight:bold;
}
p{
    margin:0px;
}
.formtitle{
    font-weight:bold;
    margin:0px 10px;
}
h3{
    margin:0px;
}
table{
    width:100%;
}
ul{
    overflow:auto;
    max-height:36em;
    list-style-type:none;
    padding:0px;
    margin:0px;
}
.templatelist > li{
    white-space:nowrap;
}
div#header{
    width:100%;
    margin:2px;
    height: 25px;
}
div#content{
    width:100%;
    display:inline-block;
    margin:2px;
    height: calc(100% - 75px);
}
div#menu{
    margin:2px;
    background-color:menu;
}
div#editors{
    width: 100%;
    display:inline-block;
    float:left;
    height: 100%;
}
div.editor{
    display:inline-block;
    float:left;
}
input.txtSearch{
    width: 15em;
}
div#tabList {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
div#cmMenu {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
button, span.tabButton {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
  transition: 0.3s;
  font-size: 14px;
}
select {
  float: left;
  padding: 4px 8px;
  transition: 0.3s;
  font-size: 14px;
}
button:hover {
  background-color: #ddd;
}
span.tabButton.active {
  background-color: #ccc;
}
input[disabled],
button[disabled]{
    opacity:0.5;
}
body {
    margin:2px;
    }
div#main, #header, #content {
    background-color: #fefefe;
}
.CodeMirror{
    border:1px solid #eee;
}
.CodeMirror *{
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}
.CodeMirror-scroll{
    overflow-y:hidden;
    overflow-x:auto;
}
