<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Search DECOR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../resources/scripts/mustache.js" type="text/javascript"></script>
    <script src="../resources/scripts/search.js"></script>
</head>

<body style="font-size:14px">
    <div class="container-fluid">
        <h1>DECOR zoeken</h1>
        <input type="search" id="search" autofocus="autofocus" autocomplete="off" />
        <button class="btn btn-secondary btn-sm" onclick="getConcepts()" id="btnSubmit">Zoeken</button>
        <div id="found"></div>
        <div id="results"></div>
    </div>
    <script id="conceptTemplate" type="text/html">
        {{#results}}
            {{#concept}}
            <div class="row" id="concept-{{iddisplay}}">
                <div class="concept col-lg-8 col-sm-12 mb-2">
                    <h4 class="desc">{{#name}} {{content}} {{/name}}</h4>
                    <div class="font-italic">{{ancestors}}</div>
                    <div class="desc">{{#desc}} {{content}} {{/desc}}</div>
                    {{#valueSet}}
                    <a href="#{{name}}" class="btn btn-outline-secondary btn-sm mt-1" data-toggle="collapse">Waardenlijst</a>
                    <div id="{{name}}" class="collapse">
                        {{#conceptList}}
                        <ul class="list-group">
                        {{#concept}}
                        <li class="list-group-item desc">{{displayName}} ({{code}}) {{#codeSystemName}} {{.}} {{/codeSystemName}}</li>
                        {{/concept}}
                        </ul>
                        {{/conceptList}}
                    </div>
                    {{/valueSet}}
                    {{#children}}
                    <a href="#children-{{iddisplay}}" class="btn btn-outline-secondary btn-sm mt-1" data-toggle="collapse">Kindconcepten</a>
                    <div id="children-{{iddisplay}}" class="collapse">
                        <ul class="list-group">
                        {{#name}}
                        <li class="list-group-item">{{content}}</li>
                        {{/name}}
                        </ul>
                    </div>
                    {{/children}}
                </div>
                <div class="card col-lg-4 col-sm-12 mb-2">
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">Status</div>
                            <div class="col">{{statusCode}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Type</div>
                            <div class="col">{{type}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Id</div>
                            <div class="col">{{iddisplay}}</div>
                        </div>
                        <div class="row">
                            <div class="col">EffectiveDate</div>
                            <div class="col">{{effectiveDate}}</div>
                        </div>
                        {{#valueDomain}}
                        <div class="row">
                            <div class="col">Datatype</div>
                            <div class="col">{{type}}</div>
                        </div>
                        {{#property}}
                        {{#minLength}}
                        <div class="row">
                            <div class="col">minLength</div>
                            <div class="col">{{minLength}}</div>
                        </div>
                        {{/minLength}}
                        {{#maxLength}}
                        <div class="row">
                            <div class="col">maxLength</div>
                            <div class="col">{{maxLength}}</div>
                        </div>
                        {{/maxLength}}
                        {{#unit}}
                        <div class="row">
                            <div class="col">unit</div>
                            <div class="col">{{unit}}</div>
                        </div>
                        {{/unit}}
                        {{#minInclude}}
                        <div class="row">
                            <div class="col">minInclude</div>
                            <div class="col">{{minInclude}}</div>
                        </div>
                        {{/minInclude}}
                        {{#maxInclude}}
                        <div class="row">
                            <div class="col">maxInclude</div>
                            <div class="col">{{maxInclude}}</div>
                        </div>
                        {{/maxInclude}}
                        {{#fractionDigits}}
                        <div class="row">
                            <div class="col">fractionDigits</div>
                            <div class="col">{{fractionDigits}}</div>
                        </div>
                        {{/fractionDigits}}
                        {{#timeStampPrecision}}
                        <div class="row">
                            <div class="col">timeStampPrecision</div>
                            <div class="col">{{timeStampPrecision}}</div>
                        </div>
                        {{/timeStampPrecision}}
                        {{#default}}
                        <div class="row">
                            <div class="col">default</div>
                            <div class="col">{{default}}</div>
                        </div>
                        {{/default}}
                        {{#fixed}}
                        <div class="row">
                            <div class="col">fixed</div>
                            <div class="col">{{fixed}}</div>
                        </div>
                        {{/fixed}}
                        {{/property}}
                        {{/valueDomain}}
                        {{#example}}
                        <div class="row">
                            <div class="col">Voorbeeld</div>
                            <div class="col">{{content}}</div>
                        </div>
                        {{/example}}
                        {{#source}}
                        <div class="row">
                            <div class="col">Bron</div>
                            <div class="col">{{content}}</div>
                        </div>
                        {{/source}}
                        {{#rationale}}
                        <div class="row">
                            <div class="col">Rationale</div>
                            <div class="col">{{content}}</div>
                        </div>
                        {{/rationale}}
                        {{#operationalization}}
                        <div class="row">
                            <div class="col">Operationalisatie</div>
                            <div class="col">{{content}}</div>
                        </div>
                        {{/operationalization}}
                        {{#comment}}
                        <div class="row">
                            <div class="col">Commentaar</div>
                            <div class="col">{{content}}</div>
                        </div>
                        {{/comment}}
                    </div>
                </div>
            </div>
            {{/concept}}
        {{/results}}
    </script>
</body>

</html>
