/*
    Copyright (C) 2011

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
*/
/* prevent blue ring around selected items in Safari */
:focus {
	outline : none;
}
body {
	margin-left : .5em;
	margin-right : .5em;
	margin-top : .5em;
	padding-right : 1em;
   padding-left : 1em;
}
body,
input,
select,
button,
table,
div.popover-content {
	font-family : Arial, Helvetica, Geneva, sans-serif;
	font-size : 9pt;
    font-weight: normal;
    line-height: normal;
    color: black;
}
input[type = "submit"] {
	font-size : 8pt;
}
fieldset {
	margin-bottom : 1em;
	padding-top : 1em;
	padding-bottom : 1em;
	padding-left : 1.5em;
	padding-right : 1.5em;
	border : #d7b0c6 1px solid;
}
.tt,
textarea,
code {
	font-family : "Lucida Console", "Courier New", Courier, monospace;
	font-size : 12px;
}
#main {
	width : 100%;
	height : 100%;
}
#maincontent {
	background : white;
	vertical-align : top;
	width : 100%;
	height : 100%;
	line-height : 13pt;
}
#leftcontainer {
	/*	background : #f8f7f5;*/
	padding-top : 3em;
	width : 15em;
	margin-right : 0.5em;
}
td.page-heading {
	padding-left : 0.2em;
	padding-right : 0em;
	padding-top : 0em;
	padding-bottom : 0em;
	font-size : 1.8em;
	font-weight : bold;
	color : #e16e22;
	vertical-align:middle;
}
#leftcontent {
	width : 15em;
	height : 30em;
	margin-top : 4em;
	margin-right : 0.5em;
	padding-top : 0em;
	padding-left : 0em;
	padding-right : 0em;
	padding-bottom : 0em;
	line-height : 15pt;
	/*background-color : #f6f3ee;*/
	background-color : #faf6f0;
}
#rightcontent {
	height : 100%;
	background-color : #f6f3ee;
	border-top : 1px solid #d7b0c6;
	/*border-left : 1px solid #d7b0c6;*/
	/*	border-right : 1px solid #d7b0c6;*/
	/*	border-bottom : 1px solid #d7b0c6;*/
	padding-top : 1.5em;
	padding-left : 1.5em;
	padding-right : 1em;
	padding-bottom : 2em;
}
#rightcontent h1 {
	color : #e16e22;
	font-weight : bold;
	font-size : 14px;
	text-align : left;
	padding-left : 1em;
	padding-right : 1em;
	padding-top : .2em;
	padding-bottom : .2em;
	margin-top : 0;
	margin-bottom : 0;
	border-bottom : solid 1px #d7b0c6;
	line-height : 180%;
}
#rightcontent h2 {
	color : #7a6e62;
	background-color : #ebe7e1;
	font-size : 1.1em;
	font-weight : bold;
	padding-left : 1em;
	padding-right : 1em;
	padding-top : .2em;
	padding-bottom : .2em;
	margin-top : 0em;
	margin-bottom : 0em;
	border-bottom : solid 1px #d7b0c6;
	clear : right;
}
#language-select {
	width : 15em;
	margin-top : 0em;
	margin-left : 0em;
	margin-right : 0.5em;
	padding-top : 0.6em;
	padding-left : 1em;
	padding-right : 0em;
	padding-bottom : 0.4em;
	background-color : #ebe7e1;
	line-height : 15pt;
}
.cleaner {
	clear : both;
	height : 1px;
	font-size : 1px;
	border : none;
	margin : 0;
	padding : 0;
	background : transparent;
}
p,
h1,
pre {
	margin-top : .71em;
	margin-bottom : .71em;
}
h1 {
	font-size : 14pt;
	padding-top : .71em;
}
h1.nictiz {
	padding-left : 9em;
	padding-right : 0em;
	padding-top : 0em;
	padding-bottom : 0em;
	font-size : 2em;
	font-weight : bold;
	color : #e16e22;
	vertical-align:text-bottom;
}
td.item-label {
	padding-left : 0.5em;
	padding-right : 0em;
	padding-top : 0.25em;
	padding-bottom : 0.25em;
	width : 15%;
	background-color : #f0ebe4;
	color : #7a6e62;
	font-weight : normal;
	text-align : left;
	vertical-align : top;
}
.tabs {
	background-image : url('images/tabbar-blue.png');
	background-repeat : repeat-x;
	height : 23px;
	text-align : center;
	font-size : 8pt;
	text-transform : uppercase;
	letter-spacing : .1em;
	font-weight : bold;
	clear : both;
	line-height : 13pt;
}
.subtabs {
	background-color : #dde;
	color : #336;
	font-weight : bolder;
	text-align : left;
	padding : .2em .5em .2em .5em;
	margin-top : 0;
	margin-bottom : 2em;
	margin-left : -.8em;
	margin-right : -0.8em;
	border-bottom : solid 1px #336;
	font-size : 10pt;
}
.subtab {
	margin : 0 0 0 0;
	padding : 0 1em 0 1em;
	height : 17px;
	position : relative;
	border-right : 1px solid white;
}
.tab {
	color : #000;
	margin : 0 0 0 0;
	padding : 0 1em 0 1em;
	height : 17px;
	position : relative;
	top : 3px;
	border-right : 1px solid white;
}
.tab:first-child {
	border-left : 1px solid white;
}
.tab:hover {
	color : #000;
	background-color : #669;
	text-decoration : none;
}
.tab-selected {
	position : relative;
	top : 3px;
	margin : 0 0 0 0;
	padding : 1px 1em 0 .5em;
	background-image : url('images/tab-shadow-top.png');
	background-repeat : repeat-x;
	background-color : #FFF;
}
.tab-selected-left {
	position : relative;
	top : 3px;
	margin : 0 0 0 0;
	padding : 1px 0 0 0;
	background-image : url('images/tab-shadow-left.png');
	background-repeat : no-repeat;
	background-color : #FFF;
}
.left-link {
	color : #669;
	background-color : #FFF;
	font-weight : bold;
	display : block;
	margin : 0 .71em 0 .71em;
	padding : .42em;
	text-decoration : none;
}
.left-link:hover {
	color : #000;
	background-color : #99c;
	text-decoration : none;
}
.left-link-selected {
	color : #000;
	background-color : #99c;
	font-weight : bold;
	display : block;
	margin : 0 .71em 0 .71em;
	padding : .42em;
	text-decoration : none;
}
a {
	color : #669;
	text-decoration : none;
}
a:hover {
	text-decoration : underline;
}
.maincontent b,
.bold {
	color : #336;
}
.maincontent hr {
	height : 0;
	border-top : solid gray 1px;
	border-bottom : 0;
}
#mainbody {
	margin-top : 0.5em;
	margin-left : 0.5em;
	margin-right : 0.5em;
	padding : .5em;
}
.box {
	margin-left : 3px;
}
.tree-sections {
	margin-left : 0;
	margin-top : 0;
	padding-left : 0em;
	padding-top : 0em;
	list-style-type : none;
	vertical-align : top;
}
.tree-section {

	padding-left : 1em;
	padding-top : 0.2em;
	padding-bottom : 0.2em;
	font-size : 10pt;
	font-weight : bold;
	color : #7a6e62;
	background-color : #ebe7e1;
}
.tree-section-closed {
	vertical-align : middle;
	background-image : url(images/trClosed.gif);
	background-repeat : no-repeat;
	background-position : left center;
	margin-top : 0.2em;
	padding-left : 1em;
	padding-top : 0.2em;
	padding-bottom : 0.2em;
	font-size : 10pt;
	font-weight : bold;
	color : #7a6e62;
	background-color : #ebe7e1;
}
.tree-section-closed:hover {
	cursor : pointer;
}
.tree-section-open {
	vertical-align : middle;
	background-image : url(images/triangleOpen.gif);
	background-repeat : no-repeat;
	background-position : left center;
	margin-top : 0.2em;
	padding-left : 1em;
	padding-top : 0.2em;
	padding-bottom : 0.2em;
	font-size : 10pt;
	font-weight : bold;
	color : #7a6e62;
	background-color : #ebe7e1;
}
.tree-section-open:hover {
	cursor : pointer;
}
.tree-section:first-child {
	padding-top : .25em;
}
.tree-items,
.tree-items-selected {
	margin-left : 0em;
	margin-top : 0em;
	padding-left : 1em;
	list-style-type : none;
	color : #7a6e62;
	font-weight : normal;
	font-style : normal;
	text-align : left;
	white-space : nowrap;
	color : #e16e22;
	font-weight : bold;
}
.tree-items a {
	color : #7a6e62;
	font-weight : normal;
}
.tree-items a:hover {
	color : #e16e22;
	text-decoration : underline;
}
.tree-items:hover {
	color : #e16e22;
	text-decoration : none;
}
.minitoc ul {
	list-style : none;
	margin-top : .5em;
	margin-bottom : .5em;
	margin-left : 2em;
	padding-left : 0;
	border-left : 0;
}
ul {
	list-style-type : square;
}
.frame {
	margin : 5px 20px 5px 20px;
	font-size : 12px;
}
.frame .content {
	margin : 5px;
}
.note {
	border : solid 1px #669;
	background-color : #dde;
}
.note .label {
	background-color : #669;
	color : #ffffff;
}
.notes {
	border : solid 1px #7099C5;
	background-color : #f0f0ff;
}
.notes .label {
	background-color : #7099C5;
	color : #ffffff;
}
.warning {
	border : solid 1px #D00000;
	background-color : #fff0f0;
}
.warning .label {
	background-color : #D00000;
	color : #ffffff;
}
.fixme {
	border : solid 1px #C6C600;
	background-color : #FAF9C3;
}
.fixme .label {
	background-color : #C6C600;
	color : #ffffff;
}
.code {
	font-family : "Lucida Console", "Courier New", Courier, monospace;
	font-size : 9pt;
	padding-top : 0.5em;
	padding-bottom : 0.5em;
	padding-right : 1em;
	padding-left : 1em
}
.bordered {
	border-color : #99c;
	border-style : solid;
	border-width : 1px;
	line-height : 1.2em;
}
.ops-action-table td {
	white-space : nowrap;
	vertical-align : middle
}
.ops-action-table input {
	vertical-align : middle;
}
.ops-action-table a {
	vertical-align : middle;
}
.ops-source {
	background-color : #eeeeee;
	border : solid #336 1px;
	padding : 0.5em;
	line-height : 110%;
	overflow : auto;
	font-family : "Lucida Console", "Courier New", Courier, monospace;
	font-size : 9pt;
}
.gridtable {
	font-size : 10pt;
	border-collapse : collapse;
}
.gridtable .caption {
	text-align : left;
}
.gridtable th {
	background-color : #dde;
	color : #336;
	text-align : center;
	padding : .3em;
	border : 1px solid #99c;
}
.gridtable td {
	color : black;
	padding : .3em;
	border : 1px solid #99c;
	margin : 0;
	vertical-align : top
}
.dashedbox {
	border : 1px dotted black;
	padding : 10px
}
.xml-cd {
	margin-left : 0;
	margin-top : 0;
	margin-bottom : 0;
	display : block;
}
.xml-rd {
	margin-left : 0;
	margin-top : 0;
	margin-bottom : 0;
	display : block;
}
.xml-id {
	margin-left : 2em;
	margin-top : 0;
	margin-bottom : 0;
	display : block;
}
.xml-x {
}
.xml-c {
}
.xml-o {
}
.xml-symbol {
	color : black
}
.xml-text {
	color : black
}
.xml-comment {
	color : gray
}
.xml-elt-name {
	color : blue
}
.xml-elt-prefix {
	color : navy
}
.xml-att-prefix {
	color : green
}
.xml-att-name {
	color : green
}
.xml-att-value {
	color : orange
}
/* Deprecated (for XForms Classic) */
.calendar-button {
	margin : 0 16px 3px 5px;
	padding : 0;
	vertical-align : top;
}
/* This should not be here because it is too specific to particular applications */
.fixed-width {
	display : -moz-inline-box;
	display : inline-block;
	width : expression('9em'); /* Min-width for IE6 */
	min-width : 9em;
}
.orbeon-portlet-div {
	text-align : left;
	margin : 1em
}
.orbeon-portlet-content {
}
.orbeon-portlet-home {
	margin-top : 1em;
	font-style : italic
}
@media print {
	#orbeon-logo {
		display : none
	}
	#main {
		border : none;
	}
	#leftcontent {
		display : none
	}
	#rightcontent {
		display : none
	}
	#maincontent {
		border : none
	}
	.tabs {
		display : none
	}
	.tab {
		display : none
	}
	#cleaner {
		display : none
	}
	#navigation {
		display : none
	}
	a:link {
		color : black
	}
	a:visited {
		color : black
	}
	a {
		border : none
	}
}