<?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xxf="http://orbeon.org/oxf/xml/xforms" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css"/>
        <xhtml:title>
            <xf:output ref="$resources/units"/>
        </xhtml:title>
        <xf:model id="labunits">
            <!-- Variable with path to art-exist for use by form -->
            <xxf:variable name="art-exist" select="xxf:property('art.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-exist" select="xxf:property('lab.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-external-exist" select="xxf:property('lab.external.exist.url')"/>
            <xf:instance id="edit-unit" xxf:exclude-result-prefixes="#all">
                <root>
                    <unit id="">
                        <rm/>
                        <name/>
                        <nlname/>
                    </unit>
                </root>
            </xf:instance>
            <!-- resources for internationalization -->
            <xf:instance id="selected-unit" xxf:exclude-result-prefixes="#all">
                <root>
                    <unit id=""/>
                </root>
            </xf:instance>
            <xf:instance id="user" xxf:exclude-result-prefixes="#all">
                <allow/>
            </xf:instance>
            <!-- resources for internationalization -->
            <xf:instance id="resources-instance">
                <dummy/>
            </xf:instance>
            <xf:instance id="logo">
                <logo/>
            </xf:instance>
            <xf:instance id="language">
                <language/>
            </xf:instance>
            <xf:instance id="units">
                <units/>
            </xf:instance>
            <!-- submission for loading resources -->
            <xf:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=lab" replace="instance" instance="resources-instance" xxf:readonly="true">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                        <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for retrieving units -->
            <xf:submission id="get-units" resource="{$lab-exist}/modules/get-units.xquery" method="get" instance="units" replace="instance">
                <xf:action ev:event="xforms-submit-done">
                    <xf:refresh/>
                </xf:action>
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                        <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission to update units -->
            <xf:submission id="save-unit" resource="{$lab-exist}/modules/save-unit.xquery" method="post" instance="edit-unit" ref="instance('edit-unit')" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal">A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                        <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-units"/>
                    <xf:message if="not(instance('edit-unit')//error)">
                        <xf:output ref="'Unit saved'"/>
                    </xf:message>
                </xf:action>
            </xf:submission>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xf:submission id="remove-unit" resource="{$lab-exist}/modules/remove-unit.xquery" method="post" instance="edit-unit" ref="instance('edit-unit')" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal">A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-units"/>
                    <xf:message if="not(instance('edit-unit')//error)">
                        <xf:output ref="'Unit removed'"/>
                    </xf:message>
                </xf:action>
            </xf:submission>
            <!-- submission for retrieving user group -->
            <xf:submission id="user-allowed" resource="{$lab-exist}/modules/check-user-allowed.xquery" method="get" instance="user" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxf:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <!-- initialization of form -->
            <xf:action ev:event="xforms-model-construct-done">
                <xf:send submission="get-resources-submission"/>
                <xf:setvalue ref="instance('language')" value="if (string-length(xxf:get-session-attribute('language'))&gt;0) then (xxf:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xf:send submission="get-units"/>
                <xf:send submission="user-allowed"/>
            </xf:action>
        </xf:model>
    </xhtml:head>
    <xhtml:body>
        <xhtml:table width="100%" class="detail zebra-table">
            <xhtml:tr class="not-selectable heading">
                <xhtml:td class="heading" colspan="6">
                    <xhtml:div class="heading">
                        <xf:output ref="$resources/units"/>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <xhtml:tr class="not-selectable">
                <xf:group ref=".[instance('user')/@admin='true']">
                    <xhtml:td width="5%" class="heading">
                        <xf:output ref="$resources/id"/>
                    </xhtml:td>
                </xf:group>
                <xhtml:td width="10%" class="heading">
                    <xf:output ref="$resources/units"/>
                </xhtml:td>
                <xhtml:td width="10%" class="heading">
                    <xhtml:img src="/img/flags/us.png" alt="" class="padinline"/>
                    <xf:output ref="$resources/name"/>
                </xhtml:td>
                <xhtml:td width="25%" class="heading">
                    <xhtml:img src="/img/flags/nl.png" alt="" class="padinline"/>
                    <xf:output ref="$resources/name"/>
                </xhtml:td>
            </xhtml:tr>
            <xf:group ref="instance('edit-unit')" id="unit">
                <xf:group ref="unit">
                    <xhtml:tr>
                        <xf:group ref=".[instance('user')/@admin='true']">
                            <xhtml:td>
                                <xf:output ref="@id"/>
                            </xhtml:td>
                        </xf:group>
                        <xhtml:td>
                            <xf:input ref="rm" id="input-rm"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:input ref="name"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:input ref="nlname"/>
                            <xf:trigger appearance="compact">
                                <xf:label>
                                    <xf:output ref="$resources/save"/>
                                </xf:label>
                                <xf:action ev:event="DOMActivate">
                                    <xf:send submission="save-unit"/>
                                </xf:action>
                            </xf:trigger>
                            <xf:group ref=".[instance('user')/@admin='true']">
                                <xf:trigger appearance="compact">
                                    <xf:label>
                                        <xf:output ref="$resources/delete"/>
                                    </xf:label>
                                    <xf:action ev:event="DOMActivate">
                                        <xf:send submission="remove-unit"/>
                                    </xf:action>
                                </xf:trigger>
                            </xf:group>
                        </xhtml:td>
                    </xhtml:tr>
                </xf:group>
                <xf:group ref="error">
                    <xhtml:tr>
                        <xhtml:td>
                            <xhtml:img src="/img/exclamation.gif" alt="Warning"/>
                            <xf:output ref="."/>
                        </xhtml:td>
                    </xhtml:tr>
                </xf:group>
            </xf:group>
            <xf:repeat nodeset="instance('units')/unit" id="unit-list">
                <xxf:variable name="thisId" select="@id"/>
                <xxf:variable name="thisRm" select="rm"/>
                <xxf:variable name="thisName" select="name"/>
                <xxf:variable name="thisNlname" select="nlname"/>
                <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                    <xf:group ref=".[instance('user')/@admin='true']">
                        <xhtml:td>
                            <xf:trigger appearance="minimal">
                                <xf:label>
                                    <xhtml:img src="/img/edit16.png" alt="edit"/>
                                </xf:label>
                                <xf:action ev:event="DOMActivate">
                                    <xf:action ev:event="DOMActivate">
                                        <xf:setvalue ref="instance('edit-unit')/unit/@id" value="$thisId"/>
                                        <xf:setvalue ref="instance('edit-unit')/unit/rm" value="$thisRm"/>
                                        <xf:setvalue ref="instance('edit-unit')/unit/name" value="$thisName"/>
                                        <xf:setvalue ref="instance('edit-unit')/unit/nlname" value="$thisNlname"/>
                                        <xf:setfocus control="input-rm"/>
                                    </xf:action>
                                </xf:action>
                            </xf:trigger>
                            <xf:output ref="@id"/>
                        </xhtml:td>
                    </xf:group>
                    <xhtml:td>
                        <xf:group ref=".[@status='active']">
                            <xhtml:img src="/img/node-sactive.png" alt="active" style="margin-left: -7px;"/>
                        </xf:group>
                        <xf:group ref=".[@status='retired']">
                            <xhtml:img src="/img/node-sretired.png" alt="retired" style="margin-left: -7px;"/>
                        </xf:group>
                        <xf:output ref="rm"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:output ref="name"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:output ref="nlname"/>
                    </xhtml:td>
                </xhtml:tr>
            </xf:repeat>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>