<?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xxf="http://orbeon.org/oxf/xml/xforms" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css"/>
        <xhtml:title>
            <xf:output ref="$resources/ordinals"/>
        </xhtml:title>
        <xf:model id="labordinals">
            <!-- Variable with path to art-exist for use by form -->
            <xxf:variable name="art-exist" select="xxf:property('art.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-exist" select="xxf:property('lab.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-external-exist" select="xxf:property('lab.external.exist.url')"/>
            <xf:instance id="user" xxf:exclude-result-prefixes="#all">
                <allow/>
            </xf:instance>
            <!-- resources for internationalization -->
            <xf:instance id="resources-instance">
                <dummy/>
            </xf:instance>
            <xf:instance id="logo">
                <logo/>
            </xf:instance>
            <xf:instance id="language">
                <language/>
            </xf:instance>
            <xf:instance id="ordinals">
                <ordinals/>
            </xf:instance>
            <!-- submission-results -->
            <xf:instance id="submission-results" xxf:exclude-result-prefixes="#all">
                <root/>
            </xf:instance>            
            <!-- submission for loading resources -->
            <xf:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=lab" replace="instance" instance="resources-instance" xxf:readonly="true">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for retrieving ordinals -->
            <xf:submission id="get-ordinals" resource="{$lab-exist}/modules/get-ordinals.xquery" method="get" instance="ordinals" replace="instance">
                <xf:action ev:event="xforms-submit-done">
                    <xf:refresh/>
                </xf:action>
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission to update ordinals -->
            <!--<xf:submission id="update-ordinals" resource="{$lab-exist}/modules/update-ordinal-lists.xquery" method="post" instance="submission-results" ref="instance('submission-results')" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal">A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-ordinals"/>
                    <xxf:hide dialog="confirm-update-dialog"/>
                    <xf:message if="not(instance('submission-results')/@status = 'OK')">
                        <xf:output ref="instance('submission-results')/text()"/>
                    </xf:message>
                    <xf:message if="instance('submission-results')/@status = 'OK'">
                        <xf:output ref="'Ordinals updated'"/>
                    </xf:message>
                </xf:action>
            </xf:submission>-->
            <!-- submission for retrieving user group -->
            <xf:submission id="user-allowed" resource="{$lab-exist}/modules/check-user-allowed.xquery" method="get" instance="user" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxf:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <!-- initialization of form -->
            <xf:action ev:event="xforms-model-construct-done">
                <xf:send submission="get-resources-submission"/>
                <xf:setvalue ref="instance('language')" value="if (string-length(xxf:get-session-attribute('language'))&gt;0) then (xxf:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xf:send submission="get-ordinals"/>
                <xf:send submission="user-allowed"/>
            </xf:action>
        </xf:model>
    </xhtml:head>
    <xhtml:body>
        <!--<xxf:dialog id="confirm-update-dialog" appearance="full" level="modal" close="false" draggable="true" visible="false">
            <xf:label>
                <xf:output ref="$resources/areyousure"/>
            </xf:label>
            <xf:trigger appearance="compact">
                <xf:label ref="$resources/yes"/>
                <xf:action ev:event="DOMActivate">
                    <xf:send submission="update-ordinals"/>
                </xf:action>
            </xf:trigger>
            <xf:trigger appearance="compact">
                <xf:label ref="$resources/no"/>
                <xf:action ev:event="DOMActivate">
                    <xxf:hide dialog="confirm-update-dialog"/>
                </xf:action>
            </xf:trigger>
        </xxf:dialog>-->
        <xhtml:table width="100%" class="detail zebra-table">
            <xhtml:tr class="not-selectable heading">
                <xhtml:td class="heading" colspan="6">
                    <xhtml:div class="heading">
                        <xf:output ref="$resources/ordinal"/>
                    </xhtml:div>
                    <!--<xf:group ref=".[instance('user')/@admin='true']">
                        <xf:trigger appearance="compact">
                            <xf:label>
                                <xf:output ref="$resources/update-ordinals"/>
                            </xf:label>
                            <xf:action ev:event="DOMActivate">
                                <xxf:show dialog="confirm-update-dialog"/>
                            </xf:action>
                        </xf:trigger>
                    </xf:group>-->
                </xhtml:td>
            </xhtml:tr>
            <xf:repeat nodeset="instance('ordinals')//conceptList" id="concept-list">
                <xhtml:tr>
                    <xhtml:td colspan="6" class="heading">
                        <xhtml:div class="heading">
                            <xf:output ref="../@displayName"/>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr class="not-selectable">
                    <xhtml:td width="10%" class="heading">
                        <xf:output ref="$resources/valueSet"/>
                    </xhtml:td>
                    <xhtml:td width="10%" class="heading">
                        <xf:output ref="$resources/code"/>
                    </xhtml:td>
                    <xhtml:td width="10%" class="heading">
                        <xf:output ref="$resources/codeSystem"/>
                    </xhtml:td>
                    <xhtml:td width="10%" class="heading">
                        <xf:output ref="$resources/codeSystemName"/>
                    </xhtml:td>
                    <xhtml:td width="25%" class="heading">
                        <xf:output ref="$resources/displayName"/>
                    </xhtml:td>
                    <xhtml:td width="25%" class="heading">
                        <xhtml:img src="/img/flags/nl.png" alt="" class="padinline"/>
                        <xf:output ref="$resources/designation"/>
                    </xhtml:td>
                </xhtml:tr>
                <xf:repeat nodeset="concept" id="concept">
                    <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                        <xhtml:td>
                            <xf:output ref="../../@displayName"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@code"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@codeSystem"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@codeSystemName"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@displayName"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="desc[@language='nl-NL']"/>
                        </xhtml:td>
                    </xhtml:tr>
                </xf:repeat>
            </xf:repeat>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>