<?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?><xhtml:html xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xxf="http://orbeon.org/oxf/xml/xforms" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css"> .fr-radio-horizontal { display: inline-block; padding-top: 5px; margin-bottom: 0; vertical-align: middle; } </xhtml:style>
        <xhtml:title>
            <xf:output ref="$resources/labpublication"/>
        </xhtml:title>
        <xf:model id="labpublications" xxf:external-events="keydown-pressed keyup-pressed">
            <!-- Variable with path to art-exist for use by form -->
            <xxf:variable name="art-exist" select="xxf:property('art.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-exist" select="xxf:property('lab.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-external-exist" select="xxf:property('lab.external.exist.url')"/>
            <!-- instance with logo -->
            <xf:instance id="logo">
                <logo href="https://loinc.org">LOINC-logo40.png</logo>
            </xf:instance>
            <!-- resources for internationalization -->
            <xf:instance id="resources-instance">
                <dummy/>
            </xf:instance>
            <!-- submission for loading resources -->
            <xf:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=lab" replace="instance" instance="resources-instance" xxf:readonly="true">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <xf:instance id="user" xxf:exclude-result-prefixes="#all">
                <allow/>
            </xf:instance>
            <!-- language -->
            <xf:instance id="language">
                <language/>
            </xf:instance>
            <!-- filename for removal -->
            <xf:instance id="filename">
                <filename/>
            </xf:instance>
            <xf:instance id="publication-instance" xxf:exclude-result-prefixes="#all">
                <publication effectiveDate="" user="">
                    <desc/>
                    <lab_concepts/>
                </publication>
            </xf:instance>
            <xf:instance id="published-instance" xxf:exclude-result-prefixes="#all">
                <result/>
            </xf:instance>
            <xf:instance id="diffs" xxf:exclude-result-prefixes="#all">
                <result/>
            </xf:instance>
            <xf:bind nodeset="instance('published-instance')/publication/@selected" type="xs:boolean"/>
            <xf:instance id="empty-publication-instance" xxf:exclude-result-prefixes="#all">
                <publication effectiveDate="" user="">
                    <desc/>
                    <lab_concepts/>
                </publication>
            </xf:instance>
            <xf:instance id="lab-concept-counts">
                <result current="0" count="0"/>
            </xf:instance>
            <!-- instance for concept search string -->
            <xf:instance id="search">
                <root offset="1" max="50" language="">
                    <search/>
                    <loinc>false</loinc>
                    <target>concept</target>
                </root>
            </xf:instance>
            <!-- instance for version info -->
            <xf:instance id="check-errors">
                <lab_concepts> </lab_concepts>
            </xf:instance>
            <!-- instance for version info -->
            <xf:instance id="version">
                <loinc_db/>
            </xf:instance>
            <!-- submission for searching lab concepts -->
            <xf:submission id="get-lab-concept-counts" resource="{$lab-exist}/modules/get-lab-concept-counts.xquery?language={instance('language')}" method="get" instance="lab-concept-counts" replace="instance">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for retrieving publication collection -->
            <xf:submission id="get-publications" resource="{$lab-exist}/modules/get-publications.xquery" method="get" instance="published-instance" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: <xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for retrieving user group -->
            <xf:submission id="get-diffs" resource="{$lab-exist}/modules/get-diffs.xquery" method="get" instance="diffs" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: <xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for retrieving user group -->
            <xf:submission id="check-active-concepts" resource="{$lab-exist}/modules/check-active-concepts.xquery" method="get" instance="check-errors" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission to make new publication -->
            <xf:submission id="user-allowed" resource="{$lab-exist}/modules/check-user-allowed.xquery" method="get" instance="user" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission to make new publication -->
            <xf:submission id="update-publication" resource="{$lab-exist}/modules/update-publication.xquery" method="post" ref="instance('publication-instance')" replace="none" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: <xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:delete nodeset="instance('publication-instance')/(@*|*)"/>
                    <xf:insert context="instance('publication-instance')" origin="instance('empty-publication-instance')/(@*|*)"/>
                    <xf:send submission="get-publications"/>
                </xf:action>
            </xf:submission>
            <!-- initialization of form -->
            <xf:submission id="remove-publication" resource="{$lab-exist}/modules/remove-publication.xquery?fileName={instance('filename')}" method="post" ref="instance('filename')" replace="none" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: <xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-publications"/>
                    <xf:send submission="get-diffs"/>
                    <xxf:hide dialog="confirm-delete-dialog"/>
                </xf:action>
            </xf:submission>
            <!-- submission to make diff -->
            <xf:submission id="make-diff" resource="{$lab-exist}/modules/diff-publications.xquery?pub1={instance('published-instance')//publication[@selected='true'][2]/@effectiveDate}&amp;pub2={instance('published-instance')//publication[@selected='true'][1]/@effectiveDate}" method="post" ref="instance('publication-instance')" replace="none" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: <xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-diffs"/>
                </xf:action>
            </xf:submission>
            <!-- initialization of form -->
            <xf:action ev:event="xforms-model-construct-done">
                <xf:send submission="get-resources-submission"/>
                <xf:setvalue ref="instance('language')" value="if (string-length(xxf:get-session-attribute('language'))&gt;0) then (xxf:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xf:insert context="." origin="xxf:set-session-attribute('language', instance('language'))"/>
                <xf:send submission="user-allowed"/>
                <xf:send submission="get-publications"/>
                <xf:send submission="get-diffs"/>
            </xf:action>
            <xxf:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xf:model>
    </xhtml:head>
    <xhtml:body>
        <xxf:dialog id="confirm-delete-dialog" appearance="full" level="modal" close="false" draggable="true" visible="false">
            <xf:label>
                <xf:output ref="$resources/areyousure"/>
            </xf:label>
            <xf:trigger appearance="compact">
                <xf:label ref="$resources/delete"/>
                <xf:action ev:event="DOMActivate">
                    <xf:send submission="remove-publication"/>
                </xf:action>
            </xf:trigger>
            <xf:trigger appearance="compact">
                <xf:label ref="$resources/close"/>
                <xf:action ev:event="DOMActivate">
                    <xxf:hide dialog="confirm-delete-dialog"/>
                </xf:action>
            </xf:trigger>
        </xxf:dialog>
        <xhtml:table width="100%" class="detail zebra-table">
            <xhtml:tr class="not-selectable heading">
                <xhtml:td class="heading" colspan="8">
                    <xhtml:div class="heading">
                        <xf:output ref="$resources/labpublication"/>
                    </xhtml:div>
                    <!-- div with buttons -->
                    <xf:group ref=".[instance('user')/@admin='true'][instance('publication-instance')[string-length(@effectiveDate) = 0]]">
                        <xhtml:div class="buttons">
                            <xf:trigger appearance="compact">
                                <xf:label>
                                    <xf:output ref="$resources/make-publication"/>
                                </xf:label>
                                <xf:action ev:event="DOMActivate">
                                    <xf:setvalue ref="instance('publication-instance')/@effectiveDate" value="xf:now()"/>
                                </xf:action>
                            </xf:trigger>
                            <xf:group ref=".[count(instance('published-instance')//publication[@selected='true']) = 2]">
                                <xf:trigger appearance="compact">
                                    <xf:label>
                                        <xf:output ref="$resources/make-diff"/>
                                    </xf:label>
                                    <xf:action ev:event="DOMActivate">
                                        <xf:send submission="make-diff"/>
                                    </xf:action>
                                </xf:trigger>
                            </xf:group>
                        </xhtml:div>
                    </xf:group>
                    <xf:group ref="instance('version')" style="float:right">
                        <xf:trigger appearance="minimal">
                            <xf:label ref="concat($resources/loinc, ' ', @version,' ',@effectiveDate, ' license')"/>
                            <xf:action ev:event="DOMActivate">
                                <xf:message>This material contains content from LOINC (http://loinc.org). LOINC is copyright © 1995-2020, Regenstrief Institute, Inc. and the Logical Observation Identifiers Names and Codes (LOINC) Committee and is available at no cost under the license at http://loinc.org/license. LOINC® is a registered United States trademark of Regenstrief Institute, Inc. </xf:message>
                            </xf:action>
                        </xf:trigger>
                    </xf:group>
                </xhtml:td>
            </xhtml:tr>

            <!-- Group for making new publication -->
            <xf:group ref="instance('publication-instance')[string-length(@effectiveDate) &gt;0]">
                <xhtml:tr>
                    <xhtml:td colspan="8">
                        <xhtml:table class="detail spaced" width="100%" id="create-version-dialog">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading" colspan="2">
                                    <xhtml:div class="heading">
                                        <xf:output ref="$resources/new-publication-req"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    </xhtml:td>
                                <xhtml:td>
                                    <xf:output ref="instance('publication-instance')/@effectiveDate"/>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xf:output ref="$resources/concept-counts"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xhtml:table width="100%" class="detail zebra-table">
                                        <xhtml:tr>
                                            <xhtml:td class="heading">Status</xhtml:td>
                                            <xhtml:td class="heading">Count of Concept</xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td>Initial</xhtml:td>
                                            <xhtml:td>
                                                <xf:output ref="instance('lab-concept-counts')/initial"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td>Draft</xhtml:td>
                                            <xhtml:td>
                                                <xf:output ref="instance('lab-concept-counts')/draft"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td>Active</xhtml:td>
                                            <xhtml:td>
                                                <xf:output ref="instance('lab-concept-counts')/active"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td>Update</xhtml:td>
                                            <xhtml:td>
                                                <xf:output ref="instance('lab-concept-counts')/update"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td>Retired</xhtml:td>
                                            <xhtml:td>
                                                <xf:output ref="instance('lab-concept-counts')/retired"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xhtml:table>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xf:output ref="$resources/description"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xf:group ref=".[not(instance('language')/string()=instance('project-instance')/@defaultLanguage/string())]">
                                        <xf:output ref="$resources/languages-different"/>
                                        <xhtml:br/>
                                    </xf:group>
                                    <xf:textarea mediatype="text/plain" ref="desc" incremental="true" id="publicationText"/>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td colspan="2" class="item-label">
                                    <xhtml:div class="buttons" style="margin-top:0.5em; margin-bottom:0.5em;">
                                        <xf:trigger appearance="compact">
                                            <xf:label>
                                                <xf:output ref="$resources/cancel"/>
                                            </xf:label>
                                            <xf:action ev:event="DOMActivate">
                                                <xf:delete nodeset="instance('publication-instance')/(@*|*)"/>
                                                <xf:insert context="instance('publication-instance')" origin="instance('empty-publication-instance')/(@*|*)"/>
                                            </xf:action>
                                        </xf:trigger>
                                        <xf:trigger appearance="compact">
                                            <xf:label>
                                                <xf:output ref="$resources/check-active-concepts"/>
                                            </xf:label>
                                            <xf:action ev:event="DOMActivate">
                                                <xf:send submission="check-active-concepts"/>
                                                <xf:send submission="get-lab-concept-counts"/>
                                            </xf:action>
                                        </xf:trigger>
                                        <xf:trigger appearance="compact">
                                            <xf:label>
                                                <xf:output ref="$resources/add"/>
                                            </xf:label>
                                            <xf:action ev:event="DOMActivate">
                                                <xf:send submission="update-publication"/>
                                            </xf:action>
                                        </xf:trigger>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:td>
                </xhtml:tr>
            </xf:group>
            <xf:group ref=".[instance('check-errors')//result]">
                <xhtml:tr>
                    <xhtml:td colspan="8">
                        <xhtml:table class="detail spaced" width="100%" id="create-version-dialog">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xf:output ref="$resources/errors"/>
                                        <xf:group ref=".[not(instance('check-errors')//error)]">
                                            <xf:output ref="'No errors found'"/>
                                        </xf:group>
                                        <xf:group ref=".[instance('check-errors')//error]">
                                            <xf:output ref="concat(count(instance('check-errors')//error), ' errors found in active concepts. Status is changed to update.')"/>
                                        </xf:group>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xf:repeat nodeset="instance('check-errors')//error">
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xf:output ref="."/>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xf:repeat>
                        </xhtml:table>
                    </xhtml:td>
                </xhtml:tr>
            </xf:group>
            <xf:group ref="instance('published-instance')">
                <xhtml:tr class="not-selectable">
                    <xhtml:td width="8%" class="heading">
                        <xf:output ref="$resources/diff"/>
                    </xhtml:td>
                    <xhtml:td width="8%" class="heading">
                        <xf:output ref="$resources/date"/>
                    </xhtml:td>
                    <xhtml:td width="10%" class="heading">
                        <xf:output ref="$resources/by"/>
                    </xhtml:td>
                    <xhtml:td width="10%" class="heading">
                        <xf:output ref="$resources/of"/>
                    </xhtml:td>
                    <xhtml:td width="50%" class="heading">
                        <xf:output ref="$resources/description"/>
                    </xhtml:td>
                    <xhtml:td class="heading">
                        <xf:output ref="'HTML'"/>
                    </xhtml:td>
                    <xhtml:td class="heading">
                        <xf:output ref="'XML'"/>
                    </xhtml:td>
                    <xhtml:td class="heading">
                        <xf:output ref="$resources/remove"/>
                    </xhtml:td>
                </xhtml:tr>
                <xf:repeat nodeset="publication" id="published-list">
                    <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                        <xhtml:td>
                            <xf:group ref=".[instance('user')/@admin='true']">
                                <xf:input ref="@selected"/>
                            </xf:group>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@effectiveDate"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@user"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@type"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output mediatype="text/plain" ref="desc"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:trigger appearance="compact">
                                <xf:label>HTML</xf:label>
                                <xf:action ev:event="DOMActivate">
                                    <xf:load resource="{$lab-external-exist}/publications/{concat('labconcepts-',@effectiveDate,'.html')}" show="new"/>
                                </xf:action>
                            </xf:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:trigger appearance="compact">
                                <xf:label>
                                    <xhtml:img src="/img/download.png" alt=""/>
                                </xf:label>
                                <xf:hint ref="$resources/download-message"/>
                                <xf:action ev:event="DOMActivate">
                                    <xf:load resource="{$lab-external-exist}/modules/download-publication.xquery?fileName={concat('labconcepts-',@effectiveDate,'.xml')}&amp;download=true" show="new"/>
                                </xf:action>
                            </xf:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:group ref=".[instance('user')/@admin='true'][not(@publication='true')]">
                                <xxf:variable name="filename" select="concat('labconcepts-',@effectiveDate)"/>
                                <xf:trigger appearance="compact">
                                    <xf:label>
                                        <xhtml:img src="/img/trash.png" alt=""/>
                                    </xf:label>
                                    <xf:action ev:event="DOMActivate">
                                        <xf:setvalue ref="instance('filename')" value="$filename"/>
                                        <xxf:show dialog="confirm-delete-dialog"/>
                                    </xf:action>
                                </xf:trigger>
                            </xf:group>
                        </xhtml:td>
                    </xhtml:tr>
                </xf:repeat>
            </xf:group>
        </xhtml:table>
        <!-- Diffs -->
        <xhtml:br/>
        <xhtml:table width="100%" class="detail zebra-table">
            <xhtml:tr class="not-selectable heading">
                <xhtml:td class="heading" colspan="7">
                    <xhtml:div class="heading">
                        <xf:output ref="$resources/diff"/>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <xhtml:tr class="not-selectable">
                <xhtml:td width="8%" class="heading">
                    <xf:output ref="concat($resources/publication, ' ', $resources/after)"/>
                </xhtml:td>
                <xhtml:td width="8%" class="heading">
                    <xf:output ref="concat($resources/publication, ' ', $resources/before)"/>
                </xhtml:td>
                <xhtml:td class="heading">
                    <xf:output ref="concat($resources/description, ' ', $resources/after)"/>
                </xhtml:td>
                <xhtml:td class="heading">
                    <xf:output ref="concat($resources/description, ' ', $resources/before)"/>
                </xhtml:td>
                <xhtml:td class="heading">
                    <xf:output ref="'HTML'"/>
                </xhtml:td>
                <xhtml:td class="heading">
                    <xf:output ref="'XML'"/>
                </xhtml:td>
                <xhtml:td class="heading">
                    <xf:output ref="$resources/remove"/>
                </xhtml:td>
            </xhtml:tr>
            <xf:repeat nodeset="instance('diffs')/diff" id="diff-list">
                <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                    <xhtml:td>
                        <xf:output ref="publication2/@effectiveDate"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:output ref="publication1/@effectiveDate"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:output ref="publication2/desc"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:output ref="publication1/desc"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:trigger appearance="compact">
                            <xf:label>HTML</xf:label>
                            <xf:action ev:event="DOMActivate">
                                <xf:load resource="{$lab-external-exist}/publications/{concat('diff-',publication1/@effectiveDate,'-',publication2/@effectiveDate,'.html')}" show="new"/>
                            </xf:action>
                        </xf:trigger>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:trigger appearance="compact">
                            <xf:label>
                                <xhtml:img src="/img/download.png" alt=""/>
                            </xf:label>
                            <xf:hint ref="$resources/download-message"/>
                            <xf:action ev:event="DOMActivate">
                                <xf:load resource="{$lab-external-exist}/modules/download-publication.xquery?fileName={concat('diff-',publication1/@effectiveDate,'-',publication2/@effectiveDate,'.xml')}&amp;download=true" show="new"/>
                            </xf:action>
                        </xf:trigger>
                    </xhtml:td>
                    <xhtml:td>
                        <xf:group ref=".[instance('user')/@admin='true'][not(@publication='true')]">
                            <xxf:variable name="pub1Date" select="publication1/@effectiveDate/string()"/>
                            <xxf:variable name="pub2Date" select="publication2/@effectiveDate/string()"/>
                            <xf:trigger appearance="compact">
                                <xf:label>
                                    <xhtml:img src="/img/trash.png" alt=""/>
                                </xf:label>
                                <xf:action ev:event="DOMActivate">
                                    <xf:setvalue ref="instance('filename')" value="concat('diff-', $pub1Date,'-', $pub2Date)"/>
                                    <xxf:show dialog="confirm-delete-dialog"/>
                                </xf:action>
                            </xf:trigger>
                        </xf:group>
                    </xhtml:td>
                </xhtml:tr>
            </xf:repeat>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>