<?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xxf="http://orbeon.org/oxf/xml/xforms" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css">
			.fr-radio-horizontal { 
			display: inline-block;
			padding-top: 5px;
			margin-bottom: 0;
			vertical-align: middle;
			}
		</xhtml:style>
        <xhtml:title>
            <xf:output ref="$resources/loinc"/>
            <xf:output ref="$resources/snomed"/>
            <xf:output ref="$resources/mapping"/>
        </xhtml:title>
        <xf:model id="labpublications" xxf:external-events="keydown-pressed keyup-pressed">
            <!-- Variable with path to art-exist for use by form -->
            <xxf:variable name="art-exist" select="xxf:property('art.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-exist" select="xxf:property('lab.exist.url')"/>
            <!-- Variable with path to lab-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxf:variable name="lab-external-exist" select="xxf:property('lab.external.exist.url')"/>
            <xxf:variable name="ihtsdoRoot" select="'https://terminologie.nictiz.nl/terminology/snomed/viewConcept/'"/>
            <xf:instance id="edit-map" xxf:exclude-result-prefixes="#all">
                <root>
                    <material code="" displayName="" system=""/>
                </root>
            </xf:instance>
            <xf:instance id="mapping" xxf:exclude-result-prefixes="#all">
                <map/>
            </xf:instance>
            <xf:instance id="user" xxf:exclude-result-prefixes="#all">
                <allow/>
            </xf:instance>
            <!-- resources for internationalization -->
            <xf:instance id="resources-instance">
                <dummy/>
            </xf:instance>
			<xf:instance id="logo">
                <logo/>
            </xf:instance>
            <xf:instance id="language">
                <language/>
            </xf:instance>
            <!-- submission for loading resources -->
            <xf:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=lab" replace="instance" instance="resources-instance" xxf:readonly="true">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
					<xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for retrieving user group -->
            <xf:submission id="user-allowed" resource="{$lab-exist}/modules/check-user-allowed.xquery" method="get" instance="user" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status:
                    <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission for searching  -->
			<xf:submission id="get-mapping" resource="{$lab-exist}/modules/get-loinc-snomed-mapping.xquery" method="get" instance="mapping" replace="instance">
                <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            </xf:submission>
            <!-- submission to update units -->
			<xf:submission id="save-map" resource="{$lab-exist}/modules/save-map.xquery" method="post" instance="edit-map" ref="instance('edit-map')" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal">A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
                <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-mapping"/>
                    <xf:message if="not(instance('edit-map')//error)">
                        <xf:output ref="'Map saved'"/>
                    </xf:message>
                </xf:action>
            </xf:submission>
            <xf:submission id="remove-map" resource="{$lab-exist}/modules/remove-map.xquery" method="post" instance="edit-map" ref="instance('edit-map')" replace="instance" xxf:username="{xxf:get-session-attribute('username')}" xxf:password="{xxf:get-session-attribute('password')}">
                <xf:message ev:event="xforms-submit-error" level="modal">A submission error occurred:<xf:output value="event('error-type')"/>; Status: <xf:output value="event('response-status-code')"/>; URI: <xf:output value="event('resource-uri')"/>; Headers: <xf:output value="event('response-headers')"/>; Body: <xf:output value="event('response-body')"/>
                </xf:message>
            <xf:action ev:event="xforms-submit-done">
                    <xf:send submission="get-mapping"/>
                    <xf:message if="not(instance('edit-map')//error)">
                        <xf:output ref="'Map removed'"/>
                    </xf:message>
                </xf:action>
            </xf:submission>
			<!-- initialization of form -->
            <xf:action ev:event="xforms-model-construct-done">
                <xf:send submission="get-resources-submission"/>
                <xf:setvalue ref="instance('language')" value="if (string-length(xxf:get-session-attribute('language'))&gt;0) then (xxf:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xf:send submission="user-allowed"/>
                <xf:send submission="get-mapping"/>
            </xf:action>
            <xxf:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xf:model>
    </xhtml:head>
    <xhtml:body>
        <xhtml:table width="100%" class="detail zebra-table">
            <xhtml:tr class="not-selectable heading">
                <xhtml:td class="heading" colspan="6">
                    <xhtml:div class="heading">
                        <xf:output ref="$resources/loinc"/>
                        <xf:output ref="$resources/snomed"/>
                        <xf:output ref="$resources/mapping"/>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <xf:group>
                <xhtml:tr class="not-selectable">
                    <xhtml:td width="5%" class="heading">
                        <xf:output value=""/>
                    </xhtml:td>
                    <xhtml:td width="20%" class="heading">
                        <xf:output ref="$resources/loinc_col_system"/>
                    </xhtml:td>
                    <xhtml:td width="20%" class="heading">
                        <xf:output ref="$resources/snomed-id"/>
                    </xhtml:td>
                    <xhtml:td class="heading">
                        <xf:output ref="$resources/snomed-name"/>
                    </xhtml:td>
                    </xhtml:tr>
                <xf:group ref="instance('edit-map')" id="map">
                    <xf:group ref="material">
                        <xhtml:tr>
                            <xf:group ref=".[instance('user')/@admin='true']">
                                <xhtml:td/> 
                                <xhtml:td>
                                    <xf:input ref="@system" id="input-system"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xf:input ref="@code"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xf:input ref="@displayName"/>
                                    <xf:trigger appearance="compact">
                                        <xf:label>
                                            <xf:output ref="$resources/save"/>
                                        </xf:label>
                                        <xf:action ev:event="DOMActivate">
                                            <xf:send submission="save-map"/>
                                        </xf:action>
                                    </xf:trigger>
                                    <xf:trigger appearance="compact">
                                        <xf:label>
                                            <xf:output ref="$resources/delete"/>
                                        </xf:label>
                                        <xf:action ev:event="DOMActivate">
                                            <xf:send submission="remove-map"/>
                                        </xf:action>
                                    </xf:trigger>
                                </xhtml:td>
                            </xf:group>
                        </xhtml:tr>
                        </xf:group>
                <xf:group ref="error">
                        <xhtml:tr>
                            <xhtml:td>
                                <xhtml:img src="/img/exclamation.gif" alt="Warning"/>
                                <xf:output ref="."/>
                            </xhtml:td>
                        </xhtml:tr>
                    </xf:group>
                </xf:group>
            <xf:repeat nodeset="instance('mapping')/material" id="mapping-list">
                    <xxf:variable name="thisCode" select="@code"/>
                    <xxf:variable name="thisDisplayName" select="@displayName"/>
                    <xxf:variable name="thisSystem" select="@system"/>
                    <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                        <xf:group ref=".[instance('user')/@admin='true']">
                            <xhtml:td>
                                <xf:trigger appearance="minimal">
                                    <xf:label>
                                        <xhtml:img src="/img/edit16.png" alt="edit"/>
                                    </xf:label>
                                    <xf:action ev:event="DOMActivate">
                                        <xf:action ev:event="DOMActivate">
                                            <xf:setvalue ref="instance('edit-map')/material/@code" value="$thisCode"/>
                                            <xf:setvalue ref="instance('edit-map')/material/@displayName" value="$thisDisplayName"/>
                                            <xf:setvalue ref="instance('edit-map')/material/@system" value="$thisSystem"/>
                                            <xf:setfocus control="input-system"/>
                                        </xf:action>
                                    </xf:action>
                                </xf:trigger>
                            </xhtml:td>
                        </xf:group>
                        <xf:group ref=".[not(instance('user')/@admin='true')]">
                            <xhtml:td/>
                        </xf:group>
                        <xhtml:td>
                            <xf:output ref="@system"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@code"/>
                            <xhtml:a href="{concat($ihtsdoRoot, @code)}" target="_blank">
                                <xhtml:img src="/img/externallink16.png" alt="ITHSDO"/>
                            </xhtml:a>
                        </xhtml:td>
                        <xhtml:td>
                            <xf:output ref="@displayName"/>
                        </xhtml:td>
                    </xhtml:tr>
                </xf:repeat>
            </xf:group>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>