
<!--ADA XForms generator, 2017-03-25T13:40:29.924+01:00-->
<?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:ada="http://www.art-decor.org/ada" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <xhtml:head>
      <xhtml:meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <xhtml:link rel="stylesheet" type="text/css" href="/forms/assets/ada.css" />
      <xhtml:title>Measurement IndexSave</xhtml:title>
      <xf:model id="adaxml">
         <xf:instance id="data">
            <data></data>
         </xf:instance>
         <xf:action ev:observer="data" ev:event="xforms-insert xforms-delete xxforms-value-changed">
            <xf:setvalue ref="instance('data-safe')">false</xf:setvalue>
         </xf:action>
         <xf:instance id="data-safe">
            <data>true</data>
         </xf:instance>
         <xf:bind nodeset="instance('data-safe')" readonly=".='true'"></xf:bind>
         <xxforms:variable name="ada-exist" select="xxforms:property('ada.exist.url')"></xxforms:variable>
         <xxforms:variable name="ada-exist-external" select="xxforms:property('ada.external.exist.url')"></xxforms:variable>
         <xxforms:variable name="decor-external-exist" select="xxforms:property('decor.external.exist.url')"></xxforms:variable>
         <xxforms:variable name="update" select="contains(instance('data')/@rights, 'update')"></xxforms:variable>
         <xxforms:variable name="delete" select="contains(instance('data')/@rights, 'delete')"></xxforms:variable>
         <xf:submission id="get-data" serialization="none" method="get" replace="instance" instance="data" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}" resource="{$ada-exist}/projects/demoapp?summary=true">
            <xf:header>
               <xf:name>Accept</xf:name>
               <xf:value>application/xml</xf:value>
            </xf:header>
            <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: 
               <xf:output value="event('error-type')"></xf:output>; Status: 
               <xf:output value="event('response-status-code')"></xf:output>; URI: 
               <xf:output value="event('resource-uri')"></xf:output>; Headers: 
               <xf:output value="event('response-headers')"></xf:output>; Body: 
               <xf:output value="event('response-body')"></xf:output>
            </xf:message>
            <xf:setvalue ev:event="xforms-submit-done" ref="instance('data-safe')">true</xf:setvalue>
         </xf:submission>
         <xf:instance id="selected-data">
            <data>measurement_form.xhtml</data>
         </xf:instance>
         <xf:instance id="data-choices">
            <data>
               <form name="measurement_form.xhtml" desc="Measurement Form" transactionId="2.16.840.1.113883.3.1937.99.62.3.4.2" transactionEffectiveDate="2012-09-05T16:59:35"></form>
            </data>
         </xf:instance>
         <xf:action ev:event="xforms-model-construct-done">
            <xf:send submission="get-data"></xf:send>
         </xf:action>
      </xf:model>
   </xhtml:head>
   <xhtml:body style="background: none" class="ada">
      <xf:group ref=".[string-length(xxforms:get-session-attribute('username'))=0]">
         <xhtml:div>You are not logged in!</xhtml:div>
      </xf:group>
      <xhtml:h1>Measurement Index</xhtml:h1>
      <xhtml:div style="font-size: smaller;">This application is for demonstration purposes only. Never use real patient data.</xhtml:div>
      <xhtml:table id="toprow" width="100%" style="background: transparent; margin-bottom: 20px; border: 0px; border-bottom: 2px solid black; border-top: 2px solid black;">
         <xhtml:tr>
            <xhtml:td width="33%" style="border-left: 0px; border-right: 0px;">
               <xf:trigger appearance="compact">
                  <xf:label>New</xf:label>
                  <xf:action ev:event="DOMActivate">
                     <xf:load resource="{instance('selected-data')}?id=new&amp;transactionId={instance('data-choices')/form[@name=instance('selected-data')]/@transactionId}&amp;transactionEffectiveDate={instance('data-choices')/form[@name=instance('selected-data')]/@transactionEffectiveDate}"></xf:load>
                  </xf:action>
               </xf:trigger>
            </xhtml:td>
            <xhtml:td width="33%" style="border-left: 0px; border-right: 0px; text-align: center;">
               <xf:trigger appearance="minimal">
                  <xf:label>Documentation</xf:label>
                  <xf:action ev:event="DOMActivate">
                     <xf:load resource="http://art-decor.org/decor/services/RetrieveTransaction?id={instance('data-choices')/form[@name=instance('selected-data')]/@transactionId}&amp;language=en-US&amp;version=&amp;format=html"></xf:load>
                  </xf:action>
               </xf:trigger>
            </xhtml:td>
            <xhtml:td style="border-left: 0px; border-right: 0px;">
               <xhtml:div style="float:right;">
                  <xf:output ref="concat('User: ',xxforms:get-session-attribute('username'),' ')"></xf:output>
                  <xf:group ref=".[string-length(xxforms:get-session-attribute('username'))!=0]">
                     <xf:trigger appearance="minimal">
                        <xf:label>Log out</xf:label>
                        <xf:action ev:event="DOMActivate">
                           <xf:load resource="../../../../session/logout"></xf:load>
                        </xf:action>
                     </xf:trigger>
                  </xf:group>
                  <xf:group ref=".[string-length(xxforms:get-session-attribute('username'))=0]">
                     <xf:trigger appearance="minimal">
                        <xf:label>Log in</xf:label>
                        <xf:action ev:event="DOMActivate">
                           <xf:load resource="../../../../login?returnToUrl={encode-for-uri('ada-data/projects/demoapp/views/measurement_index.xhtml')}"></xf:load>
                        </xf:action>
                     </xf:trigger>
                  </xf:group>
               </xhtml:div>
            </xhtml:td>
         </xhtml:tr>
      </xhtml:table>
      <xf:group id="main-ui" appearance="full">
         <xhtml:div class="adaForm">
            <xhtml:table class="spaced">
               <xhtml:thead>
                  <xhtml:tr>
                     <xhtml:td class="item-label">Name</xhtml:td>
                     <xhtml:td class="item-label">BSN</xhtml:td>
                     <xhtml:td class="item-label">Title</xhtml:td>
                     <xhtml:td class="item-label">Owner</xhtml:td>
                     <xhtml:td class="item-label"></xhtml:td>
                  </xhtml:tr>
               </xhtml:thead>
               <xf:repeat nodeset="//resource" appearance="full" id="main_index">
                  <xhtml:tr>
                     <xhtml:td>
                        <xf:output ref=".//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.4']/@value/string()"></xf:output>
                     </xhtml:td>
                     <xhtml:td>
                        <xf:output ref=".//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.7']/@value/string()"></xf:output>
                     </xhtml:td>
                     <xhtml:td>
                        <xf:output ref="./*/@title/string()"></xf:output>
                     </xhtml:td>
                     <xhtml:td>
                        <xf:output ref="./*/@owner/string()"></xf:output>
                     </xhtml:td>
                     <xhtml:td style="width: 25%"><xhtml:span style="margin-right: 10px;">
                           <xf:trigger appearance="compact">
                              <xf:label>Edit</xf:label>
                              <xf:action ev:event="DOMActivate">
                                 <xf:load resource="{if (context()/*/@formName) then context()/*/@formName else ('measurement_form')}.xhtml?id={context()/*/@id/string()}&amp;transactionId={context()/*/@transactionRef}&amp;transactionEffectiveDate={context()/*/@transactionEffectiveDate}"></xf:load>
                              </xf:action>
                           </xf:trigger></xhtml:span><xhtml:span style="margin-right: 10px;">
                           <xf:trigger appearance="compact">
                              <xf:label>Overview</xf:label>
                              <xf:action ev:event="DOMActivate">
                                 <xf:load resource="{$ada-exist-external}/modules/get-html.xquery?id={context()/*/@id/string()}"></xf:load>
                              </xf:action>
                           </xf:trigger></xhtml:span><xhtml:span style="margin-right: 10px;">
                           <xf:trigger appearance="compact">
                              <xf:label>Duplicate</xf:label>
                              <xf:action ev:event="DOMActivate">
                                 <xf:load resource="{if (context()/*/@formName) then context()/*/@formName else ('measurement_form')}.xhtml?id=new&amp;from={./*/@id/string()}&amp;transactionId={context()/*/@transactionRef}&amp;transactionEffectiveDate={context()/*/@transactionEffectiveDate}"></xf:load>
                              </xf:action>
                           </xf:trigger></xhtml:span></xhtml:td>
                  </xhtml:tr>
               </xf:repeat>
            </xhtml:table>
         </xhtml:div>
      </xf:group>
      <!--<fr:xforms-inspector/>-->
   </xhtml:body>
</xhtml:html>