
<!--ADA XForms generator, 2017-03-25T13:40:29.924+01:00-->
<?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:ada="http://www.art-decor.org/ada" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <xhtml:head>
      <xhtml:meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <xhtml:link rel="stylesheet" type="text/css" href="/forms/assets/ada.css" />
      <xhtml:title>Measurement FormSave</xhtml:title>
      <xf:model id="adaxml" schema="../schemas/measurement_message.xsd">
         <xf:instance id="data">
            <data></data>
         </xf:instance>
         <xf:action ev:observer="data" ev:event="xforms-insert xforms-delete xxforms-value-changed">
            <xf:setvalue ref="instance('data-safe')">false</xf:setvalue>
         </xf:action>
         <xf:instance id="data-safe">
            <data>true</data>
         </xf:instance>
         <xf:bind nodeset="instance('data-safe')" readonly=".='true'"></xf:bind>
         <xxforms:variable name="ada-exist" select="xxforms:property('ada.exist.url')"></xxforms:variable>
         <xxforms:variable name="ada-exist-external" select="xxforms:property('ada.external.exist.url')"></xxforms:variable>
         <xxforms:variable name="decor-external-exist" select="xxforms:property('decor.external.exist.url')"></xxforms:variable>
         <xxforms:variable name="update" select="contains(instance('data')/@rights, 'update')"></xxforms:variable>
         <xxforms:variable name="delete" select="contains(instance('data')/@rights, 'delete')"></xxforms:variable>
         <xf:instance id="new" src="../new/measurement_form.xml"></xf:instance>
         <xf:submission id="get-data" serialization="none" method="get" replace="instance" instance="data" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}" resource="{$ada-exist}/projects/demoapp/{xxforms:get-request-parameter('id')}?{for $from in xxforms:get-request-parameter('from')[string-length()&gt;0] return concat('from=',$from,'&amp;')}&amp;transactionId={xxforms:get-request-parameter('transactionId')}&amp;transactionEffectiveDate={xxforms:get-request-parameter('transactionEffectiveDate')}">
            <xf:header>
               <xf:name>Accept</xf:name>
               <xf:value>application/xml</xf:value>
            </xf:header>
            <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: 
               <xf:output value="event('error-type')"></xf:output>; Status: 
               <xf:output value="event('response-status-code')"></xf:output>; URI: 
               <xf:output value="event('resource-uri')"></xf:output>; Headers: 
               <xf:output value="event('response-headers')"></xf:output>; Body: 
               <xf:output value="event('response-body')"></xf:output>
            </xf:message>
            <xf:setvalue ev:event="xforms-submit-done" ref="instance('data-safe')">true</xf:setvalue>
         </xf:submission>
         <xf:submission id="save-data" ref="instance('data')" method="post" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}" resource="{$ada-exist}/projects/demoapp">
            <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: 
               <xf:output value="event('error-type')"></xf:output>; Status: 
               <xf:output value="event('response-status-code')"></xf:output>; URI: 
               <xf:output value="event('resource-uri')"></xf:output>; Headers: 
               <xf:output value="event('response-headers')"></xf:output>; Body: 
               <xf:output value="event('response-body')"></xf:output>
            </xf:message>
            <xf:setvalue ev:event="xforms-submit-done" ref="instance('data-safe')">true</xf:setvalue>
         </xf:submission>
         <xf:submission id="save-data-and-close" ref="instance('data')" method="post" replace="none" validate="true" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}" resource="{$ada-exist}/projects/demoapp">
            <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: 
               <xf:output value="event('error-type')"></xf:output>; Status: 
               <xf:output value="event('response-status-code')"></xf:output>; URI: 
               <xf:output value="event('resource-uri')"></xf:output>; Headers: 
               <xf:output value="event('response-headers')"></xf:output>; Body: 
               <xf:output value="event('response-body')"></xf:output>
            </xf:message>
            <xf:action ev:event="xforms-submit-done">
               <xf:load resource="measurement_index.xhtml"></xf:load>
            </xf:action>
         </xf:submission>
         <xf:submission id="save-draft-data" ref="instance('data')" method="post" replace="none" validate="false" relevant="false" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}" resource="{$ada-exist}/projects/demoapp">
            <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: 
               <xf:output value="event('error-type')"></xf:output>; Status: 
               <xf:output value="event('response-status-code')"></xf:output>; URI: 
               <xf:output value="event('resource-uri')"></xf:output>; Headers: 
               <xf:output value="event('response-headers')"></xf:output>; Body: 
               <xf:output value="event('response-body')"></xf:output>
            </xf:message>
            <xf:action ev:event="xforms-submit-done">
               <xf:load resource="measurement_index.xhtml"></xf:load>
            </xf:action>
         </xf:submission>
         <xf:submission id="remove-data" ref="instance('data')" method="delete" replace="none" serialization="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}" resource="{$ada-exist}/projects/demoapp/{instance('data')/@id/string()}">
            <xf:message ev:event="xforms-submit-error" level="modal"> A submission error occurred: 
               <xf:output value="event('error-type')"></xf:output>; Status: 
               <xf:output value="event('response-status-code')"></xf:output>; URI: 
               <xf:output value="event('resource-uri')"></xf:output>; Headers: 
               <xf:output value="event('response-headers')"></xf:output>; Body: 
               <xf:output value="event('response-body')"></xf:output>
            </xf:message>
            <xf:action ev:event="xforms-submit-done">
               <xf:load resource="measurement_index.xhtml"></xf:load>
            </xf:action>
         </xf:submission>
         <xf:instance id="selected-data">
            <data>measurement_form.xhtml</data>
         </xf:instance>
         <xf:instance id="data-choices">
            <data>
               <form name="measurement_form.xhtml" desc="Measurement Form" transactionId="2.16.840.1.113883.3.1937.99.62.3.4.2" transactionEffectiveDate="2012-09-05T16:59:35"></form>
            </data>
         </xf:instance>
         <xf:action ev:event="xforms-model-construct-done">
            <xf:send submission="get-data"></xf:send>
         </xf:action>
         <!--doTheBindings for: weight-->
         <xf:bind nodeset="//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.3']/@value" constraint="string-length()=0 or matches(.,'^-?\d+(\.\d*)?$')"></xf:bind>
         <!--doTheBindings for: size_weight_gain-->
         <xf:bind nodeset="//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.19']/@value" constraint="string-length()=0 or matches(.,'^-?\d+(\.\d*)?$')"></xf:bind>
         <!--doTheBindings for: length-->
         <xf:bind nodeset="//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.15']/@value" constraint="string-length()=0 or matches(.,'^-?\d+(\.\d*)?$')"></xf:bind>
         <!--doTheBindings for: datetime-->
         <xf:bind nodeset="//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.2']/@value" type="xf:dateTime"></xf:bind>
         <!--doTheBindings for: date_of_birth-->
         <xf:bind nodeset="//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.8']/@value" type="xf:date"></xf:bind>
         <!--doTheConditions for: weight_gain_data-->
         <xf:bind nodeset="//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.18']" relevant="not(../weight_gain/@value='false')"></xf:bind>
      </xf:model>
   </xhtml:head>
   <xhtml:body style="background: none" class="ada">
      <xf:group ref=".[string-length(xxforms:get-session-attribute('username'))=0]">
         <xhtml:div>You are not logged in!</xhtml:div>
      </xf:group>
      <xhtml:h1>Measurement Form</xhtml:h1>
      <xhtml:div style="font-size: smaller;">This application is for demonstration purposes only. Never use real patient data.</xhtml:div>
      <xhtml:table id="toprow" width="100%" style="background: transparent; margin-bottom: 20px; border: 0px; border-bottom: 2px solid black; border-top: 2px solid black;">
         <xhtml:tr>
            <xhtml:td width="33%" style="border-left: 0px; border-right: 0px;"></xhtml:td>
            <xhtml:td width="33%" style="border-left: 0px; border-right: 0px; text-align: center;">
               <xf:trigger appearance="minimal">
                  <xf:label>Documentation</xf:label>
                  <xf:action ev:event="DOMActivate">
                     <xf:load resource="http://art-decor.org/decor/services/RetrieveTransaction?id={instance('data-choices')/form[@name=instance('selected-data')]/@transactionId}&amp;language=en-US&amp;version=&amp;format=html"></xf:load>
                  </xf:action>
               </xf:trigger>
            </xhtml:td>
            <xhtml:td style="border-left: 0px; border-right: 0px;">
               <xhtml:div style="float:right;">
                  <xf:output ref="concat('User: ',xxforms:get-session-attribute('username'),' ')"></xf:output>
                  <xf:group ref=".[string-length(xxforms:get-session-attribute('username'))!=0]">
                     <xf:trigger appearance="minimal">
                        <xf:label>Log out</xf:label>
                        <xf:action ev:event="DOMActivate">
                           <xf:load resource="../../../../session/logout"></xf:load>
                        </xf:action>
                     </xf:trigger>
                  </xf:group>
                  <xf:group ref=".[string-length(xxforms:get-session-attribute('username'))=0]">
                     <xf:trigger appearance="minimal">
                        <xf:label>Log in</xf:label>
                        <xf:action ev:event="DOMActivate">
                           <xf:load resource="../../../../login?returnToUrl={encode-for-uri('ada-data/projects/demoapp/views/measurement_form.xhtml')}"></xf:load>
                        </xf:action>
                     </xf:trigger>
                  </xf:group>
               </xhtml:div>
            </xhtml:td>
         </xhtml:tr>
      </xhtml:table>
      <xf:group id="main-ui" appearance="full">
         <xhtml:div class="adaForm">
            <xhtml:div class="adaSingle adaGroup">
               <xf:input ref="@title">
                  <xf:label>Title</xf:label>
                  <xf:help>Title for this record (optional).</xf:help>
               </xf:input>
            </xhtml:div>
            <xhtml:div>
               <xf:trigger>
                  <xf:label>Expand all</xf:label>
                  <xf:dispatch ev:event="DOMActivate" target="main-accordion" name="fr-show-all"></xf:dispatch>
               </xf:trigger>
               <xf:trigger>
                  <xf:label>Collapse all</xf:label>
                  <xf:dispatch ev:event="DOMActivate" target="main-accordion" name="fr-hide-all"></xf:dispatch>
               </xf:trigger>
            </xhtml:div>
            <fr:accordion id="main-accordion" class="fr-accordion-lnf">
               <!--doTheForm for concept_group: measurement-->
               <fr:case selected="true">
                  <fr:label>Measurement</fr:label>
                  <!--doTheForm for concept: measurement 0..* -->
                  <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.1']" appearance="full">
                     <xhtml:div class="adaMany adaGroup">
                        <xf:repeat nodeset="../measurement" appearance="full" id="repeat-measurement-2.16.840.1.113883.3.1937.99.62.3.2.1">
                           <xhtml:div class="adaRow">
                              <xhtml:h3>Measurement</xhtml:h3>
                              <xf:trigger>
                                 <xf:label>[-] Measurement</xf:label>
                                 <xf:action ev:event="DOMActivate">
                                    <xf:setvalue ref="@value"></xf:setvalue>
                                 </xf:action>
                                 <xf:delete ev:event="DOMActivate" nodeset="."></xf:delete>
                              </xf:trigger>
                              <!--doTheForm for concept: weight 1..1 M-->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.3']" appearance="full">
                                 <xhtml:div class="adaSingle">
                                    <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.3'][last()][@hidden]" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[+] Weight</xf:label>
                                          <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.3']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.3'][not(@hidden)][1]"></xf:insert>
                                       </xf:trigger>
                                    </xf:group>
                                    <xf:group ref="../weight" appearance="full">
                                       <!--Template typeIsQuantity-->
                                       <xf:input ref="@value">
                                          <!--Template addInputDetails-->
                                          <xf:label>Weight</xf:label>
                                          <xf:help>Weight measurement</xf:help>
                                          <xf:alert>Value must be: quantity  kg(&gt;= 25)(&lt;= 240)</xf:alert>
                                       </xf:input>
                                       <xf:output ref="'kg'"/>
                                    </xf:group>
                                 </xhtml:div>
                              </xf:group>
                              <!--doTheForm for concept: weight_gain 0..1 -->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.13']" appearance="full">
                                 <xhtml:div class="adaSingle">
                                    <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.13'][last()][@hidden]" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[+] Weight gain</xf:label>
                                          <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.13']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.13'][not(@hidden)][1]"></xf:insert>
                                       </xf:trigger>
                                    </xf:group>
                                    <xf:group ref="../weight_gain" appearance="full">
                                       <xf:select1 appearance="full" ref="@value">
                                          <!--Template addInputDetails-->
                                          <xf:label>Weight gain</xf:label>
                                          <xf:help>Is there a weight gain?</xf:help>
                                          <xf:alert>Value must be: boolean  </xf:alert>
                                          <xf:item>
                                             <xf:label>Yes</xf:label>
                                             <xf:value>true</xf:value>
                                          </xf:item>
                                          <xf:item>
                                             <xf:label>No</xf:label>
                                             <xf:value>false</xf:value>
                                          </xf:item>
                                          <xf:item>
                                             <xf:label>Unknown</xf:label>
                                             <xf:value>UNK</xf:value>
                                          </xf:item>
                                       </xf:select1>
                                       <xf:trigger>
                                          <xf:label>[-] Weight gain</xf:label>
                                          <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.13'][not(@hidden)]"></xf:delete>
                                       </xf:trigger>
                                    </xf:group>
                                 </xhtml:div>
                              </xf:group>
                              <!--doTheForm for concept_group: weight_gain_data-->
                              <!--doTheForm for concept: weight_gain_data 0..1 C-->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.18']" appearance="full">
                                 <xhtml:div class="adaSingle adaGroup">
                                    <xhtml:h3>Weight gain data</xhtml:h3>
                                    <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.18'][last()][@hidden]" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[+] Weight gain data</xf:label>
                                          <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.18']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.18'][not(@hidden)][1]"></xf:insert>
                                       </xf:trigger>
                                    </xf:group>
                                    <xf:group ref="../weight_gain_data" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[-] Weight gain data</xf:label>
                                          <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.18'][not(@hidden)]"></xf:delete>
                                       </xf:trigger>
                                       <!--doTheForm for concept: size_weight_gain 0..1 -->
                                       <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.19']" appearance="full">
                                          <xhtml:div class="adaSingle">
                                             <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.19'][last()][@hidden]" appearance="full">
                                                <xf:trigger>
                                                   <xf:label>[+] Size weight gain</xf:label>
                                                   <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.19']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.19'][not(@hidden)][1]"></xf:insert>
                                                </xf:trigger>
                                             </xf:group>
                                             <xf:group ref="../size_weight_gain" appearance="full">
                                                <!--Template typeIsQuantity-->
                                                <xf:input ref="@value">
                                                   <!--Template addInputDetails-->
                                                   <xf:label>Size weight gain</xf:label>
                                                   <xf:help></xf:help>
                                                   <xf:alert>Value must be: quantity  gram</xf:alert>
                                                </xf:input>
                                                <xf:output ref="'gram'"/>
                                                <xf:trigger>
                                                   <xf:label>[-] Size weight gain</xf:label>
                                                   <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.19'][not(@hidden)]"></xf:delete>
                                                </xf:trigger>
                                             </xf:group>
                                          </xhtml:div>
                                       </xf:group>
                                       <!--doTheForm for concept: cause_weight_gain 0..1 -->
                                       <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.20']" appearance="full">
                                          <xhtml:div class="adaSingle">
                                             <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.20'][last()][@hidden]" appearance="full">
                                                <xf:trigger>
                                                   <xf:label>[+] Cause weight gain</xf:label>
                                                   <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.20']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.20'][not(@hidden)][1]"></xf:insert>
                                                </xf:trigger>
                                             </xf:group>
                                             <xf:group ref="../cause_weight_gain" appearance="full">
                                                <!--Template typeIsOther-->
                                                <xf:input ref="@value">
                                                   <!--Template addInputDetails-->
                                                   <xf:label>Cause weight gain</xf:label>
                                                   <xf:help></xf:help>
                                                   <xf:alert>Value must be: string  </xf:alert>
                                                </xf:input>
                                                <xf:trigger>
                                                   <xf:label>[-] Cause weight gain</xf:label>
                                                   <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.20'][not(@hidden)]"></xf:delete>
                                                </xf:trigger>
                                             </xf:group>
                                          </xhtml:div>
                                       </xf:group>
                                    </xf:group>
                                 </xhtml:div>
                              </xf:group>
                              <!--doTheForm for concept: length 0..1 -->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.15']" appearance="full">
                                 <xhtml:div class="adaSingle">
                                    <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.15'][last()][@hidden]" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[+] Length</xf:label>
                                          <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.15']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.15'][not(@hidden)][1]"></xf:insert>
                                       </xf:trigger>
                                    </xf:group>
                                    <xf:group ref="../length" appearance="full">
                                       <!--Template typeIsQuantity-->
                                       <xf:input ref="@value">
                                          <!--Template addInputDetails-->
                                          <xf:label>Length</xf:label>
                                          <xf:help>Body length</xf:help>
                                          <xf:alert>Value must be: quantity  m(&gt;= 0)(&lt;= 3), cm(&gt;= 0)(&lt;= 300)</xf:alert>
                                       </xf:input>
                                       <xf:select1 ref="@unit" class="adaUnit">
                                          <xf:item>
                                             <xf:label>m</xf:label>
                                             <xf:value>m</xf:value>
                                          </xf:item>
                                          <xf:item>
                                             <xf:label>cm</xf:label>
                                             <xf:value>cm</xf:value>
                                          </xf:item>
                                       </xf:select1>
                                       <xf:trigger>
                                          <xf:label>[-] Length</xf:label>
                                          <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.15'][not(@hidden)]"></xf:delete>
                                       </xf:trigger>
                                    </xf:group>
                                 </xhtml:div>
                              </xf:group>
                              <!--doTheForm for concept: datetime 0..1 -->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.2']" appearance="full">
                                 <xhtml:div class="adaSingle">
                                    <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.2'][last()][@hidden]" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[+] Datetime</xf:label>
                                          <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.2']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.2'][not(@hidden)][1]"></xf:insert>
                                       </xf:trigger>
                                    </xf:group>
                                    <xf:group ref="../datetime" appearance="full">
                                       <!--Template typeIsOther-->
                                       <xf:input ref="@value">
                                          <!--Template addInputDetails-->
                                          <xf:label>Datetime</xf:label>
                                          <xf:help>Date of the measurement</xf:help>
                                          <xf:alert>Value must be: datetime  </xf:alert>
                                       </xf:input>
                                       <xf:trigger>
                                          <xf:label>[-] Datetime</xf:label>
                                          <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.2'][not(@hidden)]"></xf:delete>
                                       </xf:trigger>
                                    </xf:group>
                                 </xhtml:div>
                              </xf:group>
                              <!--doTheForm for concept: measured_by 0..1 -->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.5']" appearance="full">
                                 <xhtml:div class="adaSingle">
                                    <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.5'][last()][@hidden]" appearance="full">
                                       <xf:trigger>
                                          <xf:label>[+] Measured by</xf:label>
                                          <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.5']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.5'][not(@hidden)][1]"></xf:insert>
                                       </xf:trigger>
                                    </xf:group>
                                    <xf:group ref="../measured_by" appearance="full">
                                       <!--Template typeIsCodeOrOrdinal-->
                                       <xf:select1 appearance="full" ref="@value">
                                          <!--Template addInputDetails-->
                                          <xf:label>Measured by</xf:label>
                                          <xf:help>Person who performed the measurement</xf:help>
                                          <xf:alert>Value must be: code  </xf:alert>
                                          <xf:item>
                                             <xf:label>Patient</xf:label>
                                             <xf:value>1</xf:value>
                                          </xf:item>
                                          <xf:item>
                                             <xf:label>Home care provider</xf:label>
                                             <xf:value>2</xf:value>
                                          </xf:item>
                                          <xf:item>
                                             <xf:label>GP</xf:label>
                                             <xf:value>3</xf:value>
                                          </xf:item>
                                          <xf:item>
                                             <xf:label>Personal network</xf:label>
                                             <xf:value>4</xf:value>
                                          </xf:item>
                                       </xf:select1>
                                       <xf:trigger>
                                          <xf:label>[-] Measured by</xf:label>
                                          <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.5'][not(@hidden)]"></xf:delete>
                                       </xf:trigger>
                                    </xf:group>
                                 </xhtml:div>
                              </xf:group>
                              <!--doTheForm for concept: comments 0..* -->
                              <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.17']" appearance="full">
                                 <xhtml:div class="adaMany">
                                    <xf:repeat nodeset="../comments" appearance="full" id="repeat-comments-2.16.840.1.113883.3.1937.99.62.3.2.17">
                                       <xhtml:div class="adaRow">
                                          <!--Template typeIsText-->
                                          <xf:textarea ref="@value">
                                             <!--Template addInputDetails-->
                                             <xf:label>Comments</xf:label>
                                             <xf:help></xf:help>
                                             <xf:alert>Value must be: text  </xf:alert>
                                          </xf:textarea>
                                          <xf:trigger>
                                             <xf:label>[-] Comments</xf:label>
                                             <xf:action ev:event="DOMActivate">
                                                <xf:setvalue ref="@value"></xf:setvalue>
                                             </xf:action>
                                             <xf:delete ev:event="DOMActivate" nodeset="."></xf:delete>
                                          </xf:trigger>
                                       </xhtml:div>
                                    </xf:repeat>
                                    <xf:trigger>
                                       <xf:label>[+] Comments</xf:label>
                                       <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.17']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.17'][not(@hidden)][1]"></xf:insert>
                                    </xf:trigger>
                                 </xhtml:div>
                              </xf:group>
                           </xhtml:div>
                        </xf:repeat>
                        <xf:trigger>
                           <xf:label>[+] Measurement</xf:label>
                           <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.1']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.1'][not(@hidden)][1]"></xf:insert>
                        </xf:trigger>
                     </xhtml:div>
                  </xf:group>
               </fr:case>
               <!--doTheForm for concept_group: person-->
               <fr:case selected="true">
                  <fr:label>Person</fr:label>
                  <!--doTheForm for concept: person 1..1 M-->
                  <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.6']" appearance="full">
                     <xhtml:div class="adaSingle adaGroup">
                        <xhtml:h3>Person</xhtml:h3>
                        <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.6'][last()][@hidden]" appearance="full">
                           <xf:trigger>
                              <xf:label>[+] Person</xf:label>
                              <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.6']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.6'][not(@hidden)][1]"></xf:insert>
                           </xf:trigger>
                        </xf:group>
                        <xf:group ref="../person" appearance="full">
                           <!--doTheForm for concept: name 1..1 M-->
                           <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.4']" appearance="full">
                              <xhtml:div class="adaSingle">
                                 <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.4'][last()][@hidden]" appearance="full">
                                    <xf:trigger>
                                       <xf:label>[+] Name</xf:label>
                                       <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.4']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.4'][not(@hidden)][1]"></xf:insert>
                                    </xf:trigger>
                                 </xf:group>
                                 <xf:group ref="../name" appearance="full">
                                    <!--Template typeIsOther-->
                                    <xf:input ref="@value">
                                       <!--Template addInputDetails-->
                                       <xf:label>Name</xf:label>
                                       <xf:help>Name of the person</xf:help>
                                       <xf:alert>Value must be: complex  </xf:alert>
                                    </xf:input>
                                 </xf:group>
                              </xhtml:div>
                           </xf:group>
                           <!--doTheForm for concept: bsn 1..1 M-->
                           <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.7']" appearance="full">
                              <xhtml:div class="adaSingle">
                                 <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.7'][last()][@hidden]" appearance="full">
                                    <xf:trigger>
                                       <xf:label>[+] BSN</xf:label>
                                       <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.7']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.7'][not(@hidden)][1]"></xf:insert>
                                    </xf:trigger>
                                 </xf:group>
                                 <xf:group ref="../bsn" appearance="full">
                                    <!--Template typeIsOther-->
                                    <xf:input ref="@value">
                                       <!--Template addInputDetails-->
                                       <xf:label>BSN</xf:label>
                                       <xf:help>Dutch Social Security Number</xf:help>
                                       <xf:alert>Value must be: identifier  </xf:alert>
                                    </xf:input>
                                 </xf:group>
                              </xhtml:div>
                           </xf:group>
                           <!--doTheForm for concept: date_of_birth 0..1 -->
                           <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.8']" appearance="full">
                              <xhtml:div class="adaSingle">
                                 <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.8'][last()][@hidden]" appearance="full">
                                    <xf:trigger>
                                       <xf:label>[+] Date of birth</xf:label>
                                       <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.8']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.8'][not(@hidden)][1]"></xf:insert>
                                    </xf:trigger>
                                 </xf:group>
                                 <xf:group ref="../date_of_birth" appearance="full">
                                    <!--Template typeIsOther-->
                                    <xf:input ref="@value">
                                       <!--Template addInputDetails-->
                                       <xf:label>Date of birth</xf:label>
                                       <xf:help>Date of birth of the person</xf:help>
                                       <xf:alert>Value must be: date  </xf:alert>
                                    </xf:input>
                                    <xf:trigger>
                                       <xf:label>[-] Date of birth</xf:label>
                                       <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.8'][not(@hidden)]"></xf:delete>
                                    </xf:trigger>
                                 </xf:group>
                              </xhtml:div>
                           </xf:group>
                           <!--doTheForm for concept: number_of_children 0..1 -->
                           <xf:group ref="*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.14']" appearance="full">
                              <xhtml:div class="adaSingle">
                                 <xf:group ref="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.14'][last()][@hidden]" appearance="full">
                                    <xf:trigger>
                                       <xf:label>[+] Number of children</xf:label>
                                       <xf:insert ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.14']" at="last()" position="after" origin="instance('new')//*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.14'][not(@hidden)][1]"></xf:insert>
                                    </xf:trigger>
                                 </xf:group>
                                 <xf:group ref="../number_of_children" appearance="full">
                                    <!--Template typeIsOther-->
                                    <xf:input ref="@value">
                                       <!--Template addInputDetails-->
                                       <xf:label>Number of children</xf:label>
                                       <xf:help>Number of children</xf:help>
                                       <xf:alert>Value must be: count  </xf:alert>
                                    </xf:input>
                                    <xf:trigger>
                                       <xf:label>[-] Number of children</xf:label>
                                       <xf:delete ev:event="DOMActivate" nodeset="../*[@conceptId='2.16.840.1.113883.3.1937.99.62.3.2.14'][not(@hidden)]"></xf:delete>
                                    </xf:trigger>
                                 </xf:group>
                              </xhtml:div>
                           </xf:group>
                        </xf:group>
                     </xhtml:div>
                  </xf:group>
               </fr:case>
            </fr:accordion>
         </xhtml:div>
         <fr:error-summary observer="main-ui" id="error-summary">
            <fr:label>Form errors</fr:label>
            <!--<fr:errors nodeset="instance('errors')/error">
               <fr:label ref="label"></fr:label>
               <fr:alert ref="alert"></fr:alert>
            </fr:errors>-->
         </fr:error-summary>
         <xf:group ref=".[$update]">
            <xf:trigger ref="instance('data-safe')">
               <xf:label>Save</xf:label>
               <xf:action ev:event="DOMActivate">
                  <xf:dispatch name="fr-visit-all" targetid="error-summary"></xf:dispatch>
                  <xf:refresh></xf:refresh>
                  <xf:dispatch name="fr-update" targetid="error-summary"></xf:dispatch>
                  <xf:send submission="save-data"></xf:send>
               </xf:action>
            </xf:trigger>
            <xf:trigger ref="instance('data-safe')">
               <xf:label>Save  &amp; Close</xf:label>
               <xf:action ev:event="DOMActivate">
                  <xf:dispatch name="fr-visit-all" targetid="error-summary"></xf:dispatch>
                  <xf:refresh></xf:refresh>
                  <xf:dispatch name="fr-update" targetid="error-summary"></xf:dispatch>
                  <xf:send submission="save-data-and-close"></xf:send>
               </xf:action>
            </xf:trigger>
            <xf:trigger ref="instance('data-safe')">
               <xf:label>Save draft  &amp; Close</xf:label>
               <xf:action ev:event="DOMActivate">
                  <xf:dispatch name="fr-visit-all" targetid="error-summary"></xf:dispatch>
                  <xf:refresh></xf:refresh>
                  <xf:dispatch name="fr-update" targetid="error-summary"></xf:dispatch>
                  <xf:send submission="save-draft-data"></xf:send>
               </xf:action>
            </xf:trigger>
         </xf:group>
         <xf:group ref=".[$delete]">
            <xf:trigger>
               <xf:label>Remove</xf:label>
               <xf:action ev:event="DOMActivate">
                  <xf:send submission="remove-data"></xf:send>
               </xf:action>
            </xf:trigger>
         </xf:group>
         <xf:trigger>
            <xf:label>Close</xf:label>
            <xf:action ev:event="DOMActivate">
               <xf:action ev:event="xforms-submit-done">
                  <xf:load resource="measurement_index.xhtml"></xf:load>
               </xf:action>
            </xf:action>
         </xf:trigger>
      </xf:group>
      <!--<fr:xforms-inspector/>-->
   </xhtml:body>
</xhtml:html>