<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@project.uri@" abbrev="@project.abbrev@" version="@project.version@" spec="1.0">
    <title>@project.title@</title>
    <dependency processor="http://exist-db.org" semver-min="5.3.0"/>
</package>