<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/art-settings"/>
        </xhtml:title>
        <xforms:model id="art-settings">
         <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
         <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
         <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
         <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            <!-- instance for DECOR Schema enumerations -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
            <!-- get decor schema submission -->
            <xforms:submission id="get-decor-schema-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types" xxforms:readonly="true"/>
            
            <!-- all server-settings -->
            <xforms:instance id="server-settings">
                <dummy/>
            </xforms:instance>
            <xforms:bind nodeset="instance('server-settings')">
                <xforms:bind nodeset="ids">
                    <!--<xforms:bind nodeset="baseId/@id" required="true()"/>
                    <xforms:bind nodeset="baseId/@type" required="true()"/>-->
                    <xforms:bind nodeset="baseId/@default" type="xs:boolean" required="true()"/>
                </xforms:bind>
                <xforms:bind nodeset="default-fhir-version" constraint="string-length(.) = 0 or  . = instance('server-fhirversions')/endpoint" required="if (instance('server-fhirversions')/endpoint[string-length() gt 0]) then true() else false()"/>
            </xforms:bind>
            <xforms:submission id="get-server-settings" serialization="none" method="get" resource="{$art-exist}/modules/get-server-settings.xquery?getdefault=false" replace="instance" instance="server-settings">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true" if="$administrator">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action xxforms:iterate="instance('server-settings')/externalBuildingBlockRepositories/buildingBlockRepository[not(@format)]">
                        <xforms:insert nodeset="context()/@*" origin="xxforms:attribute('format','decor')"/>
                    </xforms:action>
                    <xforms:setvalue ref="instance('server-settings')/@action">save-repositories</xforms:setvalue>
                    <xforms:send submission="save-server-settings"/>
                </xforms:action>
            </xforms:submission>
            <xforms:submission id="save-server-settings" ref="instance('server-settings')" resource="{$art-exist}/modules/save-server-settings.xquery" method="post" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:message ev:event="xforms-submit-done" if="instance('server-settings')/@action = 'save-server-orbeon-version'">XForms updated to match Orbeon version</xforms:message>
            </xforms:submission>
            <!-- all default server settings -->
            <xforms:instance id="default-server-settings">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-default-server-settings" serialization="none" method="get" resource="{$art-exist}/modules/get-server-settings.xquery?getdefault=true" replace="instance" instance="default-server-settings">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- instance that holds xsls that are available at this server -->
            <xforms:instance id="server-menu-templates">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-server-menu-templates" serialization="none" method="get" resource="{$art-exist}/modules/get-server-menu-templates.xquery" replace="instance" instance="server-menu-templates">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- instance that holds xsls that are available at this server -->
            <xforms:instance id="server-xsls">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-server-xsls" serialization="none" method="get" resource="{$art-exist}/modules/get-server-xsls.xquery" replace="instance" instance="server-xsls">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- instance that holds the installed FHIR Server versions at this server -->
            <xforms:instance id="server-fhirversions">
                <endspoints base="">
                    <endpoint/>
                </endspoints>
            </xforms:instance>
            <xforms:submission id="get-fhirserver-versions" serialization="none" method="get" resource="{$art-exist}/modules/get-server-fhir-endpoints.xquery" replace="instance" instance="server-fhirversions">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- submission for refreshing the BBR cache -->
            <!-- cache-refresh response -->
            <xforms:instance id="cache-refresh">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="refresh-bbr-cache" serialization="none" method="get" resource="{$art-exist}/../systemtasks/modules/refresh-decor-cache.xquery?secret=61fgs756.s9&amp;user={xxforms:get-session-attribute('username')}&amp;password={xxforms:get-session-attribute('password')}" replace="instance" instance="cache-refresh">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:submission id="refresh-bbr-cache-status" serialization="none" method="get" resource="{$art-exist}/../systemtasks/modules/refresh-decor-cache.xquery?secret=61fgs756.s9&amp;user={xxforms:get-session-attribute('username')}&amp;password={xxforms:get-session-attribute('password')}&amp;statusonly=true" replace="instance" instance="cache-refresh">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- instance for a new buildingBlockServer e.g. http://art-decor.org/decor/services/ -->
            <xforms:instance id="new-repository-server-instance">
                <buildingBlockServer url="http://art-decor.org/decor/services/"/>
            </xforms:instance>
            <!-- URI to retrieve the repository list from e.g. http://art-decor.org/decor/services/ -->
            <xforms:instance id="repository-server-uri">
                <url/>
            </xforms:instance>
            <!-- instance to receive the repository list in based on the uri in repository-server-uri -->
            <xforms:instance id="repositories-instance">
                <dummy/>
            </xforms:instance>
            <!-- instance that contains the selected repository from the list -->
            <xforms:instance id="selected-repository-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="refresh-repositories-from-server" serialization="none" method="get" resource="{$art-exist}/modules/get-server-repositories.xquery?uri={instance('repository-server-uri')}" replace="instance" instance="repositories-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <!-- instance for a new buildingBlockRepository -->
            <xforms:instance id="new-repository-instance">
                <buildingBlockRepository url="https://stu3.simplifier.net/" ident="X" type="external" format="fhir">
                    <name language="en-US">Simplifier project</name>
                    <name language="nl-NL">Simplifier project</name>
                    <name language="de-DE">Simplifier Projekt</name>
                    <name language="pl-PL">Simplifier project</name>
                </buildingBlockRepository>
            </xforms:instance>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-fhirserver-versions"/>
                <xforms:send submission="get-default-server-settings"/>
                <xforms:send submission="get-server-menu-templates"/>
                <xforms:send submission="get-server-xsls"/>
                <xforms:send submission="get-decor-schema-submission"/>
                <xforms:send submission="get-server-settings"/>
                <xforms:send if="$administrator" submission="refresh-bbr-cache-status"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready"/>
            
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="administrator" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
        </xforms:model>
    </xhtml:head>
   <!-- Start of XForm body -->
    <xhtml:body>
        <xxforms:dialog id="select-bbr-dialog" appearance="full" level="modeless" close="false" draggable="true" visible="false">
            <xforms:action ev:event="xxforms-dialog-open">
                <xforms:send submission="refresh-repositories-from-server"/>
                <xforms:setvalue ref="instance('selected-repository-instance')" value="instance('repositories-instance')/buildingBlockRepository[not(concat(@url,@ident,@format)=instance('server-settings')//buildingBlockRepository/concat(@url,@ident,@format))][1]/concat(@url,@ident,@format)"/>
            </xforms:action>
            <xforms:label ref="$resources/select-bbr"/>
            <xhtml:table width="650">
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div style="width: 100%; max-height: 20em; overflow-x: auto; overflow-y: auto;">
                            <xhtml:table class="detail spaced" width="100%">
                                <xhtml:tr>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/name"/>
                                    </xhtml:td>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/url"/>
                                    </xhtml:td>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/prefix"/>
                                    </xhtml:td>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/type"/>
                                    </xhtml:td>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/format"/>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xforms:repeat nodeset="instance('repositories-instance')/buildingBlockRepository[not(concat(@url,@ident,@format)=instance('server-settings')//buildingBlockRepository/concat(@url,@ident,@format))]" id="bbr-table">
                                    <xhtml:tr>
                                        <xhtml:td>
                                            <xforms:output ref="(name[@language=instance('language')], name[1])[1]"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="@url"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="@ident"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="if (@type='local') then ($resources/this-server) else ($resources/external-server)"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xxforms:variable name="value" value="@format"/>
                                            <xforms:output ref="instance('decor-types')/BuildingBlockRepositoryFormat/enumeration[@value = $value]/label[@language = $resources/@xml:lang]"/>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <xforms:action ev:event="xxforms-index-changed xxforms-nodeset-changed">
                                        <xforms:setvalue ref="instance('selected-repository-instance')" value="instance('repositories-instance')/buildingBlockRepository[not(concat(@url,@ident,@format)=instance('server-settings')//buildingBlockRepository/concat(@url,@ident,@format))][index('bbr-table')]/concat(@url,@ident,@format)"/>
                                    </xforms:action>
                                </xforms:repeat>
                            </xhtml:table>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
            <xhtml:div style="margin-top: 5px;" class="buttons">
                <xforms:trigger appearance="compact">
                    <xforms:label ref="$resources/cancel"/>
                    <xforms:action ev:event="DOMActivate">
                        <xxforms:hide ev:event="DOMActivate" dialog="select-bbr-dialog"/>
                    </xforms:action>
                </xforms:trigger>
                <xforms:trigger appearance="compact">
                    <xforms:label ref="$resources/add"/>
                    <xforms:action ev:event="DOMActivate">
                        <!-- The save-decor-project.xquery will put it in the right place -->
                        <xforms:insert context="instance('server-settings')/externalBuildingBlockRepositories" at="last()" position="after" origin="instance('repositories-instance')/buildingBlockRepository[concat(@url,@ident,@format)=instance('selected-repository-instance')]"/>
                        <xforms:setvalue ref="instance('server-settings')/@action">save-repositories</xforms:setvalue>
                        <xforms:send submission="save-server-settings"/>
                        <xxforms:hide ev:event="DOMActivate" dialog="select-bbr-dialog"/>
                    </xforms:action>
                </xforms:trigger>
            </xhtml:div>
        </xxforms:dialog>
        <xforms:group ref=".[$administrator]">
            <xhtml:table width="100%">
                <xhtml:tr>
                    <!-- Settings left part -->
                    <xhtml:td width="50%">
                        <xhtml:table width="100%" class="spaced">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/general"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td>
                                    <xhtml:table width="100%" class="spaced zebra-table">
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/default-server-language"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:select1 ref="instance('server-settings')/defaultLanguage" class="auto-width">
                                                    <xforms:label ref="$resources/default-server-language" class="hidden"/>
                                                    <xforms:itemset nodeset="instance('resources-instance')/resources">
                                                        <xforms:label ref="@displayName"/>
                                                        <xforms:value ref="@xml:lang"/>
                                                    </xforms:itemset>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-language</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:select1>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <!-- Supported actions are ''save-language'',''save-server-url'',''save-services-url'',''save-server-xsl'',''save-repository-servers'',''save-repositories'',''save-server-logo-and-url'',''save-server-menu-template''')) -->
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-deeplinkprefix"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:input ref="instance('server-settings')/url-art-decor-deeplinkprefix">
                                                    <xforms:label ref="$resources/server-deeplinkprefix" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-url</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-deeplinkprefix3"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:input ref="instance('server-settings')/url-art-decor3-deeplinkprefix">
                                                    <xforms:label ref="$resources/server-deeplinkprefix3" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-url3</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-servicesprefix"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:input ref="instance('server-settings')/url-art-decor-services">
                                                    <xforms:label ref="$resources/server-servicesprefix" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-services-url</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/fhir-servicesprefix"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:input ref="instance('server-settings')/url-fhir-services">
                                                    <xforms:label ref="$resources/fhir-servicesprefix" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-fhir-url</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>
                                                <xhtml:div style="margin-top: 2px;">
                                                    <xforms:output ref="$resources/installed-packages"/>:&#160;
                                                    <xforms:repeat nodeset="instance('server-fhirversions')/endpoint">
                                                        <xhtml:a href="{concat(instance('server-settings')/url-fhir-services, ., '/')}" title="{$resources/go-to}" class="not-selectable" target="_new">
                                                            <xforms:output ref="if (@name) then concat(., ' (', @name, ')') else (.)"/>
                                                        </xhtml:a>
                                                    </xforms:repeat>
                                                </xhtml:div>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/fhir-canonicalprefix">
                                                    <xforms:help ref="$resources/fhir-canonicalprefix-help"/>
                                                </xforms:output>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:group ref="instance('server-settings')[empty(url-fhir-canonical-base)]">
                                                    <xforms:output ref="instance('server-settings')/url-fhir-services"/>
                                                </xforms:group>
                                                <xforms:output ref="instance('server-settings')/url-fhir-canonical-base"/>
                                                <!--<xforms:input ref="instance('server-settings')/url-fhir-canonical-base">
                                                    <xforms:label ref="$resources/fhir-canonicalprefix" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-fhir-canonical-base</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>-->
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/fhir-servicesdefault"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:select1 ref="instance('server-settings')/default-fhir-version" class="auto-width">
                                                    <xforms:label ref="concat($resources/default, ':')" class="hidden"/>
                                                    <xforms:alert ref="$resources/required"/>
                                                    <xforms:item>
                                                        <xforms:label>---</xforms:label>
                                                        <xforms:value ref="''"/>
                                                    </xforms:item>
                                                    <xforms:itemset nodeset="instance('server-fhirversions')/endpoint">
                                                        <xforms:label ref="if (@name) then concat(., ' (', @name, ')') else (.)"/>
                                                        <xforms:value ref="."/>
                                                    </xforms:itemset>
                                                    <xforms:action ev:event="xforms-value-changed" if="context() = ((), '', instance('server-fhirversions')/endpoint)">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-fhir-default-version</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:select1>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-stylesheet"/>
                                                <xhtml:div class="buttons">
                                                    <xxforms:variable name="current" select="instance('server-settings')/xformStylesheet"/>
                                                    <xxforms:variable name="default" select="instance('default-server-settings')/xformStylesheet"/>
                                                    <xforms:group ref=".[not($current=$default)]">
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/action_undo.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint ref="concat($resources/reset-default,': ',$default)"/>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:setvalue ref="$current" value="$default"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xforms:group>
                                                </xhtml:div>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:select1 ref="instance('server-settings')/xformStylesheet" class="auto-width">
                                                    <xforms:label ref="$resources/server-stylesheet" class="hidden"/>
                                                    <xforms:itemset nodeset="instance('server-xsls')/xsl">
                                                        <xforms:label ref="."/>
                                                        <xforms:value ref="."/>
                                                    </xforms:itemset>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-xsl</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:select1>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-menu-template"/>
                                                <xhtml:div class="buttons">
                                                    <xxforms:variable name="current" select="instance('server-settings')/art-menu-template"/>
                                                    <xxforms:variable name="default" select="instance('default-server-settings')/art-menu-template"/>
                                                    <xforms:group ref=".[not($current=$default)]">
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/action_undo.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint ref="concat($resources/reset-default,': ',$default)"/>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:setvalue ref="$current" value="$default"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xforms:group>
                                                </xhtml:div>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:select1 ref="instance('server-settings')/art-menu-template" class="auto-width">
                                                    <xforms:label ref="$resources/server-menu-template" class="hidden"/>
                                                    <xforms:itemset nodeset="instance('server-menu-templates')/xml">
                                                        <xforms:label ref="."/>
                                                        <xforms:value ref="."/>
                                                    </xforms:itemset>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-menu-template</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:select1>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-logo"/>
                                                <xhtml:div class="buttons">
                                                    <xxforms:variable name="current" select="instance('server-settings')/art-server-logo"/>
                                                    <xxforms:variable name="default" select="instance('default-server-settings')/art-server-logo"/>
                                                    <xforms:group ref=".[not($current=$default)]">
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/action_undo.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint ref="concat($resources/reset-default,': ',$default)"/>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:setvalue ref="$current" value="$default"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xforms:group>
                                                </xhtml:div>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:input ref="instance('server-settings')/art-server-logo">
                                                    <xforms:label ref="$resources/server-logo" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-logo-and-url</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="$resources/server-logo-url"/>
                                                <xhtml:div class="buttons">
                                                    <xxforms:variable name="current" select="instance('server-settings')/art-server-logo/@href"/>
                                                    <xxforms:variable name="default" select="instance('default-server-settings')/art-server-logo/@href"/>
                                                    <xforms:group ref=".[not($current=$default)]">
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/action_undo.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint ref="concat($resources/reset-default,': ',$default)"/>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:setvalue ref="$current" value="$default"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xforms:group>
                                                </xhtml:div>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:input ref="instance('server-settings')/art-server-logo/@href">
                                                    <xforms:label ref="$resources/server-logo-url" class="hidden"/>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-logo-and-url</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:input>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label" style="width: 150px;">
                                                <xforms:output ref="concat('Orbeon ', $resources/version)"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:select1 ref="instance('server-settings')/orbeon-version" class="auto-width">
                                                    <xforms:label ref="concat('Orbeon ', $resources/version)" class="hidden"/>
                                                    <xforms:item>
                                                        <xforms:label>Orbeon 3.9</xforms:label>
                                                        <xforms:value>3.9</xforms:value>
                                                    </xforms:item>
                                                    <xforms:item>
                                                        <xforms:label>Orbeon 2018.x</xforms:label>
                                                        <xforms:value>2018</xforms:value>
                                                    </xforms:item>
                                                    <xforms:item>
                                                        <xforms:label>Orbeon 2019.x</xforms:label>
                                                        <xforms:value>2019</xforms:value>
                                                    </xforms:item>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:setvalue ref="instance('server-settings')/@action">save-server-orbeon-version</xforms:setvalue>
                                                        <xforms:send submission="save-server-settings"/>
                                                    </xforms:action>
                                                </xforms:select1>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xhtml:table>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/ids"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td>
                                    <xhtml:table width="100%" class="spaced zebra-table">
                                        <xforms:repeat nodeset="instance('server-settings')/ids/baseId">
                                            <xxforms:variable name="baseType" select="@type"/>
                                            <xxforms:variable name="baseId" select="@id"/>
                                            <xxforms:variable name="baseDefault" select="@default"/>
                                            <xhtml:tr class="not-selectable">
                                                <xhtml:td class="item-label" style="width: 150px;">
                                                    <xforms:output ref="replace($baseType,'-','‑')">
                                                        <!--<xforms:label ref="$resources/type" class="hidden"/>-->
                                                        <xforms:hint ref="instance('server-settings')/ids/type[@code=$baseType]/@displayName"/>
                                                    </xforms:output>
                                                    <xhtml:div class="buttons">
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/itemadd.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint>
                                                                <xforms:output ref="$resources/add"/>
                                                            </xforms:hint>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:insert nodeset="context()" position="after" origin="xxforms:element('baseId',(xxforms:attribute('id',''),xxforms:attribute('type',$baseType),xxforms:attribute('default',false())))"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                        <xforms:trigger ref=".[count(../baseId[@type=$baseType])&gt;1]" appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/itemdelete.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint>
                                                                <xforms:output ref="$resources/remove"/>
                                                            </xforms:hint>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:delete context="context()"/>
                                                                <xforms:setvalue ref="instance('server-settings')/@action">save-server-ids</xforms:setvalue>
                                                                <xforms:send submission="save-server-settings"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xhtml:div>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:input ref="@default" class="auto-width">
                                                        <xforms:label ref="$resources/default" class="hidden"/>
                                                        <xforms:hint ref="$resources/default"/>
                                                        <xforms:action ev:event="xforms-value-changed" if=".='true'">
                                                            <xforms:action xxforms:iterate="instance('server-settings')/ids/baseId[@type=$baseType][not(@id=$baseId)]/@default">
                                                                <xforms:setvalue ref="context()" value="false()"/>
                                                            </xforms:action>
                                                            <xforms:setvalue ref="instance('server-settings')/@action">save-server-ids</xforms:setvalue>
                                                            <xforms:send submission="save-server-settings"/>
                                                        </xforms:action>
                                                    </xforms:input>
                                                    <xforms:input ref="@id">
                                                        <xforms:label ref="$resources/id" class="hidden"/>
                                                        <xforms:hint ref="instance('server-settings')/ids/type[@code=$baseType]/@displayName"/>
                                                        <xforms:alert ref="$resources/required-field"/>
                                                        <xforms:action ev:event="xforms-value-changed">
                                                            <xforms:setvalue ref="instance('server-settings')/@action">save-server-ids</xforms:setvalue>
                                                            <xforms:send submission="save-server-settings"/>
                                                        </xforms:action>
                                                    </xforms:input>
                                                </xhtml:td>
                                            </xhtml:tr>
                                        </xforms:repeat>
                                    </xhtml:table>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:td>
                    <!-- Settings right part -->
                    <xhtml:td width="50%">
                        <xhtml:table width="100%" class="spaced">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/server-repository-servers"/>
                                    </xhtml:div>
                                    <xhtml:div class="buttons">
                                        <xforms:trigger appearance="compact">
                                            <xforms:label>
                                                <xhtml:img src="/img/plus.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/add"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:insert context="instance('server-settings')/externalBuildingBlockRepositoryServers" at="last()" position="after" origin="instance('new-repository-server-instance')"/>
                                                <xforms:setvalue ref="instance('server-settings')/@action">save-repository-servers</xforms:setvalue>
                                                <xforms:send submission="save-server-settings"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td>
                                    <xhtml:table width="100%" class="spaced">
                                        <xforms:repeat nodeset="instance('server-settings')/externalBuildingBlockRepositoryServers/buildingBlockServer" id="repository-server-repeat">
                                            <xhtml:tr class="not-selectable">
                                                <xhtml:td class="item-label" style="width: 100px;">
                                                    <xforms:output ref="$resources/url"/>
                                                    <xhtml:div class="buttons">
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/itemdelete.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint>
                                                                <xforms:output ref="$resources/remove"/>
                                                            </xforms:hint>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:delete context="context()"/>
                                                                <xforms:setvalue ref="instance('server-settings')/@action">save-repository-servers</xforms:setvalue>
                                                                <xforms:send submission="save-server-settings"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xhtml:div>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xhtml:div>
                                                        <xforms:input ref="@url">
                                                            <xforms:label ref="$resources/url" class="hidden"/>
                                                            <xforms:action ev:event="xforms-value-changed">
                                                                <xforms:setvalue ref="instance('server-settings')/@action">save-repository-servers</xforms:setvalue>
                                                                <xforms:send submission="save-server-settings"/>
                                                            </xforms:action>
                                                        </xforms:input>
                                                        <xhtml:div class="buttons">
                                                            <xforms:trigger appearance="compact">
                                                                <xforms:label ref="$resources/select"/>
                                                                <xforms:hint>
                                                                    <xforms:output ref="$resources/select"/>
                                                                </xforms:hint>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('repository-server-uri')" value="context()/@url"/>
                                                                    <xxforms:show dialog="select-bbr-dialog"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xhtml:div>
                                                    </xhtml:div>
                                                </xhtml:td>
                                            </xhtml:tr>
                                        </xforms:repeat>
                                    </xhtml:table>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/server-external-bbrs"/>
                                    </xhtml:div>
                                    <xhtml:div class="buttons">
                                        <xforms:trigger appearance="compact">
                                            <xforms:label>
                                                <xhtml:img src="/img/plus.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/add-bbr"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:insert context="instance('server-settings')/externalBuildingBlockRepositories" at="last()" position="after" origin="instance('new-repository-instance')"/>
                                                <xforms:setvalue ref="instance('server-settings')/@action">save-repository-servers</xforms:setvalue>
                                                <xforms:send submission="save-server-settings"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td>
                                    <xhtml:table width="100%" class="spaced zebra-table">
                                        <xhtml:tr>
                                            <xhtml:td>
                                                <fr:accordion class="fr-accordion-lnf">
                                                    <xforms:repeat nodeset="instance('server-settings')/externalBuildingBlockRepositories/buildingBlockRepository" id="external-bbr-repeat">
                                                        <fr:case>
                                                            <fr:label>
                                                                <xforms:output ref="concat($resources/Repository,': ',name[@language=instance('language')], if (string-length(@ident) gt 0) then concat(' (', @ident,')') else ())"/>
                                                                <xhtml:div style="float:right;">
                                                                    <xxforms:variable name="value" value="@format"/>
                                                                    <xforms:output ref="instance('decor-types')/BuildingBlockRepositoryFormat/enumeration[@value = $value]/label[@language = $resources/@xml:lang]"/>
                                                                </xhtml:div>
                                                            </fr:label>
                                                            <xhtml:table width="100%" class="spaced not-selectable">
                                                                <xhtml:tr>
                                                                    <xhtml:td class="item-label">
                                                                        <xforms:output ref="$resources/url"/>
                                                                        <xhtml:div class="buttons">
                                                                            <xforms:trigger appearance="minimal">
                                                                                <xforms:label>
                                                                                    <xhtml:img src="/img/itemdelete.png" alt=""/>
                                                                                </xforms:label>
                                                                                <xforms:hint>
                                                                                    <xforms:output ref="$resources/remove"/>
                                                                                </xforms:hint>
                                                                                <xforms:action ev:event="DOMActivate">
                                                                                    <xforms:delete context="context()"/>
                                                                                    <xforms:setvalue ref="instance('server-settings')/@action">save-repositories</xforms:setvalue>
                                                                                    <xforms:send submission="save-server-settings"/>
                                                                                </xforms:action>
                                                                            </xforms:trigger>
                                                                        </xhtml:div>
                                                                    </xhtml:td>
                                                                    <xhtml:td>
                                                                        <!-- READONLY -->
                                                                        <xforms:group ref=".[@format = 'decor']">
                                                                            <xforms:output ref="string-join(@url | @ident,' &amp; ')"/>
                                                                        </xforms:group>
                                                                        <!-- EDITOR -->
                                                                        <xforms:group ref=".[not(@format = 'decor')]">
                                                                            <xforms:input ref="@url" incremental="true">
                                                                                <xforms:label ref="$resources/url" class="hidden"/>
                                                                                <xforms:action ev:event="xforms-value-changed" if="context() castable as xs:anyURI">
                                                                                    <xforms:setvalue ref="instance('server-settings')/@action">save-repositories</xforms:setvalue>
                                                                                    <xforms:send submission="save-server-settings"/>
                                                                                </xforms:action>
                                                                            </xforms:input>
                                                                        </xforms:group>
                                                                    </xhtml:td>
                                                                </xhtml:tr>
                                                                <xforms:group ref=".[not(@format = 'decor')]">
                                                                    <xhtml:tr>
                                                                        <xhtml:td class="item-label">
                                                                            <xforms:output ref="$resources/project"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td>
                                                                            <xforms:input ref="@ident" incremental="true">
                                                                                <xforms:label ref="$resources/project" class="hidden"/>
                                                                                <xforms:action ev:event="xforms-value-changed">
                                                                                    <xforms:setvalue ref="instance('server-settings')/@action">save-repositories</xforms:setvalue>
                                                                                    <xforms:send submission="save-server-settings"/>
                                                                                </xforms:action>
                                                                            </xforms:input>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xforms:group>
                                                                <xforms:repeat nodeset="name" id="external-bbr-name-repeat">
                                                                    <xhtml:tr class="not-selectable">
                                                                        <xhtml:td class="item-label">
                                                                            <xforms:output ref="$resources/name"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td>
                                                                            <xforms:input ref=".">
                                                                                <xforms:label ref="$resources/name" class="hidden"/>
                                                                                <xforms:action ev:event="xforms-value-changed">
                                                                                    <xforms:setvalue ref="instance('server-settings')/@action">save-repositories</xforms:setvalue>
                                                                                    <xforms:send submission="save-server-settings"/>
                                                                                </xforms:action>
                                                                            </xforms:input>
                                                                            <xforms:output ref="concat(' (',@language,') ')"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xforms:repeat>
                                                            </xhtml:table>
                                                        </fr:case>
                                                    </xforms:repeat>
                                                </fr:accordion>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xhtml:table>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/refresh-bbr"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td>
                                    <xhtml:div>
                                        <xhtml:table width="100%" class="zebra-table">
                                            <xhtml:tr>
                                                <xhtml:td>
                                                    <xhtml:div class="buttons" style="float:left;">
                                                        <xforms:trigger id="refreshbbr" appearance="compact">
                                                            <xforms:label>
                                                                <xhtml:img src="/img/refreshorange.png" alt=""/>
                                                            </xforms:label>
                                                            <xforms:hint ref="$resources/refresh-bbr"/>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:send submission="refresh-bbr-cache"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xhtml:div>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:group ref="instance('cache-refresh')[result]">
                                                        <xhtml:img src="/img/tick.png" alt="ready"/>
                                                        <xforms:output ref="concat($resources/bbr-cached, ': ', result/@cached, ', ', $resources/bbr-unreachable, ': ', result/@unreachable, ', ', $resources/as-of, ' ')"/>
                                                        <xforms:output ref="result/@time" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                                        <xhtml:table>
                                                            <xforms:repeat nodeset="result/(ok|unreachable)" id="cache-list">
                                                                <xhtml:tr class="not-selectable">
                                                                    <xforms:group ref=".[name()='ok']">
                                                                        <xhtml:td>
                                                                            <xhtml:img src="/img/tick.png" alt="ok"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td>
                                                                            <xforms:output ref="@ident"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td>
                                                                            <xforms:output ref="concat(' @ ', @url)"/>
                                                                        </xhtml:td>
                                                                    </xforms:group>
                                                                    <xforms:group ref=".[name()='unreachable']">
                                                                        <xhtml:td>
                                                                            <xhtml:img src="/img/exclamation.gif" alt="unreachable"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td>
                                                                            <xforms:output ref="@ident"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td>
                                                                            <xforms:output ref="$resources/bbr-unreachable"/>
                                                                            <xforms:output ref="concat(' @ ', @url, ': ')"/>
                                                                            <xforms:output ref="cacheme/error"/>
                                                                        </xhtml:td>
                                                                    </xforms:group>
                                                                </xhtml:tr>
                                                            </xforms:repeat>
                                                        </xhtml:table>
                                                    </xforms:group>
                                                </xhtml:td>
                                            </xhtml:tr>
                                        </xhtml:table>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xforms:group>
    </xhtml:body>
</xhtml:html>