<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?><xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:hl7="urn:hl7-org:v3" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:atp="urn:nictiz.atp" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css">
         .xforms-select-appearance-full span { display: block; clear: both } 
      </xhtml:style>
        <xhtml:title>
            <xforms:output ref="$resources/users"/>
        </xhtml:title>
        <xforms:model id="configuration">
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-eXist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-exist" select="xxforms:property('decor.exist.url')"/>
            <!-- Variable with path to xis-eXist for content -->
            <xxforms:variable name="xis-exist" select="xxforms:property('xis.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            <!-- instance for navigating users -->
            <xforms:instance id="user-navigation">
                <user/>
            </xforms:instance>
            <xforms:action ev:observer="user-navigation" ev:event="xxforms-value-changed">
                <xforms:send if="string-length(instance('user-navigation')) gt 0" submission="get-user-details-submission"/>
            </xforms:action>
            <!-- instance edit status user -->
            <xforms:instance id="user-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
            <!-- instance for userlist -->
            <xforms:instance id="users-list">
                <users/>
            </xforms:instance>
            <!-- instance for new user in the users-list -->
            <xforms:instance id="new-list-user">
                <user name="">
                    <displayName/>
                </user>
            </xforms:instance>
            <!-- instance for new user -->
            <xforms:instance id="new-user">
                <user name="" active="true" newpwd="" newpwd-confirm="" new="true">
                    <!-- account-info -->
                    <groups>
                        <group>guest</group>
                    </groups>
                    <primarygroup>guest</primarygroup>
                    <description/>
                    
                    <!-- user-info -->
                    <defaultLanguage/>
                    <displayName/>
                    <email/>
                    <organization/>
                </user>
            </xforms:instance>
            <!-- instance for user details -->
            <xforms:instance id="user-details">
                <user/>
            </xforms:instance>
            <xforms:submission id="get-user-details-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-user.xquery?user={instance('user-navigation')}" replace="instance" instance="user-details" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:setvalue ref="instance('selected-groups')" value="string-join(instance('groups-instance')/group[. = instance('user-details')/groups/group]/@navkey,' ')"/>
                    <xforms:setvalue ref="instance('selected-testgroups')" value="string-join(instance('test-accounts')/group[. = instance('user-details')/groups/group]/@navkey,' ')"/>
                    <xforms:setfocus control="displayName"/>
                    <xforms:setvalue ref="instance('user-safe')">true</xforms:setvalue>
                </xforms:action>
            </xforms:submission>
            <!-- instance for searching users
                string      search string
                active      tri state ''=all users, false=inactive users, true=active users
                group       tri state ''=all users, text() is space separated list of groups
                creation    comp '' exact on date, >= on or after, comp <= before or on, text() shall be xs:date
                lastlogin   comp '' exact on date, >= on or after, comp <= before or on, text() shall be xs:date
                lastemail   comp '' exact on date, >= on or after, comp <= before or on, text() shall be xs:date
            -->
            <xforms:instance id="user-search-instance">
                <search>
                    <string/>
                    <active/>
                    <!--<group/>-->
                    <!--<creation comp=""/>
                    <lastlogin comp=""/>
                    <lastemail comp=""/>-->
                </search>
            </xforms:instance>
            <!--<xforms:bind nodeset="instance('user-search-instance')">
                <xforms:bind nodeset="lastlogin" type="xforms:date"/>
            </xforms:bind>-->
            <xforms:instance id="user-search-instance-empty">
                <search>
                    <string/>
                    <active/>
                    <!--<group/>-->
                    <!--<creation comp=""/>
                    <lastlogin comp=""/>
                    <lastemail comp=""/>-->
                </search>
            </xforms:instance>
            <xforms:bind nodeset="instance('user-search-instance')">
                <xforms:bind nodeset="active" type="xforms:boolean"/>
                <xforms:bind nodeset="creation" type="xforms:date"/>
                <xforms:bind nodeset="lastlogin" type="xforms:date"/>
                <xforms:bind nodeset="lastemail" type="xforms:date"/>
            </xforms:bind>
            <xforms:instance id="selected-search-groups">
                <groups/>
            </xforms:instance>
            <xforms:submission id="get-users-list-submission" ref="instance('user-search-instance')" action="{$art-exist}/modules/get-user-list.xquery" method="post" replace="instance" instance="users-list" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="instance('users-list')/user[@name = instance('user-navigation')]">
                        <xforms:dispatch name="xxforms-value-changed" target="user-navigation"/>
                    </xforms:action>
                    <xforms:action if="not(instance('users-list')/user[@name = instance('user-navigation')])">
                        <xforms:setvalue ref="instance('user-navigation')" value="instance('users-list')/user[1]/@name"/>
                    </xforms:action>
                    <xforms:setvalue ref="instance('user-safe')">true</xforms:setvalue>
                </xforms:action>
            </xforms:submission>
            <!-- save user -->
            <xforms:submission id="save-user-details-submission" ref="instance('user-details')" action="{$art-exist}/modules/save-user.xquery" method="post" replace="instance" instance="user-safe" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:setvalue ref="instance('users-list')/user[@name = instance('user-navigation')]/@active" value="instance('user-details')/@active"/>
                </xforms:action>
            </xforms:submission>
            <!-- event observer for user changes -->
            <xforms:action ev:observer="user-details" ev:event="xxforms-value-changed xforms-insert xforms-delete">
                <xforms:setvalue ref="instance('user-safe')">false</xforms:setvalue>
                <xforms:action if="instance('user-details')[@new='true'][string-length(@name)&gt;0]">
                    <xforms:setvalue ref="instance('users-list')/user[last()]/@name" value="instance('user-details')/@name"/>
                </xforms:action>
                <xforms:action if="instance('user-details')[string-length(@name)&gt;0][string-length(displayName)&gt;0]">
                    <xforms:setvalue ref="instance('users-list')/user[@name=instance('user-details')/@name]/displayName" value="instance('user-details')/displayName"/>
                </xforms:action>
            </xforms:action>
            
            <!-- instance for groups -->
            <xforms:instance id="groups-instance">
                <groups/>
            </xforms:instance>
            <xforms:instance id="selected-groups">
                <groups/>
            </xforms:instance>
            <xforms:submission id="get-groups-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-groups.xq" replace="instance" instance="groups-instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:action ev:event="xforms-submit-done" if="instance('groups-instance')/group[. = ('decor')]">
                    <xforms:setvalue ref="instance('new-user')/groups/group" value="'decor'"/>
                    <xforms:setvalue ref="instance('new-user')/primarygroup" value="'decor'"/>
                </xforms:action>
            </xforms:submission>
            
            <!-- instance for test accounts -->
            <xforms:instance id="test-accounts">
                <auth/>
            </xforms:instance>
            <xforms:instance id="selected-testgroups">
                <groups/>
            </xforms:instance>
            <xforms:bind nodeset="instance('selected-groups')" readonly="exists(instance('user-details')[@name=('eXide', 'monex', 'packageservice')])"/>
            <xforms:bind nodeset="instance('selected-testgroups')" readonly="exists(instance('user-details')[@name=('eXide', 'monex', 'packageservice')])"/>
            <xforms:submission id="get-test-accounts-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-test-account-groups.xquery" replace="instance" instance="test-accounts" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}"/>
            <xforms:submission id="save-test-accounts-submission" serialization="none" method="get" resource="{$art-exist}/modules/save-test-account-groups.xquery" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-groups-submission"/>
                <xforms:send submission="get-test-accounts-submission"/>
                <xforms:send submission="get-users-list-submission"/>
            </xforms:action>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="administrator" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
            <xforms:bind nodeset="instance('user-navigation')" readonly="instance('user-safe')='false'"/>
            <xforms:bind nodeset="instance('user-details')">
                <xforms:bind nodeset=".//ancestor-or-self::user[@name=('admin', 'eXide', 'monex', 'packageservice')]" readonly="true()"/>
                <xforms:bind nodeset=".//ancestor-or-self::user[@name=('guest')]">
                    <xforms:bind nodeset="@*" readonly="true()"/>
                    <xforms:bind nodeset="*[not(name()=('defaultLanguage'))]" readonly="true()"/>
                </xforms:bind>
                <xforms:bind nodeset="@name" type="xs:string" required="true()" constraint="for $current-name in . return count(instance('users-list')/user[@name = $current-name]) &lt;= 1"/>
                <xforms:bind nodeset="@newpwd" constraint="not(@new='true') or string-length(@newpwd)&gt;0"/>
                <xforms:bind nodeset="@newpwd-confirm" constraint="string-length(@newpwd)=0 or .=@newpwd"/>
                <xforms:bind nodeset="groups[group='decor-admin']" constraint="group[. = 'decor']"/>
                <xforms:bind nodeset="groups[group='editor']" constraint="group[. = 'decor']"/>
                <xforms:bind nodeset="groups[group='issues']" constraint="group[. = 'decor']"/>
            </xforms:bind>
        </xforms:model>
    </xhtml:head>
    <!-- Start of XForm body -->
    <xhtml:body>
        <xxforms:variable name="groupsNotTestAccounts" select="instance('groups-instance')/group[not(. = instance('test-accounts')/group)]"/>
        <xxforms:variable name="groupsNotTestAccountsOrUserGroups" select="$groupsNotTestAccounts[not(@userGroup = 'true')]"/>
        <xxforms:variable name="groupsTestAccounts" select="instance('test-accounts')/group"/>
        <xforms:group ref=".[$administrator]">
            <xxforms:dialog id="users-list-filter-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
                <xforms:label ref="$resources/filter"/>
                <xforms:group ref="instance('user-search-instance')">
                    <xxforms:variable name="allGrp" select="group"/>
                    <xhtml:table width="500" class="spaced">
                        <xhtml:tr class="heading">
                            <xhtml:td class="heading" colspan="4">
                                <xforms:output ref="$resources/filter"/>
                                <xhtml:div class="buttons">
                                    <xforms:trigger appearance="compact">
                                        <xforms:label ref="$resources/reset-default"/>
                                        <xforms:action ev:event="DOMActivate">
                                            <xxforms:variable name="searchstring" select="instance('user-search-instance')/string"/>
                                            <xforms:insert nodeset="instance('user-search-instance')" origin="instance('user-search-instance-empty')"/>
                                            <xforms:setvalue ref="instance('user-search-instance')/string" value="$searchstring"/>
                                            <xforms:send submission="get-users-list-submission"/>
                                            <xxforms:hide dialog="users-list-filter-dialog"/>
                                        </xforms:action>
                                    </xforms:trigger>
                                </xhtml:div>
                            </xhtml:td>
                        </xhtml:tr>
                        <!-- active -->
                        <xhtml:tr>
                            <xhtml:td width="20%" class="item-label">
                                <xforms:output ref="replace($resources/account-active,' ','&#160;')"/>
                            </xhtml:td>
                            <xhtml:td colspan="3">
                                <xforms:select1 ref="active" appearance="full" incremental="true" class="auto-width inline">
                                    <xforms:label ref="$resources/account-active" class="hidden"/>
                                    <xforms:item>
                                        <xforms:label ref="$resources/all"/>
                                        <xforms:value ref="''"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="$resources/active-only"/>
                                        <xforms:value ref="'true'"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="$resources/inactive-only"/>
                                        <xforms:value ref="'false'"/>
                                    </xforms:item>
                                </xforms:select1>
                            </xhtml:td>
                        </xhtml:tr>
                        <!-- group -->
                        <xhtml:tr>
                            <xhtml:td width="20%" class="item-label">
                                <xforms:output ref="replace($resources/groups,' ','&#160;')"/>
                            </xhtml:td>
                            <xhtml:td style="min-width: 150px;">
                                <xforms:repeat nodeset="group[not(. = '')]" id="groupSearchRepeat">
                                    <xxforms:variable name="delGrp" select="."/>
                                    <xhtml:div class="not-selectable">
                                        <xforms:trigger appearance="minimal">
                                            <xforms:label>
                                                <xhtml:img src="/img/itemdelete.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/delete"/>
                                            <xforms:delete ev:event="DOMActivate" nodeset="."/>
                                        </xforms:trigger>
                                        <xforms:output ref="."/>
                                    </xhtml:div>
                                </xforms:repeat>
                            </xhtml:td>
                            <xhtml:td style="vertical-align: middle;">
                                <!-- Add -->
                                <xforms:trigger appearance="compact">
                                    <xforms:label ref="'&lt;'"/>
                                    <xforms:hint ref="$resources/add"/>
                                    <xforms:action ev:event="DOMActivate" xxforms:iterate="tokenize(instance('selected-search-groups'),'\s')">
                                        <xxforms:variable name="navkey" select="context()"/>
                                        <xforms:insert context="instance('user-search-instance')" nodeset="user" at="last()" position="after" origin="$groupsNotTestAccountsOrUserGroups[@navkey = $navkey][1]"/>
                                        <xforms:setvalue ref="instance('selected-search-groups')" value="''"/>
                                    </xforms:action>
                                </xforms:trigger>
                                <!-- Remove -->
                                <!--<xforms:trigger appearance="compact">
                                    <xforms:label ref="'>'"/>
                                    <xforms:hint ref="$resources/remove"/>
                                    <xforms:action ev:event="DOMActivate">
                                        <xxforms:variable name="delGrp" select="$allGrp[position() = index('groupSearchRepeat')]"/>
                                        <xforms:setvalue ref="context()/group" value="$allGrp[not(. = $delGrp)]"/>
                                    </xforms:action>
                                </xforms:trigger>-->
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:select ref="instance('selected-search-groups')" incremental="true" appearance="full" class="auto-width">
                                    <xforms:label ref="$resources/groups" class="hidden"/>
                                    <xforms:itemset nodeset="$groupsNotTestAccountsOrUserGroups[not(. = $allGrp)]">
                                        <xforms:label ref="."/>
                                        <xforms:value ref="@navkey"/>
                                    </xforms:itemset>
                                </xforms:select>
                            </xhtml:td>
                        </xhtml:tr>
                        <!-- creation -->
                        <!--<xhtml:tr>
                            <xhtml:td width="20%" class="item-label">
                                <xforms:output ref="replace($resources/created,' ',' ')"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:select1 ref="creation/@comp" class="auto-width">
                                    <xforms:label ref="$resources/comparator" class="hidden"/>
                                    <xforms:item>
                                        <xforms:label ref="'='"/>
                                        <xforms:value ref="''"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="'>='"/>
                                        <xforms:value ref="'>='"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="'<='"/>
                                        <xforms:value ref="'<='"/>
                                    </xforms:item>
                                </xforms:select1>
                                <xforms:input ref="creation">
                                    <xforms:label ref="$resources/created" class="hidden"/>
                                </xforms:input>
                            </xhtml:td>
                        </xhtml:tr>-->
                        <!-- lastlogin -->
                        <!--<xhtml:tr>
                            <xhtml:td width="20%" class="item-label">
                                <xforms:output ref="replace($resources/last-login,' ',' ')"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:select1 ref="lastlogin/@comp" class="auto-width">
                                    <xforms:label ref="$resources/comparator" class="hidden"/>
                                    <xforms:item>
                                        <xforms:label ref="'='"/>
                                        <xforms:value ref="''"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="'>='"/>
                                        <xforms:value ref="'>='"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="'<='"/>
                                        <xforms:value ref="'<='"/>
                                    </xforms:item>
                                </xforms:select1>
                                <xforms:input ref="lastlogin">
                                    <xforms:label ref="$resources/last-login" class="hidden"/>
                                </xforms:input>
                            </xhtml:td>
                        </xhtml:tr>-->
                        <!-- lastemail -->
                        <!--<xhtml:tr>
                            <xhtml:td width="20%" class="item-label">
                                <xforms:output ref="replace($resources/last-issue-email,' ',' ')"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:select1 ref="lastemail/@comp" class="auto-width">
                                    <xforms:label ref="$resources/comparator" class="hidden"/>
                                    <xforms:item>
                                        <xforms:label ref="'='"/>
                                        <xforms:value ref="''"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="'>='"/>
                                        <xforms:value ref="'>='"/>
                                    </xforms:item>
                                    <xforms:item>
                                        <xforms:label ref="'<='"/>
                                        <xforms:value ref="'<='"/>
                                    </xforms:item>
                                </xforms:select1>
                                <xforms:input ref="lastemail">
                                    <xforms:label ref="$resources/last-issue-email" class="hidden"/>
                                </xforms:input>
                            </xhtml:td>
                        </xhtml:tr>-->
                    </xhtml:table>
                </xforms:group>
                <xhtml:div style="margin-top: 5px;">
                    <xhtml:div class="buttons">
                        <xforms:trigger appearance="compact">
                            <xforms:label ref="$resources/apply"/>
                            <xforms:action ev:event="DOMActivate">
                                <xforms:send submission="get-users-list-submission"/>
                                <xxforms:hide dialog="users-list-filter-dialog"/>
                            </xforms:action>
                        </xforms:trigger>
                    </xhtml:div>
                </xhtml:div>
            </xxforms:dialog>
            <xhtml:table width="100%">
                <xhtml:tr>
                    <!-- user navigation -->
                    <xhtml:td width="20%">
                        <xhtml:table class="detail spaced" width="100%">
                            <!-- row with heading for select controls	-->
                            <xhtml:tr class="heading">
                                <xhtml:td colspan="2" class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/users"/>
                                        <xforms:group ref="instance('users-list')[@current]">
                                            <xforms:output ref="concat('(',@current, if (@current = @total) then () else concat(' / ',@total),')')"/>
                                        </xforms:group>
                                    </xhtml:div>
                                    <xforms:group ref=".[instance('user-safe')='true']">
                                        <xhtml:div class="buttons">
                                            <xforms:trigger appearance="compact">
                                                <xforms:label>
                                                    <xhtml:img src="/img/filter.png" alt=""/>
                                                </xforms:label>
                                                <xforms:hint ref="$resources/filter"/>
                                                <xxforms:show ev:event="DOMActivate" dialog="users-list-filter-dialog"/>
                                            </xforms:trigger>
                                            <xforms:trigger appearance="compact" id="add-user">
                                                <xforms:label>
                                                    <xhtml:img src="/img/plus.png" alt=""/>
                                                </xforms:label>
                                                <xforms:hint>
                                                    <xforms:output ref="$resources/add-user"/>
                                                </xforms:hint>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:insert context="instance('users-list')" nodeset="user" at="last()" position="after" origin="instance('new-list-user')"/>
                                                    <xforms:insert nodeset="instance('user-details')" origin="instance('new-user')"/>
                                                    <xforms:setvalue ref="instance('selected-groups')" value="string-join(instance('groups-instance')/group[. = instance('user-details')/groups/group]/@navkey,' ')"/>
                                                    <xforms:setvalue ref="instance('selected-testgroups')" value="string-join(instance('test-accounts')/group[. = instance('user-details')/groups/group]/@navkey,' ')"/>
                                                    <xforms:setvalue ref="instance('user-navigation')" value="''"/>
                                                    <xforms:setfocus control="username"/>
                                                    <xforms:setvalue ref="instance('user-safe')">false</xforms:setvalue>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xhtml:div>
                                    </xforms:group>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <!-- search term field and filter -->
                                <xhtml:td class="item-label" style="padding-right: 10px;padding-left: 10px;">
                                    <xhtml:img src="/img/search16.png" alt="" align="right" title="{$resources/search}"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="instance('user-search-instance')/string" id="search-user" incremental="true">
                                        <xforms:label ref="$resources/search" class="hidden"/>
                                        <xforms:send ev:event="xforms-value-changed" submission="get-users-list-submission"/>
                                    </xforms:input>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td colspan="2">
                                    <xhtml:div class="navigate no-overflow">
                                        <!-- Would have user xxforms:tree but that contains a bug in handling the readonly binding when user-safe='false',
                                            It let's happily select new entries, but does not actually update the selection anymore. Also, even while
                                            user-safe='true' it will not let you go back to anything you've selected before. Frustrating...
                                            appaearance='compact' does not support styling... but left it in anyway to revisit once the new xxforms:tree 
                                            control is in orbeon (2017-06-12)
                                        -->
                                        <xxforms:variable name="usersList" select="instance('users-list')/user"/>
                                        <xforms:select1 ref="instance('user-navigation')" appearance="compact" id="user-select">
                                            <xforms:label ref="$resources/users" class="hidden"/>
                                            <xforms:itemset nodeset="$usersList" class="node-user {if (@active = 'false') then 'node-deleted' else ()}">
                                                <xforms:label ref="string-join((if (@active = 'false') then 'X ' else (), if (displayName[string-length() gt 0]) then displayName else (@name)), '')"/>
                                                <xforms:value ref="@name"/>
                                            </xforms:itemset>
                                        </xforms:select1>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:td>
                    <!-- user details -->
                    <xhtml:td>
                        <xforms:group ref="instance('user-details')">
                            <xhtml:table class="detail spaced" width="100%">
                                <xhtml:tr class="heading">
                                    <xhtml:td class="heading" colspan="3">
                                        <xhtml:div class="heading">
                                            <xforms:output ref="if (displayName[string-length()&gt;0]) then displayName else (@name)"/>
                                        </xhtml:div>
                                        <!-- cancel / save -->
                                        <xhtml:div class="buttons">
                                            <xforms:group ref=".[instance('user-safe')='false']">
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label ref="$resources/cancel"/>
                                                    <xforms:send ev:event="DOMActivate" submission="get-users-list-submission"/>
                                                </xforms:trigger>
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label ref="$resources/save"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:send submission="save-user-details-submission"/>
                                                        <xforms:action if="exists(instance('test-accounts')/group)">
                                                            <xforms:send submission="save-test-accounts-submission"/>
                                                        </xforms:action>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:group>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- creation date / lastlogin / lastissuenotify -->
                                <xforms:group ref=".[string-length(string-join((creationdate|lastlogin|lastissuenotify),''))&gt;0]">
                                    <xhtml:tr>
                                        <xhtml:td class="item-label" style="border-top: 1px solid black;border-left: 1px solid black;">
                                            <xforms:output ref="$resources/created"/>
                                        </xhtml:td>
                                        <xhtml:td class="item-label" style="border-top: 1px solid black;">
                                            <xforms:output ref="$resources/last-login"/>
                                        </xhtml:td>
                                        <xhtml:td class="item-label" style="border-top: 1px solid black;border-right: 1px solid black;">
                                            <xforms:output ref="$resources/last-issue-email"/>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <xhtml:tr>
                                        <xhtml:td style="border-bottom: 1px solid black;border-left: 1px solid black">
                                            <xforms:output ref="creationdate"/>&#160;</xhtml:td>
                                        <xhtml:td style="border-bottom: 1px solid black;">
                                            <xforms:output ref="lastlogin"/>&#160;</xhtml:td>
                                        <xhtml:td style="border-bottom: 1px solid black;border-right: 1px solid black;">
                                            <xforms:output ref="lastissuenotify"/>&#160;</xhtml:td>
                                    </xhtml:tr>
                                </xforms:group>
                                <!-- account active -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/account-active"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:select1 ref="@active" appearance="full" class="inline">
                                            <xforms:label ref="$resources/account-active" class="hidden"/>
                                            <xforms:item>
                                                <xforms:label>
                                                    <xforms:output ref="$resources/yes"/>
                                                </xforms:label>
                                                <xforms:value>true</xforms:value>
                                            </xforms:item>
                                            <xforms:item>
                                                <xforms:label>
                                                    <xforms:output ref="$resources/no"/>
                                                </xforms:label>
                                                <xforms:value>false</xforms:value>
                                            </xforms:item>
                                        </xforms:select1>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- username -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/username"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:group ref=".[not(@new='true')]">
                                            <xforms:output ref="@name"/>
                                        </xforms:group>
                                        <xforms:group ref=".[@new='true']">
                                            <xforms:input ref="@name" incremental="true" id="username" xxforms:autocomplete="off">
                                                <xforms:label ref="$resources/username" class="hidden"/>
                                                <xforms:alert>
                                                    <xforms:output ref="$resources/required-field"/>
                                                </xforms:alert>
                                            </xforms:input>
                                        </xforms:group>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- displayname -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/name"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:input ref="displayName" incremental="true" id="displayName" xxforms:autocomplete="off">
                                            <xforms:label ref="$resources/name" class="hidden"/>
                                        </xforms:input>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- language -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/default-user-language"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:select1 ref="defaultLanguage" class="auto-width" id="language-select">
                                            <xforms:label ref="$resources/default-user-language" class="hidden"/>
                                            <xforms:item>
                                                <xforms:label ref="$resources/not-set"/>
                                                <xforms:value/>
                                            </xforms:item>
                                            <xforms:itemset nodeset="instance('resources-instance')/resources">
                                                <xforms:label ref="@displayName"/>
                                                <xforms:value ref="@xml:lang"/>
                                            </xforms:itemset>
                                        </xforms:select1>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- description -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/description"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:textarea ref="description" incremental="true" xxforms:autocomplete="off">
                                            <xforms:label ref="$resources/description" class="hidden"/>
                                        </xforms:textarea>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- organization -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/organization"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:input ref="organization" incremental="true" xxforms:autocomplete="off">
                                            <xforms:label ref="$resources/organization" class="hidden"/>
                                        </xforms:input>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- email -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/email"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:input ref="email" incremental="true" xxforms:autocomplete="off">
                                            <xforms:label ref="$resources/email" class="hidden"/>
                                        </xforms:input>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- password -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/password"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:secret ref="@newpwd">
                                            <xforms:label ref="$resources/password" class="hidden"/>
                                            <xforms:alert ref="$resources/required-field"/>
                                        </xforms:secret>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- password confirmation -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/confirm-password"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:secret ref="@newpwd-confirm" incremental="true">
                                            <xforms:label ref="$resources/confirm-password" class="hidden"/>
                                            <xforms:alert ref="$resources/does-not-match"/>
                                        </xforms:secret>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- primary group -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/primarygroup"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:select1 ref="primarygroup" class="auto-width" appearance="minimal" id="primarygroup-select">
                                            <xforms:label ref="$resources/primarygroup" class="hidden"/>
                                            <xforms:itemset nodeset="$groupsNotTestAccounts[. = instance('user-details')/groups/group]">
                                                <xforms:label ref="."/>
                                                <xforms:value ref="."/>
                                            </xforms:itemset>
                                        </xforms:select1>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- groups -->
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/groups"/>
                                    </xhtml:td>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/test-accounts"/>
                                    </xhtml:td>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/projects"/>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xforms:select ref="instance('selected-groups')" appearance="full" class="auto-width">
                                            <xforms:label ref="$resources/group" class="hidden"/>
                                            <xforms:itemset nodeset="$groupsNotTestAccountsOrUserGroups">
                                                <xforms:label ref="."/>
                                                <xforms:value ref="@navkey"/>
                                            </xforms:itemset>
                                            <xforms:action ev:event="xforms-value-changed">
                                                <xxforms:variable name="focus" select="$groupsNotTestAccountsOrUserGroups"/>
                                                <xxforms:variable name="navkeys" select="tokenize(instance('selected-groups'),'\s')"/>
                                                <xforms:delete nodeset="instance('user-details')/groups/group[. = $focus][not(. = $focus[@navkey = $navkeys])]"/>
                                                <xforms:action xxforms:iterate="$navkeys">
                                                    <xxforms:variable name="navkey" select="context()"/>
                                                    <xxforms:variable name="grp" select="$focus[@navkey = $navkey][1]"/>
                                                    <xforms:insert context="instance('user-details')/groups[not(group = $grp)]" origin="$grp"/>
                                                </xforms:action>
                                                
                                                <!-- activate decor group: trigger xforms-value-changed once more -->
                                                <xforms:action if="instance('user-details')/groups[not(group = 'decor')]/group[. = ('decor-admin','editor','issues')]">
                                                    <xforms:setvalue ref="instance('selected-groups')" value="string-join((instance('selected-groups'),$focus[. = 'decor']/@navkey),' ')"/>
                                                    <xforms:message ref="$resources/activated-group-decor"/>
                                                </xforms:action>
                                            </xforms:action>
                                        </xforms:select>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:select ref="instance('selected-testgroups')" appearance="full" class="auto-width">
                                            <xforms:label ref="$resources/test-account" class="hidden"/>
                                            <xforms:itemset nodeset="$groupsTestAccounts">
                                                <xforms:label ref="."/>
                                                <xforms:value ref="@navkey"/>
                                            </xforms:itemset>
                                            <xforms:action ev:event="xforms-value-changed">
                                                <xxforms:variable name="focus" select="$groupsTestAccounts"/>
                                                <xxforms:variable name="navkeys" select="tokenize(instance('selected-testgroups'),'\s')"/>
                                                <xforms:delete nodeset="instance('user-details')/groups/group[. = $focus][not(. = $focus[@navkey = $navkeys])]"/>
                                                <xforms:action xxforms:iterate="$navkeys">
                                                    <xxforms:variable name="navkey" select="context()"/>
                                                    <xxforms:variable name="grp" select="$focus[@navkey = $navkey][1]"/>
                                                    <xforms:insert context="instance('user-details')/groups[not(group = $grp)]" origin="$grp"/>
                                                </xforms:action>
                                            </xforms:action>
                                        </xforms:select>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <!-- Go readonly as they would need to be synched with projects, once we do that we could read/write. -->
                                        <xhtml:ul>
                                            <xforms:repeat nodeset="projects/project">
                                                <xhtml:li class="not-selectable">
                                                    <xforms:output ref="@name"/> (<xforms:output ref="@prefix"/>) </xhtml:li>
                                            </xforms:repeat>
                                        </xhtml:ul>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:table>
                        </xforms:group>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xforms:group>
    </xhtml:body>
</xhtml:html>