<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?><xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:hl7="urn:hl7-org:v3" xmlns:atp="urn:nictiz.atp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css">
            .xforms-select-appearance-full span { display: block; clear: both }
            .refreshimage { padding:10px 10px 10px 10px; }
        </xhtml:style>
        <xhtml:title>
            <xforms:output ref="$resources/configuration"/>
        </xhtml:title>
        <xforms:model id="configuration">
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <xxforms:variable name="systemtasks-exist" select="xxforms:property('systemtasks.exist.url')"/>
            <xxforms:variable name="terminology-exist" select="xxforms:property('terminology.exist.url')"/>
            <xxforms:variable name="tools-exist" select="xxforms:property('tools.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            <!-- package list -->
            <xforms:instance id="package-list">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-package-list" serialization="none" method="get" resource="{$art-exist}/modules/get-installed-packages-list.xquery" replace="instance" instance="package-list"/>
            
            <!-- update-codesystem-index -->
            <xforms:instance id="update-codesystem-index">
                <dummy/>
            </xforms:instance>
            <!-- submission for updating index -->
            <xforms:submission id="update-classification-index" serialization="none" method="get" resource="{$terminology-exist}/claml/modules/update-claml-index.xquery" replace="instance" instance="update-codesystem-index" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <!-- submission for refreshing the BBR cache -->
            <!-- cache-refresh response -->
            <xforms:instance id="cache-refresh">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="refresh-bbr-cache" serialization="none" method="get" resource="{$art-exist}/../systemtasks/modules/refresh-decor-cache.xquery?secret=61fgs756.s9&amp;user={xxforms:get-session-attribute('username')}&amp;password={xxforms:get-session-attribute('password')}" replace="instance" instance="cache-refresh">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:submission id="refresh-bbr-cache-status" serialization="none" method="get" resource="{$art-exist}/../systemtasks/modules/refresh-decor-cache.xquery?secret=61fgs756.s9&amp;user={xxforms:get-session-attribute('username')}&amp;password={xxforms:get-session-attribute('password')}&amp;statusonly=true" replace="instance" instance="cache-refresh">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- update-forms response -->
            <xforms:instance id="update-xforms-mode">
                <dummy>status</dummy>
            </xforms:instance>
            <xforms:instance id="update-xforms">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="update-xforms-submission" method="post" resource="{$art-exist}/modules/update-xforms.xquery?mode={instance('update-xforms-mode')}" replace="instance" instance="update-xforms" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- fix-history -->
            <xforms:instance id="status-object-history">
                <dummy>true</dummy>
            </xforms:instance>
            <xforms:instance id="fix-object-history">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="fix-object-history-submission" method="post" resource="{$art-exist}/modules/fix-object-history.xquery?statusonly={instance('status-object-history')}" replace="instance" instance="fix-object-history" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- menu-refresh response -->
            <xforms:instance id="menu-refresh">
                <dummy/>
            </xforms:instance>
            <!-- submission for menu refresh -->
            <xforms:submission id="refresh-menu" method="post" resource="{$art-exist}/modules/refresh-art-menu.xquery" replace="instance" instance="menu-refresh" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- fix all ART permissions -->
            <!-- permissions-fix response -->
            <xforms:instance id="fix-permissions">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="fix-art-permissions" method="post" resource="{$art-exist}/modules/fix-permissions.xquery" replace="instance" instance="fix-permissions" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- OIDS -->
            <xforms:instance id="oid-lookups-refresh">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="oid-force-lookups">
                <dummy>true</dummy>
            </xforms:instance>
            <xforms:submission id="refresh-oid-lookups" method="post" resource="{$tools-exist}/oids/modules/create-oid-lookupfile.xquery?force={instance('oid-force-lookups')}&amp;registry={encode-for-uri(instance('selected-oid-registry'))}" replace="instance" instance="oid-lookups-refresh" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:instance id="selected-oid-registry">
                <dummy/>
            </xforms:instance>
            <!-- instance to hold -->
            <xforms:instance id="all-oid-registries-instance">
                <dummy/>
            </xforms:instance>
            <!-- get oid registries submission -->
            <xforms:submission id="get-all-oid-registries-submission" serialization="none" method="get" resource="{$tools-exist}/oids/modules/get-oid-registries-list.xq" replace="instance" instance="all-oid-registries-instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}"/>
            
            <!-- instance for upload XML as binary64 -->
            <xforms:instance id="upload-oid-registry-instance">
                <content mediatype="" filename="" size="">
                    <data xsi:type="xs:base64Binary"/>
                </content>
            </xforms:instance>
            <xforms:instance id="validate-oid-registry-check">
                <dummy/>
            </xforms:instance>
            
            <!-- validate the instance -->
            <xforms:submission id="upload-oid-registry" method="post" ref="instance('upload-oid-registry-instance')" replace="instance" xxforms:instance="validate-oid-registry-check" action="{$tools-exist}/oids/modules/add-oid-registry.xquery?force=true" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:toggle case="validate-case-busy" ev:event="xforms-submit"/>
                <xforms:toggle case="validate-case-error" ev:event="xforms-submit-error"/>
                <xforms:toggle case="validate-case-done" ev:event="xforms-submit-done"/>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:send submission="get-all-oid-registries-submission"/>
                    <xforms:setvalue ref="instance('selected-oid-registry')" value="instance('validate-oid-registry-check')/@name"/>
                    <xforms:setvalue ref="instance('oid-force-lookups')" value="'false'"/>
                    <xforms:send submission="refresh-oid-lookups"/>
                    <xforms:setvalue ref="instance('oid-force-lookups')" value="'true'"/>
                </xforms:action>
            </xforms:submission>
            
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-package-list"/>
                <xforms:action if="$administrator">
                    <xforms:send submission="refresh-bbr-cache-status"/>
                    <xforms:setvalue ref="instance('update-xforms-mode')">status</xforms:setvalue>
                    <xforms:send submission="update-xforms-submission"/>
                    <xforms:send submission="fix-object-history-submission"/>
                    <xforms:send submission="get-all-oid-registries-submission"/>
                </xforms:action>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <xforms:dispatch if="$administrator and xxforms:get-request-parameter('section')='functions'" name="fr-toggle" target="functionsTab"/>
            </xforms:action>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="administrator" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
            <xforms:bind nodeset=".[$administrator]" id="functions"/>
        </xforms:model>
    </xhtml:head>
    <!-- Start of XForm body -->
    <xhtml:body>
        <!-- tabview -->
        <fr:tabview>
            <fr:tab>
                <fr:label ref="$resources/installed-packages"/>
                <xhtml:div class="detail">
                    <xhtml:table width="100%" class="detail zebra-table">
                        <xhtml:tr class="not-selectable heading">
                            <xhtml:td width="8%" class="heading">
                                <xforms:output ref="$resources/name"/>
                            </xhtml:td>
                            <xhtml:td width="8%" class="heading">
                                <xforms:output ref="$resources/version"/>
                            </xhtml:td>
                            <xhtml:td width="8%" class="heading">
                                <xforms:output ref="$resources/collection"/>
                            </xhtml:td>
                        </xhtml:tr>
                        <xforms:repeat nodeset="instance('package-list')/package" id="package-list2">
                            <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                <xhtml:td>
                                    <xforms:output ref="@title"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@version"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@collection"/>
                                </xhtml:td>
                            </xhtml:tr>
                        </xforms:repeat>
                    </xhtml:table>
                </xhtml:div>
            </fr:tab>
            <fr:tab bind="functions" id="functionsTab">
                <fr:label ref="$resources/$resources/functions"/>
                <xhtml:table width="100%" class="detail spaced">
                    <xhtml:colgroup>
                        <xhtml:col style="width: 5%;"/>
                        <xhtml:col style="width: 45%;"/>
                    </xhtml:colgroup>
                    <xhtml:colgroup>
                        <xhtml:col style="width: 5%;"/>
                        <xhtml:col style="width: 45%;"/>
                    </xhtml:colgroup>
                    <!-- Refresh menu / codesystem index header -->
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading" style="float: left; vertical-align: middle !important;">
                                <xforms:output ref="$resources/refresh-menu"/>
                            </xhtml:div>
                        </xhtml:td>
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/update-codesystem-index"/>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- Refresh menu / codesystem index contents -->
                    <xhtml:tr>
                        <xhtml:td>
                            <xforms:trigger id="refreshmenu" appearance="compact">
                                <xforms:label>
                                    <xhtml:img src="/img/refreshorange.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/refresh-menu"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:send submission="refresh-menu"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:group ref="instance('menu-refresh')[@dateTime]">
                                <xhtml:img src="/img/tick.png" alt="ready"/>
                                <xforms:output ref="concat(' ',$resources/as-of,' ')"/>
                                <xforms:output ref="@dateTime" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                            </xforms:group>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:trigger id="updatecodesystemindex" appearance="compact">
                                <xforms:label>
                                    <xhtml:img src="/img/refreshorange.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/update-codesystem-index"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:send submission="update-classification-index"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:group ref="instance('update-codesystem-index')[@index]">
                                <xhtml:img src="/img/tick.png" alt="ready"/>
                                <xforms:output ref="concat(@index, ' (', @codeSystems, ')')"/>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- spacer -->
                    <xhtml:tr>
                        <xhtml:td colspan="4">
                            <xhtml:div style="height:7px;"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- Fix art permissions / object history header -->
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/fix-art-permissions"/>
                            </xhtml:div>
                        </xhtml:td>
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/fix-object-history"/>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- Fix art permissions / object history contents -->
                    <xhtml:tr>
                        <xhtml:td>
                            <xforms:trigger id="fixartpermissions" appearance="compact">
                                <xforms:label>
                                    <xhtml:img src="/img/refreshorange.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/fix-art-permissions"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:send submission="fix-art-permissions"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:group ref="instance('fix-permissions')[@dateTime]">
                                <xhtml:img src="/img/tick.png" alt="ready"/>
                                <xforms:output ref="concat(' ',$resources/as-of,' ')"/>
                                <xforms:output ref="@dateTime" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                            </xforms:group>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:trigger id="fixobjecthistory" appearance="compact">
                                <xforms:label>
                                    <xhtml:img src="/img/refreshorange.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/fix-object-history"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:setvalue ref="instance('status-object-history')">false</xforms:setvalue>
                                    <xforms:send submission="fix-object-history-submission"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:group ref="instance('fix-object-history')[. = 'true']">
                                <xhtml:img src="/img/tick.png" alt="ready"/>
                                <xforms:output ref="concat(' ', if (@statusOnly = 'true') then $resources/checked else (), ' ', $resources/as-of, ' ')"/>
                                <xforms:output ref="@dateTime" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                <xforms:group ref=".[@statusOnly = 'true']">
                                    <xhtml:span style="font-weight: bold;">
                                        <xforms:output ref="concat(' ', $resources/no-action-required)"/>
                                    </xhtml:span>
                                </xforms:group>
                            </xforms:group>
                            <xforms:group ref="instance('fix-object-history')[not(. = 'true')]">
                                <xhtml:img src="/img/construction.png" alt=""/>
                                <xhtml:i>
                                    <xforms:output ref="concat(' ', $resources/checked, ' ', $resources/as-of, ' ')"/>
                                    <xforms:output ref="@dateTime" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                    <xhtml:span style="font-weight: bold;">
                                        <xforms:output ref="concat(' ', $resources/action-required)"/>
                                    </xhtml:span>
                                </xhtml:i>
                            </xforms:group>
                            <xhtml:div>
                                <xforms:output ref="$resources/fix-object-history-hint"/>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- spacer -->
                    <xhtml:tr>
                        <xhtml:td colspan="4">
                            <xhtml:div style="height:7px;"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- OID Registries -->
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading" style="float: left; vertical-align: middle !important;">
                                <xforms:output ref="$resources/oid-registries"/>
                            </xhtml:div>
                        </xhtml:td>
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading">
                                 
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- OID Registries contents -->
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xhtml:table width="100%">
                                <xhtml:tr>
                                    <xhtml:td colspan="3">
                                        <xhtml:div style="margin-right: 2em;">
                                            <xforms:trigger id="oidlookupsrefresh" appearance="compact">
                                                <xforms:label>
                                                    <xhtml:img src="/img/refreshorange.png" alt=""/>
                                                </xforms:label>
                                                <xforms:hint ref="$resources/refresh-oid-lookups"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:setvalue ref="instance('selected-oid-registry')" value="''"/>
                                                    <xforms:send submission="refresh-oid-lookups"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td width="10%">
                                         
                                    </xhtml:td>
                                    <xhtml:td colspan="2" style="padding: 10px 0;">
                                        <xhtml:img src="/img/plus.png" alt="" title="{$resources/upload-oid-registry}" style="margin-right: 1em;"/>
                                        <xforms:upload ref="instance('upload-oid-registry-instance')/data" id="upload-widget">
                                            <xforms:label ref="$resources/upload-oid-registry" class="hidden"/>
                                            <xforms:filename ref="../@filename"/>
                                            <xforms:mediatype ref="../@mediatype"/>
                                            <xxforms:size ref="../@size"/>
                                            <xforms:help>Writes the OID Registry as "[myoidregistry/@name]-oids.xml" after validating the contents against DECORmyoidregistry.xsd. If there already is an OID Registry by that name, it will overwrite that registry.</xforms:help>
                                            <xforms:action ev:event="xxforms-upload-done">
                                                <xxforms:variable name="supported-types" select="('text/xml', 'application/xml')"/>
                                                <xforms:send if="context()/..[@mediatype = $supported-types]" submission="upload-oid-registry"/>
                                            </xforms:action>
                                        </xforms:upload>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xforms:repeat nodeset="instance('all-oid-registries-instance')/registry[not(@name = '')]">
                                    <xhtml:tr class="not-selectable">
                                        <xhtml:td width="10%">
                                            <xforms:trigger id="oidlookuprefresh" appearance="compact">
                                                <xforms:label>
                                                    <xhtml:img src="/img/refreshorange.png" alt="" width="20" height="20"/>
                                                </xforms:label>
                                                <xforms:hint ref="$resources/refresh-oid-lookup"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:setvalue ref="instance('selected-oid-registry')" value="context()/@name"/>
                                                    <xforms:send submission="refresh-oid-lookups"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="@displayName"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:group ref="instance('oid-lookups-refresh')/*[@registryName = context()/@name]">
                                                <xforms:group ref="@norefreshneeded">
                                                    <xhtml:img src="/img/tick.png" alt="ready"/>
                                                </xforms:group>
                                                <xforms:output ref="concat(' ', $resources/count, ': ', @oids, ' ', $resources/as-of, ' ')"/>
                                                <xforms:output ref="@lastModified" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                            </xforms:group>
                                        </xhtml:td>
                                    </xhtml:tr>
                                </xforms:repeat>
                            </xhtml:table>
                        </xhtml:td>
                        <xhtml:td>
                             
                        </xhtml:td>
                        <xhtml:td>
                             
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- spacer -->
                    <xhtml:tr>
                        <xhtml:td colspan="4">
                            <xhtml:div style="height:7px;"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- Refresh bbr / update xforms header -->
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/refresh-bbr"/>
                            </xhtml:div>
                        </xhtml:td>
                        <xhtml:td class="heading" colspan="2">
                            <xhtml:div class="heading">
                                <xforms:output ref="concat($resources/update-xforms, ' (', $resources/current, ': ', instance('update-xforms')/@serverVersion, ')')"/>
                            </xhtml:div>
                            <xhtml:div class="buttons">
                                <xforms:trigger id="updateformsstatus" appearance="compact">
                                    <xforms:label>
                                        <xhtml:img src="/img/arrow_refresh.png" alt="" width="16" height="16"/>
                                        <xforms:output ref="$resources/status"/>
                                    </xforms:label>
                                    <xforms:hint ref="$resources/update-xforms"/>
                                    <xforms:action ev:event="DOMActivate">
                                        <xforms:setvalue ref="instance('update-xforms-mode')">status</xforms:setvalue>
                                        <xforms:send submission="update-xforms-submission"/>
                                    </xforms:action>
                                </xforms:trigger>
                                <xforms:trigger id="updateformsupdate" appearance="compact">
                                    <xforms:label>
                                        <xhtml:img src="/img/refreshorange.png" alt="" width="16" height="16"/>
                                        <xforms:output ref="$resources/update-xforms"/>
                                    </xforms:label>
                                    <xforms:hint ref="$resources/update-xforms"/>
                                    <xforms:action ev:event="DOMActivate">
                                        <xforms:setvalue ref="instance('update-xforms-mode')">update</xforms:setvalue>
                                        <xforms:send submission="update-xforms-submission"/>
                                    </xforms:action>
                                </xforms:trigger>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- Refresh bbr / update xforms contents -->
                    <xhtml:tr>
                        <xhtml:td>
                            <xforms:trigger id="refreshbbr" appearance="compact">
                                <xforms:label>
                                    <xhtml:img src="/img/refreshorange.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/refresh-bbr"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:send submission="refresh-bbr-cache"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:group ref="instance('cache-refresh')[result]">
                                <xhtml:img src="/img/tick.png" alt="ready"/>
                                <xforms:output ref="concat($resources/bbr-cached, ': ', result/@cached, ', ', $resources/bbr-unreachable, ': ', result/@unreachable, ', ', $resources/as-of, ' ')"/>
                                <xforms:output ref="result/@time" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                <xhtml:table>
                                    <xforms:repeat nodeset="result/(ok|unreachable)" id="cache-list">
                                        <xhtml:tr class="not-selectable">
                                            <xforms:group ref=".[name()='ok']">
                                                <xhtml:td width="20">
                                                    <xhtml:img src="/img/tick.png" style="max-width: none;" alt="ok"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="@ident"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="concat(' @ ', @url)"/>
                                                </xhtml:td>
                                            </xforms:group>
                                            <xforms:group ref=".[name()='unreachable']">
                                                <xhtml:td width="20">
                                                    <xhtml:img src="/img/exclamation.gif" style="max-width: none;" alt="unreachable"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="@ident"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="$resources/bbr-unreachable"/>
                                                    <xforms:output ref="concat(' @ ', @url, ': ')"/>
                                                    <xforms:output ref="cacheme/error"/>
                                                </xhtml:td>
                                            </xforms:group>
                                        </xhtml:tr>
                                    </xforms:repeat>
                                </xhtml:table>
                            </xforms:group>
                        </xhtml:td>
                        <xhtml:td colspan="2">
                            <xforms:group ref="instance('update-xforms')[self::result]">
                                <xhtml:img src="/img/tick.png" alt="ready" style="margin-right: 1em;"/>
                                <xforms:output ref="concat('XForms (', @mode, '): ', @total, ', Orbeon ', @serverVersion, ' ', $resources/as-of)"/>
                                <xforms:output ref="@time" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                <xhtml:table class="spaced" width="100%">
                                    <xforms:repeat nodeset="file" id="update-list">
                                        <xhtml:tr class="not-selectable">
                                            <xhtml:td width="20">
                                                <xhtml:img src="/img/tick.png" alt="ok"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:output ref="@name"/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xforms:output ref="if (@mode = 'upgrade') then $resources/upgrade else if (@mode = 'downgrade') then $resources/downgrade else @mode"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xforms:repeat>
                                </xhtml:table>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <!-- spacer -->
                        <xhtml:td colspan="4">
                            <xhtml:div style="height:7px;"/>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
            </fr:tab>
        </fr:tabview>
    </xhtml:body>
</xhtml:html>