<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xh:html xmlns:xh="http://www.w3.org/1999/xhtml" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xh:head>
        <xh:title>
            <xforms:output ref="$resources/explore"/>
        </xh:title>
        <xforms:model id="decor-explore">
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-external-exist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-external-exist" select="xxforms:property('decor.external.exist.url')"/>
            <!-- Variable with path to terminology-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxforms:variable name="terminology-exist" select="xxforms:property('terminology.exist.url')"/>
            <!-- logo -->
            <xforms:instance id="logo">
                <logo/>
            </xforms:instance>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- instance for user-agent, used to check if SVG links should be available -->
            <xforms:instance id="user-agent">
                <agent/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            <!-- instance for document name -->
            <xforms:instance id="document">
                <name/>
            </xforms:instance>
            <!-- instance for DECOR Schema enumerations -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
            <!-- get decor schema submission -->
            <xforms:submission id="get-decor-schema-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types"/>
            <!-- instance for search -->
            <xforms:instance id="search-instance" xxforms:exclude-result-prefixes="#all">
                <search max="50" concepttype="" prefix="" version="" language=""/>
            </xforms:instance>
            <xforms:instance id="dataset-itemset-instance">
                <result/>
            </xforms:instance>
            <xforms:instance id="concept-itemset-instance">
                <result/>
            </xforms:instance>
            <xforms:instance id="scenario-itemset-instance">
                <result/>
            </xforms:instance>
            <xforms:instance id="transaction-itemset-instance">
                <result/>
            </xforms:instance>
            <xforms:instance id="valueset-itemset-instance">
                <result/>
            </xforms:instance>
            <xforms:instance id="template-itemset-instance">
                <result/>
            </xforms:instance>
            <xforms:submission id="update-dataset-set" mode="asynchronous" ref="instance('search-instance')" method="get" resource="{$art-exist}/modules/search-decor-object.xquery?project=*&amp;type=DS&amp;maxResults={instance('search-instance')/@max}&amp;searchString={instance('search-instance')}" replace="instance" instance="dataset-itemset-instance"/>
            <xforms:submission id="update-concept-set" mode="asynchronous" ref="instance('search-instance')" method="get" resource="{$art-exist}/modules/search-decor-object.xquery?project=*&amp;type=DE&amp;maxResults={instance('search-instance')/@max}&amp;searchString={instance('search-instance')}&amp;conceptType={instance('search-instance')/@concepttype}&amp;originalConceptsOnly=true&amp;localConceptsOnly=false" replace="instance" instance="concept-itemset-instance"/>
            <xforms:submission id="update-valueset-set" mode="asynchronous" ref="instance('search-instance')" method="get" resource="{$art-exist}/modules/search-decor-object.xquery?project=*&amp;type=VS&amp;maxResults={instance('search-instance')/@max}&amp;searchString={instance('search-instance')}" replace="instance" instance="valueset-itemset-instance"/>
            <xforms:submission id="update-scenario-set" mode="asynchronous" ref="instance('search-instance')" method="get" resource="{$art-exist}/modules/search-decor-object.xquery?project=*&amp;type=SC&amp;maxResults={instance('search-instance')/@max}&amp;searchString={instance('search-instance')}" replace="instance" instance="scenario-itemset-instance"/>
            <xforms:submission id="update-transaction-set" mode="asynchronous" ref="instance('search-instance')" method="get" resource="{$art-exist}/modules/search-decor-object.xquery?project=*&amp;type=TR&amp;maxResults={instance('search-instance')/@max}&amp;searchString={instance('search-instance')}" replace="instance" instance="transaction-itemset-instance"/>
            <xforms:submission id="update-template-set" mode="asynchronous" ref="instance('search-instance')" method="get" resource="{$art-exist}/modules/search-decor-object.xquery?project=*&amp;type=TM&amp;maxResults={instance('search-instance')/@max}&amp;searchString={instance('search-instance')}" replace="instance" instance="template-itemset-instance"/>
            <!-- instance for server ids -->
            <xforms:instance id="decor-projects" xxforms:exclude-result-prefixes="#all">
                <projects/>
            </xforms:instance>
            <xforms:submission id="get-decor-projects" mode="asynchronous" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-project-list.xquery?language={$resources/@xml:lang}" replace="instance" instance="decor-projects"/>
            
            <!-- form load actions -->
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang)"/>
                <xforms:send submission="get-decor-schema-submission"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <xforms:send submission="get-decor-projects"/>
                <xforms:setfocus control="search"/>
            </xforms:action>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xh:head>
    <xh:body>
        <xxforms:variable name="all-result-values" select="(instance('dataset-itemset-instance')/*, instance('concet-itemset-instance')/*, instance('scenario-itemset-instance')/*, instance('transaction-itemset-instance')/*, instance('valueset-itemset-instance')/*, instance('template-itemset-instance')/*)"/>
        <xxforms:variable name="filtered-result-values" select="if (instance('search-instance')/@prefix = '') then $all-result-values else $all-result-values[@project = instance('search-instance')/@prefix]"/>
        <fr:tabview>
            <fr:tab>
                <fr:label ref="$resources/explore"/>
                <xh:table class="detail spaced" width="100%">
                    <xh:tr>
                        <xh:td colspan="2">
                            <xforms:input ref="instance('search-instance')" id="search" incremental="true">
                                <xforms:label>
                                    <xh:img src="/img/search16.png" alt="" title="{$resources/search}" style="float:left; padding-right: 10px !important;"/>
                                </xforms:label>
                                <xforms:action ev:event="xforms-value-changed">
                                    <xxforms:variable name="search-value" select="."/>
                                    <xxforms:variable name="make-suggestion" select="string-length($search-value) &gt;= 3"/>
                                    <xforms:action if="$make-suggestion">
                                        <xforms:send submission="update-dataset-set"/>
                                        <xforms:send submission="update-concept-set"/>
                                        <xforms:send submission="update-valueset-set"/>
                                        <xforms:send submission="update-scenario-set"/>
                                        <xforms:send submission="update-transaction-set"/>
                                        <xforms:send submission="update-template-set"/>
                                    </xforms:action>
                                </xforms:action>
                            </xforms:input>
                            <xh:span style="padding-right: 10px;"/>
                            <xforms:output ref="$resources/concepts"/>
                            <xh:span style="padding-right: 5px;"/>
                            <xforms:select1 ref="instance('search-instance')/@concepttype" class="auto-width">
                                <xforms:label ref="$resources/type" class="hidden"/>
                                <xforms:item>
                                    <xforms:label ref="$resources/not-set"/>
                                    <xforms:value ref="''"/>
                                </xforms:item>
                                <xforms:itemset nodeset="instance('decor-types')/DataSetConceptType/enumeration">
                                    <xforms:label ref="(label[@language=$resources/@xml:lang], label)[1]"/>
                                    <xforms:value ref="@value"/>
                                </xforms:itemset>
                                <xforms:action ev:event="xforms-value-changed">
                                    <xxforms:variable name="search-value" select=".."/>
                                    <xxforms:variable name="make-suggestion" select="string-length($search-value) &gt;= 3"/>
                                    <xforms:action if="$make-suggestion">
                                        <xforms:send submission="update-concept-set"/>
                                    </xforms:action>
                                </xforms:action>
                            </xforms:select1>
                            <xh:span style="padding-right: 10px;"/>
                            <xforms:output ref="$resources/project"/>
                            <xh:span style="padding-right: 5px;"/>
                            <xforms:select1 ref="instance('search-instance')/@prefix" class="auto-width">
                                <xforms:label ref="$resources/projects" class="hidden"/>
                                <xforms:item>
                                    <xforms:label ref="$resources/all"/>
                                    <xforms:value ref="''"/>
                                </xforms:item>
                                <xforms:itemset nodeset="xxforms:sort(distinct-values((instance('search-instance')/@prefix[not(. = '')], $all-result-values/@project)), ., 'text', 'ascending')">
                                    <xforms:label ref="($all-result-values[@project = current()]/@projectName, current())[1]"/>
                                    <xforms:value ref="."/>
                                </xforms:itemset>
                            </xforms:select1>
                        </xh:td>
                    </xh:tr>
                    <xh:tr>
                        <xh:td width="75%" style="border-top: 1px solid lightgrey; border-right: 1px solid lightgrey; padding-right: 2px;">
                            <xh:div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto;">
                                <xh:table width="100%">
                                    <xforms:repeat nodeset="$filtered-result-values[self::dataset], $filtered-result-values[self::concept], $filtered-result-values[self::scenario], $filtered-result-values[self::transaction], $filtered-result-values[self::valueSet[@id]], $filtered-result-values[self::template[@id]]">
                                        <xxforms:variable name="searchtype" select="lower-case(name())"/>
                                        <xforms:group ref=".[not(preceding-sibling::*) or not($searchtype = preceding-sibling::*/lower-case(name(.)))]">
                                            <xh:tr class="not-selectable">
                                                <xh:td class="heading" style="white-space: nowrap;">
                                                    <xforms:group ref=".[$searchtype='dataset']">
                                                        <xh:img src="/img/pill-ds.png" width="30" alt="" title="{$resources/datasets}"/>
                                                        <xforms:output ref="$resources/datasets"/>
                                                    </xforms:group>
                                                    <xforms:group ref=".[$searchtype='concept']">
                                                        <xh:img src="/img/pill-ds.png" width="30" alt="" title="{$resources/concepts}"/>
                                                        <xforms:output ref="$resources/concepts"/>
                                                    </xforms:group>
                                                    <xforms:group ref=".[$searchtype='valueset']">
                                                        <xh:img src="/img/pill-cd.png" width="30" alt="" title="{$resources/valuesets}"/>
                                                        <xforms:output ref="$resources/valuesets"/>
                                                    </xforms:group>
                                                    <xforms:group ref=".[$searchtype='scenario']">
                                                        <xh:img src="/img/pill-sc.png" width="30" alt="" title="{$resources/scenarios}"/>
                                                        <xforms:output ref="$resources/scenarios"/>
                                                    </xforms:group>
                                                    <xforms:group ref=".[$searchtype='transaction']">
                                                        <xh:img src="/img/pill-sc.png" width="30" alt="" title="{$resources/transactions}"/>
                                                        <xforms:output ref="$resources/transactions"/>
                                                    </xforms:group>
                                                    <xforms:group ref=".[$searchtype='template']">
                                                        <xh:img src="/img/pill-tm.png" width="30" alt="" title="{$resources/templates}"/>
                                                        <xforms:output ref="$resources/templates"/>
                                                    </xforms:group>
                                                </xh:td>
                                                <xh:td class="heading">
                                                    <xforms:output ref="$resources/dataset"/>
                                                </xh:td>
                                                <xh:td class="heading">
                                                    <xforms:output ref="$resources/project"/>
                                                </xh:td>
                                            </xh:tr>
                                        </xforms:group>
                                        <xh:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                            <!--
                                            <xh:td style="white-space: nowrap; line-height: 21px;">
                                                <xxforms:variable name="type" select="@type"/>
                                                <xforms:group ref=".[$searchtype='dataset']">
                                                    <xforms:output ref="$resources/dataset"/>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype='concept']">
                                                    <xforms:output ref="instance('decor-types')/DataSetConceptType/enumeration[@value=$type]/label[@language=$resources/@xml:lang]"/>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype='valueset']">
                                                    <xforms:output ref="$resources/value-set"/>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype='scenario']">
                                                    <xforms:output ref="$resources/scenario"/>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype='transaction']">
                                                    <xforms:output ref="$resources/transaction"/>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype='template']">
                                                    <xforms:output ref="$resources/template"/>
                                                </xforms:group>
                                            </xh:td>
                                            -->
                                            <xh:td style="white-space: nowrap; line-height: 21px; padding-left: 10px;">
                                                <xxforms:variable name="statusCode" select="@statusCode"/>
                                                <xxforms:variable name="name" select="name[@language=instance('language')] | @displayName"/>
                                                <xxforms:variable name="effectiveDate" select="@effectiveDate"/>
                                                <xxforms:variable name="displayName" select="if ($name) then $name[1] else (name[1]|@name)"/>
                                                <xxforms:variable name="versionLabel" select="@versionLabel[string-length()&gt;0][not(contains($displayName,.))]"/>
                                                <xforms:group ref=".[$searchtype=('dataset','concept')]">
                                                    <xforms:trigger appearance="minimal" class="node-s{$statusCode}">
                                                        <xforms:label>
                                                            <xforms:output ref="$displayName"/>
                                                            <xforms:output ref="if ($versionLabel) then concat('(',$versionLabel,')') else ()"/>
                                                        </xforms:label>
                                                        <xforms:hint ref="concat($resources/go-to, ' ''',@path, $displayName,'''')"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:load resource="/decor-datasets--{@project}?id={@datasetId}&amp;effectiveDate={@datasetEffectiveDate}&amp;conceptId={@conceptId}&amp;conceptEffectiveDate={@conceptEffectiveDate}" show="new"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype='valueset']">
                                                    <xforms:trigger appearance="minimal" class="node-s{$statusCode}">
                                                        <xforms:label>
                                                            <xforms:output ref="$displayName"/>
                                                            <xforms:group ref="$effectiveDate">
                                                                <xforms:output ref="' ('"/>
                                                                <xforms:output ref="if ($effectiveDate castable as xs:dateTime) then replace(format-dateTime(xs:dateTime($effectiveDate),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else ($effectiveDate)"/>
                                                                <xforms:output ref="')'"/>
                                                            </xforms:group>
                                                        </xforms:label>
                                                        <xforms:hint ref="concat($resources/go-to-valueset, ' ''',$displayName,'''')"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:load resource="/decor-valuesets--{@project}?id={(@id|@ref)}&amp;effectiveDate={@effectiveDate}" show="new"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype=('scenario','transaction')]">
                                                    <xforms:trigger appearance="minimal" class="node-s{$statusCode}">
                                                        <xforms:label>
                                                            <xforms:output ref="$displayName"/>
                                                            <xforms:group ref="$effectiveDate">
                                                                <xforms:output ref="' ('"/>
                                                                <xforms:output ref="if ($effectiveDate castable as xs:dateTime) then replace(format-dateTime(xs:dateTime($effectiveDate),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else ($effectiveDate)"/>
                                                                <xforms:output ref="')'"/>
                                                            </xforms:group>
                                                        </xforms:label>
                                                        <xforms:hint ref="concat($resources/go-to, ' ''',$displayName,'''')"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:load resource="/decor-scenarios--{@project}?id={(@id|@ref)}&amp;effectiveDate={@effectiveDate}" show="new"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:group>
                                                <xforms:group ref=".[$searchtype=('template')]">
                                                    <xforms:trigger appearance="minimal" class="node-s{$statusCode}">
                                                        <xforms:label>
                                                            <xforms:output ref="$displayName"/>
                                                            <xforms:group ref="$effectiveDate">
                                                                <xforms:output ref="' ('"/>
                                                                <xforms:output ref="if ($effectiveDate castable as xs:dateTime) then replace(format-dateTime(xs:dateTime($effectiveDate),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else ($effectiveDate)"/>
                                                                <xforms:output ref="')'"/>
                                                            </xforms:group>
                                                        </xforms:label>
                                                        <xforms:hint ref="concat($resources/go-to, ' ''',$displayName,'''')"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:load resource="/decor-templates--{@project}?id={(@id|@ref)}&amp;effectiveDate={@effectiveDate}" show="new"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:group>
                                            </xh:td>
                                            <xh:td>
                                                <xforms:output ref="@datasetName"/>
                                            </xh:td>
                                            <xh:td>
                                                <xforms:trigger appearance="minimal">
                                                    <xforms:label ref="@projectName"/>
                                                    <xforms:hint ref="concat($resources/go-to-project, ' ''',@projectName,'''')"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:load resource="/decor-project--{@project}" show="new"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xh:td>
                                        </xh:tr>
                                    </xforms:repeat>
                                </xh:table>
                            </xh:div>
                        </xh:td>
                        <xh:td width="25%" style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey; padding-left: 2px;">
                            <xh:table width="100%" class="detail">
                                <xh:tr>
                                    <xh:td class="heading">
                                        <xforms:output ref="$resources/projects"/>
                                    </xh:td>
                                </xh:tr>
                                <xh:tr>
                                    <xh:td>
                                        <xh:table width="100%" class="detail spaced">
                                            <xforms:repeat nodeset="instance('decor-projects')/project[author]">
                                                <xxforms:variable name="prefix" select="@prefix"/>
                                                <xxforms:variable name="defaultLanguage" select="@defaultLanguage"/>
                                                <xh:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                                    <xh:td class="paddedtd">
                                                        <xforms:group ref=".[@experimental='true']">
                                                            <xh:img alt="" height="14" src="/img/experimental.png" title="{$resources/Experimental}"/>
                                                            <xforms:output ref="' '"/>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@repository='true']">
                                                            <xh:img alt="" height="14" src="/img/bbr16.png" title="{$resources/Repository}"/>
                                                            <xforms:output ref="' '"/>
                                                        </xforms:group>
                                                        <xforms:trigger appearance="minimal">
                                                            <xforms:label ref="name[@language=$defaultLanguage]"/>
                                                            <xforms:action ev:event="DOMActivate">
                                                                <xforms:load resource="/decor-project--{$prefix}" show="new"/>
                                                            </xforms:action>
                                                        </xforms:trigger>
                                                    </xh:td>
                                                </xh:tr>
                                            </xforms:repeat>
                                        </xh:table>
                                    </xh:td>
                                </xh:tr>
                            </xh:table>
                        </xh:td>
                    </xh:tr>
                </xh:table>
            </fr:tab>
            <fr:tab>
                <fr:label ref="concat($resources/projects, ' (', $resources/details, ')')"/>
                <xh:div style="height: auto; overflow-x: auto; overflow-y: auto;">
                    <xh:table width="100%" class="detail">
                        <xh:tr>
                            <xh:td class="heading">
                                <xforms:output ref="$resources/projects"/>
                            </xh:td>
                        </xh:tr>
                        <xh:tr>
                            <xh:td>
                                <xh:table width="100%" class="detail spaced">
                                    <xh:tr class="heading">
                                        <xh:td class="heading">
                                            <xforms:output ref="$resources/name"/>
                                        </xh:td>
                                        <xh:td class="heading">
                                            <xforms:output ref="$resources/prefix"/>
                                        </xh:td>
                                        <xh:td class="heading">
                                            <xforms:output ref="$resources/language"/>
                                        </xh:td>
                                        <xh:td class="heading">
                                            <xforms:output ref="$resources/lastVersion"/>
                                        </xh:td>
                                        <xh:td class="heading">
                                            <xforms:output ref="$resources/lastmodified"/>
                                        </xh:td>
                                        <xh:td class="heading">
                                            <xforms:output ref="$resources/community"/>
                                        </xh:td>
                                    </xh:tr>
                                    <xforms:repeat nodeset="instance('decor-projects')/project[author]">
                                        <xxforms:variable name="prefix" select="@prefix"/>
                                        <xxforms:variable name="defaultLanguage" select="@defaultLanguage"/>
                                        <xh:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                            <xh:td class="paddedtd">
                                                <xforms:group ref=".[@experimental='true']">
                                                    <xh:img alt="" height="14" src="/img/experimental.png" title="{$resources/Experimental}"/>
                                                    <xforms:output ref="' '"/>
                                                </xforms:group>
                                                <xforms:group ref=".[@repository='true']">
                                                    <xh:img alt="" height="14" src="/img/bbr16.png" title="{$resources/Repository}"/>
                                                    <xforms:output ref="' '"/>
                                                </xforms:group>
                                                <xforms:trigger appearance="minimal">
                                                    <xforms:label ref="name[@language=$defaultLanguage]"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:load resource="/decor-project--{$prefix}" show="new"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xh:td>
                                            <xh:td class="paddedtd">
                                                <xforms:output ref="@prefix"/>
                                            </xh:td>
                                            <xh:td class="paddedtd">
                                                <!-- language switch for image flags -->
                                                <xh:img src="/img/flags/{lower-case(substring($defaultLanguage,4,2))}.png" alt="" title="{$defaultLanguage}"/>
                                                <xforms:output ref="' '"/>
                                                <xforms:output ref="$defaultLanguage"/>
                                            </xh:td>
                                            <xh:td class="paddedtd">
                                                <xforms:output ref="@lastVersion" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                            </xh:td>
                                            <xh:td class="paddedtd">
                                                <xforms:output ref="@lastmodified" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                            </xh:td>
                                            <xh:td class="paddedtd">
                                                <xforms:repeat nodeset="community" id="communityrepeat">
                                                    <xforms:trigger appearance="minimal">
                                                        <xforms:label ref="if (string-length(@displayName)&gt;0) then @displayName else (@name)"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:load resource="/decor-mycommunity--{$prefix}?name={@name}&amp;language={$defaultLanguage}" show="new"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                    <xforms:group ref="position()!=last()">
                                                        <xh:br/>
                                                    </xforms:group>
                                                </xforms:repeat>
                                            </xh:td>
                                        </xh:tr>
                                    </xforms:repeat>
                                </xh:table>
                            </xh:td>
                        </xh:tr>
                    </xh:table>
                </xh:div>
            </fr:tab>
        </fr:tabview>
    </xh:body>
</xh:html>