<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/decor-admin"/>
        </xhtml:title>
        <xhtml:style type="text/css">
            .center { text-align: center; }
        </xhtml:style>
        <xforms:model id="decor-admin">
            <!-- Variable with path to art-exist-db -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-exist-db -->
            <xxforms:variable name="decor-exist" select="xxforms:property('decor.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            <!-- instance for edit status -->
            <xforms:instance id="data-safe">
                <data-safe>true</data-safe>
            </xforms:instance>

            <!-- instance for inserting author -->
            <xforms:instance id="author-instance">
                <author id="" username="guest" email="" notifier="off"/>
            </xforms:instance>

            <!-- instance for DECOR Schema enumerations -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
            <!-- get decor submission -->
            <xforms:submission id="get-decor-schema-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types" xxforms:readonly="true"/>

            <!-- instance for decor locks -->
            <xforms:instance id="decor-locks">
                <dummy/>
            </xforms:instance>
            <!-- get decor submission -->
            <xforms:submission id="get-decor-locks" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-locks.xquery" replace="instance" instance="decor-locks">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <!-- clear locks for user -->
            <xforms:submission id="clear-user-locks" serialization="none" method="get" resource="{$art-exist}/modules/clear-decor-user-locks.xquery?user={instance('decor-locks')/userLocks[index('userLocks')]/@user}" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:send submission="get-decor-locks"/>
                </xforms:action>
            </xforms:submission>

            <!-- instance for  lock to clear -->
            <xforms:instance id="clear-lock">
                <lock ref="" effectiveDate="" projectId=""/>
            </xforms:instance>
            <!-- clear lock submission -->
            <xforms:submission id="clear-decor-lock" serialization="none" method="get" resource="{$art-exist}/modules/clear-decor-lock.xquery?ref={instance('clear-lock')/@ref}&amp;effectiveDate={instance('clear-lock')/@effectiveDate}&amp;projectId={instance('clear-lock')/@projectId}" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:send submission="get-decor-locks"/>
                </xforms:action>
            </xforms:submission>

            <!-- instance for DECOR file list -->
            <xforms:instance id="decor-file-list">
                <dummy/>
            </xforms:instance>
            <!-- get decor submission -->
            <xforms:submission id="get-decor-file-list" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-file-list.xquery" replace="instance" instance="decor-file-list"/>

            <!-- instance for package navigation -->
            <xforms:instance id="package-navigation">
                <path/>
            </xforms:instance>
            <!-- instance for package roots -->
            <xforms:instance id="packages">
                <packages/>
            </xforms:instance>
            <xforms:submission id="get-packages" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-data-package-list.xquery" replace="instance" instance="packages">
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:setvalue ref="instance('package-navigation')" value="instance('packages')/root[not(@ispackage='true')][1]/@abbrev"/>
                </xforms:action>
            </xforms:submission>

            <!-- instance for server ids -->
            <xforms:instance id="server-ids">
                <ids/>
            </xforms:instance>
            <xforms:submission id="get-server-ids" serialization="none" method="get" resource="{$art-exist}/modules/get-server-ids.xquery" replace="instance" instance="server-ids"/>
            
            <!-- *** New Decor Project *** -->
            <!-- instance for empty DECOR file, we want to keep hl7/cda/xsi namespace declaration. exclude #all would kiil every declaration 
            defined in scope of this instance (i.e. everythin in the root element of this xform), for some reason -->
            <xforms:instance id="empty-decor-instance" xxforms:exclude-result-prefixes="atp f fr xs xforms xhtml xxforms ev xi widget">
                <decor xmlns:cda="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3"
                    xsi:noNamespaceSchemaLocation="https://assets.art-decor.org/ADAR/rv/DECOR.xsd" repository="false"
                    private="false">
                    <project id="" prefix="" defaultLanguage="" experimental="false">
                        <name language=""/>
                        <desc language=""/>
                        <copyright by="" logo="" years="" type="author"/>
                        <author id="1" username="admin" email="" notifier="off">Administrator</author>
                        <reference url=""/>
                        <defaultElementNamespace ns="hl7:"/>
                    </project>
                    <datasets>
                        <dataset id="" effectiveDate="" statusCode="draft">
                            <name language=""/>
                            <desc language=""/>
                            <concept id="" type="item" effectiveDate="" statusCode="draft">
                                <name language="">Concept 1</name>
                                <desc language=""/>
                                <valueDomain type="string"/>
                            </concept>
                        </dataset>
                    </datasets>
                    <scenarios>
                        <actors/>
                    </scenarios>
                    <ids>
                  <!-- OID subbranches -->
                  <!-- data set -->
                        <baseId id=".1" type="DS" prefix="dataset-"/>
                  <!-- data elementen -->
                        <baseId id=".2" type="DE" prefix="dataelement-"/>
                  <!-- scenario's -->
                        <baseId id=".3" type="SC" prefix="scenario-"/>
                  <!-- transactions -->
                        <baseId id=".4" type="TR" prefix="transaction-"/>
                  <!-- codesystems -->
                        <baseId id=".5" type="CS" prefix="codesystem-"/>
                  <!-- issues -->
                        <baseId id=".6" type="IS" prefix="issue-"/>
                  <!-- actors -->
                        <baseId id=".7" type="AC" prefix="actor-"/>
                  <!-- concept list -->
                        <baseId id=".8" type="CL" prefix="conceptlist-"/>
                  <!-- template elements -->
                        <baseId id=".9" type="EL" prefix="template-element-"/>
                  <!-- template elements -->
                        <baseId id=".10" type="TM" prefix="template-"/>
                  <!-- value set elements -->
                        <baseId id=".11" type="VS" prefix="valueset-"/>
                  <!-- rule-intern -->
                        <baseId id=".16" type="RL" prefix="rule-intern-"/>
                  <!-- test transaction -->
                        <baseId id=".17" type="TX" prefix="test-transaction-"/>
                  <!-- test scenario -->
                        <baseId id=".18" type="SX" prefix="test-scenario-"/>
                  <!-- example instances -->
                        <baseId id=".19" type="EX" prefix="example-instance-"/>
                  <!-- qualification-test instances -->
                        <baseId id=".20" type="QX" prefix="qualification-test-instance-"/>
                  <!-- community -->
                        <baseId id=".21" type="CM" prefix="community-"/>
                  <!-- concept map -->
                        <baseId id=".24" type="MP" prefix="map-"/>
                  <!-- default base id's per DECOR type -->
                        <defaultBaseId id=".1" type="DS"/>
                        <defaultBaseId id=".2" type="DE"/>
                        <defaultBaseId id=".3" type="SC"/>
                        <defaultBaseId id=".4" type="TR"/>
                        <defaultBaseId id=".5" type="CS"/>
                        <defaultBaseId id=".6" type="IS"/>
                        <defaultBaseId id=".7" type="AC"/>
                        <defaultBaseId id=".8" type="CL"/>
                        <defaultBaseId id=".9" type="EL"/>
                        <defaultBaseId id=".10" type="TM"/>
                        <defaultBaseId id=".11" type="VS"/>
                        <defaultBaseId id=".16" type="RL"/>
                        <defaultBaseId id=".17" type="TX"/>
                        <defaultBaseId id=".18" type="SX"/>
                        <defaultBaseId id=".19" type="EX"/>
                        <defaultBaseId id=".20" type="QX"/>
                        <defaultBaseId id=".21" type="CM"/>
                        <defaultBaseId id=".24" type="MP"/>
                    </ids>
                    <terminology/>
                    <rules/>
                    <issues notifier="on"/>
                </decor>
            </xforms:instance>
            <!-- instance for DECOR file -->
            <xforms:instance id="decor-instance">
                <decor/>
            </xforms:instance>
            <!-- instance for DECOR language -->
            <xforms:instance id="decor-language">
                <language/>
            </xforms:instance>
            <!-- event observer for validity -->
            <xforms:action ev:event="xxforms-invalid" ev:observer="decor-instance">
                <xforms:setvalue ref="instance('valid-instance')" value="'false'"/>
            </xforms:action>
            <xforms:action ev:event="xxforms-valid" ev:observer="decor-instance">
                <xforms:setvalue ref="instance('valid-instance')" value="'true'"/>
            </xforms:action>
            <!-- instance for DECOR file -->
            <xforms:instance id="valid-instance">
                <project-valid/>
            </xforms:instance>
            <!-- event observer for project changes -->
            <xforms:action ev:observer="decor-instance" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <xforms:setvalue ref="instance('data-safe')">false</xforms:setvalue>
                <xforms:dispatch name="fr-visit-all" targetid="error-summary-general"/>
                <xforms:refresh/>
                <xforms:dispatch name="fr-update" targetid="error-summary-general"/>
            </xforms:action>
            
            <!-- instance for users -->
            <xforms:instance id="users-list">
                <users/>
            </xforms:instance>
            <!-- get users submission -->
            <xforms:submission id="get-users-list-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-user-list.xquery" replace="instance" instance="users-list" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}"/>
            <xforms:instance id="user-search-instance">
                <search/>
            </xforms:instance>
            <!-- instance for users as search result -->
            <xforms:instance id="users-search-list">
                <users/>
            </xforms:instance>
            <xforms:submission id="search-users-list-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-user-list.xquery?searchString={encode-for-uri(instance('user-search-instance'))}" replace="instance" instance="users-search-list" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:setindex repeat="newAuthorList" index="1" ev:event="xforms-submit-done"/>
            </xforms:submission>
            
            <!-- save submission -->
            <xforms:submission id="create-decor-project" ref="instance('decor-instance')" resource="{$art-exist}/modules/create-decor-project.xquery?package={instance('package-navigation')}&amp;project={instance('decor-instance')/project/@prefix}" method="post" replace="instance" xxforms:instance="data-safe" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done" if="instance('data-safe')='true'">
                    <xforms:delete context="instance('decor-instance')/decor"/>
                    <xforms:insert nodeset="instance('decor-instance')" origin="instance('empty-decor-instance')"/>
                    <xforms:send submission="refresh-menu"/>
                </xforms:action>
            </xforms:submission>

            <!-- bindings for requirements -->
            <xforms:bind nodeset="instance('decor-instance')">
                <xforms:bind nodeset="@repository" type="xforms:boolean"/>
                <xforms:bind nodeset="@private" type="xforms:boolean"/>
                <xforms:bind nodeset="project" constraint="count(instance('users-list')/user[@name=instance('decor-instance')/project/author/@username][tokenize(groups,'\s')='decor-admin'])&gt;0">
                    <xforms:bind nodeset="@id" required="true()" constraint="not(.=(instance('decor-file-list')//@id|instance('server-ids')/baseId/@id)) and matches(.,'^([012](\.[0-9]+)*)?$')"/>
                    <xforms:bind nodeset="@prefix" required="true()" constraint="not(lower-case(.) = instance('decor-file-list')//lower-case(@prefix))"/>
                    <xforms:bind nodeset="@experimental" type="xforms:boolean"/>
                    <xforms:bind nodeset="name" required="true()" constraint="not(.=instance('decor-file-list')//name[@language=instance('decor-language')])"/>
                    <xforms:bind nodeset="copyright">
                        <xforms:bind nodeset="@years" required="true()" constraint="matches(.,'^\d{4}(-\d{4})?( \d{4}(-\d{4})?)*$')"/>
                        <xforms:bind nodeset="@by" required="true()"/>
                    </xforms:bind>
                </xforms:bind>
                <xforms:bind nodeset="datasets/dataset/name" required="true()"/>
            </xforms:bind>
            <xforms:bind nodeset="instance('decor-language')" required="true()" constraint="matches(.,'[a-z]{2}-[A-Z]{2}')"/>
            <xforms:bind nodeset="instance('valid-instance')" readonly=".='false'"/>

            <!-- menu-refresh response -->
            <xforms:instance id="menu-refresh">
                <dummy/>
            </xforms:instance>
            <!-- submission for menu refresh -->
            <xforms:submission id="refresh-menu" serialization="none" method="get" resource="{$art-exist}/modules/refresh-art-menu.xquery" replace="instance" instance="menu-refresh" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}"/>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-decor-schema-submission"/>
                <xforms:send submission="get-users-list-submission"/>
                <xforms:send submission="get-decor-file-list"/>
                <xforms:send submission="get-decor-locks"/>
                <xforms:send submission="get-packages"/>
                <xforms:send submission="get-server-ids"/>
                <xforms:insert nodeset="instance('decor-instance')" origin="instance('empty-decor-instance')"/>
                <xforms:setvalue ref="instance('decor-instance')/project/@defaultLanguage" value="instance('language')"/>
                <xforms:setvalue ref="instance('decor-instance')/project/copyright/@years" value="format-dateTime(current-dateTime(), '[Y0001]')"/>
                <xforms:setvalue ref="instance('decor-language')" value="instance('language')"/>
            </xforms:action>
            <xxforms:script ev:event="xforms-ready">
                window.onbeforeunload = function() {
                if (ORBEON.xforms.Document.getValue('data-safe-input') != 'true')
                return ORBEON.xforms.Document.getValue('data-safe-input-warning');
                }
            </xxforms:script>
            <!-- form ready actions -->
            <xforms:action ev:event="xforms-ready">
                <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
            <!--            <xforms:setfocus control="project-name"/>-->
            </xforms:action>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="administrator" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <!-- special output used to give warning if user leaves page -->
        <xforms:output ref="instance('data-safe')" id="data-safe-input" style="display: none"/>
        <xforms:output ref="$resources/unsaved-data" id="data-safe-input-warning" style="display: none"/>
        <xforms:group ref=".[$administrator]">
            <!-- dialog for selecting Art user -->
            <xxforms:dialog id="select-user-dialog" appearance="full" level="modeless" close="false" draggable="true" visible="false">
                <xforms:label ref="$resources/select-user"/>
                <xforms:action ev:event="xxforms-dialog-open">
                    <xforms:setvalue ref="instance('author-instance')" value="instance('users-list')/user[1]/displayName"/>
                    <xforms:setvalue ref="instance('author-instance')/@username" value="instance('users-list')/user[1]/@name"/>
                    <xforms:setvalue ref="instance('author-instance')/@email" value="instance('users-list')/user[1]/email"/>
                </xforms:action>
                <xhtml:table width="500px">
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="2">
                            <xforms:output ref="$resources/select-user"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <!-- search term field and filter -->
                        <xhtml:td class="item-label" style="padding-right: 10px;padding-left: 10px;">
                            <xhtml:img src="/img/search16.png" alt="" align="right" title="{$resources/search}"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:input class="top" ref="instance('user-search-instance')" id="search-user" incremental="true">
                                <xforms:label ref="$resources/search" class="hidden"/>
                                <xforms:action ev:event="xforms-value-changed">
                                    <xxforms:variable name="search-value" select="."/>
                                    <xforms:action if="string-length($search-value) &gt;= 2">
                                        <xforms:send submission="search-users-list-submission"/>
                                    </xforms:action>
                                    <xforms:action if="string-length($search-value) = 0">
                                        <xforms:send submission="get-users-list-submission"/>
                                    </xforms:action>
                                </xforms:action>
                            </xforms:input>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xhtml:div style="width: 100%; min-height: 50px; max-height: 300px; overflow-x: auto; overflow-y: auto;">
                                <xhtml:table width="100%" class="detail zebra-table">
                                    <xhtml:tr>
                                        <xhtml:td class="item-label">
                                            <xforms:output ref="$resources/name"/>
                                        </xhtml:td>
                                        <xhtml:td class="item-label center">decor‑admin</xhtml:td>
                                        <xhtml:td class="item-label center">decor</xhtml:td>
                                        <xhtml:td class="item-label center">editor</xhtml:td>
                                        <xhtml:td class="item-label center">issues</xhtml:td>
                                    </xhtml:tr>
                                    <xforms:repeat nodeset="instance('users-search-list')/user[tokenize(groups,'\s')='decor'][not(@active = 'false')]" id="newAuthorList">
                                        <xhtml:tr class="zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                            <xhtml:td align="left">
                                                <xforms:output ref="displayName"/>
                                            </xhtml:td>
                                            <xhtml:td align="center">
                                                <xforms:output ref="if (tokenize(groups,'\s')='decor-admin') then 'X' else ('')"/>
                                            </xhtml:td>
                                            <xhtml:td align="center">
                                                <xforms:output ref="if (tokenize(groups,'\s')='decor') then 'X' else ('')"/>
                                            </xhtml:td>
                                            <xhtml:td align="center">
                                                <xforms:output ref="if (tokenize(groups,'\s')='editor') then 'X' else ('')"/>
                                            </xhtml:td>
                                            <xhtml:td align="center">
                                                <xforms:output ref="if (tokenize(groups,'\s')='issues') then 'X' else ('')"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xforms:action ev:event="xxforms-index-changed xxforms-nodeset-changed">
                                            <xforms:setvalue ref="instance('author-instance')" value="context()/displayName"/>
                                            <xforms:setvalue ref="instance('author-instance')/@username" value="context()/@name"/>
                                            <xforms:setvalue ref="instance('author-instance')/@email" value="context()/email"/>
                                        </xforms:action>
                                    </xforms:repeat>
                                </xhtml:table>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xhtml:div class="buttons">
                                <xforms:trigger appearance="compact">
                                    <xforms:label ref="$resources/cancel"/>
                                    <xforms:action ev:event="DOMActivate">
                                        <xxforms:hide ev:event="DOMActivate" dialog="select-user-dialog"/>
                                    </xforms:action>
                                </xforms:trigger>
                                <xforms:trigger appearance="compact">
                                    <xforms:label ref="$resources/add"/>
                                    <xforms:action ev:event="DOMActivate">
                                        <xxforms:variable name="newId" select="max(instance('decor-instance')/project/author/@id)+1"/>
                                        <xforms:setvalue ref="instance('author-instance')/@id" value="$newId"/>
                                        <xforms:insert context="instance('decor-instance')/project" nodeset="author" at="index('authorList')" position="after" origin="instance('author-instance')"/>
                                        <xforms:setvalue ref="instance('user-search-instance')" value="''"/>
                                        <xxforms:hide ev:event="DOMActivate" dialog="select-user-dialog"/>
                                    </xforms:action>
                                </xforms:trigger>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
            </xxforms:dialog>
            <fr:tabview>
                <!-- decor locks -->
                <fr:tab>
                    <fr:label ref="$resources/status"/>
                    <xhtml:div class="detail spaced">
                        <xhtml:table width="100%">
                            <!-- users heading -->
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/decor-locks"/>
                                    </xhtml:div>
                                    <xhtml:div class="buttons">
                                        <xforms:trigger appearance="compact" id="refresh">
                                            <xforms:label class="control-label">
                                                <xhtml:img src="/img/arrow_refresh.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/refresh"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:send submission="get-decor-locks"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xforms:repeat nodeset="instance('decor-locks')/userLocks" id="userLocks">
                                <xhtml:tr class="not-selectable heading">
                                    <xhtml:td class="heading">
                                        <xhtml:div class="heading">
                                            <xforms:output ref="@userName"/>
                                        </xhtml:div>
                                        <xhtml:div class="buttons">
                                            <xforms:trigger appearance="compact">
                                                <xforms:label>
                                                    <xhtml:img src="/img/remove.gif" alt=""/>
                                                </xforms:label>
                                                <xforms:hint>
                                                    <xforms:output ref="$resources/clear-all-user-locks"/>
                                                </xforms:hint>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:send submission="clear-user-locks"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr class="not-selectable">
                                    <xhtml:td>
                                        <xhtml:table width="100%" class="spaced zebra-table">
                                            <xhtml:tr class="not-selectable heading">
                                                <xhtml:td class="heading" width="10%">
                                                    <xforms:output ref="$resources/object"/>
                                                </xhtml:td>
                                                <xhtml:td class="heading">
                                                    <xforms:output ref="$resources/name"/>
                                                </xhtml:td>
                                                <xhtml:td class="heading" width="10%">
                                                    <xforms:output ref="$resources/project"/>
                                                </xhtml:td>
                                                <xhtml:td class="heading" width="10%">
                                                    <xhtml:span style="display:inline">
                                                        <xforms:output ref="$resources/date-time"/>
                                                        <xforms:output ref="' '"/>
                                                        <xhtml:span style="color: green;">(&lt;24h)</xhtml:span>
                                                    </xhtml:span>
                                                </xhtml:td>
                                                <xhtml:td class="heading" width="5%"/>
                                            </xhtml:tr>
                                            <xforms:repeat nodeset="lock">
                                                <xhtml:tr class="zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                                    <xhtml:td>
                                                        <xxforms:variable name="type" select="@type"/>
                                                        <xforms:output ref="instance('decor-types')/DecorObjectType/enumeration[@value=$type]/label[@language=$resources/@xml:lang]"/>
                                                    </xhtml:td>
                                                    <xhtml:td>
                                                        <xforms:group ref=".[@type= ('DS')]">
                                                            <xhtml:a href="/decor-datasets--{@prefix}?id={@ref}&amp;effectiveDate={@effectiveDate}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@type= ('DE')]">
                                                            <xhtml:a href="/decor-datasets--{@prefix}?conceptId={@ref}&amp;conceptEffectiveDate={@effectiveDate}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@type= ('CS')]">
                                                            <xhtml:a href="/decor-codesystems--{@prefix}?id={@ref}&amp;effectiveDate={@effectiveDate}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@type= ('VS')]">
                                                            <xhtml:a href="/decor-valuesets--{@prefix}?id={@ref}&amp;effectiveDate={@effectiveDate}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@type= ('CM')]">
                                                            <xhtml:a href="/decor-mycommunity--{@prefix}?name={@ref}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@type= ('TM')]">
                                                            <xhtml:a href="/decor-templates--{@prefix}?id={@ref}&amp;effectiveDate={@effectiveDate}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@type= ('SC','TR')]">
                                                            <xhtml:a href="/decor-scenarios--{@prefix}?id={@ref}&amp;effectiveDate={@effectiveDate}" target="_new">
                                                                <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                            </xhtml:a>
                                                        </xforms:group>
                                                        <xforms:group ref=".[not(@type=('DE','CS','VS','CM','TM','SC','TR'))]">
                                                            <xforms:output ref="concat(@displayName,' (',string-join((@ref|@effectiveDate),' - '),')')"/>
                                                        </xforms:group>
                                                    </xhtml:td>
                                                    <xhtml:td>
                                                        <xforms:output ref="(@prefix, @projectId)[1]"/>
                                                    </xhtml:td>
                                                    <xhtml:td>
                                                        <xxforms:variable name="ccolor" select="if (@since castable as xs:dateTime) then if (days-from-duration(current-dateTime() - xs:dateTime(@since))&lt;=1) then 'green' else 'black' else 'black'"/>
                                                        <xhtml:span style="{concat('color: ', $ccolor)}">
                                                            <xforms:output ref="@since" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                                        </xhtml:span>
                                                    </xhtml:td>
                                                    <xhtml:td>
                                                        <xhtml:div class="buttons">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/itemdelete.png" alt=""/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/delete"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('clear-lock')/@ref" value="context()/@ref"/>
                                                                    <xforms:setvalue ref="instance('clear-lock')/@effectiveDate" value="context()/@effectiveDate"/>
                                                                    <xforms:send submission="clear-decor-lock"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xhtml:div>
                                                    </xhtml:td>
                                                </xhtml:tr>
                                            </xforms:repeat>
                                        </xhtml:table>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xforms:repeat>
                        </xhtml:table>
                    </xhtml:div>
                </fr:tab>
                <!-- new decor project -->
                <fr:tab id="projectTab">
                    <fr:label ref="$resources/new-decor-project"/>
                    <!-- Package selection -->
                    <xhtml:div class="detail spaced">
                        <xhtml:table width="100%">
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/package"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:select1 ref="instance('package-navigation')" appearance="minimal" class="auto-width" id="root-select">
                                        <xforms:label ref="$resources/package" class="hidden"/>
                                        <xforms:itemset nodeset="instance('packages')/root">
                                            <xforms:label ref="if (@ispackage='true') then (concat(@title,' (',$resources/installed,')')) else (@title)"/>
                                            <xforms:value ref="@abbrev"/>
                                        </xforms:itemset>
                                    </xforms:select1>
                                    <xforms:group ref="instance('packages')/root[@abbrev=instance('package-navigation')][@ispackage='true']">
                                        <xhtml:div style="color: red;">
                                            <xforms:output ref="$resources/package-is-updatable-warning"/>
                                        </xhtml:div>
                                    </xforms:group>
                                </xhtml:td>
                                <xhtml:td>
                                    <xhtml:div class="buttons">
                                        <xforms:group ref=".[not(instance('data-safe')='true')]">
                                            <xforms:trigger appearance="compact">
                                                <xforms:label ref="$resources/cancel"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:insert nodeset="instance('decor-instance')" origin="instance('empty-decor-instance')"/>
                                                    <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                                                </xforms:action>
                                            </xforms:trigger>
                                            <xforms:trigger appearance="compact" ref="instance('valid-instance')" id="create-project">
                                                <xforms:label ref="$resources/create-project"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xxforms:variable name="projectId" select="instance('decor-instance')/project/@id"/>
                                                    <xxforms:variable name="projectPrefix" select="instance('decor-instance')/project/@prefix"/>
                                                    <xforms:action xxforms:iterate="instance('decor-instance')//@effectiveDate">
                                                        <xforms:setvalue ref="context()" value="format-dateTime(current-dateTime(), '[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]')"/>
                                                    </xforms:action>
                                                    <xforms:action xxforms:iterate="instance('decor-instance')//(@defaultLanguage|@language)">
                                                        <xforms:setvalue ref="context()" value="instance('decor-language')"/>
                                                    </xforms:action>
                                                    <xforms:action xxforms:iterate="instance('decor-instance')//defaultBaseId">
                                                        <xxforms:variable name="defaultId" select="context()/@id"/>
                                                        <xforms:setvalue ref="context()/@id" value="concat($projectId,$defaultId)"/>
                                                    </xforms:action>
                                                    <xforms:action xxforms:iterate="instance('decor-instance')//baseId">
                                                        <xxforms:variable name="baseId" select="context()/@id"/>
                                                        <xxforms:variable name="basePrefix" select="context()/@prefix"/>
                                                        <xforms:setvalue ref="context()/@id" value="concat($projectId,$baseId)"/>
                                                        <xforms:setvalue ref="context()/@prefix" value="concat($projectPrefix,$basePrefix)"/>
                                                    </xforms:action>
                                                    <xforms:setvalue ref="instance('decor-instance')/datasets/dataset/@id" value="concat(instance('decor-instance')/ids/defaultBaseId[@type='DS']/@id,'.1')"/>
                                                    <xforms:setvalue ref="instance('decor-instance')/datasets/dataset/concept/@id" value="concat(instance('decor-instance')/ids/defaultBaseId[@type='DE']/@id,'.1')"/>
                                                    <xforms:send submission="create-decor-project"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xforms:group>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td colspan="3">
                                    <fr:error-summary observer="projectTab" id="error-summary-general">
                                        <fr:label ref="$resources/please-handle-validation-errors"/>
                                        <!--<fr:errors nodeset="instance('errors')/error">
                                            <fr:label ref="label"/>
                                            <fr:alert ref="alert"/>
                                        </fr:errors>-->
                                    </fr:error-summary>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:div>
                    <xforms:group ref="instance('decor-instance')/project">
                        <!-- project heading -->
                        <xhtml:div class="h2">
                            <xforms:output ref="$resources/project"/>
                        </xhtml:div>
                        <xhtml:table class="detail spaced" width="100%">
                            <xhtml:tr>
                                <!-- project name -->
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/name"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input id="project-name" ref="name" incremental="true">
                                        <xforms:label ref="$resources/name" class="hidden"/>
                                        <xforms:alert>
                                            <xforms:output ref="$resources/required-field"/>
                                        </xforms:alert>
                                    </xforms:input>
                                </xhtml:td>
                                <!-- project language -->
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/defaultLanguage"/>
                                    <xhtml:div style="float: right;">
                                        <xhtml:img src="/img/flags/{lower-case(substring(instance('decor-language'),4,2))}.png" alt=""/>
                                    </xhtml:div>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input id="project-language" ref="instance('decor-language')" incremental="true" class="short-text">
                                        <xforms:label ref="$resources/defaultLanguage" class="hidden"/>
                                        <xforms:alert ref="$resources/required-field"/>
                                        <xforms:hint ref="concat($resources/language,'-',$resources/iso13582-oid-addr-country,' (ll-CC)')"/>
                                    </xforms:input>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <!-- project id -->
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/id"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xxforms:variable name="baseIds" select="instance('server-ids')/baseId[string-length(@id)&gt;0][starts-with(@type,'decor-project')]"/>
                                    <xforms:group ref=".[exists($baseIds)]">
                                        <xhtml:div>
                                            <xforms:select1 ref="@id" appearance="minimal" class="auto-width">
                                                <xforms:label ref="$resources/id" class="hidden"/>
                                                <xforms:item>
                                                    <xforms:label ref="concat('-- ',$resources/from-branch,' --')"/>
                                                    <xforms:value ref="''"/>
                                                </xforms:item>
                                                <xforms:itemset nodeset="$baseIds">
                                                    <xforms:label ref="concat(@id,' (',@type,')')"/>
                                                    <xforms:value ref="@id"/>
                                                </xforms:itemset>
                                            </xforms:select1>
                                        </xhtml:div>
                                    </xforms:group>
                                    <xforms:input ref="@id" incremental="true">
                                        <xforms:label ref="$resources/id" class="hidden"/>
                                        <xforms:alert ref="if (string-length(.)=0) then $resources/required-field else ($resources/already-exists)"/>
                                        <xforms:hint ref="$resources/oid"/>
                                    </xforms:input>
                                </xhtml:td>
                                <!-- project prefix -->
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/prefix"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="@prefix" incremental="true" class="short-text">
                                        <xforms:label ref="$resources/prefix" class="hidden"/>
                                        <xforms:alert ref="if (string-length(.)=0) then $resources/required-field else ($resources/already-exists)"/>
                                        <xforms:action ev:event="DOMFocusOut">
                                            <xxforms:variable name="input" select="instance('decor-instance')/project/@prefix"/>
                                            <xforms:setvalue ref="instance('decor-instance')/project/@prefix" value="if ($input='-' or $input='') then '' else if (ends-with($input,'-')) then $input else(concat($input,'-'))"/>
                                            <xforms:setfocus control="dataset-name"/>
                                        </xforms:action>
                                    </xforms:input>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/properties"/>
                                </xhtml:td>
                                <xhtml:td colspan="3">
                                    <xhtml:span style="margin: 0 10px 0 0;">
                                        <xforms:input ref="../@repository" incremental="true" class="auto-width">
                                            <xforms:label ref="$resources/Is-repository" class="hidden"/>
                                        </xforms:input>
                                        <xforms:output ref="$resources/Is-repository" class="node-project-bbr">
                                            <!--<xforms:label ref="$resources/Is-repository-hint" class="hidden"/>-->
                                            <xforms:hint ref="$resources/Is-repository-hint"/>
                                        </xforms:output>
                                    </xhtml:span>
                                    <xhtml:span style="margin: 0 10px 0 30px;">
                                        <xforms:input ref="../@private" incremental="true" class="auto-width">
                                            <xforms:label ref="$resources/Is-private" class="hidden"/>
                                        </xforms:input>
                                        <xforms:output ref="$resources/Is-private">
                                            <!--<xforms:label ref="$resources/Is-private-hint" class="hidden"/>-->
                                            <xforms:hint ref="$resources/Is-private-hint"/>
                                        </xforms:output>
                                    </xhtml:span>
                                    <xhtml:span style="margin: 0 10px 0 30px;">
                                        <xforms:input ref="@experimental" class="auto-width">
                                            <xforms:label ref="$resources/Is-experimental" class="hidden"/>
                                        </xforms:input>
                                        <xforms:output ref="$resources/Is-experimental" class="node-project-experimental">
                                            <!--<xforms:label ref="$resources/Is-experimental-hint" class="hidden"/>-->
                                            <xforms:hint ref="$resources/Is-experimental-hint"/>
                                        </xforms:output>
                                    </xhtml:span>
                                    <xhtml:span style="margin: 0 10px 0 30px;">
                                        <xforms:output ref="concat($resources/project-notifier,': ')"/>
                                        <xforms:select1 ref="../issues/@notifier" class="auto-width">
                                            <xforms:label ref="$resources/project-notifier" class="hidden"/>
                                            <xforms:item>
                                                <xforms:label>---</xforms:label>
                                                <xforms:value/>
                                            </xforms:item>
                                            <xforms:item>
                                                <xforms:label ref="$resources/on"/>
                                                <xforms:value>on</xforms:value>
                                            </xforms:item>
                                            <xforms:item>
                                                <xforms:label ref="$resources/off"/>
                                                <xforms:value>off</xforms:value>
                                            </xforms:item>
                                            <xforms:help ref="$resources/global-notifier-switch-hint"/>
                                        </xforms:select1>
                                    </xhtml:span>
                                </xhtml:td>
                            </xhtml:tr>
                            <!-- project copyright -->
                            <xhtml:tr>
                                <xhtml:td colspan="4" class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/copyright"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/contributor"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="copyright/@by" class="not-selectable" incremental="true">
                                        <xforms:label ref="$resources/contributor" class="hidden"/>
                                        <xforms:alert ref="$resources/required-field"/>
                                    </xforms:input>
                                    <xforms:output ref="concat(' ',$resources/as,' ')"/>
                                    <xforms:select1 ref="copyright/@type" class="auto-width">
                                        <xforms:label ref="$resources/type" class="hidden"/>
                                        <xforms:itemset nodeset="instance('decor-types')/CopyrightType/enumeration">
                                            <xforms:label ref="label[@language=$resources/@xml:lang]"/>
                                            <xforms:value ref="@value"/>
                                        </xforms:itemset>
                                    </xforms:select1>
                                </xhtml:td>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/copyright-years"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="copyright/@years" class="not-selectable" incremental="true">
                                        <xforms:label ref="$resources/copyright-years" class="hidden"/>
                                        <xforms:alert ref="$resources/required-field"/>
                                    </xforms:input>
                                </xhtml:td>
                            </xhtml:tr>
                            <!-- project description -->
                            <xhtml:tr>
                                <xhtml:td colspan="4">
                                    <fr:accordion class="fr-accordion-lnf">
                                        <!-- concept description -->
                                        <fr:case selected="false">
                                            <fr:label ref="$resources/description"/>
                                            <xforms:textarea mediatype="text/html" ref="desc" incremental="true">
                                                <xforms:label ref="$resources/description" class="hidden"/>
                                            </xforms:textarea>
                                        </fr:case>
                                    </fr:accordion>
                                </xhtml:td>
                            </xhtml:tr>
                            <!-- authors -->
                            <xhtml:tr>
                                <xhtml:td colspan="4">
                                    <xhtml:table width="100%">
                                        <!-- authors heading -->
                                        <xhtml:tr class="heading">
                                            <xhtml:td colspan="5" class="heading">
                                                <xhtml:div class="heading">
                                                    <xforms:output ref="$resources/authors"/>
                                                    <xforms:alert ref="$resources/need-at-least-one-decor-admin-user"/>
                                                </xhtml:div>
                                                <xhtml:div class="buttons">
                                                    <xforms:trigger appearance="compact" id="add-author">
                                                        <xforms:label>
                                                            <xhtml:img src="/img/plus.png" alt=""/>
                                                        </xforms:label>
                                                        <xforms:hint ref="$resources/add-author"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xxforms:show dialog="select-user-dialog"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xhtml:div>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/id"/>
                                            </xhtml:td>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/art-user"/>
                                            </xhtml:td>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/name"/>
                                            </xhtml:td>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/email"/>
                                            </xhtml:td>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/notifier"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                        <xforms:repeat nodeset="instance('decor-instance')/project/author" id="authorList">
                                            <xhtml:tr>
                                                <xhtml:td>
                                                    <xforms:output ref="@id"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xxforms:variable name="username" select="@username"/>
                                                    <xforms:output ref="instance('users-list')//user[@name=$username]/displayName"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:input ref=".">
                                                        <xforms:label ref="$resources/author" class="hidden"/>
                                                    </xforms:input>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:input ref="@email">
                                                        <xforms:label ref="$resources/email" class="hidden"/>
                                                    </xforms:input>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:select1 ref="@notifier" appearance="minimal" id="notifier-select" class="auto-width">
                                                        <xforms:label ref="$resources/notifier" class="hidden"/>
                                                        <xforms:item>
                                                            <xforms:label ref="$resources/off"/>
                                                            <xforms:value>off</xforms:value>
                                                        </xforms:item>
                                                        <xforms:item>
                                                            <xforms:label ref="$resources/on"/>
                                                            <xforms:value>on</xforms:value>
                                                        </xforms:item>
                                                    </xforms:select1>
                                                    <xforms:group ref=".[count(instance('decor-instance')/project/author)&gt;1]">
                                                        <xhtml:div class="buttons">
                                                            <xforms:trigger appearance="minimal" id="delete-author">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/itemdelete.png" alt=""/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/delete-author"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:delete context="instance('decor-instance')/project" nodeset="author" at="index('authorList')"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xhtml:div>
                                                    </xforms:group>
                                                </xhtml:td>
                                            </xhtml:tr>
                                        </xforms:repeat>
                                    </xhtml:table>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xforms:group>
                    <!-- dataset -->
                    <xforms:group ref="instance('decor-instance')/datasets/dataset">
                        <!-- dataset heading -->
                        <xhtml:div class="h2">
                            <xforms:output ref="$resources/dataset"/>
                        </xhtml:div>
                        <xhtml:table class="detail spaced" style="width:99%;margin-left:0.6em;border:solid 1px #CCC;">
                            <!-- dataset name -->
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/name"/>
                                </xhtml:td>
                                <xhtml:td colspan="2">
                                    <xforms:input id="dataset-name" ref="name" incremental="true">
                                        <xforms:label ref="$resources/dataset" class="hidden"/>
                                        <xforms:alert ref="$resources/required-field"/>
                                    </xforms:input>
                                </xhtml:td>
                            </xhtml:tr>
                            <!-- dataset description -->
                            <xhtml:tr>
                                <xhtml:td colspan="3">
                                    <fr:accordion class="fr-accordion-lnf">
                                        <!-- concept description -->
                                        <fr:case selected="false">
                                            <fr:label ref="$resources/description"/>
                                            <xforms:textarea mediatype="text/html" ref="desc" incremental="true">
                                                <xforms:label ref="$resources/description" class="hidden"/>
                                            </xforms:textarea>
                                        </fr:case>
                                    </fr:accordion>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xforms:group>
                </fr:tab>
            </fr:tabview>
        </xforms:group>
    </xhtml:body>
</xhtml:html>