<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css">
            .repobox{
            display: inline;
            }
            .repo{
            box-sizing: border-box;
            display: inline;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 11px;
            font-style: normal !important;
            height: 16px;
            line-height: 14px;
            text-align: left;
            width: auto !important;
            padding: 1px 5px 1px 5px;
            }
            .ref{
            background-color: #aaa;
            color: #fff;
            margin-right: 0px;
            text-shadow: #000 1px 0px 2px;
            width: auto !important;
            -webkit-border-radius: 3px 0px 0px 3px;
            -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 3px 0px 0px 3px;
            }
            .refonly{
            background-color: #aaa;
            color: #fff;
            margin-right: 0px;
            text-shadow: #000 1px 0px 2px;
            width: auto !important;
            -webkit-border-radius: 3px 0px 0px 3px;
            -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 3px;
            }
            .refvalue{
            background-color: blueviolet;
            color: #fff;
            margin-left: -4px;
            width: auto !important;
            -webkit-border-radius: 0px 3px 3px 0px;
            -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 0px 3px 3px 0px;
            }
            .nowrapinline{
            display: inline;
            white-space: nowrap !important;
            }
        </xhtml:style>
        <xhtml:title>
            <xforms:output ref="if (instance('project-instance')/name[@language=$resources/@xml:lang]) then (instance('project-instance')/name[@language=$resources/@xml:lang]) else (instance('project-instance')/name[1])"/> - <xforms:output ref="$resources/codesystem-ids"/>
        </xhtml:title>
        <xforms:model>
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-eXist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-exist" select="xxforms:property('decor.exist.url')"/>
            <!-- Variable with path to decor-external-exist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-external-exist" select="xxforms:property('decor.external.exist.url')"/>
            <!-- resources for internationalization -->
            <!-- instance for user-agent, used to check if SVG links should be available -->
            <xforms:instance id="user-agent">
                <agent/>
            </xforms:instance>
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            
            <!-- logo -->
            <xforms:instance id="logo">
                <logo/>
            </xforms:instance>
            
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            <!-- instance for edit status -->
            <xforms:instance id="data-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
            <xforms:instance id="edit">
                <edit>
                    <codeSystem>false</codeSystem>
                    <references>false</references>
                </edit>
            </xforms:instance>
            
            <!-- instance for DECOR Schema enumerations -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
            <!-- get decor schema submission -->
            <xforms:submission id="get-decor-schema-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types" xxforms:readonly="true"/>
            
            <!-- instance for document name -->
            <xforms:instance id="document">
                <name>dsexpl1</name>
            </xforms:instance>
            
            <!-- instance for project information -->
            <xforms:instance id="project-instance">
                <dummy/>
            </xforms:instance>
            <!-- get decor project submission -->
            <xforms:submission id="get-decor-project-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-project.xq?project={instance('document')}" replace="instance" instance="project-instance" xxforms:readonly="true">
                <xforms:setvalue ev:event="xforms-submit-done" ref="instance('logo')" value="instance('project-instance')/reference/@logosrc"/>
            </xforms:submission>
            
            <!-- *** Code Systems *** -->
            <!-- instance for DECOR Code Systems -->
            <xforms:instance id="decor-codesystems">
                <dummy/>
            </xforms:instance>
            <!-- get decor codesystems submission -->
            <xforms:submission id="get-decor-codesystems" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-codesystem-list.xquery?project={instance('document')}&amp;language={instance('language')}" replace="instance" instance="decor-codesystems">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
         <!-- codeSystem references -->
            <xforms:instance id="codesystem-references">
                <dummy/>
            </xforms:instance>
         <!-- event observer for codeSystem references changes -->
            <xforms:action ev:observer="codesystem-references" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <xforms:setvalue ref="instance('data-safe')">false</xforms:setvalue>
                <xforms:setvalue ref="instance('edit')/references">true</xforms:setvalue>
            </xforms:action>
         <!-- get codesystem references -->
            <xforms:submission id="get-codesystem-references" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-codesystem-references.xquery?project={instance('document')}" replace="instance" instance="codesystem-references">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
         <!-- save codesystem references -->
            <xforms:submission id="save-codesystem-references" ref="instance('codesystem-references')" resource="{$art-exist}/modules/save-decor-codesystem-references.xquery" method="post" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:send ev:event="xforms-submit-done" submission="get-codesystem-references"/>
                <xforms:send ev:event="xforms-submit-done" submission="get-decor-codesystems"/>
            </xforms:submission>
            
         <!-- instance for missing codeSystems -->
            <xforms:instance id="missing-codeSystems">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="enable-add-missing-codeSystems">
                <dummy/>
            </xforms:instance>
         <!-- get missing ids -->
            <xforms:submission id="get-missing-codeSystems" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-project-missing-codesystems.xquery?project={instance('document')}&amp;language={instance('language')}" replace="instance" instance="missing-codeSystems">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
         <!-- add missing codeSystems submission -->
            <xforms:submission id="add-missing-codeSystems" ref="instance('missing-codeSystems')" action="{$art-exist}/modules/add-decor-missing-codesystems.xquery?language={instance('language')}" method="post" replace="instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:bind nodeset="instance('enable-add-missing-codeSystems')" readonly="count(instance('missing-codeSystems')/*[(@name|@displayName)=''])>0"/>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:send submission="get-decor-project-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (xxforms:get-request-parameter('language')[string-length(.) gt 0]) then xxforms:get-request-parameter('language')[1] else if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('project-instance')/@defaultLanguage/string())"/>
                <xforms:send submission="get-decor-schema-submission"/>
                <xforms:send submission="get-decor-codesystems"/>
                <xforms:send submission="get-codesystem-references"/>
                <xforms:send submission="get-missing-codeSystems"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
            </xforms:action>
            <xxforms:script ev:event="xforms-ready">
                window.onbeforeunload = function() {
                if (ORBEON.xforms.Document.getValue('data-safe-input') != 'true')
                return ORBEON.xforms.Document.getValue('data-safe-input-warning');
                }
            </xxforms:script>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="editor" select="tokenize(xxforms:get-session-attribute('groups'), '\s') = 'editor' and instance('project-instance')/author[not(@active = 'false')][@username = xxforms:get-session-attribute('username')]"/>
            <!--<xxforms:variable name="admin" select="($editor and tokenize(xxforms:get-session-attribute('groups'), '\s') = 'decor-admin') or tokenize(xxforms:get-session-attribute('groups'), '\s') = 'dba'"/>-->
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <!-- special output used to give warning if user leaves page -->
        <xforms:output ref="instance('data-safe')" id="data-safe-input" style="display: none"/>
        <xforms:output ref="$resources/unsaved-data" id="data-safe-input-warning" style="display: none"/>
        <!-- save and cancel buttons -->
        <xhtml:table width="100%">
            <xhtml:tr>
                <xhtml:td>
                    <!-- show cancel and save buttons if data-safe=false -->
                    <xforms:group ref=".[instance('data-safe')='false'][instance('edit')/references='true']">
                        <xhtml:div class="buttons">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/cancel"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:send submission="get-codesystem-references"/>
                                    <xforms:setvalue ref="instance('edit')/references">false</xforms:setvalue>
                                    <xforms:action if="instance('edit')/codeSystem='false'">
                                        <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                                    </xforms:action>
                                </xforms:action>
                            </xforms:trigger>
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/save"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xforms:send submission="save-codesystem-references"/>
                                    <xforms:setvalue ref="instance('edit')/references">false</xforms:setvalue>
                                    <xforms:action if="instance('edit')/codeSystem='false'">
                                        <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                                    </xforms:action>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xforms:group>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>
        <!-- codesystems -->
        <xxforms:variable name="externalCodeSystems" select="instance('codesystem-references')/codeSystem"/>
        <xxforms:variable name="usedCodeSystems" select="instance('decor-codesystems')/usedCodeSystems/codeSystem"/>
        <xxforms:variable name="missingCodeSystemReferences" select="instance('missing-codeSystems')/codeSystem"/>
        <fr:accordion class="fr-accordion-lnf">
            <!-- codesystem references -->
            <fr:case selected="{count($externalCodeSystems) gt 0}" id="external-codesystems">
                <fr:label ref="concat($resources/external-codesystems, ' (', count($externalCodeSystems), ')')"/>
                <xhtml:table width="100%" class="detail zebra-table">
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="{if ($editor) then 4 else 3}">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/external-codesystems"/>
                            </xhtml:div>
                            <xhtml:div class="buttons">
                                <xforms:group ref=".[$editor]">
                                    <xforms:trigger appearance="compact">
                                        <xforms:label>
                                            <xhtml:img src="/img/plus.png" alt=""/>
                                        </xforms:label>
                                        <xforms:hint ref="$resources/add"/>
                                        <xforms:action ev:event="DOMActivate">
                                            <xforms:insert context="instance('codesystem-references')" nodeset="codeSystem" at="index('codeSystem-references')" position="after" origin="xxforms:element('codeSystem',(xxforms:attribute('ref',''),xxforms:attribute('name',''),xxforms:attribute('displayName','')))"/>
                                            <xforms:setfocus control="codeSystem-references"/>
                                        </xforms:action>
                                    </xforms:trigger>
                                </xforms:group>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/id"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/name"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/display-name"/>
                        </xhtml:td>
                        <xforms:group ref=".[$editor]">
                            <xhtml:td class="heading"/>
                        </xforms:group>
                    </xhtml:tr>
                    <xforms:group ref=".[$editor]">
                        <xforms:repeat nodeset="$externalCodeSystems" id="codeSystem-references">
                            <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                <xhtml:td>
                                    <xforms:group ref=".[not(@action='delete')]">
                                        <xforms:input ref="@ref">
                                            <xforms:label ref="$resources/id" class="hidden"/>
                                            <xforms:alert ref="concat($resources/required-field,' (',$resources/oid, ')')"/>
                                        </xforms:input>
                                    </xforms:group>
                                    <xforms:group ref=".[@action='delete']">
                                        <xforms:output ref="@ref" class="node-deleted"/>
                                    </xforms:group>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:group ref=".[not(@action='delete')]">
                                        <xforms:input ref="@name">
                                            <xforms:label ref="$resources/name" class="hidden"/>
                                            <xforms:alert ref="$resources/required-field"/>
                                        </xforms:input>
                                    </xforms:group>
                                    <xforms:group ref=".[@action='delete']">
                                        <xforms:output ref="@name" class="node-deleted"/>
                                    </xforms:group>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:group ref=".[not(@action='delete')]">
                                        <xforms:input ref="@displayName">
                                            <xforms:label ref="$resources/display-name" class="hidden"/>
                                            <xforms:alert ref="$resources/required-field"/>
                                        </xforms:input>
                                    </xforms:group>
                                    <xforms:group ref=".[@action='delete']">
                                        <xforms:output ref="@displayName" class="node-deleted"/>
                                    </xforms:group>
                                </xhtml:td>
                                <xhtml:td>
                                    <xhtml:div class="buttons">
                                        <xforms:trigger ref=".[@ref][@action = 'delete']" appearance="minimal">
                                            <xforms:label>
                                                <xhtml:img src="/img/itemadd.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/add-designation"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:delete context="./@action"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                        <xforms:trigger ref=".[@ref][not(@action = 'delete')]" appearance="minimal">
                                            <xforms:label>
                                                <xhtml:img src="/img/itemdelete.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/delete-designation"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:insert nodeset="context()[not(@action)]/@*" origin="xxforms:attribute('action', 'delete')"/>
                                                <xforms:setvalue ref="context()/@action" value="'delete'"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xforms:repeat>
                    </xforms:group>
                    <xforms:group ref=".[not($editor)]">
                        <xforms:repeat nodeset="$externalCodeSystems">
                            <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                <xhtml:td>
                                    <xforms:trigger appearance="minimal">
                                        <xforms:label ref="@ref"/>
                                        <xforms:load ev:event="DOMActivate" resource="{$decor-external-exist}/services/RetrieveOID?id={@ref}" show="new"/>
                                    </xforms:trigger>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@name"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@displayName"/>
                                </xhtml:td>
                            </xhtml:tr>
                        </xforms:repeat>
                    </xforms:group>
                </xhtml:table>
            </fr:case>
            <!-- project codesystems including indication if missing -->
            <fr:case selected="true" id="used-codesystems">
                <fr:label ref="concat($resources/used-codesystems, ' (', count($usedCodeSystems | $missingCodeSystemReferences), ')')"/>
                <xhtml:table width="100%" class="detail zebra-table">
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="3">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/used-codesystems"/>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/id"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/name"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/display-name"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <xforms:repeat nodeset="$usedCodeSystems | $missingCodeSystemReferences">
                        <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                            <xhtml:td>
                                <xforms:trigger appearance="minimal">
                                    <xforms:label ref="@ref"/>
                                    <xforms:load ev:event="DOMActivate" resource="{$decor-external-exist}/services/RetrieveOID?id={@ref}" show="new"/>
                                </xforms:trigger>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="@name"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="@displayName"/>
                            </xhtml:td>
                        </xhtml:tr>
                    </xforms:repeat>
                </xhtml:table>
            </fr:case>
            <!-- missing codesystem references -->
            <!--<fr:case selected="true" id="missing-codesystems">
                <fr:label ref="concat($resources/missing-codesystems, ' (', count(instance('missing-codeSystems')/codeSystem), ')')"/>
                <xhtml:table width="100%" class="detail zebra-table">
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading" colspan="3">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/missing-codesystems"/>
                            </xhtml:div>
                            <xforms:group ref=".[$editor]">
                                <xhtml:div class="buttons">
                                    <xforms:trigger appearance="compact" ref="xxforms:instance('enable-add-missing-codeSystems')">
                                        <xforms:label>
                                            <xhtml:img src="/img/plus.png" alt=""/>
                                        </xforms:label>
                                        <xforms:hint ref="$resources/add"/>
                                        <xforms:action ev:event="DOMActivate">
                                            <xforms:send submission="add-missing-codeSystems"/>
                                            <xforms:send submission="get-codesystem-references"/>
                                            <xforms:setvalue ref="instance('edit')/references">false</xforms:setvalue>
                                            <xforms:action if="instance('edit')/codeSystem='false'">
                                                <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                                            </xforms:action>
                                        </xforms:action>
                                    </xforms:trigger>
                                </xhtml:div>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr class="heading">
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/id"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/name"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/display-name"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <xforms:group ref="instance('missing-codeSystems')[$editor]">
                        <xforms:repeat nodeset="codeSystem" id="missingCodesystemsList1">
                            <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                <xhtml:td>
                                    <xforms:output ref="@ref"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="@name"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="@displayName"/>
                                </xhtml:td>
                            </xhtml:tr>
                        </xforms:repeat>
                    </xforms:group>
                    <xforms:group ref="instance('missing-codeSystems')[not($editor)]">
                        <xforms:repeat nodeset="codeSystem" id="missingCodesystemsList2">
                            <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                <xhtml:td>
                                    <xforms:output ref="@ref"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@name"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="@displayName"/>
                                </xhtml:td>
                            </xhtml:tr>
                        </xforms:repeat>
                    </xforms:group>
                </xhtml:table>
            </fr:case>-->
        </fr:accordion>
        <!--      <fr:xforms-inspector/>-->
    </xhtml:body>
</xhtml:html>