<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css">
            .repobox{
            display: inline;
            }
            .repo{
            box-sizing: border-box;
            display: inline;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 11px;
            font-style: normal !important;
            height: 16px;
            line-height: 14px;
            text-align: left;
            width: auto !important;
            padding: 1px 5px 1px 5px;
            }
            .ref{
            background-color: #aaa;
            color: #fff;
            margin-right: 0px;
            text-shadow: #000 1px 0px 2px;
            width: auto !important;
            -webkit-border-radius: 3px 0px 0px 3px;
            -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 3px 0px 0px 3px;
            }
            .refonly{
            background-color: #aaa;
            color: #fff;
            margin-right: 0px;
            text-shadow: #000 1px 0px 2px;
            width: auto !important;
            -webkit-border-radius: 3px 0px 0px 3px;
            -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 3px;
            }
            .refvalue{
            background-color: blueviolet;
            color: #fff;
            margin-left: -4px;
            width: auto !important;
            -webkit-border-radius: 0px 3px 3px 0px;
            -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 0px 3px 3px 0px;
            }
            .nowrapinline{
            display: inline;
            white-space: nowrap !important;
            }
        </xhtml:style>
        <xhtml:title>
            <xforms:output ref="if (instance('project-instance')/name[@language=$resources/@xml:lang]) then (instance('project-instance')/name[@language=$resources/@xml:lang]) else (instance('project-instance')/name[1])"/> - <xforms:output ref="$resources/valueset-ids"/>
        </xhtml:title>
        <xforms:model>
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-eXist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-exist" select="xxforms:property('decor.exist.url')"/>
            <!-- Variable with path to decor-external-exist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-external-exist" select="xxforms:property('decor.external.exist.url')"/>
            <!-- resources for internationalization -->
            <!-- instance for user-agent, used to check if SVG links should be available -->
            <xforms:instance id="user-agent">
                <agent/>
            </xforms:instance>
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            
            <!-- logo -->
            <xforms:instance id="logo">
                <logo/>
            </xforms:instance>
            
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            <!-- instance for DECOR Schema enumerations -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
            <!-- get decor schema submission -->
            <xforms:submission id="get-decor-schema-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types"/>
            
            <!-- instance for document name -->
            <xforms:instance id="document">
                <name>dsexpl1</name>
            </xforms:instance>
            
            <!-- instance for project information -->
            <xforms:instance id="project-instance">
                <dummy/>
            </xforms:instance>
            <!-- get decor project submission -->
            <xforms:submission id="get-decor-project-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-project.xq?project={instance('document')}" replace="instance" instance="project-instance" xxforms:readonly="true">
                <xforms:setvalue ev:event="xforms-submit-done" ref="instance('logo')" value="instance('project-instance')/reference/@logosrc"/>
            </xforms:submission>
            
            <!-- *** VALUESETS *** -->
            <!-- instance for DECOR ValueSets -->
            <xforms:instance id="decor-valuesets">
                <dummy/>
            </xforms:instance>
            <!-- get decor templates submission -->
            <xforms:submission id="get-decor-valuesets" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-valueset-list.xquery?project={instance('document')}&amp;v2=true&amp;withversions=true" replace="instance" instance="decor-valuesets"/>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:send submission="get-decor-project-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (xxforms:get-request-parameter('language')[string-length(.) gt 0]) then xxforms:get-request-parameter('language')[1] else if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('project-instance')/@defaultLanguage/string())"/>
                <xforms:send submission="get-decor-schema-submission"/>
                <xforms:send submission="get-decor-valuesets"/>
            </xforms:action>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xxforms:variable name="doCanonicalUri" select="exists(instance('decor-valuesets')//valueSet[@canonicalUri])"/>
        <xhtml:table class="detail zebra-table" width="100%">
            <xhtml:tr class="heading">
                <xhtml:td class="heading" colspan="{if ($doCanonicalUri) then 6 else 5}">
                    <xhtml:div class="heading">
                        <xforms:output ref="$resources/list-of-valueset-ids"/>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
            <xhtml:tr class="not-selectable">
                <xhtml:td align="left" class="heading">
                    <xforms:output ref="$resources/id"/>
                </xhtml:td>
                <xforms:group ref=".[$doCanonicalUri]">
                    <xhtml:td align="left" class="heading" width="20%">
                        <xforms:output ref="$resources/uri"/>
                    </xhtml:td>
                </xforms:group>
                <xhtml:td align="left" class="heading" width="{if ($doCanonicalUri) then '20%' else '30%'}">
                    <xforms:output ref="$resources/display-name"/>
                </xhtml:td>
                <xhtml:td align="left" class="heading" width="{if ($doCanonicalUri) then '20%' else '30%'}">
                    <xforms:output ref="$resources/name"/>
                </xhtml:td>
                <xhtml:td align="left" class="heading" width="15%">
                    <xforms:output ref="concat($resources/versions, ' / ', $resources/status)"/>
                </xhtml:td>
                <xhtml:td align="left" class="heading" width="5%">
                    <xforms:output ref="$resources/type"/>
                </xhtml:td>
            </xhtml:tr>
            <xforms:repeat nodeset="xxforms:sort(instance('decor-valuesets')/valueSet, replace(replace(concat(@id, @ref, '.'), '\.', '.0000000000'), '.0*([0-9]{9,})', '.$1'), 'text', 'ascending')">
                <xxforms:variable name="valueset" select="if (valueSet[1][@ref] and count(valueSet) gt 1) then valueSet[2] else valueSet[1]"/>
                <xxforms:variable name="othervaluesets" select="$valueset/following-sibling::valueSet"/>
                <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                    <!-- @id -->
                    <xhtml:td>
                        <xhtml:a href="{concat('/decor-valuesets--',instance('document'),'?id=', (@id|@ref))}">
                            <xforms:output ref="@id|@ref"/>
                        </xhtml:a>
                        <!--<xforms:trigger appearance="minimal">
                            <xforms:label>
                                <xforms:output ref="@id|@ref"/>
                            </xforms:label>
                            <xforms:action ev:event="DOMActivate">
                                <xforms:load resource="/decor-valuesets-\-{instance('document')}?id={@id|@ref}" show="new"/>
                            </xforms:action>
                        </xforms:trigger>-->
                    </xhtml:td>
                    <xforms:group ref=".[$doCanonicalUri]">
                        <xhtml:td>
                            <xforms:repeat nodeset="$valueset | $othervaluesets">
                                <xhtml:div class="not-selectable">
                                    <xforms:output ref="@canonicalUri"/>
                                </xhtml:div>
                            </xforms:repeat>
                        </xhtml:td>
                    </xforms:group>
                    <!-- displayName -->
                    <xhtml:td>
                        <xhtml:div>
                            <xforms:output ref="if ($valueset/@displayName[string-length() gt 0]) then ($valueset/@displayName) else ($valueset/@name)"/>
                        </xhtml:div>
                        <xforms:repeat nodeset="$othervaluesets">
                            <xhtml:div class="not-selectable">
                                <xhtml:i>
                                    <xforms:output ref="if (@displayName[string-length() gt 0]) then (@displayName) else (@name)"/>
                                </xhtml:i>
                            </xhtml:div>
                        </xforms:repeat>
                    </xhtml:td>
                    <!-- @name -->
                    <xhtml:td>
                        <xforms:output ref="$valueset/@name"/>
                        <xforms:repeat nodeset="$othervaluesets">
                            <xhtml:div class="not-selectable">
                                <xhtml:i>
                                    <xforms:output ref="@name"/>
                                </xhtml:i>
                            </xhtml:div>
                        </xforms:repeat>
                    </xhtml:td>
                    <!-- @statusCode -->
                    <xhtml:td>
                        <xxforms:variable name="statusCode" select="$valueset/@statusCode"/>
                        <xxforms:variable name="ident" select="$valueset/@ident"/>
                        <xxforms:variable name="effectiveDate" select="if ($valueset/@effectiveDate castable as xs:dateTime) then replace(format-dateTime(xs:dateTime($valueset/@effectiveDate),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else ($valueset/@effectiveDate)"/>
                        <xhtml:span class="nowrapinline">
                            <xforms:group ref=".[string-length($valueset/@effectiveDate) gt 0]">
                                <xhtml:a href="{concat('/decor-valuesets--',instance('document'),'?id=', $valueset/(@id|@ref), '&amp;effectiveDate=', $valueset/@effectiveDate)}">
                                    <xforms:output ref="$effectiveDate"/>
                                </xhtml:a>
                            </xforms:group>
                            <xforms:output ref="instance('decor-types')/ItemStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]" class="node-s{$statusCode}"/>
                            <xforms:group ref=".[$valueset/(@ref|@url)]">
                                <xhtml:span class="repobox">
                                    <xhtml:span class="repo ref">ref</xhtml:span>
                                    <xhtml:span class="non-selectable repo refvalue">
                                        <xforms:output ref="$ident" class="auto-width">
                                            <xforms:hint ref="concat($resources/from, ' ', $resources/repository,' ',$ident)"/>
                                        </xforms:output>
                                    </xhtml:span>
                                </xhtml:span>
                            </xforms:group>
                        </xhtml:span>
                        <xforms:repeat nodeset="$othervaluesets">
                            <xxforms:variable name="statusCode" select="@statusCode"/>
                            <xxforms:variable name="ident" select="@ident"/>
                            <xxforms:variable name="effectiveDate" select="if (@effectiveDate castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(@effectiveDate),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (@effectiveDate)"/>
                            <xhtml:div class="not-selectable">
                                <xhtml:span class="nowrapinline">
                                    <xhtml:i class="not-selectable">
                                        <xhtml:a href="{concat('/decor-valuesets--',instance('document'),'?id=', (@id|@ref), '&amp;effectiveDate=', @effectiveDate)}">
                                            <xforms:output ref="$effectiveDate"/>
                                        </xhtml:a>
                                        <xforms:output ref="instance('decor-types')/ItemStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]" class="node-s{$statusCode}"/>
                                        <xforms:group ref=".[@url]">
                                            <xhtml:span class="repobox">
                                                <xhtml:span class="repo ref">ref</xhtml:span>
                                                <xhtml:span class="non-selectable repo refvalue">
                                                    <xforms:output ref="$ident" class="auto-width">
                                                        <xforms:hint ref="concat($resources/from, ' ', $resources/repository,' ',$ident)"/>
                                                    </xforms:output>
                                                </xhtml:span>
                                            </xhtml:span>
                                        </xforms:group>
                                    </xhtml:i>
                                </xhtml:span>
                            </xhtml:div>
                        </xforms:repeat>
                        </xhtml:td>
                    <!-- classification -->
                    <xhtml:td>
                        <xforms:output ref="$resources/value-set" class="nowrapinline"/>
                    </xhtml:td>
                </xhtml:tr>
            </xforms:repeat>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>