<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css">
            .node-edit { font-style: italic; }
            .node-delete { font-style: italic; text-decoration: line-through; }
        </xhtml:style>
        <xhtml:script type="text/javascript">
            /* reset spinner visibility when needed */
            function showSpinner() {
                $('.spinner').show();
            }
            /* reset spinner visibility when needed */
            function hideSpinner() {
                $('.spinner').hide();
            }
            function refreshFrame() {
                showSpinner();
                $('.templateframe').attr("src", $('.templateframe').attr("src"));
                //hideSpinner();
            }
        </xhtml:script>
        <xhtml:title>
            <xforms:output ref="$resources/governance-group"/>
        </xhtml:title>
        <xforms:model>
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-eXist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-exist" select="xxforms:property('decor.exist.url')"/>
            <!-- Variable with path to decor-external-exist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-external-exist" select="xxforms:property('decor.external.exist.url')"/>
            <!-- resources for internationalization -->
            <!-- instance for user-agent, used to check if SVG links should be available -->
            <xforms:instance id="user-agent">
                <agent/>
            </xforms:instance>
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            <xforms:instance id="url-scheme">
                <scheme>https:</scheme>
            </xforms:instance>
            
            <!-- instance for DECOR Schema enumerations -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
            <!-- get decor schema submission -->
            <xforms:submission id="get-decor-schema-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types" xxforms:readonly="true"/>
            
            <!-- instance for governance group, without the details -->
            <xforms:instance id="governance-groups">
                <dummy/>
            </xforms:instance>
            <!-- instance for governance group, with the details -->
            <xforms:instance id="governance-groups-details">
                <dummy/>
            </xforms:instance>
            
            <!-- instance for document name -->
            <xforms:instance id="document">
                <name/>
            </xforms:instance>
            
             <!-- governance group handling -->
            <xforms:instance id="empty-governancegroup-instance" xxforms:exclude-result-prefixes="#all">
                <group action="definition" tempid="" id="" defaultLanguage="">
                    <edit action="new"/>
                    <name language=""/>
                    <desc language=""/>
                    <copyright years="">
                        <addrLine type=""/>
                    </copyright>
                </group>
            </xforms:instance>
            
            <!-- instance for server ids -->
            <xforms:instance id="server-ids" xxforms:exclude-result-prefixes="#all">
                <ids/>
            </xforms:instance>
            <xforms:submission id="get-server-ids" serialization="none" method="get" resource="{$art-exist}/modules/get-server-ids.xquery" replace="instance" instance="server-ids"/>
            
            <!-- instance for navigation -->
            <xforms:instance id="governancegroup-navigation" xxforms:exclude-result-prefixes="#all">
                <group/>
            </xforms:instance>
            <xforms:action ev:observer="governancegroup-navigation" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <!-- only get details when nothing is in edit/delete mode -->
                <xforms:action if="not(instance('governance-groups')/group[edit|delete])">
                    <!-- only get details when instance governancegroup-navigation is not current (we would already have it) -->
                    <xforms:action if="not(instance('governance-groups-details')/group[@id = instance('governancegroup-navigation')])">
                        <xforms:delete nodeset="instance('governance-groups-details')/@*"/>
                        <xforms:delete nodeset="instance('governance-groups-details')/*"/>
                    </xforms:action>
                </xforms:action>
                <xxforms:script>refreshFrame();</xxforms:script>
            </xforms:action>
            <xforms:instance id="save-the-governancegroup-instance" xxforms:exclude-result-prefixes="#all">
                <group/>
            </xforms:instance>
            <xforms:instance id="valid-instance">
                <gg-valid/>
            </xforms:instance>
            <!-- event observer for validity -->
            <xforms:action ev:event="xxforms-invalid" ev:observer="governance-groups">
                <xforms:setvalue ref="instance('valid-instance')" value="'false'"/>
            </xforms:action>
            <xforms:action ev:event="xxforms-valid" ev:observer="governance-groups">
                <xforms:setvalue ref="instance('valid-instance')" value="'true'"/>
            </xforms:action>
            <!-- instance for edit status -->
            <xforms:instance id="data-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
            
            <!-- each group must have unique id and name -->
            <xforms:bind nodeset="instance('governance-groups')/group" constraint="count(@id)=count(distinct-values(@id)) and count(name[@language=instance('decor-language')])=count(distinct-values(name[@language=instance('decor-language')]))">
                <xforms:bind nodeset="@id" required="true()" constraint="not(.=instance('server-ids')/baseId/@id) and matches(.,'^([012](\.[0-9]+)*)?$')"/>
                <xforms:bind nodeset="@defaultLanguage" required="true()" constraint="matches(.,'[a-z]{2}-[A-Z]{2}')"/>
                <xforms:bind nodeset="name" required="true()"/>
                <xforms:bind nodeset="copyright/@years" required="true()" constraint="matches(.,'^\d{4}(-\d{4})?( \d{4}(-\d{4})?)*$')"/>
            </xforms:bind>
            <!-- get governance-group, base info synchronously-->
            <xforms:submission id="get-governance-groups-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-governance-groups.xquery?language={instance('language')}" replace="instance" instance="governance-groups">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <!-- if we cancelled while adding new, reset navigation -->
                    <xforms:setvalue if="not(instance('governance-groups')/group[@id=instance('governancegroup-navigation')])" ref="instance('governancegroup-navigation')" value="instance('governance-groups')/group[1]/@id"/>
                    <xforms:dispatch if="instance('governance-groups')/group[@id=instance('governancegroup-navigation')]" target="governancegroup-navigation" name="xxforms-value-changed"/>
                    <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                </xforms:action>
            </xforms:submission>
            <!-- create/save/update governance-group -->
            <xforms:submission id="save-decor-governance-group-submission" ref="instance('save-the-governancegroup-instance')" action="{$art-exist}/modules/save-decor-governance-group.xquery" method="post" replace="instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:send submission="get-governance-groups-submission"/>
                </xforms:action>
            </xforms:submission>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-decor-schema-submission"/>
                <xforms:setvalue ref="instance('governancegroup-navigation')" value="if (string-length(xxforms:get-request-parameter('id'))&gt;0) then (xxforms:get-request-parameter('id')) else ()"/>
                <xforms:send submission="get-governance-groups-submission"/>
                <xforms:send submission="get-server-ids"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <xxforms:script>
                    ORBEON.xforms.Document.setValue("url-scheme-input", document.location.protocol);
                </xxforms:script>
                <xforms:dispatch if="xxforms:get-request-parameter('section')='groups'" name="fr-toggle" target="groupsTab"/>
                <xforms:dispatch if="xxforms:get-request-parameter('section')='projects'" name="fr-toggle" target="projectsTab"/>
                <xforms:dispatch if="xxforms:get-request-parameter('section')='templates'" name="fr-toggle" target="artefactTab"/>
                <xforms:dispatch if="xxforms:get-request-parameter('section')='valuesets'" name="fr-toggle" target="artefactTab"/>
            </xforms:action>
            <xxforms:script ev:event="xforms-ready">
                window.onbeforeunload = function() {
                    if (ORBEON.xforms.Document.getValue('data-safe-input') != 'true')
                    return ORBEON.xforms.Document.getValue('data-safe-input-warning');
                }
            </xxforms:script>
            <xforms:action ev:event="xforms-ready">
                <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
            </xforms:action>
            
            <!-- event observer for gg changes -->
            <xforms:action ev:observer="governance-groups" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <xforms:setvalue ref="instance('data-safe')">false</xforms:setvalue>
            </xforms:action>
            
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="administrator" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
            <xforms:bind nodeset=".[$administrator]" id="new-gg-tab"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xforms:input ref="instance('url-scheme')" id="url-scheme-input" class="hidden">
            <xforms:label ref="'url-scheme'" class="hidden"/>
        </xforms:input>
        <!-- special output used to give warning if user leaves page -->
        <xforms:output ref="instance('data-safe')" id="data-safe-input" style="display: none"/>
        <xforms:output ref="$resources/unsaved-data" id="data-safe-input-warning" style="display: none"/>
        <xxforms:dialog id="delete-warning-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
            <xforms:label ref="$resources/delete-governance-group"/>
            <xhtml:table width="350">
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:output ref="$resources/delete-governance-group-warning"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:p/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div class="buttons">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/cancel"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide dialog="delete-warning-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/remove"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:variable name="selectedgroup" select="instance('governance-groups')/group[(@id|@tempid)=instance('governancegroup-navigation')]"/>
                                    <xforms:insert nodeset="$selectedgroup/*" at="1" position="before" origin="xxforms:element('delete',xxforms:attribute('id',$selectedgroup/@id))"/>
                                    <xxforms:hide dialog="delete-warning-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <xxforms:variable name="selectedgroup" select="instance('governance-groups')/group[(@id|@tempid)=instance('governancegroup-navigation')]"/>
        <xxforms:variable name="editmode" select="$selectedgroup[edit]"/>
        <xxforms:variable name="deletemode" select="$selectedgroup[delete]"/>
        <xxforms:variable name="editaction" select="$selectedgroup/edit/@action"/>
        <xxforms:variable name="anygroup-in-editmode" select="instance('governance-groups')/group[(edit|delete)]"/>
        <xxforms:variable name="projectcount" select="count($selectedgroup/project)"/>
        <!-- 
            governance group
        -->
        <fr:tabview>
            <fr:tab id="groupTab">
                <fr:label ref="if (count(instance('governance-groups')/group)=0) then $resources/no-governance-groups else if (count(instance('governance-groups')/group)&gt;1) then $resources/governance-groups else $resources/governance-group"/>
                <xhtml:table width="100%">
                    <xhtml:tr>
                        <!-- navigation -->
                        <xhtml:td width="20%">
                            <xhtml:table width="100%" class="spaced">
                                <xhtml:tr class="heading">
                                    <xhtml:td class="heading">
                                        <xhtml:div class="heading">
                                            <xforms:output ref="$resources/governance-groups"/>
                                        </xhtml:div>
                                        <xhtml:div class="buttons">
                                            <!-- remove governance group -->
                                            <xforms:trigger appearance="compact" ref=".[$administrator][not($deletemode)][instance('governance-groups')/group]">
                                                <xforms:label>
                                                    <xhtml:img src="/img/remove.gif" alt=""/>
                                                </xforms:label>
                                                <xforms:hint>
                                                    <xforms:output ref="$resources/remove"/>
                                                </xforms:hint>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xxforms:show dialog="delete-warning-dialog"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                            <!-- add governance group -->
                                            <xforms:group ref=".[$administrator]">
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label>
                                                        <xhtml:img src="/img/plus.png" alt=""/>
                                                    </xforms:label>
                                                    <xforms:hint ref="$resources/add"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('empty-governancegroup-instance')/@tempid" value="random()"/>
                                                        <xforms:setvalue ref="instance('empty-governancegroup-instance')/@defaultLanguage" value="$resources/@xml:lang"/>
                                                        <xforms:setvalue ref="instance('empty-governancegroup-instance')/name/@language" value="$resources/@xml:lang"/>
                                                        <xforms:setvalue ref="instance('empty-governancegroup-instance')/name" value="concat($resources/name,'…')"/>
                                                        <xforms:setvalue ref="instance('empty-governancegroup-instance')/desc/@language" value="$resources/@xml:lang"/>
                                                        <xforms:action if="instance('governance-groups')[group]">
                                                            <xforms:insert nodeset="instance('governance-groups')/group" at="last()" position="after" origin="instance('empty-governancegroup-instance')"/>
                                                        </xforms:action>
                                                        <xforms:action if="instance('governance-groups')[not(group)]">
                                                            <xforms:insert nodeset="instance('governance-groups')" origin="xxforms:element('result',instance('empty-governancegroup-instance'))"/>
                                                        </xforms:action>
                                                        <!-- If we don't switch context to something other than @id upon edit then editing the id would kill context -->
                                                        <xforms:setvalue ref="instance('governancegroup-navigation')" value="instance('empty-governancegroup-instance')/@tempid"/>
                                                        <xforms:setfocus control="governancegroup-name"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:group>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xhtml:div class="navigate" style="width: 100%;">
                                            <xforms:select1 ref="instance('governancegroup-navigation')" appearance="xxforms:tree">
                                                <xforms:itemset nodeset="instance('governance-groups')/group" class="node-governance-group {if (edit) then 'node-edit' else if (delete) then 'node-delete' else ()}">
                                                    <xforms:label ref="name[@language=instance('language')]"/>
                                                    <xforms:value ref="@id"/>
                                                </xforms:itemset>
                                            </xforms:select1>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:table>
                        </xhtml:td>
                        <!-- detail -->
                        <xhtml:td width="90%">
                            <xforms:group ref="$selectedgroup">
                                <xhtml:table width="100%" class="detail spaced">
                                    <!-- heading -->
                                    <xhtml:tr class="heading">
                                        <xhtml:td class="heading" colspan="4">
                                            <xhtml:div class="heading">
                                                <xforms:group ref=".[$editmode]">
                                                    <xforms:input ref="name[@language=instance('language')]" incremental="true" id="governancegroup-name">
                                                        <xforms:alert ref="$resources/required-field"/>
                                                    </xforms:input>
                                                </xforms:group>
                                                <xforms:group ref=".[not($editmode)]">
                                                    <xforms:output ref="name[@language=instance('language')]"/>
                                                </xforms:group>
                                            </xhtml:div>
                                            <xhtml:div class="buttons">
                                                <xforms:group ref=".[$administrator]">
                                                    <!-- edit button -->
                                                    <xforms:trigger appearance="compact" ref=".[not($editmode)][not($deletemode)]">
                                                        <xforms:label>
                                                            <xhtml:img src="/img/write.png" alt=""/>
                                                        </xforms:label>
                                                        <xforms:hint ref="$resources/edit"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:insert context="$selectedgroup" origin="xxforms:attribute('tempid',random())"/>
                                                            <xforms:insert ref="$selectedgroup/*" at="1" position="before" origin="xxforms:element('edit',xxforms:attribute('id',$selectedgroup/@id))"/>
                                                            <!-- If we don't switch context to something other than @id upon edit then editing the id would kill context -->
                                                            <xforms:setvalue ref="instance('governancegroup-navigation')" value="$selectedgroup/@tempid"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                    <!-- cancel button -->
                                                    <xforms:trigger appearance="compact" ref=".[instance('data-safe')='false' or $editmode]">
                                                        <xforms:label ref="$resources/cancel"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:send submission="get-governance-groups-submission"/>
                                                            <xforms:dispatch target="governancegroup-navigation" name="xxforms-value-changed"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                    <!-- save button -->
                                                    <xforms:trigger appearance="compact" ref=".[instance('data-safe')='false'][instance('valid-instance')='true']">
                                                        <xforms:label ref="$resources/save"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:insert ref="instance('save-the-governancegroup-instance')" origin="instance('governance-groups')"/>
                                                            <xforms:send submission="save-decor-governance-group-submission"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:group>
                                            </xhtml:div>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <!-- id -->
                                    <xhtml:tr>
                                        <!-- id -->
                                        <xhtml:td class="item-label" width="25%">
                                            <xforms:output ref="$resources/id"/>
                                        </xhtml:td>
                                        <xhtml:td width="25%" colspan="3">
                                            <xforms:group ref=".[$editmode]">
                                                <xforms:input ref="@id" incremental="true" id="governancegroup-id">
                                                    <xforms:alert ref="$resources/required-field"/>
                                                    <xforms:hint ref="$resources/iso13582-oid-dotNotation"/>
                                                </xforms:input>
                                                <xxforms:variable name="baseIds" select="instance('server-ids')/baseId[string-length(@id)&gt;0][starts-with(@type,'decor-govgroup')]"/>
                                                <xforms:group ref=".[exists($baseIds)]">
                                                    <xhtml:div>
                                                        <xforms:select1 ref="@id" appearance="minimal" class="auto-width">
                                                            <xforms:label ref="concat($resources/from-branch,':')"/>
                                                            <xforms:item>
                                                                <xforms:label ref="''"/>
                                                                <xforms:value ref="''"/>
                                                            </xforms:item>
                                                            <xforms:itemset nodeset="$baseIds">
                                                                <xforms:label ref="concat(@id,' (',@type,')')"/>
                                                                <xforms:value ref="@id"/>
                                                            </xforms:itemset>
                                                        </xforms:select1>
                                                    </xhtml:div>
                                                </xforms:group>
                                            </xforms:group>
                                            <xforms:group ref=".[not($editmode)]">
                                                <xforms:output ref="@id"/>
                                            </xforms:group>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <!-- language / years -->
                                    <xhtml:tr>
                                        <!-- language -->
                                        <xhtml:td class="item-label" width="25%">
                                            <xforms:output ref="$resources/defaultLanguage"/>
                                            <xhtml:div class="buttons">
                                                <xhtml:img src="/img/flags/{lower-case(substring(@defaultLanguage,4,2))}.png" alt="" class="padinline"/>
                                            </xhtml:div>
                                        </xhtml:td>
                                        <xhtml:td width="25%">
                                            <xforms:group ref=".[$editmode]">
                                                <xforms:input ref="@defaultLanguage" incremental="true">
                                                    <xforms:alert ref="$resources/required-field"/>
                                                    <xforms:hint ref="concat($resources/language,'-',$resources/iso13582-oid-addr-country,' (ll-CC)')"/>
                                                </xforms:input>
                                            </xforms:group>
                                            <xforms:group ref=".[not($editmode)]">
                                                <xforms:output ref="@defaultLanguage"/>
                                            </xforms:group>
                                        </xhtml:td>
                                        <xhtml:td class="item-label" width="25%">
                                            <xforms:output ref="$resources/copyright-years"/>
                                        </xhtml:td>
                                        <xhtml:td width="25%">
                                            <xforms:group ref=".[$editmode]">
                                                <xforms:input ref="copyright/@years" incremental="true">
                                                    <xforms:alert ref="$resources/required-field"/>
                                                </xforms:input>
                                            </xforms:group>
                                            <xforms:group ref=".[not($editmode)]">
                                                <xforms:output ref="copyright/@years"/>
                                            </xforms:group>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <!-- desc -->
                                    <xhtml:tr>
                                        <xhtml:td colspan="4">
                                            <fr:accordion class="fr-accordion-lnf">
                                                <fr:case selected="true">
                                                    <fr:label ref="$resources/description"/>
                                                    <xforms:group ref=".[$editmode]">
                                                        <xforms:textarea mediatype="text/html" ref="desc[@language=instance('language')]" incremental="true"/>
                                                    </xforms:group>
                                                    <xforms:group ref=".[not($editmode)]">
                                                        <xforms:output mediatype="text/html" ref="desc[@language=instance('language')]"/>
                                                    </xforms:group>
                                                </fr:case>
                                            </fr:accordion>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <!-- addrLines -->
                                    <xforms:group ref=".[$editmode or string-length(copyright/addrLine[1])&gt;0]">
                                        <xhtml:tr>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/address"/>
                                            </xhtml:td>
                                            <xhtml:td colspan="3">
                                                <xforms:group ref="copyright[$editmode]">
                                                    <xi:include href="/db/apps/art/resources/xform-parts.xml" xpointer="xpointer(//part[@id='addressline-editor'])">
                                                        <xi:fallback>
                                                            <xhtml:p>Included document /db/apps/art/resources/xform-parts.xml not found!</xhtml:p>
                                                        </xi:fallback>
                                                    </xi:include>
                                                </xforms:group>
                                                <xforms:group ref="copyright[not($editmode)]">
                                                    <xi:include href="/db/apps/art/resources/xform-parts.xml" xpointer="xpointer(//part[@id='addressline-viewer'])">
                                                        <xi:fallback>
                                                            <xhtml:p>Included document /db/apps/art/resources/xform-parts.xml not found!</xhtml:p>
                                                        </xi:fallback>
                                                    </xi:include>
                                                </xforms:group>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xforms:group>
                                </xhtml:table>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
            </fr:tab>
            <!-- projects -->
            <fr:tab id="projectsTab" ref=".[not($anygroup-in-editmode)]">
                <fr:label ref="concat($selectedgroup/name[@language=instance('language')], ' ', $resources/projects, ' (', $projectcount, ')')"/>
                <xforms:group ref="$selectedgroup">
                    <xforms:group ref=".[$projectcount=0]">
                        <xhtml:table class="detail" width="100%">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="concat($resources/projects, ' ', $selectedgroup/name[@language=instance('language')], ': ', $resources/none)"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xforms:group>
                    <xforms:group ref=".[$projectcount>0]">
                        <xhtml:table class="detail zebra-table" width="100%">
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading" colspan="4">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="concat($resources/projects, ' ', $selectedgroup/name[@language=instance('language')])"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr class="heading">
                                <xhtml:td align="left" class="heading">
                                    <xforms:output ref="$resources/id"/>
                                </xhtml:td>
                                <xhtml:td align="left" class="heading">
                                    <xforms:output ref="$resources/name"/>
                                </xhtml:td>
                                <xhtml:td align="left" class="heading">
                                    <xforms:output ref="$resources/project"/>
                                </xhtml:td>
                                <xhtml:td align="left" class="heading">
                                    <xforms:output ref="$resources/defaultLanguage"/>
                                </xhtml:td>
                            </xhtml:tr>
                            <!-- view all associated projects so far -->
                            <xforms:repeat nodeset="xxforms:sort($selectedgroup/project[@id], replace(replace(concat(@id, '.'), '\.', '.0000000000'), '.0*([0-9]{9,})', '.$1'), 'text', 'ascending')">
                                <xxforms:variable name="projectPrefix" select="parent::project/@prefix"/>
                                <xhtml:tr class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                                    <xhtml:td width="20%">
                                        <xforms:output ref="@id"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:group ref=".[@experimental='true']">
                                            <xhtml:img alt="" src="/img/experimental.png" style="max-width: 16px; max-height: 16px; margin-right: 2px;" title="{$resources/Experimental}"/>
                                        </xforms:group>
                                        <xforms:group ref=".[@repository='true']">
                                            <xhtml:img alt="" src="/img/bbr16.png" style="max-width: 16px; max-height: 16px; margin-right: 2px;" title="{$resources/Repository}"/>
                                        </xforms:group>
                                        <xforms:trigger appearance="minimal">
                                            <xforms:label ref="name"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:load resource="/decor-project--{context()/@prefix}" show="new"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:td>
                                    <xhtml:td width="20%">
                                        <xforms:output ref="@prefix"/>
                                    </xhtml:td>
                                    <xhtml:td width="20%">
                                        <xforms:output ref="@defaultLanguage"/>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xforms:repeat>
                        </xhtml:table>
                    </xforms:group>
                </xforms:group>
            </fr:tab>
            <!-- templates -->
            <fr:tab id="artefactTab" ref=".[not($anygroup-in-editmode)]">
                <fr:label ref="$resources/list-of-artefacts-under-this-governance"/>
                <xhtml:table class="detail zebra-table" width="100%">
                    <xhtml:tr class="not-selectable">
                        <xhtml:td>
                            <xhtml:div class="spinner">
                                <xhtml:img src="/img/loader.gif" alt="Busy"/>&#160;<xforms:output ref="$resources/retrieving"/>
                            </xhtml:div>
                            <xhtml:iframe id="governancegrouplistframe" class="templateframe" frameborder="0" src="{replace($decor-external-exist,'^https?:',instance('url-scheme'))}/services/GovernanceGroupList?gg={$selectedgroup/@id}&amp;language={$resources/@xml:lang}&amp;format=html" onload="hideSpinner();" width="100%" height="800"/>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
            </fr:tab>
        </fr:tabview>
    </xhtml:body>
</xhtml:html>