<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:title>Advanced Requirements Tooling</xhtml:title>
        <!-- styling specific for this xform -->
        <xhtml:style type="text/css"> 
            .titlehead { 
                padding-left : 50px; text-align : left; color : #fd986e; font-size : 16px; border-bottom: .1em solid #dddddd; 
            } 
            .titletext { 
                padding-left : 100px; text-align : left; color : #bbbbbb; font-size : 14px; font-weight: normal; background-color: inherit;
            }
            .titleimg { 
                padding-left : 100px; padding-top: 10px; 
            } 
            td.paddedtd { 
                padding:0.2em 0.5em;
            } 
            .pack {
                padding: 3em 1em;
            } 
            .hometop { 
                color : #e16e22; font-weight : bold; font-size : 18px; text-align : left; padding-bottom : .4em; margin-top : 0; margin-bottom : 0; line-height : 120%;
            } 
            .note_available { 
                background-repeat:no-repeat; padding:2px 0 0 18px; line-height:18px; background-image:url('img/note.png') 
            } 
            .lastlogin { 
                padding-bottom : 10px; text-align : left; color : #bbbbbb; background-color: inherit;
            } 
        </xhtml:style>
        <xforms:model id="main-model">
         <!-- Variable with path to art-exist -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <xxforms:variable name="art-external-exist" select="xxforms:property('art.external.exist.url')"/>
         <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
         <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
         <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>

         <!-- instance for DECOR Schema -->
            <xforms:instance id="decor-types">
                <dummy/>
            </xforms:instance>
         <!-- get decor schema submission -->
            <xforms:submission id="get-decor-types" serialization="none" method="get" resource="{$art-exist}/modules/get-decor-schema-types.xquery" replace="instance" instance="decor-types"/>
         <!--
                *** User report ***
            -->
            <xforms:instance id="user-report">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-user-report" mode="asynchronous" serialization="none" method="get" resource="{$art-exist}/modules/get-art-user-report.xquery?comefrom={encode-for-uri(instance('comefrom'))}" replace="instance" instance="user-report">
                <!--<xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>-->
                <xforms:action if="$decor" ev:event="xforms-submit-done">
                    <!--
                    <xforms:dispatch name="fr-toggle" target="issueTab"/>
                    -->
                    <!-- 2015-07-28 This part below is meant well, but doesn't work for some reason... -->
                    <!--<xforms:action if="$assignedHigh>0">
                        <xforms:dispatch name="fr-show-all" target="assigned-high"/>
                    </xforms:action>
                    <xforms:action if="$assignedRest>0">
                        <xforms:dispatch name="fr-show-all" target="assigned-rest"/>
                    </xforms:action>
                    <xforms:action if="$createdAll>0">
                        <xforms:dispatch name="fr-show-all" target="created"/>
                    </xforms:action>-->
                </xforms:action>
            </xforms:submission>
            <xforms:instance id="user-projects">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-user-projects" serialization="none" method="get" resource="{$art-exist}/modules/get-art-user-projects.xquery?comefrom={encode-for-uri(instance('comefrom'))}" replace="instance" instance="user-projects">
                <!--<xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>-->
            </xforms:submission>
            <xforms:instance id="user-details">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="issue-navigation">
                <issue id="" currentUserIsSubscribed=""/>
            </xforms:instance>
            <xforms:submission id="update-decor-issue-subscription" resource="{$art-exist}/modules/update-decor-issue-subscription.xquery?id={instance('issue-navigation')/@id}&amp;action={if (instance('issue-navigation')/@currentUserIsSubscribed='true') then 'add' else 'delete'}" method="post" replace="none" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
         <!-- package list -->
            <xforms:instance id="package-list">
                <dummy/>
            </xforms:instance>
         <!-- submission for loading installed packages -->
            <xforms:submission id="get-package-list" serialization="none" method="get" resource="{$art-exist}/modules/get-installed-packages-list.xquery" replace="instance" instance="package-list"/>

         <!-- whether we come from login or not -->
            <xforms:instance id="comefrom">
                <dummy/>
            </xforms:instance>

         <!-- instance edit status user -->
            <xforms:instance id="user-safe" xxforms:exclude-result-prefixes="#all">
                <data-safe>true</data-safe>
            </xforms:instance>

         <!-- load instances -->
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-decor-types"/>
                <xforms:send submission="get-package-list"/>
                <xforms:setvalue ref="instance('comefrom')" value="xxforms:get-session-attribute('comefrom')"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('comefrom', '')"/>
                <xforms:send submission="get-user-projects"/>
                <xforms:send submission="get-user-report"/>
                <xforms:setvalue ref="instance('user-safe')" value="'true'"/>
                <!-- start the breaking news poll -->
                <xforms:dispatch name="PollForBreakingNewsEvent" target="main-model"/>
                <xforms:send submission="news-submission"/>
            </xforms:action>
         <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="decor" select="contains(xxforms:get-session-attribute('groups'),'decor')"/>
            <xxforms:variable name="assignedHigh" select="count(instance('user-report')//assignedIssue[@priority='H'])"/>
            <xxforms:variable name="assignedRest" select="count(instance('user-report')//assignedIssue[not(@priority='H')])"/>
            <xxforms:variable name="createdAll" select="count(instance('user-report')//createdIssue)"/>
            <xforms:bind nodeset="instance('user-details')">
                <xforms:bind nodeset=".//ancestor-or-self::user[@name=('admin','guest')]" readonly="true()"/>
                <xforms:bind nodeset="displayName" type="xs:string" required="true()"/>
                <xforms:bind nodeset="email" type="xs:anyURI" required="true()"/>
            </xforms:bind>
            
            <!-- instances for breaking news updates -->
            <xforms:instance id="news-timer">
                <time>0</time>
            </xforms:instance>
            <xforms:instance id="news-response">
                <dummy status="WAIT"/>
            </xforms:instance>
            
            <!-- asynchronous query submission -->
            <xforms:submission id="news-submission" mode="asynchronous" method="post" resource="{$art-exist}/modules/get-urgent-news.xquery" replace="instance" instance="news-response"/>
            <xforms:action ev:event="PollForBreakingNewsEvent">
                <!-- poll every 60 seconds = 60.000 ms, not more than 100 times -->
                <xforms:action if="instance('news-timer')&lt;100">
                    <xforms:send submission="news-submission"/>
                    <xforms:dispatch name="PollForBreakingNewsEvent" delay="60000" target="main-model"/>
                    <xxforms:variable name="time" select="number(instance('news-timer'))"/>
                    <xforms:setvalue ref="instance('news-timer')" value="$time+1"/>
                </xforms:action>
            </xforms:action>
            
            <!-- ================================================================================================ -->
            <!-- suppress warnings in log by adding these in the form, even though they do not serve purpose here -->
            <!-- ================================================================================================ -->
            <xforms:instance id="dataset-instance">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="dataset-navigation">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="dataset-navigation-ids">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="concept-navigation">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="concept-navigation-ids">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="scenario-navigation">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="logo">
                <dummy/>
            </xforms:instance>
        </xforms:model>
    </xhtml:head>
   <!-- Start of XForm body -->
    <xhtml:body>
        <!-- NEWS TICKER -->
        <xforms:group ref="instance('news-response')[@status='OK']">
            <xhtml:table width="100%" style="background-color:#fff;">
                <xforms:repeat nodeset="news">
                    <xxforms:variable name="bg" select="if (@type='hint') then '#C5FFC8' else '#FFC8C5'"/>
                    <xxforms:variable name="im" select="if (@type='hint') then '/img/tick.png' else '/img/exclamation.png'"/>
                    <xhtml:tr class="not-selectable">
                        <xhtml:td style="background-color:{$bg}; padding: 5px; width: 20px;">
                            <!-- News Ticker, only if there is news -->
                            <xhtml:img src="{$im}" alt=""/>
                        </xhtml:td>
                        <xhtml:td style="background-color:{$bg}; padding: 5px;">
                            <xforms:output ref="text[@language=instance('language')]" mediatype="text/html"/>
                        </xhtml:td>
                    </xhtml:tr>
                </xforms:repeat>
            </xhtml:table>
            <xhtml:p/>
        </xforms:group>
        
      <!-- Guest homepage -->
        <xforms:group ref=".[not($decor) or not(instance('user-projects')/userid)]">
            <xhtml:table width="100%" style="background-color:#fff;">
                <xhtml:tr>
                    <xhtml:td rowspan="4">
                        <xhtml:img src="{$art-external-exist}/resources/assets/titlepage.png" height="500" width="500" style="padding: 0.5em;" alt="" align="middle"/>
                    </xhtml:td>
                    <xhtml:td class="pack"/>
                </xhtml:tr>
            <!-- packages -->
                <xhtml:tr>
                    <xhtml:td class="pack">
                        <xhtml:div class="titlehead">
                            <xforms:output ref="concat($resources/art-decor, '®')"/>
                        </xhtml:div>
                        <xhtml:div class="titletext">
                            <xxforms:variable name="vers" select="instance('package-list')/package[@collection='art']/@version"/>
                            <xhtml:b>
                                <!-- show major and minor 1 revision number only for ART-DECOR version -->
                                <xforms:output ref="concat('Version ',  tokenize($vers, '\.')[1], '.', tokenize($vers, '\.')[2])"/>
                            </xhtml:b>
                            <xforms:group ref="instance('package-list')/package[@collection='art']">
                                <xforms:output ref="concat('• ART v', @version)"/>
                            </xforms:group>
                            <xforms:group ref="instance('package-list')/package[@collection='decor/core']">
                                <xforms:output ref="concat('• DECOR core v', @version)"/>
                            </xforms:group>
                        </xhtml:div>
                        <xhtml:div class="titletext">
                     <!-- TEST -->
                            <xforms:output ref="instance('language')"/>
                        </xhtml:div>
                        <xhtml:div class="titletext">
                            <xhtml:a href="/configuration">
                                <xforms:output ref="$resources/configuration"/>
                            </xhtml:a>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            <!-- documentation -->
                <xhtml:tr>
                    <xhtml:td class="pack">
                        <xhtml:div class="titlehead">
                            <xforms:output ref="'Internet'"/>
                        </xhtml:div>
                        <xhtml:div class="titletext">
                            <xhtml:a href="https://art-decor.org">
                                <xforms:output ref="'https://art-decor.org'"/>
                            </xhtml:a>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            <!-- hoster -->
                <xhtml:tr>
                    <xhtml:td class="pack">
                        <xhtml:div class="titlehead">
                            <xforms:output ref="$resources/hostedby"/>
                        </xhtml:div>
                        <xhtml:div>
                            <xhtml:img src="{$art-external-exist}/resources/assets/hoster.png" class="titleimg" alt="" align="middle"/>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xforms:group>
      <!-- Decor group members homepage -->
        <xforms:group ref=".[$decor and instance('user-projects')/userid]">
            <fr:tabview>
                <!-- tab for Project Overview
                     ========================
                -->
                <fr:tab id="overviewTab">
                    <fr:label ref="$resources/project-overview"/>
                    <!-- show last login if just came from login -->
                    <xforms:group ref="instance('user-projects')[instance('comefrom')='login']">
                        <xhtml:div class="lastlogin">
                            <xforms:output ref="concat($resources/last-login,' ')"/>
                            <xforms:output ref="lastlogin" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                        </xhtml:div>
                    </xforms:group>
                    <xhtml:table class="detail spaced">
                        <xhtml:tr class="not-selectable">
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/name"/>
                            </xhtml:td>
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/prefix"/>
                            </xhtml:td>
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/language"/>
                            </xhtml:td>
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/lastVersion"/>
                            </xhtml:td>
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/email"/>
                            </xhtml:td>
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/issues"/>
                            </xhtml:td>
                            <xhtml:td class="heading">
                                <xforms:output ref="$resources/community"/>
                            </xhtml:td>
                        </xhtml:tr>
                        <xforms:repeat nodeset="instance('user-projects')//project">
                            <xxforms:variable name="prefix" select="@prefix"/>
                            <xxforms:variable name="defaultLanguage" select="@defaultLanguage"/>
                            <xhtml:tr class="not-selectable">
                                <xhtml:td class="paddedtd">
                                    <xforms:group ref=".[@experimental='true']">
                                        <xhtml:img alt="" style="max-width: 16px; max-height: 16px; margin-right: 2px;" src="/img/experimental.png" title="{$resources/Experimental}"/>
                                    </xforms:group>
                                    <xforms:group ref=".[@repository='true']">
                                        <xhtml:img alt="" style="max-width: 16px; max-height: 16px; margin-right: 2px;" src="/img/bbr16.png" title="{$resources/Repository}"/>
                                    </xforms:group>
                                    <xforms:trigger appearance="minimal">
                                        <xforms:label ref="name[@language=instance('language')]"/>
                                        <xforms:action ev:event="DOMActivate">
                                            <xforms:load resource="/decor-project--{$prefix}" show="new"/>
                                        </xforms:action>
                                    </xforms:trigger>
                                </xhtml:td>
                                <xhtml:td class="paddedtd">
                                    <xforms:output ref="@prefix"/>
                                </xhtml:td>
                                <xhtml:td class="paddedtd">
                                    <!-- language switch for image flags -->
                                    <xhtml:img alt="" style="max-width: 16px; max-height: 16px; margin-right: 2px;" src="/img/flags/{lower-case(substring($defaultLanguage,4,2))}.png" title="{$defaultLanguage}"/>
                                    <xforms:output ref="$defaultLanguage"/>
                                </xhtml:td>
                                <xhtml:td class="paddedtd">
                                    <xforms:output ref="@lastVersion" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                </xhtml:td>
                                <xhtml:td class="paddedtd">
                                    <xforms:output ref="@authoremail"/>
                                </xhtml:td>
                                <xhtml:td class="paddedtd" align="right">
                                    <xforms:group ref="instance('user-report')[not(.//project)]">
                                        <xforms:output ref="'…'">
                                            <xforms:hint ref="$resources/retrieving"/>
                                        </xforms:output>
                                    </xforms:group>
                                    <xforms:group ref="instance('user-report')//project[@prefix=$prefix][1]">
                                        <xforms:output ref="if (count(createdIssue|assignedIssue) = 0) then '-' else count(createdIssue|assignedIssue)"/>
                                    </xforms:group>
                                </xhtml:td>
                                <xhtml:td class="paddedtd">
                                    <xforms:repeat nodeset="community" id="communityrepeat">
                                        <xforms:trigger appearance="minimal">
                                            <xforms:label ref="if (string-length(@displayName)&gt;0) then @displayName else (@name)"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:load resource="/decor-mycommunity--{$prefix}?name={@name}&amp;language={$defaultLanguage}" show="new"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                        <xforms:group ref="position()!=last()">
                                            <xhtml:br/>
                                        </xforms:group>
                                    </xforms:repeat>
                                </xhtml:td>
                            </xhtml:tr>
                        </xforms:repeat>
                    </xhtml:table>
                </fr:tab>
                <!-- tab for Issues
                     ==============
                -->
                <fr:tab id="issueTab">
                    <fr:label ref="concat($resources/issues, ' (', if (instance('user-report')[userid]) then ($assignedHigh + $assignedRest + $createdAll) else ('…'), ')')"/>
                    <!-- issue overview for user -->
                    <xforms:group ref="instance('user-report')[not(userid)]">
                        <xforms:output ref="$resources/retrieving"/>
                    </xforms:group>
                    <xforms:group ref="instance('user-report')[userid]">
                        <!-- changed since last login -->
                        <xxforms:variable name="lastl" select="if (lastlogin/@at castable as xs:dateTime) then (lastlogin/@at) else ('1970-01-01T00:00:00')"/>
                        <xxforms:variable name="cnt" select="count(//assignedIssue[@lastDate &gt; xs:dateTime($lastl)]) + count(//createdIssue[@lastDate &gt; xs:dateTime($lastl)])"/>
                        <xxforms:variable name="lastldays" select="if (lastlogin/@at castable as xs:dateTime) then (days-from-duration(current-dateTime() - xs:dateTime(lastlogin/@at))) else ($resources/unknown-number-of)"/>
                        <fr:accordion class="fr-accordion-lnf" id="touched">
                            <!-- get last login for comparison -->
                            <fr:case>
                                <fr:label value="concat($resources/issues-changed-sll, ' - ', $lastldays, ' ', $resources/days-ago, ' (', $cnt, ')')"/>
                                <xforms:group ref=".[$cnt=0]">
                                    <xforms:output ref="'-'"/>
                                </xforms:group>
                                <xforms:group ref=".[$cnt&gt;0]">
                                    <fr:accordion class="fr-accordion-lnf">
                                        <xforms:repeat nodeset="//assignedIssue[@lastDate &gt; xs:dateTime($lastl)]|//createdIssue[@lastDate &gt; xs:dateTime($lastl)]">
                                            <xxforms:variable name="id" select="@id"/>
                                            <xxforms:variable name="statusCode" select="@currentStatusCode"/>
                                            <fr:case selected="false">
                                                <fr:label>
                                                    <xforms:output ref="concat(../name[@language=instance('language')],' - ',@displayName)" class="node-issue-{$statusCode}">
                                                        <xforms:hint>
                                                            <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                        </xforms:hint>
                                                    </xforms:output>
                                                    <xhtml:div class="buttons">
                                                        <xforms:group ref=".[@currentUserIsSubscribed='false']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/subscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/subscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/subscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="true()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="true()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@currentUserIsSubscribed='true']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/unsubscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/unsubscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/unsubscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="false()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="false()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                    </xhtml:div>
                                                </fr:label>
                                                <xhtml:table width="100%" class="detail spaced">
                                                    <!-- issue type and priority -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/type"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="type" select="@type"/>
                                                            <xforms:output ref="instance('decor-types')/IssueType/enumeration[@value=$type]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/priority"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="priority" select="@priority"/>
                                                            <xforms:output ref="instance('decor-types')/IssuePriority/enumeration[@value=$priority]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue objects -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/concerns"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="object">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable">
                                                                    <xhtml:tr>
                                                                        <xhtml:td>
                                                                            <xxforms:variable name="type" select="@type"/>
                                                                            <xforms:output ref="concat(instance('decor-types')/DecorObjectType/enumeration[@value=$type]/label[@language=$resources/@xml:lang][1], ': ')"/>
                                                                            <xforms:group ref=".[@type='DE']">
                                                                                <xforms:trigger appearance="minimal">
                                                                                    <xforms:label ref="name[@language=instance('language')]"/>
                                                                                    <xforms:action ev:event="DOMActivate">
                                                                                        <xforms:load resource="/decor-datasets--{ancestor::project/@prefix}?id={dataset/@id}&amp;effectiveDate={dataset/@effectiveDate}&amp;conceptId={@id}&amp;conceptEffectiveDate={@effectiveDate}" show="new"/>
                                                                                    </xforms:action>
                                                                                </xforms:trigger>
                                                                                <xforms:output ref="concat($resources/from-dataset, ': ', dataset/name[@language=instance('language')][1])"/>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[@type!='DE']">
                                                                                <xforms:output ref="name[@language=instance('language')]"/>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue events -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/events"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="tracking|assignment">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable" style="border: 1px solid #AAA;">
                                                                    <xhtml:tr>
                                                                        <xhtml:td style="background-color : #ebe7e1;width:10%;">
                                                                            <xxforms:variable name="statusCode" select="@statusCode"/>
                                                                            <xforms:group ref=".[name()='assignment']">
                                                                                <xforms:output mediatype="image/*" value="'/img/arrowright.png'">
                                                                                    <xforms:hint ref="$resources/assignment"/>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[name()='tracking']">
                                                                                <xforms:output mediatype="image/*" value="'/img/tracking.png'" class="node-issue-{$statusCode}">
                                                                                    <xforms:hint>
                                                                                        <xforms:output ref="$resources/tracking"/> / <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                                                    </xforms:hint>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="author"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="@effectiveDate" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <xforms:group ref="@name">
                                                                        <xhtml:tr>
                                                                            <xhtml:td class="item-label">
                                                                                <xforms:output ref="$resources/assigned-to"/>
                                                                            </xhtml:td>
                                                                            <xhtml:td colspan="2">
                                                                                <xforms:output ref="."/>
                                                                            </xhtml:td>
                                                                        </xhtml:tr>
                                                                    </xforms:group>
                                                                    <xhtml:tr>
                                                                        <xhtml:td class="item-label">
                                                                            <xforms:output ref="$resources/description"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td colspan="2">
                                                                            <xforms:output ref="desc"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xhtml:table>
                                            </fr:case>
                                        </xforms:repeat>
                                    </fr:accordion>
                                </xforms:group>
                            </fr:case>
                        </fr:accordion>
                        <xhtml:p/>
                        <fr:accordion class="fr-accordion-lnf" id="assigned-high">
                            <!-- assigned issues high priority -->
                            <fr:case selected="false">
                                <fr:label ref="concat($resources/assigned-issues-priority-high, ' (', $assignedHigh,')')"/>
                                <xforms:group ref=".[$assignedHigh=0]">
                                    <xforms:output ref="'-'"/>
                                </xforms:group>
                                <xforms:group ref=".[$assignedHigh&gt;0]">
                                    <fr:accordion class="fr-accordion-lnf">
                                        <xforms:repeat nodeset="//assignedIssue[@priority='H']">
                                            <xxforms:variable name="id" select="@id"/>
                                            <xxforms:variable name="statusCode" select="@currentStatusCode"/>
                                            <fr:case selected="false">
                                                <fr:label>
                                                    <xforms:output ref="concat(../name[@language=instance('language')],' - ',@displayName)" class="node-issue-{$statusCode}">
                                                        <xforms:hint>
                                                            <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                        </xforms:hint>
                                                    </xforms:output>
                                                    <xhtml:div class="buttons">
                                                        <xforms:group ref=".[@currentUserIsSubscribed='false']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/subscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/subscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/subscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="true()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="true()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@currentUserIsSubscribed='true']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/unsubscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/unsubscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/unsubscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="false()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="false()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                    </xhtml:div>
                                                </fr:label>
                                                <xhtml:table width="100%" class="detail spaced">
                                                    <!-- issue type and priority -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/type"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="type" select="@type"/>
                                                            <xforms:output ref="instance('decor-types')/IssueType/enumeration[@value=$type]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/priority"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="priority" select="@priority"/>
                                                            <xforms:output ref="instance('decor-types')/IssuePriority/enumeration[@value=$priority]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue objects -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/concerns"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="object">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable">
                                                                    <xhtml:tr>
                                                                        <xhtml:td>
                                                                            <xxforms:variable name="type" select="@type"/>
                                                                            <xforms:output ref="concat(instance('decor-types')/DecorObjectType/enumeration[@value=$type]/label[@language=$resources/@xml:lang][1], ': ')"/>
                                                                            <xforms:group ref=".[@type='DE']">
                                                                                <xforms:trigger appearance="minimal">
                                                                                    <xforms:label ref="name[@language=instance('language')]"/>
                                                                                    <xforms:action ev:event="DOMActivate">
                                                                                        <xforms:load resource="/decor-datasets--{ancestor::project/@prefix}?id={dataset/@id}&amp;effectiveDate={dataset/@effectiveDate}&amp;conceptId={@id}&amp;conceptEffectiveDate={@effectiveDate}" show="new"/>
                                                                                    </xforms:action>
                                                                                </xforms:trigger>
                                                                                <xforms:output ref="concat($resources/from-dataset, ': ', dataset/name[@language=instance('language')][1])"/>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[@type!='DE']">
                                                                                <xforms:output ref="name[@language=instance('language')]"/>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue events -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/events"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="tracking|assignment">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable" style="border: 1px solid #AAA;">
                                                                    <xhtml:tr>
                                                                        <xhtml:td style="background-color : #ebe7e1;width:10%;">
                                                                            <xxforms:variable name="statusCode" select="@statusCode"/>
                                                                            <xforms:group ref=".[name()='assignment']">
                                                                                <xforms:output mediatype="image/*" value="'/img/arrowright.png'">
                                                                                    <xforms:hint ref="$resources/assignment"/>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[name()='tracking']">
                                                                                <xforms:output mediatype="image/*" value="'/img/tracking.png'" class="node-issue-{$statusCode}">
                                                                                    <xforms:hint>
                                                                                        <xforms:output ref="$resources/tracking"/> / <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                                                    </xforms:hint>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="author"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="@effectiveDate" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <xforms:group ref="@name">
                                                                        <xhtml:tr>
                                                                            <xhtml:td class="item-label">
                                                                                <xforms:output ref="$resources/assigned-to"/>
                                                                            </xhtml:td>
                                                                            <xhtml:td colspan="2">
                                                                                <xforms:output ref="."/>
                                                                            </xhtml:td>
                                                                        </xhtml:tr>
                                                                    </xforms:group>
                                                                    <xhtml:tr>
                                                                        <xhtml:td class="item-label">
                                                                            <xforms:output ref="$resources/description"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td colspan="2">
                                                                            <xforms:output ref="desc"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xhtml:table>
                                            </fr:case>
                                        </xforms:repeat>
                                    </fr:accordion>
                                </xforms:group>
                            </fr:case>
                        </fr:accordion>
                        <fr:accordion class="fr-accordion-lnf" id="assigned-rest">
                            <!-- assigned issues other priority -->
                            <fr:case selected="false">
                                <fr:label ref="concat($resources/assigned-issues,' (',$assignedRest,')')"/>
                                <xforms:group ref=".[$assignedRest=0]">
                                    <xforms:output ref="'-'"/>
                                </xforms:group>
                                <xforms:group ref=".[$assignedRest&gt;0]">
                                    <fr:accordion class="fr-accordion-lnf">
                                        <xforms:repeat nodeset="//assignedIssue[not(@priority='H')]">
                                            <xxforms:variable name="id" select="@id"/>
                                            <xxforms:variable name="statusCode" select="@currentStatusCode"/>
                                            <fr:case selected="false">
                                                <fr:label>
                                                    <xforms:output ref="concat(../name[@language=instance('language')],' - ',@displayName)" class="node-issue-{$statusCode}">
                                                        <xforms:hint>
                                                            <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                        </xforms:hint>
                                                    </xforms:output>
                                                    <xhtml:div class="buttons">
                                                        <xforms:group ref=".[@currentUserIsSubscribed='false']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/subscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/subscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/subscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="true()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="true()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@currentUserIsSubscribed='true']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/unsubscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/unsubscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/unsubscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="false()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="false()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                    </xhtml:div>
                                                </fr:label>
                                                <xhtml:table width="100%" class="detail spaced">
                                                    <!-- issue type and priority -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/type"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="type" select="@type"/>
                                                            <xforms:output ref="instance('decor-types')/IssueType/enumeration[@value=$type]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/priority"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="priority" select="@priority"/>
                                                            <xforms:output ref="instance('decor-types')/IssuePriority/enumeration[@value=$priority]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue objects -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/concerns"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="object">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable">
                                                                    <xhtml:tr>
                                                                        <xhtml:td>
                                                                            <xxforms:variable name="type" select="@type"/>
                                                                            <xforms:output ref="concat(instance('decor-types')/DecorObjectType/enumeration[@value=$type]/label[@language=$resources/@xml:lang][1], ': ')"/>
                                                                            <xforms:group ref=".[@type='DE']">
                                                                                <xforms:trigger appearance="minimal">
                                                                                    <xforms:label ref="name[@language=instance('language')]"/>
                                                                                    <xforms:action ev:event="DOMActivate">
                                                                                        <xforms:load resource="/decor-datasets--{ancestor::project/@prefix}?id={dataset/@id}&amp;effectiveDate={dataset/@effectiveDate}&amp;conceptId={@id}&amp;conceptEffectiveDate={@effectiveDate}" show="new"/>
                                                                                    </xforms:action>
                                                                                </xforms:trigger>
                                                                                <xforms:output ref="concat($resources/from-dataset, ': ', dataset/name[@language=instance('language')][1])"/>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[@type!='DE']">
                                                                                <xforms:output ref="name[@language=instance('language')]"/>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue events -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/events"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="tracking|assignment">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable" style="border: 1px solid #AAA;">
                                                                    <xhtml:tr>
                                                                        <xhtml:td style="background-color : #ebe7e1;width:10%;">
                                                                            <xxforms:variable name="statusCode" select="@statusCode"/>
                                                                            <xforms:group ref=".[name()='assignment']">
                                                                                <xforms:output mediatype="image/*" value="'/img/arrowright.png'">
                                                                                    <xforms:hint ref="$resources/assignment"/>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[name()='tracking']">
                                                                                <xforms:output mediatype="image/*" value="'/img/tracking.png'" class="node-issue-{$statusCode}">
                                                                                    <xforms:hint>
                                                                                        <xforms:output ref="$resources/tracking"/> / <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                                                    </xforms:hint>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="author"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="@effectiveDate" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <xforms:group ref="@name">
                                                                        <xhtml:tr>
                                                                            <xhtml:td class="item-label">
                                                                                <xforms:output ref="$resources/assigned-to"/>
                                                                            </xhtml:td>
                                                                            <xhtml:td colspan="2">
                                                                                <xforms:output ref="."/>
                                                                            </xhtml:td>
                                                                        </xhtml:tr>
                                                                    </xforms:group>
                                                                    <xhtml:tr>
                                                                        <xhtml:td class="item-label">
                                                                            <xforms:output ref="$resources/description"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td colspan="2">
                                                                            <xforms:output ref="desc"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xhtml:table>
                                            </fr:case>
                                        </xforms:repeat>
                                    </fr:accordion>
                                </xforms:group>
                            </fr:case>
                        </fr:accordion>
                        <fr:accordion class="fr-accordion-lnf" id="created">
                            <!-- created issues -->
                            <fr:case selected="false">
                                <fr:label ref="concat($resources/created-issues,' (',$createdAll,')')"/>
                                <xforms:group ref=".[$createdAll=0]">
                                    <xforms:output ref="'-'"/>
                                </xforms:group>
                                <xforms:group ref=".[$createdAll&gt;0]">
                                    <fr:accordion class="fr-accordion-lnf">
                                        <xforms:repeat nodeset="//createdIssue">
                                            <xxforms:variable name="id" select="@id"/>
                                            <xxforms:variable name="statusCode" select="@currentStatusCode"/>
                                            <fr:case selected="false">
                                                <fr:label>
                                                    <xforms:output ref="concat(../name[@language=instance('language')],' - ',@displayName)" class="node-issue-{$statusCode}">
                                                        <xforms:hint>
                                                            <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                        </xforms:hint>
                                                    </xforms:output>
                                                    <xhtml:div class="buttons">
                                                        <xforms:group ref=".[@currentUserIsSubscribed='false']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/subscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/subscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/subscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="true()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="true()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                        <xforms:group ref=".[@currentUserIsSubscribed='true']">
                                                            <xforms:trigger appearance="minimal">
                                                                <xforms:label>
                                                                    <xhtml:img src="/img/unsubscribe.png" alt=""/>
                                                                    <xforms:output ref="$resources/unsubscribe"/>
                                                                </xforms:label>
                                                                <xforms:hint ref="$resources/unsubscribe-hint"/>
                                                                <xforms:action ev:event="DOMActivate">
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@id" value="$id"/>
                                                                    <xforms:setvalue ref="instance('issue-navigation')/@currentUserIsSubscribed" value="false()"/>
                                                                    <xforms:send submission="update-decor-issue-subscription"/>
                                                                    <xforms:setvalue ref="@currentUserIsSubscribed" value="false()"/>
                                                                </xforms:action>
                                                            </xforms:trigger>
                                                        </xforms:group>
                                                    </xhtml:div>
                                                </fr:label>
                                                <xhtml:table width="100%" class="detail spaced">
                                                    <!-- issue type and priority -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/type"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="type" select="@type"/>
                                                            <xforms:output ref="instance('decor-types')/IssueType/enumeration[@value=$type]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/priority"/>
                                                        </xhtml:td>
                                                        <xhtml:td>
                                                            <xxforms:variable name="priority" select="@priority"/>
                                                            <xforms:output ref="instance('decor-types')/IssuePriority/enumeration[@value=$priority]/label[@language=$resources/@xml:lang]"/>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue objects -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/concerns"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="object">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable">
                                                                    <xhtml:tr>
                                                                        <xhtml:td>
                                                                            <xxforms:variable name="type" select="@type"/>
                                                                            <xforms:output ref="concat(instance('decor-types')/DecorObjectType/enumeration[@value=$type]/label[@language=$resources/@xml:lang][1], ': ')"/>
                                                                            <xforms:group ref=".[@type='DE']">
                                                                                <xforms:trigger appearance="minimal">
                                                                                    <xforms:label ref="name[@language=instance('language')]"/>
                                                                                    <xforms:action ev:event="DOMActivate">
                                                                                        <xforms:load resource="/decor-datasets--{ancestor::project/@prefix}?id={dataset/@id}&amp;effectiveDate={dataset/@effectiveDate}&amp;conceptId={@id}&amp;conceptEffectiveDate={@effectiveDate}" show="new"/>
                                                                                    </xforms:action>
                                                                                </xforms:trigger>
                                                                                <xforms:output ref="concat($resources/from-dataset, ': ', dataset/name[@language=instance('language')][1])"/>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[@type!='DE']">
                                                                                <xforms:output ref="name[@language=instance('language')]"/>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                    <!-- issue events -->
                                                    <xhtml:tr class="not-selectable">
                                                        <xhtml:td class="item-label">
                                                            <xforms:output ref="$resources/events"/>
                                                        </xhtml:td>
                                                        <xhtml:td colspan="3">
                                                            <xforms:repeat nodeset="tracking|assignment">
                                                                <xhtml:table width="100%" class="detail spaced not-selectable" style="border: 1px solid #AAA;">
                                                                    <xhtml:tr>
                                                                        <xhtml:td style="background-color : #ebe7e1;width:10%;">
                                                                            <xxforms:variable name="statusCode" select="@statusCode"/>
                                                                            <xforms:group ref=".[name()='assignment']">
                                                                                <xforms:output mediatype="image/*" value="'/img/arrowright.png'">
                                                                                    <xforms:hint ref="$resources/assignment"/>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                            <xforms:group ref=".[name()='tracking']">
                                                                                <xforms:output mediatype="image/*" value="'/img/tracking.png'" class="node-issue-{$statusCode}">
                                                                                    <xforms:hint>
                                                                                        <xforms:output ref="$resources/tracking"/> / <xforms:output ref="$resources/status"/> = <xforms:output ref="instance('decor-types')/IssueStatusCodeLifeCycle/enumeration[@value=$statusCode]/label[@language=$resources/@xml:lang]"/>
                                                                                    </xforms:hint>
                                                                                </xforms:output>
                                                                            </xforms:group>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="author"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td style="background-color : #ebe7e1;">
                                                                            <xforms:output ref="@effectiveDate" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                    <xforms:group ref="@name">
                                                                        <xhtml:tr>
                                                                            <xhtml:td class="item-label">
                                                                                <xforms:output ref="$resources/assigned-to"/>
                                                                            </xhtml:td>
                                                                            <xhtml:td colspan="2">
                                                                                <xforms:output ref="."/>
                                                                            </xhtml:td>
                                                                        </xhtml:tr>
                                                                    </xforms:group>
                                                                    <xhtml:tr>
                                                                        <xhtml:td class="item-label">
                                                                            <xforms:output ref="$resources/description"/>
                                                                        </xhtml:td>
                                                                        <xhtml:td colspan="2">
                                                                            <xforms:output ref="desc"/>
                                                                        </xhtml:td>
                                                                    </xhtml:tr>
                                                                </xhtml:table>
                                                            </xforms:repeat>
                                                        </xhtml:td>
                                                    </xhtml:tr>
                                                </xhtml:table>
                                            </fr:case>
                                        </xforms:repeat>
                                    </fr:accordion>
                                </xforms:group>
                            </fr:case>
                        </fr:accordion>
                    </xforms:group>
                </fr:tab>
            </fr:tabview>
        </xforms:group>
    </xhtml:body>
</xhtml:html>