<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:atp="urn:nictiz.atp" xmlns:hl7="urn:hl7-org:v3" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:style type="text/css"> .
            xforms-select-appearance-full span { display: block; clear: both } 
        </xhtml:style>
        <xhtml:title>
            <xforms:output ref="$resources/languages"/>
        </xhtml:title>
        <xforms:model id="language-support">
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            
            <!-- instance for edit status -->
            <xforms:instance id="data-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
            <!-- resources editing -->
            <xforms:instance id="resources-edit-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-edit-resources" serialization="none" method="get" resource="{$art-exist}/modules/get-resources.xq?packageRoot={instance('package-navigation')}" replace="instance" instance="resources-edit-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="instance('resources-edit-instance')/resources/*[name() = instance('key-navigation')]">
                        <xforms:dispatch name="xxforms-value-changed" target="key-navigation"/>
                    </xforms:action>
                    <xforms:action if="not(instance('resources-edit-instance')/resources/*[name() = instance('key-navigation')])">
                        <xforms:setvalue ref="instance('key-navigation')" value="instance('resources-edit-instance')/resources/*[1]/name()"/>
                    </xforms:action>
                    <xforms:setvalue ref="instance('data-safe')">true</xforms:setvalue>
                    <xforms:setvalue ref="instance('reset')">false</xforms:setvalue>
                </xforms:action>
            </xforms:submission>
            <!-- default resources editing -->
            <xforms:instance id="resources-default-instance">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="reset">
                <reset>false</reset>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-default-resources" serialization="none" method="get" resource="{$art-exist}/modules/get-resources.xq?packageRoot={instance('package-navigation')}&amp;getdefault=true" replace="instance" instance="resources-default-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            
            <!-- event observer for resources changes -->
            <xforms:action ev:observer="resources-edit-instance" ev:event="xxforms-value-changed">
                <!-- This facilitates calculating what we need to save. With this info we keep the art-data copy in sync -->
                <xforms:insert if=".[not(@updated)][instance('reset')='false']" context="instance('resources-edit-instance')/resources[@xml:lang=instance('key-navigation')/@xml:lang]/*[name()=instance('key-navigation')]" origin="xxforms:attribute('updated','')"/>
                <xforms:setvalue ref="instance('data-safe')">false</xforms:setvalue>
            </xforms:action>

            <!-- instance for package navigation -->
            <xforms:instance id="package-navigation">
                <path/>
            </xforms:instance>
            <xforms:action ev:observer="package-navigation" ev:event="xxforms-value-changed">
                <xforms:send submission="get-edit-resources"/>
                <xforms:send submission="get-undefined-resources-submission"/>
            </xforms:action>
            <!-- instance for package roots -->
            <xforms:instance id="packages">
                <packages/>
            </xforms:instance>
            <xforms:submission id="get-packages" serialization="none" method="get" resource="{$art-exist}/modules/get-art-package-list.xquery" replace="instance" instance="packages">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>

            <!-- instance for holding  key -->
            <xforms:instance id="key-navigation">
                <key xml:lang=""/>
            </xforms:instance>
            <xforms:action ev:observer="key-navigation" ev:event="xxforms-value-changed">
                <xforms:setvalue ref="instance('key-navigation')/@xml:lang" value="instance('resources-edit-instance')/resources[index('resources-repeat')]/@xml:lang"/>
                <xforms:send submission="get-resource-usage-submission"/>
            </xforms:action>
            <!-- key navigation nodeset -->
            <xforms:instance id="key-navigation-nodeset">
                <expression>instance('resources-edit-instance')/resources[1]/*</expression>
            </xforms:instance>
            <xforms:instance id="undefined-key-navigation">
                <root>
                    <key/>
                </root>
            </xforms:instance>
            <!-- undefined resources instance -->
            <xforms:instance id="undefined-resources-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-undefined-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-undefined-resources.xq?packageRoot={instance('package-navigation')}" replace="instance" instance="undefined-resources-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-usbmit-done">
                    <xforms:setvalue ref="instance('undefined-key-navigation')/key" value="instance('undefined-resources-instance')/resource[1]/@key"/>
                </xforms:action>
            </xforms:submission>
            <!-- resource usage instance -->
            <xforms:instance id="resource-usage-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-resource-usage-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-resource-usage.xq?resource={instance('key-navigation')}&amp;packageRoot={instance('package-navigation')}" replace="instance" instance="resource-usage-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <!-- unused resources instance -->
            <xforms:instance id="unused-resources-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-unused-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-unused-resources.xq?packageRoot={instance('package-navigation')}" replace="instance" instance="unused-resources-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <!-- save resources submission -->
            <xforms:instance id="save-result-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="save-resources-submission" ref="instance('resources-edit-instance')" resource="{$art-exist}/modules/save-form-resources.xquery?packageRoot={instance('package-navigation')}" method="post" replace="instance" instance="save-result-instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:dispatch name="xxforms-value-changed" target="package-navigation"/>
                </xforms:action>
            </xforms:submission>
            <!-- add new resources submission -->
            <xforms:submission id="add-resources-submission" ref="instance('undefined-resources-instance')" action="{$art-exist}/modules/add-form-resources.xquery?packageRoot={instance('package-navigation')}" method="post" replace="instance" instance="save-result-instance" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:dispatch name="xxforms-value-changed" target="package-navigation"/>
                </xforms:action>
            </xforms:submission>
            <xforms:instance id="new-language-instance" xxforms:exclude-result-prefixes="#all">
                <language xml:lang="fr-FR" displayName="Français (fr-FR)" base="en-US"/>
            </xforms:instance>
            <xforms:bind nodeset="instance('new-language-instance')">
                <xforms:bind nodeset="@xml:lang" required="if (instance('new-language-instance')/@displayName='') then false() else true()" constraint="matches(.,'[a-z]{2}-[A-Z]{2}')"/>
                <xforms:bind nodeset="@displayName" required="if (instance('new-language-instance')/@xml:lang='') then false() else true()"/>
            </xforms:bind>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:send submission="get-packages"/>
                <xforms:setvalue ref="instance('package-navigation')" value="instance('packages')/root[1]"/>
                <xforms:send submission="get-default-resources"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <xforms:setvalue ref="instance('key-navigation')" value="xxforms:itemset('key-select', 'xml', false())//item[1]/value"/>
                <xforms:setfocus control="text-repeat"/>
            </xforms:action>
            <xxforms:script ev:event="xforms-ready">
                window.onbeforeunload = function() {
                if (ORBEON.xforms.Document.getValue('data-safe-input') != 'true')
                return ORBEON.xforms.Document.getValue('data-safe-input-warning');
                }
            </xxforms:script>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="administrator" select="contains(xxforms:get-session-attribute('groups'),'dba')"/>
        </xforms:model>
    </xhtml:head>
    <!-- Start of XForm body -->
    <xhtml:body>
        <xforms:group ref=".[$administrator]">
            <!-- special output used to give warning if user leaves page -->
            <xforms:output ref="instance('data-safe')" id="data-safe-input" style="display: none"/>
            <xforms:output ref="$resources/unsaved-data" id="data-safe-input-warning" style="display: none"/>
            <!-- languages -->
            <xhtml:table class="spaced" width="100%">
                <xhtml:tr>
                    <xhtml:td class="item-label">
                        <xforms:output ref="$resources/package"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xforms:select1 ref="instance('package-navigation')" id="root-select">
                            <xforms:label ref="$resources/package" class="hidden"/>
                            <xforms:itemset nodeset="instance('packages')/root">
                                <xforms:label ref="concat(@abbrev,' - ',@title)"/>
                                <xforms:value ref="."/>
                            </xforms:itemset>
                        </xforms:select1>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td class="item-label">
                        <xforms:output ref="$resources/new-language"/>
                        <xhtml:div class="buttons">
                            <xforms:output ref="''">
                                <!--<xforms:label ref="$resources/new-language" class="hidden"/>-->
                                <xforms:help ref="$resources/add-language-to-package-help"/>
                            </xforms:output>
                            <xforms:trigger appearance="compact" ref="instance('new-language-instance')[not(@xml:lang='' or @displayName='')]">
                                <xforms:label>
                                    <xhtml:img src="/img/plus.png" alt=""/>
                                </xforms:label>
                                <xforms:hint ref="$resources/add-language-to-package-hint"/>
                                <xforms:action ev:event="DOMActivate">
                                    <!-- Only add if does not exist yet... -->
                                    <xforms:action if="not(instance('resources-edit-instance')/resources/@xml:lang=instance('new-language-instance')/@xml:lang)">
                                        <!-- need valid base to do initial copy of elements -->
                                        <xxforms:variable name="base" select="if (instance('new-language-instance')/@base='') then instance('resources-edit-instance')/resources/@xml:lang[1] else (instance('new-language-instance')/@base)"/>
                                        <!-- now create new resources to insert into edit copy -->
                                        <xxforms:variable name="new-resources" select="xxforms:element('resources',(instance('new-language-instance')/@*,instance('resources-edit-instance')/resources[@xml:lang=$base]/*))"/>
                                        <!-- insert the new resources -->
                                        <xforms:insert context="instance('resources-edit-instance')" origin="$new-resources" at="last()"/>
                                        <!-- if no base was given, empty all elements under resources we just added. doing that on the $new-resources would have made sense but ran into Orbeon bug there -->
                                        <xforms:action xxforms:iterate="instance('resources-edit-instance')/resources[@xml:lang=instance('new-language-instance')/@xml:lang]/*" if="instance('new-language-instance')/@base=''">
                                            <xforms:setvalue ref="context()" value="''"/>
                                        </xforms:action>
                                    </xforms:action>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                    <xhtml:td>
                        <xhtml:table class="spaced">
                            <xhtml:tr>
                                <xhtml:td>
                                    <xforms:output ref="concat($resources/code,': ')"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="instance('new-language-instance')/@xml:lang" class="short-text" incremental="true"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="concat($resources/displayName,': ')"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input ref="instance('new-language-instance')/@displayName" class="short-text" incremental="true"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:output ref="concat($resources/base-language,': ')"/>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:select1 ref="instance('new-language-instance')/@base" class="auto-width">
                                        <xforms:item>
                                            <xforms:label ref="$resources/not-set"/>
                                            <xforms:value ref="''"/>
                                        </xforms:item>
                                        <xforms:itemset nodeset="instance('resources-edit-instance')/resources">
                                            <xforms:label ref="@displayName"/>
                                            <xforms:value ref="@xml:lang"/>
                                        </xforms:itemset>
                                    </xforms:select1>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td colspan="2">
                        <xhtml:p/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:table width="100%">
                            <!-- row with heading for tree control and edit buttons	-->
                            <xhtml:tr class="heading">
                                <xhtml:td class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="$resources/key"/>
                                    </xhtml:div>
                                    <xhtml:div class="buttons">
                                        <xforms:group ref=".[instance('key-navigation-nodeset')!='instance(''resources-edit-instance'')/resources[1]/*']">
                                            <xforms:trigger appearance="compact">
                                                <xforms:label ref="$resources/remove-filter"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:setvalue ref="instance('key-navigation-nodeset')" value="'instance(''resources-edit-instance'')/resources[1]/*'"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xforms:group>
                                        <!-- changed keys only -->
                                        <xforms:trigger appearance="compact" ref="instance('resources-edit-instance')//@updated">
                                            <xforms:label>
                                                <xhtml:img src="/img/action_undo.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/show-changed-keys"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:setvalue ref="instance('key-navigation-nodeset')" value="'instance(''resources-edit-instance'')/resources[1]/*[name()=instance(''resources-edit-instance'')//*[@updated]/name()]'"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                        <!-- refresh -->
                                        <xforms:trigger appearance="compact" ref=".[instance('data-safe')='true']">
                                            <xforms:label>
                                                <xhtml:img src="/img/arrow_refresh.png" alt=""/>
                                            </xforms:label>
                                            <xforms:hint ref="$resources/refresh"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:send submission="get-resources-submission"/>
                                                <xforms:send submission="get-packages"/>
                                                <xforms:action if="instance('package-navigation') = instance('packages')/root">
                                                    <xforms:dispatch name="xxforms-value-changed" target="package-navigation"/>
                                                </xforms:action>
                                                <xforms:action if="not(instance('package-navigation') = instance('packages')/root)">
                                                    <xforms:setvalue ref="instance('package-navigation')" value="instance('packages')/root[1]"/>
                                                </xforms:action>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td>
                                    <xhtml:div class="navigate-small no-overflow">
                                        <xforms:select1 ref="instance('key-navigation')" appearance="compact" id="key-select">
                                            <xforms:itemset nodeset="xxforms:evaluate(instance('key-navigation-nodeset'))">
                                                <xforms:label ref="name()"/>
                                                <xforms:value ref="name()"/>
                                            </xforms:itemset>
                                        </xforms:select1>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xhtml:td>
                    <xhtml:td>
                        <xhtml:table class="detail spaced" width="100%">
                            <xhtml:tr class="heading">
                                <xhtml:td colspan="2" class="heading">
                                    <xhtml:div class="heading">
                                        <xforms:output ref="instance('key-navigation')"/>
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/language"/>
                                </xhtml:td>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/text"/>
                                </xhtml:td>
                            </xhtml:tr>
                            <xforms:repeat nodeset="instance('resources-edit-instance')/resources" id="resources-repeat">
                                <xforms:action ev:event="xxforms-index-changed" ev:observer="resources-repeat">
                                    <xforms:setvalue ref="instance('key-navigation')/@xml:lang" value="instance('resources-edit-instance')/resources[index('resources-repeat')]/@xml:lang"/>
                                </xforms:action>
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xforms:output ref="@displayName"/>
                                        <xxforms:variable name="lang" select="@xml:lang"/>
                                        <xxforms:variable name="current" select="*[name()=instance('key-navigation')]"/>
                                        <xxforms:variable name="default" select="instance('resources-default-instance')/resources[@xml:lang=$lang]/*[name()=instance('key-navigation')]"/>
                                        <xhtml:div class="buttons">
                                            <xforms:group ref=".[$current/@updated][instance('data-safe')='true']">
                                                <xforms:trigger appearance="minimal">
                                                    <xforms:label>
                                                        <xhtml:img src="/img/action_undo.png" alt=""/>
                                                    </xforms:label>
                                                    <xforms:hint ref="concat($resources/reset-default,': ',$default)"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('reset')">true</xforms:setvalue>
                                                        <xforms:setvalue ref="$current" value="$default"/>
                                                        <xforms:delete nodeset="$current/@updated"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:group>
                                        </xhtml:div>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:input ref="*[name()=instance('key-navigation')]" incremental="true"/>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xforms:repeat>
                            <xhtml:tr>
                                <xhtml:td colspan="2">
                                    <xforms:group ref=".[instance('data-safe')='false']">
                                        <xhtml:div class="buttons">
                                            <xforms:trigger appearance="compact">
                                                <xforms:label ref="$resources/cancel"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:dispatch name="xxforms-value-changed" target="package-navigation"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                            <xforms:trigger appearance="compact">
                                                <xforms:label ref="$resources/save"/>
                                                <xforms:action ev:event="DOMActivate">
                                                    <xforms:send submission="save-resources-submission"/>
                                                </xforms:action>
                                            </xforms:trigger>
                                        </xhtml:div>
                                    </xforms:group>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                        <!-- resource usage -->
                        <xhtml:div class="h2">
                            <xforms:output ref="$resources/usage"/>
                        </xhtml:div>
                        <!-- xforms -->
                        <xhtml:table class="detail spaced" width="100%">
                            <xhtml:thead>
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/xform"/>
                                    </xhtml:td>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/count"/>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:thead>
                            <xhtml:tbody>
                                <xforms:repeat nodeset="instance('resource-usage-instance')/xform" id="usage-repeat">
                                    <xhtml:tr class="not-selectable">
                                        <xhtml:td>
                                            <xforms:output ref="@name"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="@count"/>
                                        </xhtml:td>
                                    </xhtml:tr>
                                </xforms:repeat>
                            </xhtml:tbody>
                        </xhtml:table>
                    </xhtml:td>
                </xhtml:tr>
                <!-- missing text for language -->
                <xhtml:tr class="heading">
                    <xhtml:td colspan="2" class="heading">
                        <xhtml:div class="heading">
                            <xforms:output ref="$resources/missing-text"/>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td colspan="2">
                        <xhtml:table class="detail spaced" width="100%">
                            <xhtml:thead>
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/language"/>
                                    </xhtml:td>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/count"/>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:thead>
                            <xhtml:tbody>
                                <xforms:repeat nodeset="instance('resources-edit-instance')/resources[*/string-length(.)=0]" id="languages-repeat">
                                    <xxforms:variable name="ll" select="@xml:lang"/>
                                    <xhtml:tr>
                                        <xhtml:td>
                                            <xforms:output ref="@displayName"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="count(*[string-length(.)=0])"/>
                                            <xhtml:div class="buttons">
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label ref="$resources/show-in-list"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('key-navigation-nodeset')" value="concat('instance(''resources-edit-instance'')/resources[@xml:lang=''', $ll, ''']/*[string-length(.)=0]')"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xhtml:div>
                                        </xhtml:td>
                                    </xhtml:tr>
                                </xforms:repeat>
                            </xhtml:tbody>
                        </xhtml:table>
                    </xhtml:td>
                </xhtml:tr>

                <!-- undefined keys -->
                <xforms:group ref="instance('undefined-resources-instance')/resource">
                    <xhtml:tr class="heading">
                        <xhtml:td colspan="2" class="heading">
                            <xhtml:div class="heading">
                                <xforms:output ref="$resources/undefined-keys"/>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xhtml:div class="detail">
                                <xhtml:table width="100%">
                                    <xhtml:thead>
                                        <xhtml:tr>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/key"/>
                                            </xhtml:td>
                                            <xhtml:td class="item-label">
                                                <xforms:output ref="$resources/text"/>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xhtml:thead>
                                    <xhtml:tbody>
                                        <xforms:repeat nodeset="instance('undefined-resources-instance')/resource">
                                            <xhtml:tr>
                                                <xhtml:td>
                                                    <xforms:output ref="@key"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xhtml:table>
                                                        <xforms:repeat nodeset="text" id="text-repeat">
                                                            <xhtml:tr>
                                                                <xhtml:td>
                                                                    <xforms:output ref="@displayName"/>
                                                                </xhtml:td>
                                                                <xhtml:td>
                                                                    <xforms:input ref="." incremental="true">
                                                                        <xforms:label ref="$resources/displayName" class="hidden"/>
                                                                    </xforms:input>
                                                                </xhtml:td>
                                                            </xhtml:tr>
                                                        </xforms:repeat>
                                                    </xhtml:table>
                                                </xhtml:td>
                                            </xhtml:tr>
                                        </xforms:repeat>
                                        <xhtml:tr>
                                            <xhtml:td colspan="2" align="right">
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label ref="$resources/add"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:send submission="add-resources-submission"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xhtml:tbody>
                                </xhtml:table>
                            </xhtml:div>
                        </xhtml:td>
                    </xhtml:tr>
                </xforms:group>
            </xhtml:table>
            <!--      <fr:xforms-inspector/>-->
        </xforms:group>
    </xhtml:body>
</xhtml:html>