<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    Based on work by Orbeon, Inc.
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/login"/>
        </xhtml:title>
        <xforms:model>
            <!-- Variable with path to eXist-db -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>

            <xforms:instance id="logmein-instance">
                <user name="" pass="" logged-in="" return-url=""/>
            </xforms:instance>
            <xforms:bind nodeset="instance('logmein-instance')" readonly="instance('logmein-instance')/@logged-in = 'true'"/>
            <xforms:submission id="logmein-submission" ref="instance('logmein-instance')" method="post" resource="{$art-exist}/modules/login.xq" replace="instance" instance="logmein-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="instance('logmein-instance')/@logged-in = 'true'">
                        <xforms:insert context="." origin="xxforms:set-session-attribute('username', string(instance('logmein-instance')/@name))"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('password', string(instance('logmein-instance')/@pass))"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('logmein-instance')/defaultLanguage)"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('displayName', instance('logmein-instance')/displayName)"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('groups', string-join(instance('logmein-instance')/groups/group, ' '))"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('comefrom', 'login')"/>
                        <xforms:load resource="{instance('logmein-instance')/@return-url}"/>
                    </xforms:action>
                    <xforms:action if="instance('logmein-instance')/@logged-in = 'false'">
                        <xforms:setfocus control="username"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('username', ())"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('password', ())"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('language', ())"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('displayName', ())"/>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('groups', ())"/>
                    </xforms:action>
                </xforms:action>
            </xforms:submission>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:setvalue ref="instance('logmein-instance')/@return-url" value="(xxforms:get-request-parameter('returnToUrl')[1], 'home')[string-length() gt 0][1]"/>
                <!-- set this variable to 'login' to signal subsequently called resources that we just passed a login -->
                <xforms:insert context="." origin="xxforms:set-session-attribute('comefrom', 'login')"/>
            </xforms:action>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xforms:setfocus ev:event="xforms-ready" control="logmein-username"/>
            
            <!-- ================================================================================================ -->
            <!-- suppress warnings in log by adding these in the form, even though they do not serve purpose here -->
            <!-- ================================================================================================ -->
            <xforms:instance id="dataset-instance">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="dataset-navigation">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="dataset-navigation-ids">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="concept-navigation">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="concept-navigation-ids">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="scenario-navigation">
                <dummy/>
            </xforms:instance>
            <xforms:instance id="logo">
                <dummy/>
            </xforms:instance>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xforms:action ev:observer="logmein-group" ev:event="DOMActivate">
            <xforms:send submission="logmein-submission"/>
        </xforms:action>
        <xforms:group ref="instance('logmein-instance')" id="logmein-group">
            <xhtml:table width="350" class="spaced">
                <xhtml:tr>
                    <xhtml:td class="item-label">
                        <xforms:output ref="$art-menu-resources/username"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xforms:input id="logmein-username" ref="@name" class="short-text">
                            <xforms:label ref="$art-menu-resources/username" class="hidden"/>
                        </xforms:input>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td class="item-label">
                        <xforms:output ref="$art-menu-resources/password"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xforms:secret id="logmein-password" ref="@pass" class="short-text">
                            <xforms:label ref="$art-menu-resources/password" class="hidden"/>
                        </xforms:secret>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td colspan="2">
                        <xforms:group ref=".[@logged-in = 'false']">
                            <xforms:output ref="$art-menu-resources/login-failure"/>
                        </xforms:group>
                        <xforms:output ref="' '"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td colspan="2">
                        <xforms:group ref=".[@logged-in = 'true']">
                            <xhtml:img src="/img/loader.gif" class="spinner" alt="Busy" style="margin-right: 5px;"/>
                        </xforms:group>
                        <xforms:trigger ref="." appearance="compact" id="logmein-button">
                            <xforms:label ref="$art-menu-resources/login"/>
                        </xforms:trigger>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xforms:group>
        <!--<fr:xforms-inspector/>-->
    </xhtml:body>
</xhtml:html>