<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses

    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.

    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?><xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:atp="urn:nictiz.atp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/user-settings"/>
        </xhtml:title>
        <xforms:model id="main-model">
            <!-- Variable with path to art-exist -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <xxforms:variable name="art-external-exist" select="xxforms:property('art.external.exist.url')"/>

            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery" replace="instance" instance="resources-instance"/>

            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>

            <!-- *** User report *** -->
            <xforms:instance id="user-details">
                <dummy/>
            </xforms:instance>
            <!-- event observer for menu changes -->
            <xforms:action ev:observer="user-details" ev:event="xforms-insert xforms-delete xxforms-value-changed">
                <xforms:setvalue ref="instance('user-safe')">false</xforms:setvalue>
                <xforms:dispatch name="fr-visit-all" targetid="error-summary-general"/>
                <xforms:refresh/>
                <xforms:dispatch name="fr-update" targetid="error-summary-general"/>
            </xforms:action>
            <xforms:submission id="get-user-details-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-user.xquery?user={xxforms:get-session-attribute('username')}" replace="instance" instance="user-details">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:setvalue ref="instance('user-safe')">true</xforms:setvalue>
                    <xforms:setvalue ref="instance('user-report')/displayName" value="instance('user-details')/displayName"/>
                    <xforms:action if="not(instance('user-details')/defaultLanguage = xxforms:get-session-attribute('language'))">
                        <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('user-details')/defaultLanguage)"/>
                        <xforms:send submission="get-resources-submission"/>
                        <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
                    </xforms:action>
                    <xforms:action xxforms:iterate="instance('user-report')/project">
                        <xxforms:variable name="projectPrefix" select="@prefix"/>
                        <xforms:setvalue ref="context()/@authoremail" value="instance('user-details')/projects/project[@prefix=$projectPrefix]/@email"/>
                    </xforms:action>
                </xforms:action>
            </xforms:submission>
            
            <!-- instance edit status user -->
            <xforms:instance id="user-safe">
                <data-safe>true</data-safe>
            </xforms:instance>
            <!-- save user -->
            <xforms:submission id="save-user-details-submission" ref="instance('user-details')" action="{$art-exist}/modules/save-user-details.xquery" method="post" replace="instance" instance="user-safe" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="instance('user-safe')[@projects-safe='true']='true'">
                        <!-- all is well -->
                    </xforms:action>
                    <xforms:action if="not(instance('user-safe')='true')">
                        <!-- user data not saved -->
                        <xforms:message level="modal" close="true">
                            <xforms:output value="$resources/user-save-error"/>&#160;(<xforms:output value="instance('user-safe')/@user-safe-text"/>)
                        </xforms:message>
                    </xforms:action>
                    <xforms:action if="instance('user-safe')[not(@projects-safe = 'true')]='true'">
                        <!-- user data saved but projects are not, e.g. because the user is no longer part of group decor -->
                        <xforms:message level="modal" close="true">
                            <xforms:output value="$resources/user-save-error-projects"/>&#160;(<xforms:output value="instance('user-safe')/@projects-safe-text"/>)
                        </xforms:message>
                    </xforms:action>
                    <xforms:send submission="get-user-details-submission"/>
                </xforms:action>
            </xforms:submission>
            
            <xforms:instance id="password">
                <pass name="" currpwd="" newpwd="" newpwd-confirm=""/>
            </xforms:instance>
            <xforms:instance id="password-new">
                <password/>
            </xforms:instance>
            <xforms:bind nodeset="instance('password-new')" constraint=". = '' or (string-length(.) ge 8 and matches(., '[A-Z]') and matches(., '[a-z]') and matches(., '\d'))"/>
            <xforms:instance id="password-confirm">
                <password/>
            </xforms:instance>
            <xforms:bind nodeset="instance('password-confirm')" constraint=". = instance('password-new')"/>
            <!-- instance edit status pass -->
            <xforms:instance id="pass-safe">
                <data-safe>false</data-safe>
            </xforms:instance>
            <!-- save pass -->
            <xforms:submission id="save-user-pass-submission" ref="instance('password')" action="{$art-exist}/modules/update-user-pass.xquery" method="post" replace="instance" instance="pass-safe" xxforms:username="{xxforms:get-session-attribute('username')}" xxforms:password="{xxforms:get-session-attribute('password')}">
                <xforms:message ev:event="xforms-submit-error" level="modal" close="true">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
                <xforms:action ev:event="xforms-submit-done">
                    <!-- all is well -->
                    <xforms:action if="instance('pass-safe')='true'">
                        <xforms:message level="modal" close="true">
                            <xforms:output value="$resources/submission-update-success-label"/>
                        </xforms:message>
                        <xforms:insert context="." origin="xxforms:set-session-attribute('password', instance('password')/@newpwd)"/>
                    </xforms:action>
                    <!-- user data not saved -->
                    <xforms:message if="not(instance('pass-safe')='true')" level="modal" close="true">
                        <xforms:output value="concat($resources/submission-update-error-label, ' (', instance('pass-safe')/@user-safe-text, ')'"/>
                    </xforms:message>
                </xforms:action>
            </xforms:submission>
            
            <!-- instance for checking if user-details is valid -->
            <xforms:instance id="valid-user-details">
                <project-valid>true</project-valid>
            </xforms:instance>
            <!-- event observer for user-details validity -->
            <xforms:action ev:event="xxforms-invalid" ev:observer="user-details">
                <xforms:setvalue ref="instance('valid-user-details')">false</xforms:setvalue>
            </xforms:action>
            <xforms:action ev:event="xxforms-valid" ev:observer="user-details">
                <xforms:setvalue ref="instance('valid-user-details')">true</xforms:setvalue>
            </xforms:action>
            <xforms:bind nodeset="instance('valid-user-details')" readonly=".='false'"/>
            
            <!-- instance for checking if pass-details is valid -->
            <xforms:instance id="valid-pass-details">
                <pass-valid>false</pass-valid>
            </xforms:instance>
            <xforms:instance id="valid-passconfirm-details">
                <pass-valid>true</pass-valid>
            </xforms:instance>
            <!-- event observer for user-details validity -->
            <xforms:action ev:event="xxforms-invalid" ev:observer="password-new">
                <xforms:setvalue ref="instance('valid-pass-details')">false</xforms:setvalue>
            </xforms:action>
            <xforms:action ev:event="xxforms-valid" ev:observer="password-new">
                <xforms:setvalue ref="instance('valid-pass-details')">true</xforms:setvalue>
            </xforms:action>
            <xforms:action ev:event="xxforms-invalid" ev:observer="password-confirm">
                <xforms:setvalue ref="instance('valid-passconfirm-details')">false</xforms:setvalue>
            </xforms:action>
            <xforms:action ev:event="xxforms-valid" ev:observer="password-confirm">
                <xforms:setvalue ref="instance('valid-passconfirm-details')">true</xforms:setvalue>
            </xforms:action>
            <xforms:bind nodeset="instance('valid-pass-details')" readonly=". = 'false' or instance('valid-passconfirm-details') = 'false'"/>

            <!-- whether we come from login or not -->
            <xforms:instance id="comefrom">
                <dummy/>
            </xforms:instance>
            
            <!-- load instances -->
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:send submission="get-user-details-submission"/>
                <xforms:setvalue ref="instance('comefrom')" value="xxforms:get-session-attribute('comefrom')"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('comefrom', '')"/>
                <xforms:setvalue ref="instance('password')/@name" value="xxforms:get-session-attribute('username')"/>
            </xforms:action>
            <!-- relevant language is returned as first node, rest should be empty -->
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="decor" select="contains(xxforms:get-session-attribute('groups'),'decor')"/>
            <xforms:bind nodeset="instance('user-details')">
                <xforms:bind nodeset=".//ancestor-or-self::user[@name=('admin','guest')]" readonly="true()"/>
                <xforms:bind nodeset="displayName" type="xs:string" required="true()"/>
                <xforms:bind nodeset="email" type="xs:anyURI" required="true()"/>
            </xforms:bind>
        </xforms:model>
    </xhtml:head>
    <!-- Start of XForm body -->
    <xhtml:body>
        <!-- Decor group members homepage -->
        <xforms:group ref="instance('user-details')">
            <!-- show last login if just came from login -->
            <xforms:group ref=".[instance('comefrom')='login']">
                <xhtml:div class="lastlogin">
                    <xforms:output ref="$resources/last-login"/>
                    <xforms:output ref="lastlogin" xxforms:format="if (. castable as xs:dateTime) then replace(format-dateTime(xs:dateTime(.),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', (), (), ()),' 00:00:00','') else (.)"/>
                </xhtml:div>
            </xforms:group>
            <xforms:group ref="instance('user-details')[not(instance('password')/@name = ('SYSTEM', 'guest', ''))]" id="userDetails">
                <xhtml:table class="detail spaced" width="100%">
                    <!-- cancel /save -->
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xforms:group ref=".[instance('user-safe')='false']">
                                <xhtml:div class="buttons">
                                    <xforms:trigger appearance="compact">
                                        <xforms:label ref="$resources/cancel"/>
                                        <xforms:send ev:event="DOMActivate" submission="get-user-details-submission"/>
                                    </xforms:trigger>
                                    <xforms:trigger ref="instance('valid-user-details')" appearance="compact">
                                        <xforms:label ref="$resources/save"/>
                                        <xforms:send ev:event="DOMActivate" submission="save-user-details-submission"/>
                                    </xforms:trigger>
                                </xhtml:div>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- error summary -->
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <fr:error-summary observer="userDetails" id="error-summary-general">
                                <fr:label ref="$resources/please-handle-validation-errors"/>
                                <!--<fr:errors nodeset="instance('errors')/error">
                                    <fr:label ref="label"/>
                                    <fr:alert ref="alert"/>
                                </fr:errors>-->
                            </fr:error-summary>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- displayname -->
                    <xhtml:tr>
                        <xhtml:td class="item-label">
                            <xforms:output ref="$resources/name"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:input ref="displayName" incremental="true">
                                <xforms:label ref="$resources/name" class="hidden"/>
                                <xforms:alert ref="$resources/required-field"/>
                            </xforms:input>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- password - Unable to offer. See: https://github.com/eXist-db/exist/issues/2150 -->
                    <!--<xhtml:tr>
                        <xhtml:td class="item-label">
                            <xforms:output ref="$resources/password"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xhtml:table class="spaced">
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xforms:output ref="$resources/password-current"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:secret ref="instance('password')/@currpwd" incremental="true" appearance="full" class="inline">
                                            <xforms:label ref="$resources/password-current" class="hidden"/>
                                            <xforms:alert ref="$resources/required-field"/>
                                        </xforms:secret>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xforms:output ref="$resources/password-new"/>
                                    </xhtml:td>
                                    <xhtml:td colspan="2">
                                        <xforms:secret ref="instance('password-new')" incremental="true" appearance="full" class="inline">
                                            <xforms:label ref="$resources/password-new" class="hidden"/>
                                            <xforms:alert ref="concat($resources/required-field, '. ', $resources/pattern-password)"/>
                                        </xforms:secret>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td>
                                        <xforms:output ref="$resources/password-repeat"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:secret ref="instance('password-confirm')" incremental="true" appearance="full" class="inline">
                                            <xforms:label ref="$resources/password-repeat" class="hidden"/>
                                            <xforms:alert ref="concat($resources/required-field, ' ', $resources/or, ': ', $resources/passwords-dont-match)"/>
                                        </xforms:secret>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:trigger ref="instance('valid-pass-details')" appearance="compact">
                                            <xforms:label ref="$resources/change"/>
                                            <xforms:action ev:event="DOMActivate">
                                                <!-\- <pass name="testuser" currpwd="" newpwd="" newpwd-confirm=""/> -\->
                                                <xforms:setvalue ref="instance('password')/@newpwd" value="instance('password-new')"/>
                                                <xforms:setvalue ref="instance('password')/@newpwd-confirm" value="instance('password-confirm')"/>
                                                <xforms:send submission="save-user-pass-submission"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:table>
                        </xhtml:td>
                    </xhtml:tr>-->
                    <!-- language -->
                    <xhtml:tr>
                        <xhtml:td class="item-label">
                            <xforms:output ref="$resources/default-user-language"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:select1 ref="defaultLanguage" class="auto-width">
                                <xforms:item>
                                    <xforms:label ref="$resources/not-set"/>
                                    <xforms:value/>
                                </xforms:item>
                                <xforms:itemset nodeset="instance('resources-instance')/resources">
                                    <xforms:label ref="@displayName"/>
                                    <xforms:value ref="@xml:lang"/>
                                </xforms:itemset>
                            </xforms:select1>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- organization -->
                    <xhtml:tr>
                        <xhtml:td class="item-label">
                            <xforms:output ref="$resources/organization"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:input ref="organization" id="organization" incremental="true"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- email -->
                    <xhtml:tr>
                        <xhtml:td class="item-label">
                            <xforms:output ref="$resources/default-user-email"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:input ref="email" incremental="true">
                                <xforms:label ref="$resources/default-user-email" class="hidden"/>
                                <xforms:alert ref="$resources/required-field"/>
                            </xforms:input>
                            <xforms:group ref=".[projects/project]">
                                <xforms:trigger appearance="compact">
                                    <xforms:label ref="$resources/copy-to-all-projects"/>
                                    <xforms:action ev:event="DOMActivate" xxforms:iterate="projects/project/@email">
                                        <xforms:setvalue ref="context()" value="instance('user-details')/email"/>
                                    </xforms:action>
                                </xforms:trigger>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- eXist groups -->
                    <xhtml:tr>
                        <xhtml:td class="item-label">
                            <xforms:output ref="$resources/groups"/>
                        </xhtml:td>
                        <xhtml:td>
                            <xforms:output ref="groups"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- project settings -->
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xhtml:table class="detail spaced" width="100%">
                                <xhtml:tr class="heading">
                                    <xhtml:td colspan="3" class="heading">
                                        <xhtml:div class="heading">
                                            <xforms:output ref="$resources/project-settings"/>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/name"/>
                                    </xhtml:td>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/email"/>
                                    </xhtml:td>
                                    <xhtml:td class="heading">
                                        <xforms:output ref="$resources/issue-subscription">
                                            <xforms:hint ref="$resources/issue-subscription-hint"/>
                                        </xforms:output>
                                    </xhtml:td>
                                </xhtml:tr>
                                <!-- project name / email / subscribe all -->
                                <xforms:repeat nodeset="projects/project">
                                    <xhtml:tr>
                                        <xhtml:td class="item-label" style="text-align:right;">
                                            <xforms:output ref="@name"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:input ref="@email" incremental="true"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:select1 ref="@notifier" class="auto-width">
                                                <xforms:item>
                                                    <xforms:label>---</xforms:label>
                                                    <xforms:value/>
                                                </xforms:item>
                                                <xforms:item>
                                                    <xforms:label ref="$resources/on"/>
                                                    <xforms:value>on</xforms:value>
                                                </xforms:item>
                                                <xforms:item>
                                                    <xforms:label ref="$resources/off"/>
                                                    <xforms:value>off</xforms:value>
                                                </xforms:item>
                                            </xforms:select1>
                                        </xhtml:td>
                                    </xhtml:tr>
                                </xforms:repeat>
                            </xhtml:table>
                        </xhtml:td>
                    </xhtml:tr>
                    <!-- cancel /save -->
                    <xhtml:tr>
                        <xhtml:td colspan="2">
                            <xforms:group ref=".[instance('user-safe')='false']">
                                <xhtml:div class="buttons">
                                    <xforms:trigger appearance="compact">
                                        <xforms:label ref="$resources/cancel"/>
                                        <xforms:send ev:event="DOMActivate" submission="get-user-details-submission"/>
                                    </xforms:trigger>
                                    <xforms:trigger ref="instance('valid-user-details')" appearance="compact">
                                        <xforms:label ref="$resources/save"/>
                                        <xforms:send ev:event="DOMActivate" submission="save-user-details-submission"/>
                                    </xforms:trigger>
                                </xhtml:div>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
            </xforms:group>
        </xforms:group>
    </xhtml:body>
</xhtml:html>