<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    Based on work by Orbeon, Inc.
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
-->
<xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="login" xsi:schemaLocation="http://www.w3.org/1999/xhtml ../../orbeon_schemas/xhtml1-transitional-orbeon.xsd">
    <xhtml:head>
        <xhtml:title>Login</xhtml:title>
        <xforms:model>
            <!-- Variable with path to eXist-db -->
            <xxforms:variable name="ada-exist" select="xxforms:property('ada.exist.url')"/>
            <xforms:instance id="user-instance" xxforms:exclude-result-prefixes="#all">
                <user>
                    <username/>
                    <displayName/>
                    <groups/>
                    <password/>
                </user>
            </xforms:instance>
            <xforms:submission id="login-submission" ref="instance('user-instance')" method="post" resource="{$ada-exist}/modules/login.xquery" replace="instance" instance="user-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:setfocus ev:event="xforms-ready" control="username"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xforms:action ev:observer="login-group" ev:event="DOMActivate">
            <xforms:send submission="login-submission"/>
            <xforms:action if="instance('user-instance')/logged-in='true'">
                <xforms:insert context="." origin="xxforms:set-session-attribute('username', instance('user-instance')/username)"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('user-instance')/defaultLanguage)"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('displayName', instance('user-instance')/displayName)"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('groups', instance('user-instance')/groups)"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('password', instance('user-instance')/password)"/>
                <xforms:load resource="/ada/modules/index.xquery"/>
            </xforms:action>
            <xforms:action if="instance('user-instance')/logged-in='false'">
                <xforms:setfocus control="username"/>
            </xforms:action>
        </xforms:action>
        <xhtml:table width="100%">
            <xforms:group ref="instance('user-instance')" id="login-group">
                <xhtml:tr>
                    <xhtml:td class="item-label">Username</xhtml:td>
                    <xhtml:td>
                        <xforms:input id="username" ref="username" class="short-text"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td class="item-label">Password</xhtml:td>
                    <xhtml:td>
                        <xforms:secret id="password" ref="password" class="short-text"/>
                        <xforms:group ref=".[instance('user-instance')/logged-in='false']">
                            <xforms:output ref="'Login failed!'"/>
                        </xforms:group>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td colspan="2">
                        <fr:button id="login-button">
                            <xforms:label>Login</xforms:label>
                        </fr:button>
                    </xhtml:td>
                </xhtml:tr>
            </xforms:group>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>