<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?><xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:svg="http://www.w3.org/2000/svg" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="instance('classification-list')//group[@collection=instance('collection')]/@name"/>
        </xhtml:title>
        <xforms:model>
            <!-- instance with logo -->
            <xforms:instance id="logo">
                <logo href=""/>
            </xforms:instance>
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to decor-eXist used to pass to client as link for services (Diagrams in new window) -->
            <xxforms:variable name="decor-exist" select="xxforms:property('decor.exist.url')"/>
            <!-- Variable with path to terminology-eXist used to pass internally as link for services (SNOMED, LOINC) -->
            <xxforms:variable name="terminology-exist" select="xxforms:property('terminology.exist.url')"/>
            <!-- Variable with path to terminology-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxforms:variable name="terminology-external-exist" select="xxforms:property('terminology.external.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=terminology" replace="instance" instance="resources-instance">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            
            <!-- event observer for language changes -->
            <xforms:action ev:observer="language" ev:event="xxforms-value-changed">
                <xforms:setvalue ref="instance('classificationId')" value="if (instance('classification-list')//classification[@package=instance('collection')][@language=instance('language')]) then instance('classification-list')//classification[@package=instance('collection')][@language=instance('language')][1]/@id else (instance('classification-list')//classification[@package=instance('collection')][1]/@id)"/>
                <xforms:send submission="get-claml-hierarchy"/>
                <xforms:setvalue ref="instance('hierarchy-navigation')" value="instance('claml-instance')/Class[1]/@id"/>
                <xforms:send submission="get-class"/>
            </xforms:action>


            <!-- instance for help, temporary solution, must move to db -->
            <xforms:instance id="help-instance">
                <help-files>
                    <search language="en-US">
                        <div class="h3">Finding Terms</div>
                        <p>Finding terms with the least amount of keystrokes possible, that is the goal.<br/> To achieve this goal the search field offers a combination of wildcard and exact match searches.</p>
                        <b>General Properties</b>
                        <ul>
                            <li> Searches starting with lower case letters will also find terms starting with upper case letters. </li>
                            <li> Results are ordered by wordcount and term length. </li>
                            <li> Starting a search term with lower case will perform a wildcard search. </li>
                            <li> Single term wildcard searches require a minimum of 4 keystrokes. </li>
                            <li> Starting a search term with upper case will perform an exact match search. </li>
                            <li> Single term exact match searches require a minimum of 2 keystrokes. </li>
                        </ul>
                        <b>Examples</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">Searching for</td>
                                <td class="floating-label">Enter</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                    <search language="nl-NL">
                        <div class="h3">Termen vinden</div>
                        <p>Termen vinden met zo weinig mogelijk toetsaanslagen, dat is het doel.<br/> Om dit te bereiken ondersteunt het zoekveld het zoeken op exacte overeenkomst en het zogenaamde 'wildcard' zoeken.</p>
                        <b>Algemene Eigenschappen</b>
                        <ul>
                            <li> Bij zoektermen met kleine letters worden ook overeenkomende termen met hoofdletters gevonden. </li>
                            <li> Resultaten worden gesorteerd op aantal woorden en lengte van de term. </li>
                            <li> Als een zoekterm met een kleine letter begint dan wordt gezocht naar termen beginnend met de zoekterm (wildcard). </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een kleine letter, dan moet deze minimaal vier letters bevatten. </li>
                            <li> Als een zoekterm begint met een hoofdletter dan dan wordt gezocht naar termen die exact overeenkomen.. </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een hoofdletter, dan moet deze minimaal twee letters bevatten. </li>
                        </ul>
                        <b>Voorbeelden</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">U zoekt</td>
                                <td class="floating-label">Toets</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                </help-files>
            </xforms:instance>

            <!-- instance for selected classification collection -->
            <xforms:instance id="collection">
                <name/>
            </xforms:instance>
            <!-- instance for selected classificationId -->
            <xforms:instance id="classificationId">
                <name/>
            </xforms:instance>
            <xforms:action ev:observer="classificationId" ev:event="xxforms-value-changed">
                <xforms:send submission="get-claml-hierarchy"/>
                <xforms:setvalue ref="instance('hierarchy-navigation')" value="instance('claml-instance')/Class[1]/@id"/>
                <!--            <xforms:send submission="get-class"/>-->
            </xforms:action>
            <!-- instance for selected classification of group -->
            <xforms:instance id="selected-classification">
                <name/>
            </xforms:instance>
            <!-- instance for classification metadata -->
            <xforms:instance id="classification-metadata">
                <info/>
            </xforms:instance>
            <xforms:submission id="get-classification-metadata" serialization="none" method="get" resource="{$terminology-exist}/claml/modules/get-claml-metadata.xquery?classificationId={instance('classificationId')}" replace="instance" instance="classification-metadata"/>
            <!-- instance for classification list -->
            <xforms:instance id="classification-list">
                <classifications/>
            </xforms:instance>
            <xforms:submission id="get-classification-list" serialization="none" method="get" resource="{$terminology-exist}/claml/classification-index.xml" replace="instance" instance="classification-list"/>

            <!-- instance for selected class -->
            <xforms:instance id="class-navigation">
                <id/>
            </xforms:instance>
            <!-- instance for selected class in hierarchy -->
            <xforms:instance id="hierarchy-navigation">
                <id/>
            </xforms:instance>
            <!-- instance for class -->
            <xforms:instance id="class">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-class" serialization="none" method="get" resource="{$terminology-exist}/claml/RetrieveClass?classificationId={instance('classificationId')}&amp;code={instance('claml-instance')//*[@id=instance('hierarchy-navigation')][1]/@code}" replace="instance" instance="class"/>

            <!-- instance for description search string -->
            <xforms:instance id="description-search-instance">
                <root>
                    <search/>
                </root>
            </xforms:instance>
            <!-- instance for description itemset -->
            <xforms:instance id="description-itemset-instance">
                <result current="0" total="0"/>
            </xforms:instance>
            <!-- instance for ClaML hierarchy tree -->
            <xforms:instance id="claml-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-claml-hierarchy" serialization="none" method="get" resource="{$terminology-exist}/claml/RetrieveSubClasses?classificationId={instance('classificationId')}&amp;statusCode={instance('selected-statuscodes-instance')/selected}" replace="instance" instance="claml-instance">
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action xxforms:iterate="instance('claml-instance')/Class|instance('claml-instance')//SubClass">
                        <xforms:insert nodeset="context()/@*" origin="xxforms:attribute('id',random())"/>
                    </xforms:action>
                </xforms:action>
            </xforms:submission>
            <xforms:instance id="subclasses">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="expand-tree-submission" serialization="none" method="get" resource="{$terminology-exist}/claml/RetrieveSubClasses?classificationId={instance('classificationId')}&amp;code={instance('claml-instance')//*[@id=instance('hierarchy-navigation')][1]/@code}&amp;statusCode={instance('selected-statuscodes-instance')/selected}" replace="instance" instance="subclasses">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:instance id="selected-statuscodes-instance">
                <statuscodes>
                    <selected>active</selected>
                    <code>active</code>
                    <code>deprecated</code>
                </statuscodes>
            </xforms:instance>
            <xforms:instance id="selected-scopes-instance">
                <statuscodes>
                    <selected>description code</selected>
                    <code>description</code>
                    <code>code</code>
                </statuscodes>
            </xforms:instance>
            <xforms:submission id="update-descriptions" ref="instance('description-search-instance')" action="{$terminology-exist}/claml/SearchDescription?classificationId={instance('classificationId')}&amp;string={instance('description-search-instance')/search}&amp;statusCode={instance('selected-statuscodes-instance')/selected}&amp;scope={instance('selected-scopes-instance')/selected}" method="get" instance="description-itemset-instance" replace="instance">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    <xforms:output value="string-join(('A submission error occurred: ',string(event('error-type')),'; Status: ',string(event('response-status-code')),'; URI: ',event('resource-uri'),'; Headers: ',event('response-headers'),'; Body: ',event('response-body')),' ')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <xforms:send submission="get-classification-list"/>
                <!-- Check URL for parameter collection -->
                <xforms:setvalue ref="instance('collection')" value="xxforms:get-request-parameter('collection')[string-length()&gt;0][1]"/>
                <!-- Check URL for parameter classificationId -->
                <xforms:setvalue ref="instance('classificationId')" value="xxforms:get-request-parameter('classificationId')[string-length()&gt;0][1]"/>
                <xforms:action if="instance('collection')[string-length()=0] and instance('classificationId')[string-length()=0]">
                    <xforms:setvalue ref="instance('collection')" value="instance('classification-list')//classification[1]/@package"/>
                    <xforms:setvalue ref="instance('classificationId')" value="if (instance('classification-list')//classification[@package=instance('collection')][@language=instance('language')]) then instance('classification-list')//classification[@package=instance('collection')][@language=instance('language')][1]/@id else (instance('classification-list')//classification[@package=instance('collection')][1]/@id)"/>
                </xforms:action>
                <!-- If collection is empty (and the URL presumably only had classificationId), get the collection from the classification index -->
                <xforms:action if="instance('collection')[string-length()=0]">
                    <xforms:setvalue ref="instance('collection')" value="instance('classification-list')//classification[@id=instance('classificationId')][1]/@package"/>
                </xforms:action>
                <!-- If classificationId is empty (and the URL presumably only had collection), get the classificationId from the classification index -->
                <xforms:action if="instance('classificationId')[string-length()=0]">
                    <xforms:setvalue ref="instance('classificationId')" value="if (instance('classification-list')//classification[@package=instance('collection')][@language=instance('language')]) then instance('classification-list')//classification[@package=instance('collection')][@language=instance('language')][1]/@id else (instance('classification-list')//classification[@package=instance('collection')][1]/@id)"/>
                </xforms:action>
                <xforms:setvalue ref="instance('selected-classification')" value="instance('classificationId')"/>
                <xforms:send submission="get-claml-hierarchy"/>
                <xforms:setvalue ref="instance('hierarchy-navigation')" value="if (instance('claml-instance')//*[@code=xxforms:get-request-parameter('conceptId')[string-length()&gt;0][1]]) then ((instance('claml-instance')//*[@code=xxforms:get-request-parameter('conceptId')[string-length()&gt;0][1]])[1]/@id) else (instance('claml-instance')/Class[1]/@id)"/>
                <xforms:send submission="get-class"/>
                <xforms:send submission="get-classification-metadata"/>
                <xforms:setvalue ref="instance('logo')" value="instance('classification-metadata')/Meta[@name='custodianOrganisationLogo']/@value"/>
                <xforms:setvalue ref="instance('logo')/@href" value="instance('classification-metadata')/Meta[@name='custodianOrganisationUrl']/@value"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <xforms:action if="xxforms:get-request-parameter('conceptId')[string-length()&gt;0]">
                    <xforms:setvalue ref="instance('class-navigation')" value="xxforms:get-request-parameter('conceptId')[string-length()&gt;0][1]"/>
                    <xforms:setvalue ref="instance('description-search-instance')/search" value="xxforms:get-request-parameter('conceptId')[string-length()&gt;0][1]"/>
                </xforms:action>
                <xforms:setfocus control="search-description"/>
            </xforms:action>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
            <xxforms:variable name="isGroup" select="instance('classification-list')/group[@collection=instance('collection')]/@isGroup='true'"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xxforms:dialog id="help-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
            <xforms:label ref="$resources/help"/>
            <xhtml:table width="100%">
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:output mediatype="text/html" ref="xxforms:serialize(instance('help-instance')/search[@language=instance('language')], 'html')"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div style="float:right">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/close"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="help-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <!-- classification list for groups -->
        <xforms:group ref=".[$isGroup]">
            <xhtml:table width="100%" style="margin-bottom:1em;border:solid 1px #CCC;">
                <xhtml:tr>
                    <xhtml:td class="item-label">
                        <xforms:output ref="$resources/codesystems"/>
                    </xhtml:td>
                    <xhtml:td>
                        <xforms:select1 ref="instance('selected-classification')" appearance="minimal">
                            <xforms:label ref="$resources/codesystems" class="hidden"/>
                            <xforms:itemset nodeset="instance('classification-list')//classification[@package=instance('collection')]">
                                <xforms:label ref="@name"/>
                                <xforms:value ref="@id"/>
                            </xforms:itemset>
                            <xforms:action ev:event="xforms-value-changed">
                                <xforms:setvalue ref="instance('class-navigation')" value="''"/>
                                <xforms:setvalue ref="instance('classificationId')" value="instance('selected-classification')"/>
                            </xforms:action>
                        </xforms:select1>
                        <xhtml:div class="buttons">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/help"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:show dialog="help-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xforms:group>
        <!-- tabview -->
        <fr:tabview>
            <!-- search tab -->
            <fr:tab>
                <fr:label ref="$resources/search"/>
                <xhtml:table width="100%">
                    <xhtml:tr>
                        <xhtml:td width="70%">
                            <xhtml:table width="100%">
                                <xhtml:tr>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/searchterms"/>
                                        <xforms:trigger appearance="minimal" id="refresh">
                                            <xforms:label>
                                                <xhtml:img src="/img/arrow_refresh.png" alt="" align="right"/>
                                            </xforms:label>
                                            <xforms:action ev:event="DOMActivate">
                                                <xforms:setvalue ref="instance('description-search-instance')/search" value="''"/>
                                                <xforms:setvalue ref="instance('class-navigation')" value="''"/>
                                                <xforms:delete ref="instance('description-itemset-instance')/description"/>
                                                <xforms:setvalue ref="instance('description-itemset-instance')/@current" value="'0'"/>
                                                <xforms:setvalue ref="instance('description-itemset-instance')/@count" value="'0'"/>
                                                <xforms:setfocus control="search-description"/>
                                            </xforms:action>
                                        </xforms:trigger>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:input ref="instance('description-search-instance')/search" id="search-description" incremental="true">
                                            <xforms:label ref="$resources/search" class="hidden"/>
                                            <xforms:action ev:event="xforms-value-changed">
                                                <xxforms:variable name="search-value" select="."/>
                                                <xxforms:variable name="make-suggestion" select="(string-length($search-value) &gt;= 3 and not(matches($search-value,'^[A-Z]|\s$|\s[a-z|0-9]$'))) or (string-length($search-value) &gt;= 2 and not(matches($search-value,'^[a-z]|\s$')))"/>
                                                <xforms:action if="$make-suggestion">
                                                    <xforms:send submission="update-descriptions"/>
                                                    <xforms:action if="xxforms:index('descriptions')&gt;1">
                                                        <xforms:setindex repeat="descriptions" index="1"/>
                                                    </xforms:action>
                                                </xforms:action>
                                            </xforms:action>
                                        </xforms:input>
                                    </xhtml:td>
                                    <xhtml:td class="item-label">
                                        <xforms:output ref="$resources/filter-on-status"/>
                                    </xhtml:td>
                                    <xhtml:td>
                                        <xforms:select ref="instance('selected-statuscodes-instance')/selected" appearance="full" class="inline">
                                            <xforms:label ref="$resources/filter-on-status" class="hidden"/>
                                            <xforms:itemset nodeset="instance('selected-statuscodes-instance')/code">
                                                <xforms:label ref="."/>
                                                <xforms:value ref="."/>
                                            </xforms:itemset>
                                            <xforms:action ev:event="xforms-value-changed">
                                                <xforms:send submission="get-claml-hierarchy"/>
                                                <xforms:dispatch name="xforms-value-changed" target="search-description"/>
                                            </xforms:action>
                                        </xforms:select>
                                    </xhtml:td>
                                    <xhtml:td style="vertical-align:middle;">
                                        <xhtml:div style="float:right;">
                                            <xforms:group ref="instance('classification-metadata')[Meta[@name='license']]">
                                                <xforms:trigger appearance="compact">
                                                    <xforms:label ref="$resources/license"/>
                                                    <xforms:message ev:event="DOMActivate" level="modal">
                                                        <xforms:output ref="instance('classification-metadata')/Meta[@name='license']/@value/string()"/>
                                                    </xforms:message>
                                                </xforms:trigger>
                                            </xforms:group>
                                            <xforms:group ref="instance('classification-metadata')[not($isGroup)]">
                                                <xforms:output ref="string-join(Title/(@name, @version),' ')"/>
                                                <xforms:output ref="if (Identifier[1]/@uid) then concat(' (', $resources/id, ': ', Identifier[1]/@uid,')') else ()"/>
                                            </xforms:group>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                                <xhtml:tr>
                                    <xhtml:td/>
                                    <xhtml:td colspan="4">
                                        <xforms:select ref="instance('selected-scopes-instance')/selected" appearance="full" class="inline">
                                            <xforms:itemset nodeset="instance('selected-scopes-instance')/code">
                                                <xforms:label ref="$resources/*[name()=current()]"/>
                                                <xforms:value ref="."/>
                                            </xforms:itemset>
                                            <xforms:action ev:event="xforms-value-changed">
                                                <xforms:send submission="get-claml-hierarchy"/>
                                                <xforms:dispatch name="xforms-value-changed" target="search-description"/>
                                            </xforms:action>
                                        </xforms:select>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:table>
                            <xhtml:p/>
                            <xforms:group ref="instance('description-itemset-instance')">
                                <xhtml:div class="h2">
                                    <xforms:output ref="concat($resources/results, ' ( ',@current,' ',$resources/of,' ',@total,' )')"/>
                                </xhtml:div>
                                <xhtml:div class="navigate-seven">
                                    <xhtml:table width="100%">
                                        <xforms:repeat nodeset="instance('description-itemset-instance')/description" id="descriptions">
                                            <xhtml:tr>
                                                <xhtml:td>
                                                    <xxforms:variable name="statusCode" select="@statusCode"/>
                                                    <xforms:output ref="@conceptId" class="{if (string-length($statusCode)&gt;0) then concat('node-s',$statusCode) else ()}"/>
                                                    <xforms:output ref="@usageMark"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="."/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="@superClasses"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:group ref=".[$isGroup]">
                                                        <xforms:output ref="@classificationName"/>
                                                    </xforms:group>
                                                </xhtml:td>
                                            </xhtml:tr>
                                            <xforms:action ev:event="xxforms-index-changed xxforms-nodeset-changed">
                                                <xforms:action if="not(instance('class-navigation')=instance('description-itemset-instance')/description[index('descriptions')]/@conceptId) or not(instance('classificationId')=instance('description-itemset-instance')/description[index('descriptions')]/@classificationId)">
                                                    <xforms:setvalue ref="instance('class-navigation')" value="instance('description-itemset-instance')/description[index('descriptions')]/@conceptId"/>
                                                    <xforms:setvalue ref="instance('classificationId')" value="instance('description-itemset-instance')/description[index('descriptions')]/@classificationId"/>
                                                </xforms:action>
                                            </xforms:action>
                                        </xforms:repeat>
                                    </xhtml:table>
                                </xhtml:div>
                            </xforms:group>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
                <xhtml:p/>
                <xhtml:div class="detail" style="margin-top:3em;">
                    <xhtml:iframe id="clamlframe" frameborder="0" src="{$terminology-external-exist}/claml/ViewClass?classificationId={instance('classificationId')}&amp;code={instance('class-navigation')}&amp;statusCode={encode-for-uri(instance('selected-statuscodes-instance')/selected)}" width="100%" height="800px"/>
                </xhtml:div>
            </fr:tab>
            <!-- hierarchical view tab -->
            <fr:tab>
                <fr:label ref="$resources/hierarchy"/>
                <xhtml:table width="100%">
                    <!-- table row with master-detail columns -->
                    <xhtml:tr>
                        <!-- left column with tree class-navigation -->
                        <xhtml:td width="50%">
                            <!-- table for tree class-navigation components -->
                            <xhtml:table width="100%">
                                <xhtml:tr>
                                    <xhtml:td>
                                        <!-- heading for tree control	-->
                                        <xhtml:div class="navigate-container">
                                            <xhtml:div class="h2">
                                                <xforms:output ref="$resources/hierarchy"/>
                                            </xhtml:div>
                                            <xhtml:div class="navigate">
                                                <xxforms:variable name="current-class" select="instance('claml-instance')//(Class|SubClass)[@id=instance('hierarchy-navigation')]"/>
                                                <xforms:select1 ref="instance('hierarchy-navigation')" appearance="xxforms:tree">
                                                    <xforms:itemset nodeset="instance('claml-instance')//(Class|SubClass)" class="node-concept">
                                                        <xforms:label ref="if (@subCount&gt;0) then concat(@code,' - ',Rubric[@kind='preferred']/Label,' (',@subCount,')') else(concat(@code,' - ',Rubric[@kind='preferred']/Label))"/>
                                                        <xforms:value ref="@id"/>
                                                    </xforms:itemset>
                                                    <xforms:action ev:event="xforms-value-changed">
                                                        <xforms:action if="$current-class[@subCount|SubClass]">
                                                            <xforms:send submission="expand-tree-submission"/>
                                                            <xforms:action xxforms:iterate="instance('subclasses')//Class">
                                                                <xforms:insert nodeset="context()/@*" origin="$current-class/SubClass[@code=context()/@code]/@id"/>
                                                            </xforms:action>
                                                            <xforms:action xxforms:iterate="instance('subclasses')//SubClass">
                                                                <xforms:insert nodeset="context()/@*" origin="xxforms:attribute('id',random())"/>
                                                            </xforms:action>
                                                            <xforms:delete ref="$current-class/SubClass"/>
                                                            <xforms:insert nodeset="$current-class/*" origin="instance('subclasses')//Class"/>
                                                        </xforms:action>
                                                        <xforms:send submission="get-class"/>
                                                    </xforms:action>
                                                </xforms:select1>
                                            </xhtml:div>
                                        </xhtml:div>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xhtml:table>
                        </xhtml:td>
                        <!-- class details -->
                        <xhtml:td width="50%">
                            <xhtml:table width="100%" class="detail">
                                <xforms:group ref="instance('class')">
                                    <xxforms:variable name="metas" select="distinct-values(Meta/@name)"/>
                                    <xxforms:variable name="rubrics" select="distinct-values(Rubric/@kind)"/>
                                    <xhtml:tr>
                                        <xhtml:td class="heading" colspan="2">
                                            <xhtml:div class="heading">
                                                <xxforms:variable name="statusCode" select="Meta[@name='statusCode']/@value"/>
                                                <xforms:output mediatype="text/html" ref="Rubric[@kind='preferred']/Label[1]" class="{if (string-length($statusCode)&gt;0) then concat('node-s',$statusCode) else ()}"/>
                                            </xhtml:div>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <xhtml:tr>
                                        <xhtml:td class="item-label">
                                            <xforms:output ref="$resources/code"/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="@code"/>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <xforms:repeat nodeset="$metas">
                                        <xhtml:tr class="not-selectable">
                                            <xhtml:td class="item-label">
                                                <xhtml:i>Meta: </xhtml:i>
                                                <xforms:output ref="."/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xxforms:variable name="name" select="."/>
                                                <xforms:repeat nodeset="instance('class')/Meta[@name=$name]">
                                                    <xhtml:div class="not-selectable">
                                                        <xforms:output ref="@value"/>
                                                    </xhtml:div>
                                                </xforms:repeat>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xforms:repeat>
                                    <xforms:repeat nodeset="$rubrics[not(.='preferred')]">
                                        <xxforms:variable name="kind" select="."/>
                                        <xhtml:tr class="not-selectable">
                                            <xhtml:td class="item-label">
                                                <xhtml:i>Rubric:</xhtml:i>
                                                <xforms:output ref="."/>
                                            </xhtml:td>
                                            <xhtml:td>
                                                <xhtml:table>
                                                    <xforms:repeat nodeset="instance('class')/Rubric[@kind=$kind]">
                                                        <xhtml:tr class="not-selectable">
                                                            <xhtml:td>
                                                                <xforms:output mediatype="text/html" ref="xxforms:serialize(Label,'html')"/>
                                                            </xhtml:td>
                                                        </xhtml:tr>
                                                    </xforms:repeat>
                                                </xhtml:table>
                                            </xhtml:td>
                                        </xhtml:tr>
                                    </xforms:repeat>
                                </xforms:group>
                            </xhtml:table>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:table>
            </fr:tab>
        </fr:tabview>
        <xhtml:p/>
    </xhtml:body>
</xhtml:html>