<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
-->
<xhtml:html xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xxi="http://orbeon.org/oxf/xml/xinclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xi="http://www.w3.org/2001/XInclude-doc" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="iso-9999" xsi:schemaLocation="http://www.w3.org/1999/xhtml ../../orbeon_schemas/xhtml1-transitional-orbeon.xsd">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/iso-9999"/>
        </xhtml:title>
        <xforms:model>
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to terminology-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxforms:variable name="terminology-exist" select="xxforms:property('terminology.exist.url')"/>
           
           <!-- instance with logo -->
           <xforms:instance id="logo">
              <logo href="http://www.nen.nl/NEN-Shop/Norm/NENENISO-99992011-nl.htm">NEN-logo40.png</logo>
           </xforms:instance>
         <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=terminology" replace="instance" instance="resources-instance" xxforms:readonly="true">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    A submission error occurred:<xforms:output value="event('error-type')"/>; Status: <xforms:output value="event('response-status-code')"/>; URI: <xforms:output value="event('resource-uri')"/>; Headers: <xforms:output value="event('response-headers')"/>; Body: <xforms:output value="event('response-body')"/>
                </xforms:message>
            </xforms:submission>
         <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            
         <!-- instance for help, temporary solution, must move to db -->
            <xforms:instance id="help-instance">
                <help-files>
                    <search language="en-US">
                        <div class="h3">Finding Terms</div>
                        <p>Finding terms with the least amount of keystrokes possible, that is the goal.<br/> To achieve this goal the search field offers a combination of wildcard and exact match searches.</p>
                        <b>General Properties</b>
                        <ul>
                            <li> Searches starting with lower case letters will also find terms starting with upper case letters. </li>
                            <li> Results are ordered by wordcount and term length. </li>
                            <li> Starting a search term with lower case will perform a wildcard search. </li>
                            <li> Single term wildcard searches require a minimum of 4 keystrokes. </li>
                            <li> Starting a search term with upper case will perform an exact match search. </li>
                            <li> Single term exact match searches require a minimum of 2 keystrokes. </li>
                        </ul>
                        <b>Examples</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">Searching for</td>
                                <td class="floating-label">Enter</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                    <search language="nl-NL">
                        <div class="h3">Termen vinden</div>
                        <p>Termen vinden met zo weinig mogelijk toetsaanslagen, dat is het doel.<br/> Om dit te bereiken ondersteunt het zoekveld het zoeken op exacte overeenkomst en het zogenaamde 'wildcard' zoeken.</p>
                        <b>Algemene Eigenschappen</b>
                        <ul>
                            <li> Bij zoektermen met kleine letters worden ook overeenkomende termen met hoofdletters gevonden. </li>
                            <li> Resultaten worden gesorteerd op aantal woorden en lengte van de term. </li>
                            <li> Als een zoekterm met een kleine letter begint dan wordt gezocht naar termen beginnend met de zoekterm (wildcard). </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een kleine letter, dan moet deze minimaal vier letters bevatten. </li>
                            <li> Als een zoekterm begint met een hoofdletter dan dan wordt gezocht naar termen die exact overeenkomen.. </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een hoofdletter, dan moet deze minimaal twee letters bevatten. </li>
                        </ul>
                        <b>Voorbeelden</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">U zoekt</td>
                                <td class="floating-label">Toets</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                </help-files>
            </xforms:instance>

         <!-- instance for description service uri -->
            <xforms:instance id="description-service-uri">
                <uri>services/searchDescription</uri>
            </xforms:instance>

         <!-- instance for selected class -->
            <xforms:instance id="class-navigation">
                <id>04</id>
            </xforms:instance>

         <!-- instance for description search string -->
            <xforms:instance id="description-search-instance">
                <root>
                    <search/>
                </root>
            </xforms:instance>
         <!-- instance for description itemset -->
            <xforms:instance id="description-itemset-instance">
                <result current="1" count="1">
                    <description count="3" length="17" effectiveTime="20030731" conceptId="138875005" caseSignificanceId="900000000000017005" type="pref" fullName="SNOMED CT Concept (SNOMED RT+CTV3)">SNOMED CT Concept</description>
                </result>
            </xforms:instance>
         <!-- instance for ISO 9999 -->
            <xforms:instance id="iso-instance">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="get-iso9999-submission" serialization="none" method="get" resource="{$terminology-exist}/iso9999/RetrieveISO9999?lang={instance('language')}" replace="instance" instance="iso-instance" xxforms:readonly="true"/>
            <xforms:submission id="update-descriptions" ref="instance('description-search-instance')" action="{$terminology-exist}/iso9999/SearchISO9999/{instance('description-search-instance')/search}?lang={instance('language')}" method="get" instance="description-itemset-instance" replace="instance"/>
            <xforms:setfocus ev:event="xforms-ready" control="search-description" xxforms:readonly="true"/>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <xforms:send submission="get-iso9999-submission"/>
            </xforms:action>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <xxforms:dialog id="help-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
            <xforms:label ref="$resources/help"/>
            <xhtml:table width="100%">
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:output mediatype="text/html" ref="xxforms:serialize(instance('help-instance')/search[@language=instance('language')], 'html')"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div style="float:right">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/close"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="help-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <xhtml:table width="100%">
            <xhtml:tr>
                <xhtml:td width="70%">
                    <xforms:group>
                        <xhtml:table width="100%">
                            <xhtml:tr>
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/searchterms"/>
                                    <xforms:trigger appearance="minimal" id="refresh">
                                        <xforms:label class="control-label">
                                            <xhtml:img src="/img/arrow_refresh.png" alt="" align="right"/>
                                        </xforms:label>
                                        <xforms:action ev:event="DOMActivate">
                                            <xforms:setvalue ref="instance('description-search-instance')/search" value="''"/>
                                            <xforms:setvalue ref="instance('concept-navigation')" value="'04'"/>
                                            <xforms:delete ref="instance('description-itemset-instance')/description"/>
                                            <xforms:setfocus control="search-description"/>
                                        </xforms:action>
                                    </xforms:trigger>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input class="top" ref="instance('description-search-instance')/search" id="search-description" incremental="true">
                                        <xforms:action ev:event="xforms-value-changed">
                                            <xxforms:variable name="search-value" select="."/>
                                            <xxforms:variable name="make-suggestion" select="(string-length($search-value) &gt;= 3 and not(matches($search-value,'^[A-Z]|\s$|\s[a-z|0-9]$'))) or (string-length($search-value) &gt;= 2 and not(matches($search-value,'^[a-z]|\s$')))"/>
                                            <xforms:action if="$make-suggestion">
                                                <xforms:send submission="update-descriptions"/>
                                                <xforms:action if="xxforms:index('descriptions')&gt;1">
                                                    <xforms:setindex repeat="descriptions" index="1"/>
                                                </xforms:action>
                                            </xforms:action>
                                        </xforms:action>
                                    </xforms:input>
                                </xhtml:td>
                                <xhtml:td>
                                    <xhtml:div style="float:right">
<!--                              <xforms:trigger appearance="compact">
                                 <xforms:label ref="$resources/help"/>
                                 <xforms:action ev:event="DOMActivate">
                                    <xxforms:show dialog="help-dialog"/>
                                 </xforms:action>
                              </xforms:trigger>-->
                                    </xhtml:div>
                                </xhtml:td>
                            </xhtml:tr>
                        </xhtml:table>
                    </xforms:group>
                    <xhtml:p/>
                    <xforms:group ref="instance('description-itemset-instance')">
                        <xhtml:div class="h2">
                            <xforms:output ref="$resources/results"/>
                            <xxforms:variable name="resultCount" select="count(description)"/> 
                            (
                            <xforms:output ref="@current"/>
                            <xforms:output ref="$resources/of"/>
                            <xforms:output ref="@count"/>
                            ) 
                        </xhtml:div>
                        <xhtml:div class="navigate-seven">
                            <xhtml:table width="100%">
                                <xforms:repeat nodeset="instance('description-itemset-instance')/title" id="descriptions">
                                    <xhtml:tr>
                                        <xhtml:td>
                                            <xforms:output ref="."/>
                                        </xhtml:td>
                                        <xhtml:td>
                                            <xforms:output ref="@fullName"/>
                                        </xhtml:td>
                                    </xhtml:tr>
                                    <xforms:action ev:event="xxforms-index-changed">
                                        <xforms:setvalue ref="instance('class-navigation')" value="instance('description-itemset-instance')/title[index('descriptions')]/@code"/>
                                    </xforms:action>
                                    <xforms:action ev:event="xxforms-nodeset-changed">
                                        <xforms:setvalue ref="instance('class-navigation')" value="instance('description-itemset-instance')/title[index('descriptions')]/@code"/>
                                    </xforms:action>
                                </xforms:repeat>
                            </xhtml:table>
                        </xhtml:div>
                    </xforms:group>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>
        <xhtml:p/>
        <xhtml:table width="100%">
         <!-- table row with master-detail columns -->
            <xhtml:tr>
            <!-- left column with tree concept-navigation -->
                <xhtml:td width="50%">
               <!-- table for tree concept-navigation components -->
                    <xhtml:table width="100%">
                        <xhtml:tr>
                            <xhtml:td>
                                <!-- heading for tree control with add, insert and delete icons
                                    icons in reverse order of appearance because of align="right"
                                -->
                                <xhtml:div class="navigate-container">
                                    <xhtml:div class="h2">
                                        <xforms:output ref="$resources/hierarchy"/>
                                    </xhtml:div>
                                    <xhtml:div class="navigate">
                                        <xforms:select1 ref="instance('class-navigation')" appearance="xxforms:tree">
                                            <xforms:itemset nodeset="instance('iso-instance')//class" class="node-concept">
                                                <xforms:label ref="concat(@code,' - ',title)"/>
                                                <xforms:value ref="@code"/>
                                            </xforms:itemset>
                                            <xforms:action ev:event="xforms-value-changed">
                                                <xforms:send submission="get-concept-submission"/>
                                    <!--												<xforms:send submission="get-closure-submission"/>-->
                                    <!--												<xforms:send submission="get-concept-usage-submission"/>-->
                                            </xforms:action>
                                        </xforms:select1>
                                    </xhtml:div>
                                </xhtml:div>
                            </xhtml:td>
                        </xhtml:tr>
                    </xhtml:table>
                </xhtml:td>
            <!-- class details -->
                <xhtml:td width="50%">
                    <xhtml:table width="100%">
                        <xhtml:tr>
                            <xhtml:td>
                                <xhtml:div class="detail">
                                    <xforms:group ref="instance('iso-instance')//class[@code=instance('class-navigation')]">
                                        <xhtml:div class="h2">
                                            <xforms:output ref="title"/>
                                        </xhtml:div>
                                        <xhtml:table width="100%">
                                 <!-- code -->
                                            <xhtml:tr>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/code"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xforms:output ref="@code"/>
                                                </xhtml:td>
                                            </xhtml:tr>
                                 <!-- definitions -->
                                            <xhtml:tr>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/definitions"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xhtml:table width="100%">
                                                        <xforms:repeat nodeset="extension[@typeCode='D']" id="definitions">
                                                            <xhtml:tr class="not-selectable">
                                                                <xhtml:td>
                                                                    <xforms:output ref="desc"/>
                                                                </xhtml:td>
                                                            </xhtml:tr>
                                                        </xforms:repeat>
                                                    </xhtml:table>
                                                </xhtml:td>
                                            </xhtml:tr>
                                 <!-- inclusions -->
                                            <xhtml:tr>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/inclusions"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xhtml:table width="100%">
                                                        <xforms:repeat nodeset="extension[@typeCode='I']" id="inclusions">
                                                            <xhtml:tr class="not-selectable">
                                                                <xhtml:td>
                                                                    <xforms:output ref="desc"/>
                                                                </xhtml:td>
                                                            </xhtml:tr>
                                                        </xforms:repeat>
                                                    </xhtml:table>
                                                </xhtml:td>
                                            </xhtml:tr>
                                 <!-- definitions -->
                                            <xhtml:tr>
                                                <xhtml:td class="item-label">
                                                    <xforms:output ref="$resources/exclusions"/>
                                                </xhtml:td>
                                                <xhtml:td>
                                                    <xhtml:table width="100%">
                                                        <xforms:repeat nodeset="extension[@typeCode='E']" id="exclusions">
                                                            <xhtml:tr class="not-selectable">
                                                                <xhtml:td>
                                                                    <xforms:output ref="desc"/>
                                                                </xhtml:td>
                                                            </xhtml:tr>
                                                        </xforms:repeat>
                                                    </xhtml:table>
                                                </xhtml:td>
                                            </xhtml:tr>
                                        </xhtml:table>
                                    </xforms:group>
                                </xhtml:div>
                            </xhtml:td>
                        </xhtml:tr>
                    </xhtml:table>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>
      <!--<fr:xforms-inspector/>-->
    </xhtml:body>
</xhtml:html>