<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><!-- LOINC Copyright © Regenstrief Institute, Inc. and the Logical Observation Identifiers Names 
    and Codes (LOINC) Committee All rights reserved. --><?xml-model href="http://www.oxygenxml.com/1999/xhtml/xhtml-xforms.nvdl" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/1999/xhtml https://raw.github.com/orbeon/orbeon-forms/master/src/main/resources/org/orbeon/oxf/xml/schemas/xhtml1-transitional-orbeon.xsd">
    <xhtml:head>
        <xhtml:title>
            <xforms:output ref="$resources/loinc"/>
        </xhtml:title>
        <xhtml:style type="text/css">
            .sortcolumn {
                background-repeat:no-repeat;
                padding:2px 0 0 18px;
                line-height:18px;
                background-image:url('img/triangleOpen.gif');
            }
        </xhtml:style>
        <xforms:model id="main-model" xxforms:external-events="keydown-pressed keyup-pressed">
         <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
         <!-- Variable with path to terminology-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxforms:variable name="terminology-exist" select="xxforms:property('terminology.exist.url')"/>
           <!-- instance with logo -->
            <xforms:instance id="logo">
                <logo href="https://loinc.org">LOINC-logo40.png</logo>
            </xforms:instance>
         <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
         <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=terminology" replace="instance" instance="resources-instance" xxforms:readonly="true">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    A submission error occurred:<xforms:output value="event('error-type')"/>; Status: <xforms:output value="event('response-status-code')"/>; URI: <xforms:output value="event('resource-uri')"/>; Headers: <xforms:output value="event('response-headers')"/>; Body: <xforms:output value="event('response-body')"/>
                </xforms:message>
            </xforms:submission>
         <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            
         <!-- instance for license -->
            <xforms:instance id="license">
                <license>
                    <text>
                        This material contains content from LOINC
                        (http://loinc.org). LOINC is copyright © 1995-2020, Regenstrief
                        Institute, Inc. and the Logical Observation Identifiers Names
                        and Codes (LOINC) Committee and is available at no cost under
                        the license at http://loinc.org/license. LOINC® is a registered
                        United States trademark of Regenstrief Institute, Inc.
                    </text>
                </license>
            </xforms:instance>
         <!-- instance for help, temporary solution, must move to db -->
            <xforms:instance id="help-instance">
                <help-files>
                    <search language="en-US">
                        <div class="h3">Finding Terms</div>
                        <p>Finding terms with the least amount of keystrokes possible, that is the goal.<br/> To achieve this goal the search field offers a combination of wildcard and exact match searches.</p>
                        <b>General Properties</b>
                        <ul>
                            <li> Searches starting with lower case letters will also find terms starting with upper case letters. </li>
                            <li> Results are ordered by wordcount and term length. </li>
                            <li> By default results are sorted based on their "Full name" (LONG_COMMON_NAME). Click on a different column header to change sorting to that column. </li>
                            <li> Starting a search term with lower case will perform a wildcard search. </li>
                            <li> Single term wildcard searches require a minimum of 4 keystrokes. </li>
                            <li> Starting a search term with upper case will perform an exact match search. </li>
                            <li> Single term exact match searches require a minimum of 2 keystrokes. </li>
                        </ul>
                        <b>Examples</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">Searching for</td>
                                <td class="floating-label">Enter</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                    <search language="nl-NL">
                        <div class="h3">Termen zoeken</div>
                        <p>Termen vinden met zo min mogelijk toetsaanslagen, dat is het doel.<br/> Om dit te bereiken ondersteunt het zoekveld het zoeken op exacte overeenkomst en het zogenaamde 'wildcard' zoeken.</p>
                        <b>Algemene eigenschappen</b>
                        <ul>
                            <li> Bij zoektermen met kleine letters worden ook overeenkomende termen met hoofdletters gevonden. </li>
                            <li> Resultaten worden standaard gesorteerd op de kolom "Volledige naam" (LONG_COMMON_NAME). Klik op een andere kolom om hierop te sorteren </li>
                            <li> Als een zoekterm met een kleine letter begint dan wordt gezocht naar termen beginnend met de zoekterm (wildcard). </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een kleine letter, dan moet deze minimaal vier letters bevatten. </li>
                            <li> Als een zoekterm begint met een hoofdletter dan dan wordt gezocht naar termen die exact overeenkomen. </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een hoofdletter, dan moet deze minimaal twee letters bevatten. </li>
                        </ul>
                        <b>Voorbeelden</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">U zoekt</td>
                                <td class="floating-label">Term</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                </help-files>
            </xforms:instance>

         <!-- instance for concept search string -->
            <xforms:instance id="loinc-concept-search">
                <root sort="LONG_COMMON_NAME" offset="1" max="50" language="">
                    <search/>
                    <panel/>
                </root>
            </xforms:instance>
            <xforms:action ev:observer="loinc-concept-search" ev:event="xxforms-value-changed">
                <xxforms:variable name="search-value" select="instance('loinc-concept-search')/search"/>
                <xxforms:variable name="make-suggestion" select="string-length($search-value) &gt;= 2"/>
                <xforms:action if="$make-suggestion">
                    <xforms:send submission="update-loinc-concepts"/>
                    <xforms:setindex repeat="loinc-concepts" index="1"/>
                    <xforms:setvalue ref="instance('concept-navigation')" value="instance('loinc-concept-itemset')//concept[@loinc_num][1]/@loinc_num"/>
                    <xforms:setvalue ref="instance('concept-navigation')/@index" value="1"/>
                </xforms:action>
            </xforms:action>
            <xforms:action ev:observer="loinc-concepts" ev:event="xxforms-index-changed xxforms-nodeset-changed">
                <xforms:setvalue ref="instance('concept-navigation')" value="(instance('loinc-concept-itemset')//concept[@loinc_num])[index('loinc-concepts')]/@loinc_num"/>
                <xforms:setvalue ref="instance('concept-navigation')/@index" value="index('loinc-concepts')"/>
            </xforms:action>
            <!-- go to next result when user presses ARROW DOWN -->
            <xforms:action ev:observer="loinc-concepts" ev:event="keydown-pressed">
                <xforms:setindex repeat="loinc-concepts" index="index('loinc-concepts') + 1"/>
            </xforms:action>
            <!-- go to previous result when user presses ARROW UP -->
            <xforms:action ev:observer="loinc-concepts" ev:event="keyup-pressed">
                <xforms:setindex repeat="loinc-concepts" index="index('loinc-concepts') - 1"/>
            </xforms:action>
            
         <!-- instance for description itemset -->
            <xforms:instance id="loinc-concept-itemset">
                <result current="0" count="0"/>
            </xforms:instance>

        <!-- selected concept id -->
            <xforms:instance id="concept-navigation">
                <concept/>
            </xforms:instance>
            
        <!-- LOINC columns -->
        <!-- Source LOINC Users' Guide v2.54 -->
            <xforms:instance id="loinc-columns">
                <map>
                    <row n="1" name="LOINC_NUM" type="Text" width="10" desc="The unique LOINC Code is a string in the format of nnnnnnnn-n."/>
                    <row n="2" name="COMPONENT" type="Text" width="255" desc="First major axis-component or analyte"/>
                    <row n="3" name="PROPERTY" type="Text" width="30" desc="Second major axis-property observed (e.g., mass vs. substance)"/>
                    <row n="4" name="TIME_ASPCT" type="Text" width="15" desc="Third major axis-timing of the measurement (e.g., point in time vs 24 hours) "/>
                    <row n="5" name="SYSTEM" type="Text" width="100" desc="Fourth major axis-type of specimen or system (e.g., serum vs urine) "/>
                    <row n="6" name="SCALE_TYP" type="Text" width="30" desc="Fifth major axis-scale of measurement (e.g., qualitative vs. quantitative) "/>
                    <row n="7" name="METHOD_TYP" type="Text" width="50" desc="Sixth major axis-method of measurement "/>
                    <row n="8" name="CLASS" type="Text" width="20" desc="An arbitrary classification of the terms for grouping related observations together. The current classifications are listed in Table 30. We present the database sorted by the class field within class type (see field 23). Users of the database should feel free to re-sort the database in any way they find useful, and/or to add their own classifying fields to the database. The content of the laboratory test subclasses should be obvious from the subclass name. "/>
                    <row n="9" name="SOURCE" type="Text" width="8" desc="This is for our internal use and should be ignored by database users. "/>
                    <row n="9" name="VersionLastChanged" type="Text" width="10" desc="The LOINC version number in which the record has last changed. For new records, this field contains the same value as the loinc.FirstPublishedRelease field. Column added in version 2.54"/>
                    <row n="10" name="DATE_LAST_CHANGED" type="Date/Time" width="10" desc="Date the concept was last changed last changed. Column deprecated in version 2.54"/>
                    <row n="11" name="CHNG_TYPE" type="Text" width="3" desc="Change Type Code DEL = delete (deprecate) ADD = add NAM = change to Analyte/Component (field #2); MAJ = change to name field other than #2 (#3 - #7); MIN = change to field other than name UND = undelete "/>
                    <row n="11" name="DefinitionDescription" type="Memo" width="-" desc="Narrative text that describes the LOINC term taken as a whole (i.e., taking all of the parts of the term together) or relays information speci c to the term, such as the context in which the term was requested or its clinical utility."/>
                    <row n="12" name="COMMENTS" type="Memo" width="" desc="Narrative description or comments about a term. Column deprecated in version 2.56"/>
                    <row n="13" name="STATUS" type="Text" width="11" desc="ACTIVE = Concept is active. Use at will. TRIAL = Concept is experimental in nature. Use with caution as the concept and associated attributes may change. DISCOURAGED = Concept is not recommended for current use. New mappings to this concept are discouraged; although existing may mappings may continue to be valid in context. Wherever possible, the superseding concept is indicated in the MAP_TO field in the MAP_TO table (see Table 29b) and should be used instead. DEPRECATED = Concept is deprecated. Concept should not be used, but it is retained in LOINC for historical purposes. Wherever possible, the superseding concept is indicated in the MAP_TO field (see Table 29b) and should be used both for new mappings and updating existing implementations."/>
                    <row n="14" name="CONSUMER_NAME" type="Text" width="255" desc="An experimental (beta) consumer friendly name for this item. The intent is to provide a test name that health care consumers will recognize; it will be similar to the names that might appear on a lab report and is not guaranteed to be unique because some elements of the LOINC name are likely to be omitted. We will continue to modify these names in future release, so do not expect it to be stable (or perfect). Feedback is welcome. "/>
                    <row n="15" name="MOLAR_MASS" type="Text" width="13" desc="Molecular weights: This field contains the molecular weights of chemical moieties when they are provided to us. This release contains values kindly contributed by IUPAC. "/>
                    <row n="16" name="CLASSTYPE" type="Number" width="" desc="1=Laboratory class; 2=Clinical class; 3=Claims attachments; 4=Surveys "/>
                    <row n="17" name="FORMULA" type="Text" width="255" desc="Contains the formula in human readable form, for calculating the value of any measure that is based on an algebraic or other formula except those for which the component expresses the formula. So Sodium/creatinine does not need a formula, but Free T3 index does."/>
                    <row n="18" name="SPECIES" type="Text" width="20" desc="Codes detailing which non-human species the term applies to. If blank, “human” is assumed. "/>
                    <row n="19" name="EXMPL_ANSWERS" type="Memo" width="" desc="For some tests and measurements, we have supplied examples of valid answers, such as “1:64”, “negative @ 1:16”, or “55”. "/>
                    <row n="20" name="ACSSYM" type="Memo" width="" desc="Chemical name synonyms, alternative name synonyms, and chemical formulae supplied by the Chemical Abstract Society. "/>
                    <row n="21" name="BASE_NAME" type="Text" width="50" desc="Chemical base name from CAS "/>
                    <row n="22" name="NAACCR_ID" type="Text" width="20" desc="Maps to North American Association of Central Cancer Registries Identification Number "/>
                    <row n="23" name="CODE_TABLE" type="Text" width="10" desc="Examples on CR0050 Cancer Registry "/>
                    <row n="24" name="SURVEY_QUEST_TEXT" type="Memo" width="" desc="Verbatim question from the survey instrument "/>
                    <row n="25" name="SURVEY_QUEST_SRC" type="Text" width="50" desc="Exact name of the survey instrument and the item/question number "/>
                    <row n="26" name="UNITSREQUIRED" type="Text" width="1" desc="Y/N field that indicates that units are required when this LOINC is included as an OBX segment in a HIPAA attachment "/>
                    <row n="27" name="SUBMITTED_UNITS" type="Text" width="30" desc="Units as received from person who requested this LOINC term. "/>
                    <row n="28" name="RELATEDNAMES2" type="Memo" width="" desc="This is a new field introduced in version 2.05. It contains synonyms for each of the parts of the fully specified LOINC name (component, property, time, system, scale, method). It replaces #8, Relat_NMS. "/>
                    <row n="29" name="SHORTNAME" type="Text" width="40" desc="Introduced in version 2.07, this field is a concatenation of the fully specified LOINC name. The field width may change in a future release. "/>
                    <row n="30" name="ORDER_OBS" type="Text" width="15" desc="Defines term as order only, observation only, or both. A fourth category, Subset, is used for terms that are subsets of a panel but do not represent a package that is known to be orderable. We have defined them only to make it easier to maintain panels or other sets within the LOINC construct. This field reflects our best approximation of the terms intended use; it is not to be considered normative or a binding resolution. "/>
                    <row n="31" name="CDISC_COMMON_TESTS" type="Text" width="1" desc="“Y” in this field means that the term is a part of subset of terms used by CDISC in clinical trials. "/>
                    <row n="32" name="HL7_FIELD_SUBFIELD_ID" type="Text" width="50" desc="A value in this field means that the content should be delivered in the named field/subfield of the HL7 message. When NULL, the data for this data element should be sent in an OBX segment with this LOINC code stored in OBX-3 and with the value in the OBX-5."/>
                    <row n="33" name="EXTERNAL_COPYRIGHT_NOTICE" type="Memo" width="" desc="External copyright holders copyright notice for this LOINC code. "/>
                    <row n="34" name="EXAMPLE_UNITS" type="Text" width="255" desc="This field is populated with a combination of submitters units and units that people have sent us. Its purpose is to show users representative, but not necessarily recommended, units in which data could be sent for this term. "/>
                    <row n="35" name="LONG_COMMON_NAME" type="Text" width="255" desc="This field contains the LOINC term in a more readable format than the fully specified name. The long common names have been created via a table driven algorithmic process. Most abbreviations and acronyms that are used in the LOINC database have been fully spelled out in English. "/>
                    <row n="30" name="UnitsAndRange" type="Memo" width="-" desc="Units of measure (expressed using UCUM units) and normal ranges for physical quantities and survey scores. Intended as tailorable starter sets for applications that use LOINC forms as a way to capture data. Units are separated from normal ranges by a colon (:) and sets of unit:normal range pairs are separated by a semi-colon (;). Syntax for the normal range includes square brackets, which mean that the number adjacent to the bracket is included, and parentheses, which means that the number itself is not included. For example, [2,4] means “two to four”, while [2,4) means “two to less than four” and (2,4) means “between two and four but does not include two and four”."/>
                    <row n="36" name="HL7_V2_DATATYPE" type="Text" width="255" desc="HL7 version 2.x data type that would be sent in OBX-2 when this data is delivered in an HL7 message. "/>
                    <row n="37" name="HL7_V3_DATATYPE" type="Text" width="255" desc="HL7 version 3.0 data type that is compatible with this LOINC code. "/>
                    <row n="38" name="CURATED_RANGE_AND_UNITS" type="Memo" width="" desc="A curated list of normal ranges and associated units (expressed as near UCUM codes) for physical quantities and survey scores. Intended as tailorable starter sets for applications that use LOINC forms as a way to capture data. Units are separated from normal ranges by XXX and sets of normal range/units pairs are separated by YYY. "/>
                    <row n="39" name="DOCUMENT_SECTION" type="Text" width="255" desc="Classification of whether this LOINC code can be used a full document, a section of a document, or both. This field was created in the context of HL7 CDA messaging, and populated in collaboration with the HL7 Structured Documents Work 95 LOINC® Users’ Guide – December 2014  Group. "/>
                    <row n="40" name="EXAMPLE_UCUM_UNITS" type="Text" width="255" desc="The Unified Code for Units of Measure (UCUM) is a code system intended to include all units of measures being contemporarily used in international science, engineering, and business. (www.unitsofmeasure.org ) This field contains example units of measures for this term expressed as UCUM units.  "/>
                    <row n="41" name="EXAMPLE_SI_UCUM_UNITS" type="Text" width="255" desc="The Unified Code for Units of Measure (UCUM) is a code system intended to include all units of measures being contemporarily used in international science, engineering, and business. (www.unitsofmeasure.org) This field contains example units of measures for this term expressed as SI UCUM units.  "/>
                    <row n="42" name="STATUS_REASON" type="Text" width="9" desc="Classification of the reason for concept status. This field will be Null for ACTIVE concepts, and optionally populated for terms in other status where the reason is clear. DEPRECATED or DISCOURAGED terms may take values of: AMBIGUOUS, DUPLICATE, or ERRONEOUS. "/>
                    <row n="43" name="STATUS_TEXT" type="Memo" width="" desc="Explanation of concept status in narrative text. This field will be Null for ACTIVE concepts, and optionally populated for terms in other status. "/>
                    <row n="43" name="PanelType" type="Text" width="255" desc="Describes a panel as a &quot;Convenience group&quot;, &quot;Organizer&quot;, or &quot;Panel&quot;. A &quot;Panel&quot; is an enumerated set of terms that are used together in direct clinical care. The package would typically be thought of as a single orderable item that contains a set of reported observations. A &quot;Convenience group&quot; is an enumerated set of terms used for a common purpose, but not typically orderable as a single unit. An &quot;Organizer&quot; is a subpanel (i.e. a child) within another panel that is only used to group together a set of terms, but is not an independently used entity. They often represent a header in a form, or serve as a navigation concept."/>
                    <row n="44" name="CHANGE_REASON_PUBLIC" type="Memo" width="" desc="Detailed explanation about special changes to the term over time. "/>
                    <row n="44" name="AskAtOrderEntry" type="Text" width="255" desc="A multivalued field, semicolon delimited list of LOINC codes that represent optional Ask at Order Entry (AOE) observations for a clinical observation or laboratory test. A LOINC term in this field may represent a single AOE observation or a panel containing several AOE observations."/>
                    <row n="45" name="COMMON_TEST_RANK" type="Number" width="" desc="Ranking of approximately 2000 common tests performed by laboratories in USA."/>
                    <row n="45" name="AssociatedObservations" type="Text" width="50" desc="A multi-valued, semicolon delimited list of LOINC codes that represent optional associated observation(s) for a clinical observation or laboratory test. A LOINC term in this field may represent a single associated observation or panel containing several associated observations."/>
                    <row n="46" name="COMMON_ORDER_RANK" type="Number" width="" desc="Ranking of approximately 300 common orders performed by laboratories in USA."/>
                    <row n="47" name="COMMON_SI_TEST_RANK" type="Number" width="" desc="Corresponding SI terms for 2000 common tests performed by laboratories in USA."/>
                    <row n="48" name="HL7_ATTACHMENT_STRUCTURE" type="Text" width="15" desc="This field will be populated in collaboration with the HL7 Attachments Work Group as described in the HL7 Attachment Specification: Supplement to Consolidated CDA Templated Guide. Text will either be STRUCTURED or UNSTRUCTURED for relevant terms. The STRUCTURED terms are the allowed document type codes in the Consolidated CDA (C-CDA) Implementation guide. UNSTRUCTURED terms are approved by the HL7 Attachments WG for transmission using the Unstructured Document template of the C-CDA."/>
                    <row n="49" name="EXTERNAL_COPYRIGHT_LINK" type="Text" width="255" desc="For terms that have a third party copyright, this field is populated with the COPYRIGHT_ID from the Source Organization table (see Table 29c below). It links a external copyright statement to a term."/>
                    <row n="50" name="PanelType" type="Text" width="50" desc="Describes a panel as a “Convenience group”, “Organizer”, or “Panel”. A “Panel” is an enumerated set of terms that are used together in direct clinical care. The package would typically be thought of as a single orderable item that contains a set of reported observations. A “Convenience group” is an enumerated set of terms used for a common purpose, but not typically orderable as a single unit. An “Organizer” is a subpanel (i.e., a child) within another panel that is only used to group together a set of terms, but is not an independently used entity. They often represent a header in a form, or serve as a navigation concept."/>
                    <row n="51" name="AskAtOrderEntry" type="Text" width="255" desc="A multi-valued, semicolon delimited list of LOINC codes that represent optional Ask at Order Entry (AOE) observations for a clinical observation or laboratory test. A LOINC term in this field may represent a single AOE observation or a panel containing several AOE observations."/>
                    <row n="52" name="AssociatedObservations" type="Text" width="255" desc="A multi-valued, semicolon delimited list of LOINC codes that represent optional associated observation(s) for a clinical observation or laboratory test. A LOINC term in this field may represent a single associated observation or panel containing several associated observations."/>
                    <row n="53" name="VersionFirstReleased" type="Text" width="10" desc="The LOINC version number in which the record was first released. For oldest records where the version released number is not known, this field will be null."/>
                    <row n="54" name="ValidHL7AttachmentRequest" type="Text" width="50" desc="A value of ‘Y’ in this field indicates that this LOINC code can be sent by a payer as part of an HL7 attachment request for additional information."/>
                </map>
            </xforms:instance>

        <!-- instance for version info -->
            <xforms:instance id="version">
                <loinc_db/>
            </xforms:instance>
            <xforms:submission id="get-loinc-version" ref="instance('version')" resource="{$terminology-exist}/loinc/modules/get-loinc-version-info.xquery" method="get" instance="version" replace="instance">
                <xforms:action ev:event="xforms-submit-done" if="instance('version')/*[@language=instance('language')]">
                    <xforms:setvalue ref="instance('loinc-concept-search')/@language" value="instance('language')"/>
                </xforms:action>
            </xforms:submission>

         <!-- submission for searching LOINC -->
            <xforms:submission id="update-loinc-concepts" ref="instance('loinc-concept-search')" resource="{$terminology-exist}/loinc/searchLOINC-v2?string={encode-for-uri(instance('loinc-concept-search')/search)}" method="post" instance="loinc-concept-itemset" replace="instance">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    A submission error occurred:<xforms:output value="event('error-type')"/>; Status: <xforms:output value="event('response-status-code')"/>; URI: <xforms:output value="event('resource-uri')"/>; Headers: <xforms:output value="event('response-headers')"/>; Body: <xforms:output value="event('response-body')"/>
                </xforms:message>
            </xforms:submission>
            <xforms:action ev:event="xforms-ready">
                <xxforms:script>
                    function myKeydown(event) {
                        var key = event.charCode ? event.charCode : event.keyCode ? event.keyCode : 0;
                        switch (key) {
                            case 38:
                                YAHOO.util.Event.preventDefault(event);
                                ORBEON.xforms.Document.dispatchEvent("loinc-concepts", "keyup-pressed");
                            break;
                            case 40:
                                YAHOO.util.Event.preventDefault(event);
                                ORBEON.xforms.Document.dispatchEvent("loinc-concepts", "keydown-pressed");
                            break;
                        }
                    }
                    /* This is a document wide listener, so regardless of focus in the document. 
                       This means that it is not suitable for more fine grained control */
                    YAHOO.util.Event.addListener(document, "keydown", myKeydown);
                    //YAHOO.util.Event.addListener(document, "keyup", myKeydown);
                </xxforms:script>
                <xforms:setfocus ev:event="xforms-ready" control="search-loinc-description" xxforms:readonly="true"/>
            </xforms:action>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xxforms:variable name="session-language" select="xxforms:get-session-attribute('language')"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <xforms:setvalue ref="instance('loinc-concept-search')/search" value="xxforms:get-request-parameter('conceptId')[string-length()&gt;0][1]"/>
                <xforms:setvalue ref="instance('loinc-concept-search')/panel" value="xxforms:get-request-parameter('panel')"/>
                <xforms:send submission="get-loinc-version"/>
                <xforms:action if="instance('loinc-concept-search')/search[string-length()&gt;0]">
                    <xforms:send submission="update-loinc-concepts"/>
                </xforms:action>
            </xforms:action>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <!-- get focus on search box when user presses CTRL + F -->
        <xforms:action ev:event="keypress" ev:observer="#document" xxforms:modifiers="control" xxforms:text="f">
            <xforms:setfocus control="search-loinc-description"/>
        </xforms:action>
        <!-- refresh search box when user presses CTRL + ALT + R -->
        <!--<xforms:action ev:event="keypress" ev:observer="#document" xxforms:modifiers="control option" xxforms:text="r">
            <xforms:setfocus control="search-loinc-description"/>
        </xforms:action>-->
        <!-- help dialog -->
        <xxforms:dialog id="help-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
            <xforms:label ref="$resources/help"/>
            <xhtml:table width="100%">
                <xhtml:tr>
                    <xhtml:td>
                        <xxforms:variable name="language" select="if (instance('help-instance')/search[@language=instance('language')]) then instance('language') else ('en-US')"/>
                        <xforms:output mediatype="text/html" ref="xxforms:serialize(instance('help-instance')/search[@language=$language], 'html')"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div class="buttons">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/close"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="help-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <!-- column legend dialog -->
        <xxforms:dialog id="column-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
            <xforms:label ref="$resources/legend"/>
            <xxforms:variable name="selectedconcept" select="instance('loinc-concept-itemset')//concept[@loinc_num=instance('concept-navigation')][*/@name]"/>
            <xhtml:div style="width: 100%; max-height: 300px; overflow-x: auto; overflow-y: auto;">
                <xhtml:table width="100%" class="detail spaced zebra-table">
                    <xhtml:tr>
                        <xhtml:td class="heading">
                            <xforms:output ref="'#'"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/name"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/type"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/width"/>
                        </xhtml:td>
                        <xhtml:td class="heading">
                            <xforms:output ref="$resources/description"/>
                        </xhtml:td>
                    </xhtml:tr>
                    <xforms:repeat nodeset="instance('loinc-columns')/*[not($selectedconcept) or @name=$selectedconcept/*/@name]">
                        <xhtml:tr  class="not-selectable zebra-row-{if (position() mod 2 = 0) then 'even' else 'odd'}">
                            <xhtml:td>
                                <xforms:output ref="@n"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xxforms:variable name="column" select="@name"/>
                                <xxforms:variable name="columnname" select="$resources/*[local-name()=concat('loinc_col_',lower-case($column))]"/>
                                <xforms:output ref="if (empty($columnname)) then $column else $columnname"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="@type"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="@width"/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="@desc"/>
                            </xhtml:td>
                        </xhtml:tr>
                    </xforms:repeat>
                </xhtml:table>
            </xhtml:div>
            <xhtml:p/>
            <xhtml:table width="100%">
                <xhtml:tr>
                    <xhtml:td colspan="5">
                        <xhtml:div class="buttons">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/close"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="column-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <!-- License dialog -->
        <xxforms:dialog id="license-dialog" appearance="full" level="modal" close="false" draggable="false" visible="false">
            <xforms:label ref="$resources/license-agreement"/>
            <xhtml:table width="600">
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:output mediatype="text/html" ref="xxforms:serialize(instance('license')/text, 'html')"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div style="float:right">
                            <xforms:trigger appearance="compact">
                                <xforms:label>Accept</xforms:label>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="license-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <xhtml:table width="100%">
            <!-- row with search and resultset -->
            <xhtml:tr>
                <xhtml:td width="70%">
                    <xhtml:table width="100%">
                        <xhtml:tr>
                            <!-- In panel mode, no searching. This would confusing, since params and text would still indicate panel mode, but search results would not be a panel. -->
                            <xforms:group ref=".[instance('loinc-concept-search')/panel != 'true']">
                                <xhtml:td class="item-label">
                                    <xforms:output ref="$resources/searchterms"/>
                                    <xforms:trigger appearance="minimal" id="refresh">
                                        <xforms:label class="control-label">
                                            <xhtml:img src="/img/arrow_refresh.png" alt="" align="right"/>
                                        </xforms:label>
                                        <xforms:hint ref="$resources/refresh"/>
                                        <xforms:action ev:event="DOMActivate">
                                            <xforms:delete ref="instance('loinc-concept-itemset')/concept"/>
                                            <xforms:setvalue ref="instance('loinc-concept-itemset')/@total" value="0"/>
                                            <xforms:setvalue ref="instance('loinc-concept-search')/search" value="''"/>
                                            <xforms:setvalue ref="instance('loinc-concept-search')/@offset" value="1"/>
                                            <xforms:setfocus control="search-loinc-description"/>
                                        </xforms:action>
                                    </xforms:trigger>
                                </xhtml:td>
                                <xhtml:td>
                                    <xforms:input class="top" ref="instance('loinc-concept-search')/search" id="search-loinc-description" incremental="true">
                                        <xforms:action ev:event="xforms-value-changed">
                                            <xforms:setvalue ref="instance('loinc-concept-search')/@offset" value="1"/>
                                        </xforms:action>
                                    </xforms:input>
                                </xhtml:td>
                            </xforms:group>
                            <xhtml:td>
                                <xhtml:div class="buttons">
                                    <xforms:output ref="$resources/loinc"/>
                                    <xforms:group ref="instance('version')">
                                        <xforms:output ref="concat(@version,' ',@effectiveDate)"/>
                                    </xforms:group>
                                    <xforms:group ref="instance('version')[localization]">
                                        <xforms:output ref="concat($resources/language,': ')"/>
                                        <xforms:select1 ref="instance('loinc-concept-search')/@language" class="auto-width">
                                            <xforms:itemset ref="instance('version')/localization">
                                                <xforms:label ref="@displayName"/>
                                                <xforms:value ref="@language"/>
                                            </xforms:itemset>
                                        </xforms:select1>
                                    </xforms:group>
                                    <xforms:group ref="instance('loinc-concept-search')[string-length(@language)>0]">
                                        <xhtml:img src="/img/flags/{lower-case(substring(instance('loinc-concept-search')/@language,4,2))}.png" alt="" class="padinline"/>
                                    </xforms:group>
                                    <xforms:trigger appearance="compact">
                                        <xforms:label ref="$resources/help"/>
                                        <xxforms:show ev:event="DOMActivate" dialog="help-dialog"/>
                                    </xforms:trigger>
                                    <xforms:trigger appearance="compact">
                                        <xforms:label ref="$resources/columns"/>
                                        <xxforms:show ev:event="DOMActivate" dialog="column-dialog"/>
                                    </xforms:trigger>
                                    <xforms:trigger appearance="compact">
                                        <xforms:label ref="$resources/license"/>
                                        <xxforms:show ev:event="DOMActivate" dialog="license-dialog"/>
                                    </xforms:trigger>
                                </xhtml:div>
                            </xhtml:td>
                        </xhtml:tr>
                    </xhtml:table>
                    <xhtml:p/>
                    <xi:include href="/db/apps/art/resources/xform-parts.xml" xpointer="xpointer(//part[@id='loinc-resultset-readonly'])">
                        <xi:fallback>
                            <xhtml:p>Included document /db/apps/art/resources/xform-parts.xml not found!</xhtml:p>
                        </xi:fallback>
                    </xi:include>
                    <xhtml:p/>
                    <!-- Select concept based on current selection in search results, but only if it has children with @name
                         This latter bit indicates the newer LOINC format required for correct depiction of the following table
                    -->
                    <xxforms:variable name="selectedconcept" select="instance('loinc-concept-itemset')//concept[@loinc_num=instance('concept-navigation')][*/@name]"/>
                    <xxforms:variable name="loinc_num" select="$selectedconcept/@loinc_num"/>
                    <xxforms:variable name="map_to" select="$selectedconcept/@map_to | $selectedconcept/map[@from=$loinc_num]/@to"/>
                    <xxforms:variable name="map_from" select="$selectedconcept/map[@to=$loinc_num]/@from"/>
                    <xxforms:variable name="status" select="$selectedconcept/@status"/>
                    <xxforms:variable name="statusclass" select="if (matches($status,'(DISCOURAGED|DEPRECATED)')) then 'node-sdeprecated' else if ($status='TRIAL') then 'node-sdraft' else ()"/>
                    <xforms:group ref="$selectedconcept">
                        <xhtml:div class="h2">
                            <xforms:output ref="$resources/Details"/>
                        </xhtml:div>
                        <xhtml:table width="100%" class="detail spaced">
                            <xforms:repeat nodeset="*[@name][position() mod 2 = 0]">
                                <xxforms:variable name="column" select="@name"/>
                                <xxforms:variable name="columnname" select="$resources/*[local-name()=concat('loinc_col_',lower-case($column))]"/>
                                <xxforms:variable name="value" select="if (../concept[@language=instance('loinc-concept-search')/@language]/*[@name=$column]) then (../concept[@language=instance('loinc-concept-search')/@language][1]/*[@name=$column]) else (.)"/>
                                <xxforms:variable name="lang" select="if (../concept[@language=instance('loinc-concept-search')/@language]/*[@name=$column]) then (../concept[@language=instance('loinc-concept-search')/@language][1]/@language) else ()"/>
                                <xhtml:tr class="not-selectable">
                                    <xhtml:td class="item-label" width="20%">
                                        <!--<xhtml:div style="width: 20px; float:left;">
                                            <xforms:output ref="instance('loinc-columns')/*[@name=$column]/@n"/>
                                        </xhtml:div>-->
                                        <xforms:output ref="if (empty($columnname)) then $column else $columnname"/>
                                        <xhtml:div class="buttons">
                                            <xforms:group ref="$lang">
                                                <xhtml:img src="/img/flags/{lower-case(substring($lang,4,2))}.png" alt="" class="padinline"/>
                                            </xforms:group>
                                        </xhtml:div>
                                    </xhtml:td>
                                    <xhtml:td width="30%">
                                        <xforms:group ref=".[not($column='AssociatedObservations')]">
                                            <xforms:output ref="$value" class="{if (@name='STATUS') then ($statusclass) else ()}"/>
                                        </xforms:group>
                                        <xforms:group ref=".[$column='AssociatedObservations']">
                                            <xforms:repeat nodeset="tokenize($value, ';')">
                                                <xforms:trigger appearance="minimal">
                                                    <xforms:label ref="."/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('loinc-concept-search')/search" value="string(context())"/>
                                                        <xforms:setfocus control="search-loinc-description"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:repeat>
                                        </xforms:group>
                                        <xforms:group ref=".[@name='STATUS'][not(empty($map_to))]">
                                            <xforms:output ref="$resources/replacedBy"/>
                                            <xforms:repeat nodeset="$map_to/tokenize(.,'\s')">
                                                <xxforms:variable name="pos" select="position()"/>
                                                <xforms:trigger appearance="minimal">
                                                    <xforms:label ref="."/>
                                                    <xforms:hint ref="$map_to[$pos]/../@comment"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('loinc-concept-search')/search" value="string(context())"/>
                                                        <xforms:setfocus control="search-loinc-description"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:repeat>
                                        </xforms:group>
                                        <xforms:group ref=".[@name='STATUS'][not(empty($map_from))]">
                                            <xforms:output ref="$resources/replaces"/>
                                            <xforms:repeat nodeset="$map_from">
                                                <xxforms:variable name="pos" select="position()"/>
                                                <xforms:trigger appearance="minimal">
                                                    <xforms:label ref="."/>
                                                    <xforms:hint ref="$map_from[$pos]/../@comment"/>
                                                    <xforms:action ev:event="DOMActivate">
                                                        <xforms:setvalue ref="instance('loinc-concept-search')/search" value="string(context())"/>
                                                        <xforms:setfocus control="search-loinc-description"/>
                                                    </xforms:action>
                                                </xforms:trigger>
                                            </xforms:repeat>
                                        </xforms:group>
                                    </xhtml:td>
                                    <xhtml:td class="item-label" width="20%">
                                        <xforms:group ref="following-sibling::*[@name][1]">
                                            <xxforms:variable name="column" select="@name"/>
                                            <xxforms:variable name="columnname" select="$resources/*[local-name()=concat('loinc_col_',lower-case($column))]"/>
                                            <xxforms:variable name="lang" select="if (../concept[@language=instance('loinc-concept-search')/@language]/*[@name=$column]) then (instance('loinc-concept-search')/@language) else ()"/>
                                            <!--<xhtml:div style="width: 20px; float:left;">
                                                <xforms:output ref="instance('loinc-columns')/*[@name=$column]/@n"/>
                                            </xhtml:div>-->
                                            <xforms:output ref="if (empty($columnname)) then $column else $columnname"/>
                                            <xhtml:div class="buttons">
                                                <xforms:group ref="$lang">
                                                    <xhtml:img src="/img/flags/{lower-case(substring($lang,4,2))}.png" alt="" class="padinline"/>
                                                </xforms:group>
                                            </xhtml:div>
                                        </xforms:group>
                                    </xhtml:td>
                                    <xhtml:td width="30%">
                                        <xforms:group ref="following-sibling::*[@name][1]">
                                            <xxforms:variable name="column" select="@name"/>
                                            <xxforms:variable name="value" select="if (../concept[@language=instance('loinc-concept-search')/@language]/*[@name=$column]) then (../concept[@language=instance('loinc-concept-search')/@language][1]/*[@name=$column]) else (.)"/>
                                            <xforms:group ref=".[not($column='AssociatedObservations')]">
                                                <xforms:output ref="$value" class="{if (@name='STATUS') then ($statusclass) else ()}"/>
                                            </xforms:group>
                                            <xforms:group ref=".[$column='AssociatedObservations']">
                                                <xforms:repeat nodeset="tokenize($value, ';')">
                                                    <xforms:trigger appearance="minimal">
                                                        <xforms:label ref="."/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:setvalue ref="instance('loinc-concept-search')/search" value="string(context())"/>
                                                            <xforms:setfocus control="search-loinc-description"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:repeat>
                                            </xforms:group>
                                            <xforms:group ref=".[@name='STATUS'][not(empty($map_to))]">
                                                <xforms:output ref="$resources/replacedBy"/>
                                                <xforms:repeat nodeset="$map_to/tokenize(.,'\s')">
                                                    <xxforms:variable name="pos" select="position()"/>
                                                    <xforms:trigger appearance="minimal">
                                                        <xforms:label ref="."/>
                                                        <xforms:hint ref="$map_to[$pos]/../@comment"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:setvalue ref="instance('loinc-concept-search')/search" value="string(context())"/>
                                                            <xforms:setfocus control="search-loinc-description"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:repeat>
                                            </xforms:group>
                                            <xforms:group ref=".[@name='STATUS'][not(empty($map_from))]">
                                                <xforms:output ref="$resources/replaces"/>
                                                <xforms:repeat nodeset="$map_from">
                                                    <xxforms:variable name="pos" select="position()"/>
                                                    <xforms:trigger appearance="minimal">
                                                        <xforms:label ref="."/>
                                                        <xforms:hint ref="$map_from[$pos]/../@comment"/>
                                                        <xforms:action ev:event="DOMActivate">
                                                            <xforms:setvalue ref="instance('loinc-concept-search')/search" value="string(context())"/>
                                                            <xforms:setfocus control="search-loinc-description"/>
                                                        </xforms:action>
                                                    </xforms:trigger>
                                                </xforms:repeat>
                                            </xforms:group>
                                        </xforms:group>
                                    </xhtml:td>
                                </xhtml:tr>
                            </xforms:repeat>
                        </xhtml:table>
                    </xforms:group>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>
    </xhtml:body>
</xhtml:html>