<!--
    Copyright © ART-DECOR Expert Group and ART-DECOR Open Tools
    see https://docs.art-decor.org/copyright and https://docs.art-decor.org/licenses
    
    This program is free software; you can redistribute it and/or modify it under the terms of the
    GNU Lesser General Public License as published by the Free Software Foundation; either version
    2.1 of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Lesser General Public License for more details.
    
    The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
--><xhtml:html xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xi="http://www.w3.org/2001/XInclude-doc" xmlns:widget="http://orbeon.org/oxf/xml/widget" xmlns:svg="http://www.w3.org/2000/svg" xmlns:f="http://orbeon.org/oxf/xml/formatting" xmlns:xxi="http://orbeon.org/oxf/xml/xinclude" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://orbeon.org/oxf/xml/form-runner" xmlns:xxforms="http://orbeon.org/oxf/xml/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="snomed-ct" xsi:schemaLocation="http://www.w3.org/1999/xhtml https://raw.github.com/orbeon/orbeon-forms/master/src/main/resources/org/orbeon/oxf/xml/schemas/xhtml1-transitional-orbeon.xsd">
    <xhtml:head>
        <xhtml:script type="text/javascript">
         function getDocHeight(doc) {
            doc = doc || document;
            // stackoverflow.com/questions/...
            var body = doc.body, html = doc.documentElement;
            var height = Math.max( body.scrollHeight, body.offsetHeight, 
            html.clientHeight, html.scrollHeight, html.offsetHeight );
            return height;
         }
         function setIframeHeight(id) {
            var ifrm = document.getElementById(id);
            var doc = ifrm.contentDocument? ifrm.contentDocument: 
            ifrm.contentWindow.document;
            ifrm.style.visibility = 'hidden';
            ifrm.style.height = "10px"; // reset to minimal height ...
            ifrm.style.height = getDocHeight( doc ) + "px";
            ifrm.style.visibility = 'visible';
         }
        </xhtml:script>
        <xhtml:style type="text/css">
            .xforms-select-appearance-full span { display: block} 
        </xhtml:style>
        <xhtml:title>
            <xforms:output ref="$resources/snomed-ct"/>
        </xhtml:title>
        <xforms:model>
            <!-- instance with logo -->
            <xforms:instance id="logo">
                <logo href="https://www.nictiz.nl/terminologiecentrum/snomed-ct-release-center">nictiz-nrc-50.png</logo>
            </xforms:instance>
            <!-- Variable with path to art-exist for use by form -->
            <xxforms:variable name="art-exist" select="xxforms:property('art.exist.url')"/>
            <!-- Variable with path to terminology-eXist used to pass to client as link for services (SNOMED, LOINC) -->
            <xxforms:variable name="terminology-exist" select="xxforms:property('terminology.exist.url')"/>
            <xxforms:variable name="terminology-external-exist" select="xxforms:property('terminology.external.exist.url')"/>
            <!-- resources for internationalization -->
            <xforms:instance id="resources-instance">
                <dummy/>
            </xforms:instance>
            <!-- submission for loading resources -->
            <xforms:submission id="get-resources-submission" serialization="none" method="get" resource="{$art-exist}/modules/get-form-resources.xquery?packageRoot=terminology" replace="instance" instance="resources-instance" xxforms:readonly="true">
                <xforms:message ev:event="xforms-submit-error" level="modal">
                    A submission error occurred:<xforms:output value="event('error-type')"/>; Status: <xforms:output value="event('response-status-code')"/>; URI: <xforms:output value="event('resource-uri')"/>; Headers: <xforms:output value="event('response-headers')"/>; Body: <xforms:output value="event('response-body')"/>
                </xforms:message>
            </xforms:submission>
            <!-- language -->
            <xforms:instance id="language">
                <language/>
            </xforms:instance>
            
            
            <!-- instance for help, temporary solution, must move to db -->
            <xforms:instance id="help-instance">
                <help-files>
                    <search language="en-US">
                        <div class="h3">Finding Terms</div>
                        <p>Finding terms with the least amount of keystrokes possible, that is the goal.<br/> To achieve this goal the search field offers a combination of wildcard and exact match searches.</p>
                        <b>General Properties</b>
                        <ul>
                            <li> Searches starting with lower case letters will also find terms starting with upper case letters. </li>
                            <li> Results are ordered by wordcount and term length. </li>
                            <li> Starting a search term with lower case will perform a wildcard search. </li>
                            <li> Single term wildcard searches require a minimum of 4 keystrokes. </li>
                            <li> Starting a search term with upper case will perform an exact match search. </li>
                            <li> Single term exact match searches require a minimum of 2 keystrokes. </li>
                        </ul>
                        <b>Examples</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">Searching for</td>
                                <td class="floating-label">Enter</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    <div class="h3">Legend</div>
                        <p><img src="img/languageRefsets/31000146106.png"/> : Dutch preferred term (synonyms, text definition) for healthcare professionals</p>
                        <p><img src="img/languageRefsets/15551000146102.png"/> : Dutch preferred term (synonyms, text definition) for patients</p>  
                        <p><img src="img/languageRefsets/900000000000509007.png"/>: US-English preferred term (synonyms, text definition)</p>
                    </search>
                    <search language="nl-NL">
                        <div class="h3">Termen vinden</div>
                        <p>Termen vinden met zo weinig mogelijk toetsaanslagen, dat is het doel.<br/> Om dit te bereiken ondersteunt het zoekveld het zoeken op exacte overeenkomst en het zogenaamde 'wildcard' zoeken.</p>
                        <b>Algemene Eigenschappen</b>
                        <ul>
                            <li> Bij zoektermen met kleine letters worden ook overeenkomende termen met hoofdletters gevonden. </li>
                            <li> Resultaten worden gesorteerd op aantal woorden en lengte van de term. </li>
                            <li> Als een zoekterm met een kleine letter begint dan wordt gezocht naar termen beginnend met de zoekterm (wildcard). </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een kleine letter, dan moet deze minimaal vier letters bevatten. </li>
                            <li> Als een zoekterm begint met een hoofdletter dan dan wordt gezocht naar termen die exact overeenkomen.. </li>
                            <li> Wanneer de opdracht bestaat uit één enkele zoekterm beginnend met een hoofdletter, dan moet deze minimaal twee letters bevatten. </li>
                        </ul>
                        <b>Voorbeelden</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">U zoekt</td>
                                <td class="floating-label">Toets</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                        <div class="h3">Tips voor het navigeren van concepten</div>
                        <p>Door met de rechter muisknop op een link te klikken kan de link in een nieuw venster worden geopend, <br/> op deze wijze is het mogelijk om een concept te bekijken zonder het oorspronkelijke concept uit het oog te verliezen.</p>
                        <p>Met behulp van de toestcombinatie ALT + 'Pijl naar links' kunt U snel terug navigeren naar waar U begonnen was.</p>
                    <div class="h3">Legenda</div>
                        <p><img src="img/languageRefsets/31000146106.png"/> : Nederlandse voorkeursterm en eventuele synoniemen en tekstdefinitie voor zorgprofessionals</p>
                        <p><img src="img/languageRefsets/15551000146102.png"/> : Nederlandse voorkeursterm en eventuele synoniemen en tekstdefinitie voor patiënten</p>  
                        <p><img src="img/languageRefsets/900000000000509007.png"/>: Engels-Amerikaanse voorkeursterm en eventuele synoniemen en tekstdefinitie</p>
                    </search>
                    <search language="de-DE">
                        <div class="h3">Suchen von Begriffen</div>
                        <p>Begriffe durch die Eingabe nur weniger Zeichen zu finden - das ist das Ziel.<br/> Um dieses Ziel zu erreichen bietet das Suchfeld die Möglichkeit nach Wildcards und mit exakter Übereinstimmung zu suchen.</p>
                        <b>Allgemeine Eigenschaften</b>
                        <ul>
                            <li> Suchen beginnend mit Kleinbuchstaben finden auch Begriffe beginnend mit Großbuchstaben. </li>
                            <li> Die Treffer sind nach Anzahl der Begriff und der Länge der Begriffe geordnet. </li>
                            <li> Beginnen Sie den Suchbegriff mit Kleinbuchstaben wird eine Wildcard-Suche ausgeführt. </li>
                            <li> Suche nach Begriffen mit Wildcards erfordern ein Minimum von vier Zeichen. </li>
                            <li> Starten Sie einen Suchbegriff mit Großbuchstaben wird nach exakter Übereinstimmung gesucht. </li>
                            <li> Suche nach Begriffen mit exakter Übereinstimmung erfordern ein Minimum von zwei Zeichen. </li>
                        </ul>
                        <b>Beispiele</b>
                        <table width="100%">
                            <tr>
                                <td class="floating-label">Suche nach</td>
                                <td class="floating-label">Eingabe</td>
                            </tr>
                            <tr>
                                <td>Salbutamol</td>
                                <td>salb</td>
                            </tr>
                            <tr>
                                <td>Pneumonia</td>
                                <td>pneu</td>
                            </tr>
                            <tr>
                                <td>Acute asthma</td>
                                <td>acu ast</td>
                            </tr>
                            <tr>
                                <td>Medication review</td>
                                <td>med rev</td>
                            </tr>
                            <tr>
                                <td>Pain lower back</td>
                                <td>pa lo ba</td>
                            </tr>
                            <tr>
                                <td>Oxazepam tablets 10mg</td>
                                <td>ox ta 10</td>
                            </tr>
                            <tr>
                                <td>Haemoglobin A</td>
                                <td>hae A</td>
                            </tr>
                            <tr>
                                <td>WCC (White blood cell count)</td>
                                <td>WCC</td>
                            </tr>
                            <tr>
                                <td>Hb (Hemoglobin)</td>
                                <td>Hb</td>
                            </tr>
                            <tr>
                                <td>FH: Asthma (Family history: Asthma)</td>
                                <td>FH as</td>
                            </tr>
                        </table>
                    </search>
                </help-files>
            </xforms:instance>


            <!-- instance for license -->
            <xforms:instance id="license">
                <license>
                    <text>
                        <p>In order to use the SNOMED CT Explorer, Browser, Refsets or ‘Referentielijsten’ please accept the following license agreement:</p>
                        <p>
                            <b>The Snomed Explorer, Browser, Referencesets and ‘Referentielijsten’</b>, hereafter called <b>SNOMED CT Products</b>, includes SNOMED Clinical Terms® (SNOMED CT®) which is used by permission of the SNOMED International.
                            All rights reserved. SNOMED CT® was originally created by the College of American Pathologists.“SNOMED”, “SNOMED CT” and “SNOMED Clinical Terms” are registered trademarks of the SNOMED International (<a href="http://www.snomed.org">www.snomed.org</a>)</p>
                        <p>Use of SNOMED CT in <b>SNOMED CT Products</b> is governed by the conditions of the following SNOMED CT license issued by SNOMED International:</p>
                        <ol>
                            <li>
                                <p>The meaning of the terms “Affiliate”, or “Data Analysis System”, “Data Creation System”, “Derivative”, “End User”, “Extension”, “Member”, “Non-Member Territory”, “SNOMED CT” and “SNOMED CT Content” are as defined in the SNOMED International Affiliate License Agreement (<a href="http://www.snomed.org/resource/resource/117">see on the SNOMED International web site</a>).</p>
                            </li>
                            <li>
                                <p>Information about Affiliate Licensing is available at <a href="http://www.snomed.org/snomed-ct/get-snomed-ct">http://www.snomed.org/snomed-ct/get-snomed-ct</a>. 
                                Individuals or organizations wishing to register as SNOMED International Affiliates can register at <a href="https://mlds.ihtsdotools.org/">mlds.ihtsdotools.org</a>, subject to acceptance of the Affiliate License Agreement (<a href="http://www.snomed.org/resource/resource/117">see on the SNOMED International web site</a>).</p>
                            </li>
                            <li>
                                <p>The current list of SNOMED International Member Territories can be viewed at <a href="http://www.snomed.org/members">www.snomed.org/members</a>. Countries not included in that list are "Non-Member Territories".</p>
                            </li>
                            <li>
                                <p>End Users, that do not hold an SNOMED International Affiliate License, may access SNOMED CT® using <b>SNOMED CT Products</b> subject to acceptance of and adherence to the following sub-license limitations:
                        <ol type="a">
                                        <li>The sub-licensee is only permitted to access SNOMED CT® using this software (or service) for the purpose of exploring and evaluating the terminology.</li>
                                        <li>The sub-licensee is not permitted the use of this software as part of a system that constitutes a SNOMED CT "Data Creation System" or "Data Analysis System", as defined in the SNOMED International Affiliate License. This means that the sub-licensee must not use <b>CT Products</b> to add or copy SNOMED CT identifiers into any type of record system, database or document.</li>
                                        <li>The sub-licensee is not permitted to translate or modify SNOMED CT Content or Derivatives.</li>
                                        <li>The sub-licensee is not permitted to distribute or share SNOMED CT Content or Derivatives.</li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <p>                        SNOMED International Affiliates may use <b>SNOMED CT Products</b> as part of a "Data Creation System" or "Data Analysis System" subject to the following conditions:
                            <ol type="a">
                                        <li>The SNOMED International Affiliate, using <b>SNOMED CT Products</b> must accept full responsibility for any reporting and fees due for use or deployment of such a system in a Non-Member Territory.</li>
                                        <li>The SNOMED International Affiliate must not use <b>SNOMED International SNOMED CT Products</b> to access or interact with SNOMED CT in any way that is not permitted by the Affiliate License Agreement.</li>
                                        <li>In the event of termination of the Affiliate License Agreement, the use of <b>SNOMED CT Products</b> will be subject to the End User limitations noted in 4.</li>
                                    </ol>
                                </p>
                            </li>
                        </ol>
                    </text>
                </license>
            </xforms:instance>
            <!-- instance for SNOMED CT concept -->
            <xforms:instance id="snomed-concept-instance">
                <result current="1" count="1">
                    <description count="3" length="17" effectiveTime="20030731" conceptId="138875005" caseSignificanceId="900000000000017005" type="pref" fullName="SNOMED CT Concept (SNOMED RT+CTV3)">SNOMED CT Concept</description>
                </result>
            </xforms:instance>
            <!-- instance for SNOMED CT version info -->
            <xforms:instance id="snomed-version">
                <version/>
            </xforms:instance>
            <!-- get SNOMED CT version -->
            <xforms:submission id="get-snomed-version" action="{$terminology-exist}/snomed/searchDescription/sno cli ver" method="get" instance="snomed-version" replace="instance"/>

            <!-- instance for selected concept -->
            <xforms:instance id="concept-navigation">
                <id>138875005</id>
            </xforms:instance>

            <!-- toplevel filter -->
            <xforms:instance id="selected-toplevels">
                <ids/>
            </xforms:instance>
            <!-- refsets filter -->
            <xforms:instance id="selected-refsets">
                <ids/>
            </xforms:instance>
            <!-- filter list -->
            <xforms:instance id="filters">
                <filters/>
            </xforms:instance>
            <!-- submission for loading toplevel filter list -->
            <xforms:submission id="get-filters" serialization="none" method="get" resource="{$terminology-exist}/snomed/modules/get-search-filters.xquery" replace="instance" instance="filters" xxforms:readonly="true"/>

            <!-- instance for description search string -->
            <xforms:instance id="description-search-instance">
                <root>
                    <search/>
                </root>
            </xforms:instance>
            <xforms:action ev:observer="description-search-instance" ev:event="xforms-insert xxforms-value-changed">
                <xxforms:variable name="search-value" select="instance('description-search-instance')/search"/>
                <xxforms:variable name="make-suggestion" select="(string-length($search-value) &gt;= 4 and not(matches($search-value,'^[A-Z]|\s$|\s[a-z|0-9]$'))) or (string-length($search-value) &gt;= 2 and not(matches($search-value,'^[a-z]|\s$')))  or matches($search-value,'^[0-9]+')"/>
                <xforms:action if="$make-suggestion">
                    <xforms:send submission="update-descriptions"/>
                    <xforms:action if="xxforms:index('descriptions')&gt;1">
                        <xforms:setindex repeat="descriptions" index="1"/>
                    </xforms:action>
                </xforms:action>
            </xforms:action>

            <!-- instance for description itemset -->
            <xforms:instance id="description-itemset-instance">
                <result current="1" count="1">
                    <description count="3" length="17" effectiveTime="20030731" conceptId="138875005" caseSignificanceId="900000000000017005" type="pref" fullName="SNOMED CT Concept (SNOMED RT+CTV3)">SNOMED CT Concept</description>
                </result>
            </xforms:instance>
            <!-- submission for loading description -->
            <xforms:submission id="get-concept-description" serialization="none" method="get" resource="{$terminology-exist}/snomed/getDescription/{instance('concept-navigation')}" replace="instance" instance="description-itemset-instance"/>
            <!-- instance for concept -->
            <xforms:instance id="concept-instance">
                <dummy/>
            </xforms:instance>

            <!-- submission for updating resultset -->
            <xforms:submission id="update-descriptions" ref="instance('description-search-instance')" action="{$terminology-exist}/snomed/searchDescription/{instance('description-search-instance')/search}?toplevels={instance('selected-toplevels')}&amp;refsets={instance('selected-refsets')}" method="get" instance="description-itemset-instance" replace="instance"/>


            <!-- instance for remote ip check -->
            <xforms:instance id="ip-country">
                <dummy/>
            </xforms:instance>
            <xforms:submission id="check-ip" serialization="none" method="get" resource="http://freegeoip.net/xml/{instance('request')/remote-addr}" replace="instance" instance="ip-country">
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="not(instance('ip-country')/CountryCode='NL')">
                        <xxforms:show dialog="license-dialog"/>
                    </xforms:action>
                </xforms:action>
            </xforms:submission>
            <xforms:submission id="check-ip-x-real-ip" serialization="none" method="get" resource="http://freegeoip.net/xml/{instance('request')/headers/header[name='x-real-ip']/value}" replace="instance" instance="ip-country">
                <xforms:action ev:event="xforms-submit-done">
                    <xforms:action if="not(instance('ip-country')/CountryCode='NL')">
                        <xxforms:show dialog="license-dialog"/>
                    </xforms:action>
                </xforms:action>
            </xforms:submission>
            <xforms:instance id="request" src="input:data"/>
            <xforms:action ev:event="xforms-model-construct-done">
                <xforms:send submission="get-resources-submission"/>
                <xforms:setvalue ref="instance('language')" value="if (string-length(xxforms:get-session-attribute('language'))&gt;0) then (xxforms:get-session-attribute('language')) else (instance('resources-instance')//resources[1]/@xml:lang/string())"/>
                <xforms:insert context="." origin="xxforms:set-session-attribute('language', instance('language'))"/>
                <!--<xforms:send submission="get-request"/>-->
                <xforms:setvalue ref="instance('concept-navigation')" value="if (string-length(xxforms:get-request-parameter('conceptId'))&gt;0) then xxforms:get-request-parameter('conceptId') else ('138875005')"/>
                <xforms:send submission="get-filters"/>
                <xforms:send submission="get-concept-description"/>
                <xforms:send submission="get-snomed-version"/>
                <xforms:setvalue ref="instance('selected-refsets')" value="if (string-length(xxforms:get-request-parameter('refsetId'))&gt;0) then xxforms:get-request-parameter('refsetId') else ()"/>
            </xforms:action>
            <xforms:action ev:event="xforms-ready">
                <!-- If we have something (e.g. nginx) proxying the X-Real-IP header we check that first -->
                <xforms:action if="instance('request')/headers/header[name='x-real-ip']/value[not(.=('127.0.0.1','0:0:0:0:0:0:0:1'))]">
                    <!--<xforms:send submission="check-ip-x-real-ip"/>-->
                </xforms:action>
                <!-- Otherwise we are called directly and may use the normal REMOTE_ADDR -->
                <xforms:action if="instance('request')[not(headers/header/name='x-real-ip')][not(remote-addr=('127.0.0.1','0:0:0:0:0:0:0:1'))]">
                    <!--<xforms:send submission="check-ip"/>-->
                </xforms:action>
                <xforms:action if="not(instance('concept-navigation')='138875005')">
                    <xforms:setvalue ref="instance('description-search-instance')/search" value="instance('concept-navigation')"/>
                </xforms:action>
                <xforms:setfocus control="search-description" xxforms:readonly="true"/>
            </xforms:action>
            <xxforms:variable name="resources" select="instance('resources-instance')//resources[1]"/>
        </xforms:model>
    </xhtml:head>
    <xhtml:body>
        <!-- Filter dialog -->
        <xxforms:dialog id="filter-dialog" neighbor="filter" appearance="minimal" visible="false">
            <xhtml:table>
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:select ref="instance('selected-toplevels')" appearance="full" id="filterList">
                            <xforms:itemset nodeset="instance('filters')/topLevels/concept">
                                <xforms:label ref="if (desc[@languageCode=substring(instance('language'),1,2)]) then (desc[@languageCode=substring(instance('language'),1,2)]) else (desc[@languageCode='en'])"/>
                                <xforms:value ref="@conceptId"/>
                            </xforms:itemset>
                            <xforms:action ev:event="xforms-value-changed">
                                <xforms:send submission="update-descriptions"/>
                                <xforms:action if="xxforms:index('descriptions')&gt;1">
                                    <xforms:setindex repeat="descriptions" index="1"/>
                                </xforms:action>
                            </xforms:action>
                        </xforms:select>
                    </xhtml:td>
                    <xhtml:td>
                        <xforms:select ref="instance('selected-refsets')" appearance="full" id="refsetFilterList">
                            <xforms:itemset nodeset="instance('filters')/refsets/refset">
                                <xforms:label ref="if (desc[@languageCode=substring(instance('language'),1,2)]) then (desc[@languageCode=substring(instance('language'),1,2)]) else (desc[@languageCode='en'])"/>
                                <xforms:value ref="@id"/>
                            </xforms:itemset>
                            <xforms:action ev:event="xforms-value-changed">
                                <xforms:send submission="update-descriptions"/>
                                <xforms:action if="xxforms:index('descriptions')&gt;1">
                                    <xforms:setindex repeat="descriptions" index="1"/>
                                </xforms:action>
                            </xforms:action>
                        </xforms:select>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <!-- License dialog -->
        <xxforms:dialog id="license-dialog" appearance="full" level="modal" close="false" draggable="true" visible="false">
            <xforms:label ref="$resources/license-agreement"/>
            <xhtml:table width="700">
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:output mediatype="text/html" ref="xxforms:serialize(instance('license')/text, 'html')"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div class="buttons">
                            <xforms:trigger appearance="compact">
                                <xforms:label>Accept</xforms:label>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="license-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <!-- Help dialog -->
        <xxforms:dialog id="help-dialog" appearance="full" level="modeless" close="true" draggable="true" visible="false">
            <xforms:label ref="$resources/help"/>
            <xhtml:table width="100%">
                <xhtml:tr>
                    <xhtml:td>
                        <xforms:output mediatype="text/html" ref="xxforms:serialize(instance('help-instance')/search[@language=instance('language')], 'html')"/>
                    </xhtml:td>
                </xhtml:tr>
                <xhtml:tr>
                    <xhtml:td>
                        <xhtml:div style="float:right">
                            <xforms:trigger appearance="compact">
                                <xforms:label ref="$resources/close"/>
                                <xforms:action ev:event="DOMActivate">
                                    <xxforms:hide ev:event="DOMActivate" dialog="help-dialog"/>
                                </xforms:action>
                            </xforms:trigger>
                        </xhtml:div>
                    </xhtml:td>
                </xhtml:tr>
            </xhtml:table>
        </xxforms:dialog>
        <xhtml:table width="100%">
            <xhtml:tr>
                <!-- search field and refresh -->
                <xhtml:td class="item-label-long">
                    <xforms:output ref="$resources/searchterms"/>
                    <xhtml:div class="buttons">
                        <xforms:trigger appearance="minimal" id="refresh">
                            <xforms:label class="control-label">
                                <xhtml:img src="/img/arrow_refresh.png" alt="" align="right"/>
                            </xforms:label>
                            <xforms:hint ref="$resources/refresh"/>
                            <xforms:action ev:event="DOMActivate">
                                <xforms:setvalue ref="instance('description-search-instance')/search" value="''"/>
                                <xforms:setvalue ref="instance('concept-navigation')" value="'138875005'"/>
                                <xforms:send submission="get-concept-description"/>
                                <xforms:setfocus control="search-description"/>
                            </xforms:action>
                        </xforms:trigger>
                    </xhtml:div>
                </xhtml:td>
                <!-- search filter -->
                <xhtml:td>
                    <xforms:input class="top" ref="instance('description-search-instance')/search" id="search-description" incremental="true">
                        <xforms:action ev:event="xforms-value-changed">
                            <xxforms:variable name="search-value" select="."/>
                            <xxforms:variable name="make-suggestion" select="(string-length($search-value) &gt;= 3 and not(matches($search-value,'^[A-Z]|\s$|\s[a-z|0-9]$'))) or (string-length($search-value) &gt;= 2 and not(matches($search-value,'^[a-z]|\s$')))  or matches($search-value,'^[0-9]+')"/>
                            <xforms:action if="$make-suggestion">
                                <xforms:send submission="update-descriptions"/>
                                <xforms:action if="xxforms:index('descriptions')&gt;1">
                                    <xforms:setindex repeat="descriptions" index="1"/>
                                </xforms:action>
                            </xforms:action>
                        </xforms:action>
                    </xforms:input>
                    <xforms:trigger appearance="minimal" id="filter">
                        <xforms:label class="control-label">
                            <xhtml:img src="/img/filter.png" alt=""/>
                        </xforms:label>
                        <xforms:hint ref="$resources/filter"/>
                        <xforms:action ev:event="DOMActivate">
                            <xxforms:show dialog="filter-dialog"/>
                        </xforms:action>
                    </xforms:trigger>
                    <xforms:group ref=".[string-length(instance('selected-toplevels'))&gt;0 or string-length(instance('selected-refsets'))&gt;0]">
                        <xforms:trigger appearance="minimal">
                            <xforms:label class="control-label">
                                <xhtml:img src="/img/node-s.png" alt=""/>
                            </xforms:label>
                            <xforms:hint ref="$resources/clear-filter"/>
                            <xforms:action ev:event="DOMActivate">
                                <xforms:setvalue ref="instance('selected-toplevels')" value="''"/>
                                <xforms:setvalue ref="instance('selected-refsets')" value="''"/>
                            </xforms:action>
                        </xforms:trigger>
                    </xforms:group>
                </xhtml:td>
                <!-- snomed version -->
                <xhtml:td style="vertical-align:middle;">
                    <xhtml:div style="float:right;">
                        <xforms:output ref="instance('snomed-version')/description"/>
                    </xhtml:div>
                </xhtml:td>
                <!-- help and license buttons -->
                <xhtml:td>
                    <xhtml:div style="float:right">
                        <xforms:trigger appearance="compact">
                            <xforms:label ref="$resources/help"/>
                            <xforms:action ev:event="DOMActivate">
                                <xxforms:show dialog="help-dialog"/>
                            </xforms:action>
                        </xforms:trigger>
                        <xforms:trigger appearance="compact">
                            <xforms:label ref="$resources/license"/>
                            <xforms:action ev:event="DOMActivate">
                                <xxforms:show dialog="license-dialog"/>
                            </xforms:action>
                        </xforms:trigger>
                    </xhtml:div>
                </xhtml:td>
            </xhtml:tr>
        </xhtml:table>
        <xhtml:p/>
        <xforms:group ref="instance('description-itemset-instance')">
            <xhtml:div class="h2">
                <xforms:output ref="$resources/results"/>
                <xxforms:variable name="resultCount" select="count(description)"/> 
                (
                <xforms:output ref="@current"/>
                <xforms:output ref="$resources/of"/>
                <xforms:output ref="@count"/> 
                )
            </xhtml:div>
            <xhtml:div class="navigate-seven">
                <xhtml:table width="100%">
                    <xforms:repeat nodeset="instance('description-itemset-instance')/description" id="descriptions">
                        <xhtml:tr>
                            <xhtml:td style="text-align:center;background-color:#ebe7e1;padding-right:0.4em;padding-left:0.4em;width:1%;margin-right:0.5em;">
                                <xforms:output ref="if (@type='pref') then 'P' else if(@type='fsn') then 'F' else('S')">
                                    <xforms:hint>F = Fully Specified Name, P = Preferred, S = Synonym</xforms:hint>
                                </xforms:output>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="."/>
                            </xhtml:td>
                            <xhtml:td>
                                <xforms:output ref="@fullName"/>
                            </xhtml:td>
                        </xhtml:tr>
                        <xforms:action ev:event="xxforms-index-changed">
                            <xforms:action if="instance('concept-navigation')!=instance('description-itemset-instance')/description[index('descriptions')]/@conceptId">
                                <xforms:setvalue ref="instance('concept-navigation')" value="instance('description-itemset-instance')/description[index('descriptions')]/@conceptId"/>
                            </xforms:action>
                        </xforms:action>
                        <xforms:action ev:event="xxforms-nodeset-changed">
                            <xforms:action if="instance('concept-navigation')!=instance('description-itemset-instance')/description[index('descriptions')]/@conceptId">
                                <xforms:setvalue ref="instance('concept-navigation')" value="instance('description-itemset-instance')/description[index('descriptions')]/@conceptId"/>
                            </xforms:action>
                        </xforms:action>
                    </xforms:repeat>
                </xhtml:table>
            </xhtml:div>
        </xforms:group>
        <xhtml:p/>
        <xhtml:div class="detail" style="margin-top:3em;">
            <xhtml:iframe id="snoframe" frameborder="0" src="{$terminology-external-exist}/snomed/viewConcept/{instance('concept-navigation')}?language={instance('language')}" width="100%" height="800"/>
        </xhtml:div>
    </xhtml:body>
</xhtml:html>