body {
     /* background-image:url(sand-light.jpg);
      background-repeat:repeat;*/
      background-color:#f5f5f3;
      
      
}
h1 {
    margin-left :0px;
    margin-right :0px;
    margin-top :1px;
    margin-bottom :0px;
    padding-left : 5px;
    font-family : sans-serif;
    font-size : 14pt;
    font-weight: normal;
    color:black;
    background-color:#e16e22;
}
h1.logo {
    background-image: url(nictiz.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    padding-left : 5px;
    padding-top : 10px;
    padding-bottom : 10px;
    font-family : sans-serif;
    font-size : 18pt;
    font-weight: normal;
    color:black;
    background-color:#e16e22;
}
h1.toggler {
    background-image: url(plus.gif);
    background-repeat: no-repeat;
    background-position: center left;
    margin-left :0px;
    margin-right :0px;
    margin-top :1px;
    margin-bottom :0px;
    padding-left : 20px;
    font-family : sans-serif;
    font-size : 14pt;
    font-weight: normal;
    color:black;
    background-color:#D49641;
}
h1.toggler:hover {
    cursor: pointer;
}
h2 {
    margin-left :0px;
    margin-right :2px;
    margin-top :1px;
    margin-bottom :0px;
    padding-left : 10px;
    font-family : sans-serif;
    font-size : 12pt;
    font-weight: bold;
    color:black;
    background-color:#e16e22;
}
h2.chapter {
    margin-left :0px;
    margin-right :2px;
    margin-top :20px;
    margin-bottom :0px;
    padding-left : 0px;
    font-family : sans-serif;
    font-size : 12pt;
    font-weight: bold;
    color:black;
    background-color:transparent
}
h2.toggler {
    background-image: url(plus.gif);
    background-repeat: no-repeat;
    background-position: center left;
    margin-left :0px;
    margin-right :2px;
    margin-top :1px;
    margin-bottom :0px;
    padding-left : 20px;
    font-family : sans-serif;
    font-size : 12pt;
    font-weight: bold;
    color:black;
    background-color:#DFAE6A;
}
h2.toggler:hover {
    cursor: pointer;
}
h2.alert {
    margin-left :0px;
    margin-right :2px;
    margin-top :1px;
    margin-bottom :0px;
    padding-left : 5px;
    font-family : sans-serif;
    font-size : 12pt;
    font-weight: bold;
    color:black;
    background-color:#fecab8;
}
h3 {
    font-family : sans-serif;
    font-size : 12pt;
    font-weight: normal;
    color:black;
    background-color:#D0D0D0;
}
h4 {
    margin-left :0px;
    margin-right :2px;
    margin-top :1px;
    margin-bottom :0px;
    padding-left : 5px;
    font-family : sans-serif;
    font-size : 11pt;
    font-weight: normal;
    color:black;
    background-color:#D0D0D0;
}
.pageTitle {
    color:black;
    background-color:#8FBDD7;
}
div {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :5px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
}
div.paragraph {
    margin-left :0px;
    margin-right :0px;
    margin-top :5px;
    margin-bottom :10px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 11pt;
}
div.toggle {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :5px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    display: none;
}
div.level2 {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :5px;
    padding-left : 10px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
}
li {
    width: 50%;
    margin-left :10px;
    margin-right :0px;
    margin-top :10px;
    margin-bottom :5px;
    padding-left : 10px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 11pt;
}
table {
    width: 100%;
    }
table.values {
    width: 100%;
/*    border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    }
table.section {
    width: 100%;
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    padding-left : 0px;
/*    color:black;
    background-color:#E0E0E0;*/
    border:2px solid #D0D0D0;
    }
th {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 11pt;
    font-weight: normal;
    color:black;
    background-color:#e16e22;
}
th.alert {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 11pt;
    font-weight: normal;
    color:black;
    background-color:#fecab8;
}
th.subTable {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    font-weight:100;
    color:black;
    background-color:#BFD5E1;
}
td {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
}
td.td-alert {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    color:black;
    background-color :#FF9900
}
td.section-label {
    width:20%;
    margin-left :0px;
    margin-right :20px;
    margin-top :0px;
    margin-bottom :0px;
    padding-right : 20px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 11pt;
    font-weight: normal;
    color:black;
    background-color:#D0D0D0;
}
td.section-label-toggler {
    background-image: url(plus.gif);
    background-repeat: no-repeat;
    background-position: top left;
    width:20%;
    margin-left :0px;
    margin-right :20px;
    margin-top :0px;
    margin-bottom :0px;
    padding-left : 20px;
    padding-right : 20px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 11pt;
    font-weight: normal;
    color:black;
    background-color:#D0D0D0;
}
td.section-label-toggler:hover {
    cursor: pointer;
}
td.toggle {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    display: none;
}
td.value-label {
    width:20%;
    margin-left :0px;
    margin-right :20px;
    margin-top :0px;
    margin-bottom :0px;
    padding-right : 20px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    font-weight: bold;
    color:black;
    background-color:#E0E0E0;
}
td.value-label2 {
    width:15%;
    margin-left :0px;
    margin-right :20px;
    margin-top :0px;
    margin-bottom :0px;
    padding-right : 20px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
}
td.value {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
}
td.value-warning {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    color:black;
    background-color:#FAB03B;
}
td.value-error {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 10pt;
    color:black;
    background-color:#FA5A3B;
}
tr {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
}
tr.episode {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    text-align:left;
    vertical-align:top;
    font-family : sans-serif;
    font-size : 12pt;
    font-weight: normal;
    color:black;
    background-color:#c0c0c0;
}
tr.plain {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
}
tr.alternate {
    margin-left :0px;
    margin-right :0px;
    margin-top :0px;
    margin-bottom :0px;
    color:black;
    background-color:#ddd;
}
td.forms-cell {
    margin-left :0px;
    margin-right :0px;
    margin-top :10px;
    margin-bottom :0px;
    padding-top : 10px;
    vertical-align:middle;
    color:black;
    background-color:white;
} 
td.forms-row-index {
    margin-left :0px;
    margin-right :0px;
    margin-top :10px;
    margin-bottom :0px;
    padding-top : 10px;
    vertical-align:top;
    font-weight: bold;
    color:black;
    background-color:white;
}
tr.forms-row-0 {
    margin-left :0px;
    margin-right :0px;
    margin-top :10px;
    margin-bottom :0px;
    padding-top : 10px;
    color:black;
    background-color:white;
} 
tr.forms-row-1 {
    margin-left :0px;
    margin-right :0px;
    margin-top :10px;
    margin-bottom :0px;
    padding-top : 10px;
    color:black;
    background-color:#ddd;
} 
div.forms-doubleList {
    width:100%;
}
.forms-doubleList select {
    width: 350px;
}

.forms-doubleList input {
    width: 40px;
}
.pass {
    color:green;
    background-color:white;
}
.error {
    color:red;
    background-color:white;
}
.tableHeaderText {
    color:black;
    background-color:#C0E5FF;
}
a.toggle:link, a.toggle:visited {
    text-decoration: none;
    background-color:inherit;
    color:black;
}
.toolTipHeader {
    background:#F3F0E7;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    border:1px solid #C8BA92;
    padding:5px;
/*    width:150px;*/
}
.toolTipBody {
    background:#F8E399;
    font-family:arial;
    font-size:12px;
    border:1px solid black;
    padding:5px;
/*    width:150px;*/
}
