<!DOCTYPE html>
<!--ADA Angular generator, 2016-03-18T16:41:37.724+01:00-->
<html lang="en" ng-app="adaApp">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
      <link rel="stylesheet" href="styles/ada-angular.css"></link>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="scripts/ada-angular.js"></script>
   </head>
   <body class="ada container">
      <h1>Measurement Form</h1>
      <form name="demoform" ng-controller="adaController" class="form-horizontal" role="form" ng-submit="post()">
         <!--Main data scope-->
         <div ng-repeat="measurement_message in data.measurement_message">
            <!--concept group measurement 0..* -->
            <div ng-repeat="measurement in measurement_message.measurement" ng-form="form_measurement_demo1_dataelement_1" class="adaGroup well">
               <h3>Measurement {{$index+1}}</h3>
               <div class="form-group">
                  <span class="col-xs-3 col-md-2">
                     <button type="button" class="btn btn-default btn-sm" ng-click="remove(measurement_message.measurement, $index)">
                        <span class="glyphicon glyphicon-minus-sign"></span> Measurement
                     </button>
                  </span>
               </div>
               <!--concept item weight 1..1 R-->
               <div ng-repeat="weight in measurement.weight" ng-form="form_weight_demo1_dataelement_3" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Weight</label>
                     <span class="col-xs-6 col-md-4">
                        <input class="form-control" type="number" name="weight" ng-model="weight.value" min="25" max="240"></input>
                     </span>
                     <span class="col-xs-3 col-md-2">
                        <span class="alert alert-danger" ng-show="form_weight_demo1_dataelement_3.weight.$error.min">[&gt;= 25]</span>
                        <span class="alert alert-danger" ng-show="form_weight_demo1_dataelement_3.weight.$error.max">[&lt;= 240]</span>
                     </span>
                  </div>
               </div>
               <!--concept item weight_gain 0..1 -->
               <div ng-repeat="weight_gain in measurement.weight_gain" ng-form="form_weight_gain_demo1_dataelement_13" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Weight gain</label>
                     <span class="col-xs-6 col-md-4">
                        <input type="radio" name="Yes" ng-value="true" ng-model="weight_gain.value">Yes</input>
                        <input type="radio" name="No" ng-value="false" ng-model="weight_gain.value">No</input>
                        <input type="radio" name="Unknown" value="3" ng-model="weight_gain.value">Unknown</input>
                     </span>
                     <span class="col-xs-3 col-md-2"></span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(measurement.weight_gain, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Weight gain
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(measurement.weight_gain, '2.16.840.1.113883.3.1937.99.62.3.2.13')" ng-show="measurement.weight_gain.length == 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Weight gain
                     </button>
                  </span>
               </div>
               <!--concept group weight_gain_data 1..1 C-->
               <div ng-show="">
                  <div ng-repeat="weight_gain_data in measurement.weight_gain_data" ng-form="form_weight_gain_data_demo1_dataelement_18" class="adaGroup well">
                     <h3>Weight gain data {{$index+1}}</h3>
                     <div class="form-group"></div>
                     <!--concept item size_weight_gain 0..1 -->
                     <div ng-repeat="size_weight_gain in weight_gain_data.size_weight_gain" ng-form="form_size_weight_gain_demo1_dataelement_19" class="adaItem">
                        <div class="adaItem form-group">
                           <label class="col-xs-6 col-md-4">Size weight gain</label>
                           <span class="col-xs-6 col-md-4">
                              <input class="form-control" type="number" name="size_weight_gain" ng-model="size_weight_gain.value"></input>
                           </span>
                           <span class="col-xs-3 col-md-2"></span>
                           <span class="col-xs-3 col-md-2">
                              <button type="button" class="btn btn-default btn-sm" ng-click="remove(weight_gain_data.size_weight_gain, $index)">
                                 <span class="glyphicon glyphicon-minus-sign"></span> Size weight gain
                              </button>
                           </span>
                        </div>
                     </div>
                     <div class="form-group">
                        <span class="col-xs-6 col-md-4">
                           <button type="button" class="btn btn-default btn-sm" ng-click="addChild(weight_gain_data.size_weight_gain, '2.16.840.1.113883.3.1937.99.62.3.2.19')" ng-show="weight_gain_data.size_weight_gain.length == 0">
                              <span class="glyphicon glyphicon-plus-sign"></span> Size weight gain
                           </button>
                        </span>
                     </div>
                     <!--concept item cause_weight_gain 0..1 -->
                     <div ng-repeat="cause_weight_gain in weight_gain_data.cause_weight_gain" ng-form="form_cause_weight_gain_demo1_dataelement_20" class="adaItem">
                        <div class="adaItem form-group">
                           <label class="col-xs-6 col-md-4">Cause weight gain</label>
                           <span class="col-xs-6 col-md-4">
                              <input class="form-control" type="text" name="cause_weight_gain" ng-model="cause_weight_gain.value"></input>
                           </span>
                           <span class="col-xs-3 col-md-2"></span>
                           <span class="col-xs-3 col-md-2">
                              <button type="button" class="btn btn-default btn-sm" ng-click="remove(weight_gain_data.cause_weight_gain, $index)">
                                 <span class="glyphicon glyphicon-minus-sign"></span> Cause weight gain
                              </button>
                           </span>
                        </div>
                     </div>
                     <div class="form-group">
                        <span class="col-xs-6 col-md-4">
                           <button type="button" class="btn btn-default btn-sm" ng-click="addChild(weight_gain_data.cause_weight_gain, '2.16.840.1.113883.3.1937.99.62.3.2.20')" ng-show="weight_gain_data.cause_weight_gain.length == 0">
                              <span class="glyphicon glyphicon-plus-sign"></span> Cause weight gain
                           </button>
                        </span>
                     </div>
                  </div>
               </div>
               <div ng-repeat="weight_gain_data in measurement.weight_gain_data" ng-form="form_weight_gain_data_demo1_dataelement_18" class="adaGroup well">
                  <h3>Weight gain data {{$index+1}}</h3>
                  <div class="form-group"></div>
                  <!--concept item size_weight_gain 0..1 -->
                  <div ng-repeat="size_weight_gain in weight_gain_data.size_weight_gain" ng-form="form_size_weight_gain_demo1_dataelement_19" class="adaItem">
                     <div class="adaItem form-group">
                        <label class="col-xs-6 col-md-4">Size weight gain</label>
                        <span class="col-xs-6 col-md-4">
                           <input class="form-control" type="number" name="size_weight_gain" ng-model="size_weight_gain.value"></input>
                        </span>
                        <span class="col-xs-3 col-md-2"></span>
                        <span class="col-xs-3 col-md-2">
                           <button type="button" class="btn btn-default btn-sm" ng-click="remove(weight_gain_data.size_weight_gain, $index)">
                              <span class="glyphicon glyphicon-minus-sign"></span> Size weight gain
                           </button>
                        </span>
                     </div>
                  </div>
                  <div class="form-group">
                     <span class="col-xs-6 col-md-4">
                        <button type="button" class="btn btn-default btn-sm" ng-click="addChild(weight_gain_data.size_weight_gain, '2.16.840.1.113883.3.1937.99.62.3.2.19')" ng-show="weight_gain_data.size_weight_gain.length == 0">
                           <span class="glyphicon glyphicon-plus-sign"></span> Size weight gain
                        </button>
                     </span>
                  </div>
                  <!--concept item cause_weight_gain 0..1 -->
                  <div ng-repeat="cause_weight_gain in weight_gain_data.cause_weight_gain" ng-form="form_cause_weight_gain_demo1_dataelement_20" class="adaItem">
                     <div class="adaItem form-group">
                        <label class="col-xs-6 col-md-4">Cause weight gain</label>
                        <span class="col-xs-6 col-md-4">
                           <input class="form-control" type="text" name="cause_weight_gain" ng-model="cause_weight_gain.value"></input>
                        </span>
                        <span class="col-xs-3 col-md-2"></span>
                        <span class="col-xs-3 col-md-2">
                           <button type="button" class="btn btn-default btn-sm" ng-click="remove(weight_gain_data.cause_weight_gain, $index)">
                              <span class="glyphicon glyphicon-minus-sign"></span> Cause weight gain
                           </button>
                        </span>
                     </div>
                  </div>
                  <div class="form-group">
                     <span class="col-xs-6 col-md-4">
                        <button type="button" class="btn btn-default btn-sm" ng-click="addChild(weight_gain_data.cause_weight_gain, '2.16.840.1.113883.3.1937.99.62.3.2.20')" ng-show="weight_gain_data.cause_weight_gain.length == 0">
                           <span class="glyphicon glyphicon-plus-sign"></span> Cause weight gain
                        </button>
                     </span>
                  </div>
               </div>
               <!--concept item length 0..1 -->
               <div ng-repeat="length in measurement.length" ng-form="form_length_demo1_dataelement_15" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Length</label>
                     <span class="col-xs-6 col-md-4">
                        <input class="form-control" type="number" name="length" ng-model="length.value" min="0" max="300"></input>
                     </span>
                     <span class="col-xs-3 col-md-2">
                        <span class="alert alert-danger" ng-show="form_length_demo1_dataelement_15.length.$error.min">[&gt;= 0]</span>
                        <span class="alert alert-danger" ng-show="form_length_demo1_dataelement_15.length.$error.max">[&lt;= 3]</span>
                        <span class="alert alert-danger" ng-show="form_length_demo1_dataelement_15.length.$error.min">[&gt;= 0]</span>
                        <span class="alert alert-danger" ng-show="form_length_demo1_dataelement_15.length.$error.max">[&lt;= 300]</span>
                     </span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(measurement.length, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Length
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(measurement.length, '2.16.840.1.113883.3.1937.99.62.3.2.15')" ng-show="measurement.length.length == 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Length
                     </button>
                  </span>
               </div>
               <!--concept item datetime 0..1 -->
               <div ng-repeat="datetime in measurement.datetime" ng-form="form_datetime_demo1_dataelement_2" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Datetime</label>
                     <span class="col-xs-6 col-md-4">
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="datetime.value" is-open="datetime.opened"></input>
                     </span>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event, datetime)">
                           <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                     </span>
                     <span class="col-xs-3 col-md-2"></span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(measurement.datetime, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Datetime
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(measurement.datetime, '2.16.840.1.113883.3.1937.99.62.3.2.2')" ng-show="measurement.datetime.length == 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Datetime
                     </button>
                  </span>
               </div>
               <!--concept item measured_by 0..1 -->
               <div ng-repeat="measured_by in measurement.measured_by" ng-form="form_measured_by_demo1_dataelement_5" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Measured by</label>
                     <span class="col-xs-6 col-md-4">
                        <select class="form-control" ng-model="measured_by.value">
                           <option value="0">-----</option>
                           <option value="1">Patient</option>
                           <option value="2">Home care provider</option>
                           <option value="3">GP</option>
                           <option value="4">Personal network</option>
                        </select>
                     </span>
                     <span class="col-xs-3 col-md-2"></span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(measurement.measured_by, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Measured by
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(measurement.measured_by, '2.16.840.1.113883.3.1937.99.62.3.2.5')" ng-show="measurement.measured_by.length == 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Measured by
                     </button>
                  </span>
               </div>
               <!--concept item comments 0..* -->
               <div ng-repeat="comments in measurement.comments" ng-form="form_comments_demo1_dataelement_17" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Comments</label>
                     <span class="col-xs-6 col-md-4">
                        <input class="form-control" type="text" name="comments" ng-model="comments.value"></input>
                     </span>
                     <span class="col-xs-3 col-md-2"></span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(measurement.comments, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Comments
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(measurement.comments, '2.16.840.1.113883.3.1937.99.62.3.2.17')">
                        <span class="glyphicon glyphicon-plus-sign"></span> Comments
                     </button>
                  </span>
               </div>
            </div>
            <div class="form-group">
               <span class="col-xs-6 col-md-4">
                  <button type="button" class="btn btn-default btn-sm" ng-click="addChild(measurement_message.measurement, '2.16.840.1.113883.3.1937.99.62.3.2.1')">
                     <span class="glyphicon glyphicon-plus-sign"></span> Measurement
                  </button>
               </span>
            </div>
            <!--concept group person 1..1 M-->
            <div ng-repeat="person in measurement_message.person" ng-form="form_person_demo1_dataelement_6" class="adaGroup well">
               <h3>Person {{$index+1}}</h3>
               <div class="form-group"></div>
               <!--concept item name 1..1 M-->
               <div ng-repeat="name in person.name" ng-form="form_name_demo1_dataelement_4" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Name</label>
                     <span class="col-xs-6 col-md-4">
                        <input class="form-control" type="text" name="name" ng-model="name.value" ng-required="true"></input>
                     </span>
                     <span class="col-xs-3 col-md-2">
                        <span class="alert alert-danger" ng-show="form_name_demo1_dataelement_4.name.$error.required &amp;&amp; form_name_demo1_dataelement_4.name.$dirty">[is required]
                           
                        </span>
                     </span>
                  </div>
               </div>
               <!--concept item bsn 1..1 M-->
               <div ng-repeat="bsn in person.bsn" ng-form="form_bsn_demo1_dataelement_7" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">BSN</label>
                     <span class="col-xs-6 col-md-4">
                        <input class="form-control" type="text" name="bsn" ng-model="bsn.value" ng-required="true"></input>
                     </span>
                     <span class="col-xs-3 col-md-2">
                        <span class="alert alert-danger" ng-show="form_bsn_demo1_dataelement_7.bsn.$error.required &amp;&amp; form_bsn_demo1_dataelement_7.bsn.$dirty">[is required]
                           
                        </span>
                     </span>
                  </div>
               </div>
               <!--concept item date_of_birth 0..1 -->
               <div ng-repeat="date_of_birth in person.date_of_birth" ng-form="form_date_of_birth_demo1_dataelement_8" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Date of birth</label>
                     <span class="col-xs-6 col-md-4">
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="date_of_birth.value" is-open="date_of_birth.opened"></input>
                     </span>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event, date_of_birth)">
                           <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                     </span>
                     <span class="col-xs-3 col-md-2"></span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(person.date_of_birth, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Date of birth
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(person.date_of_birth, '2.16.840.1.113883.3.1937.99.62.3.2.8')" ng-show="person.date_of_birth.length == 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Date of birth
                     </button>
                  </span>
               </div>
               <!--concept item number_of_children 0..1 -->
               <div ng-repeat="number_of_children in person.number_of_children" ng-form="form_number_of_children_demo1_dataelement_14" class="adaItem">
                  <div class="adaItem form-group">
                     <label class="col-xs-6 col-md-4">Number of children</label>
                     <span class="col-xs-6 col-md-4">
                        <input class="form-control" type="number" name="number_of_children" ng-model="number_of_children.value"></input>
                     </span>
                     <span class="col-xs-3 col-md-2"></span>
                     <span class="col-xs-3 col-md-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="remove(person.number_of_children, $index)">
                           <span class="glyphicon glyphicon-minus-sign"></span> Number of children
                        </button>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <span class="col-xs-6 col-md-4">
                     <button type="button" class="btn btn-default btn-sm" ng-click="addChild(person.number_of_children, '2.16.840.1.113883.3.1937.99.62.3.2.14')" ng-show="person.number_of_children.length == 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Number of children
                     </button>
                  </span>
               </div>
            </div>
         </div>
         <button class="btn btn-primary">Save</button>
         <h2>Debugger</h2>
         <pre>
            http status code: {{status}}
            
            <textarea cols="100" rows="50">{{data | json : spacing}}</textarea>
         </pre>
      </form>
   </body>
</html>